/* THE BAR THEME
----------------------------------------------------------------------------------------------------------------------*/
body {
  background: #242424;
}

.primaryWrapper #page-content-wrapper {
  visibility: hidden;
}

.mega-box {
  min-height: 480px;
  display: block;
  overflow: hidden;
  position: relative;
}

.site-pusher {
  background: #ebebeb;
  position: relative;
}

.site-content {
  overflow: hidden;
  display: block;
  width: 100%;
  position: relative;
  z-index: 1;
  padding-top: 70px;
}

.text-up {
  font-family: ralewaybold, sans-serif;
}

a:hover {
  color: #e68832;
}

.brand h2, .related h2 {
  height: 126px;
  overflow: hidden;
}

.recipe-img {
  background-color: #484848;
  background-position: center;
  background-repeat: no-repeat;
}

.recipe-img2 {
  background-color: transparent;
}

.round-icon, .round-icon-lg {
  font-size: 16px;
}

/* navbar-nav
----------------------------------------------------------------------------------------------------------------------*/
.navbar-nav > li {
  display: block;
}

.navbar > .container-fluid .navbar-brand, .navbar > .container .navbar-brand {
  margin-left: 18px;
}

.show-in-mob {
  display: none !important;
}

.navbar.navbar-inverse .container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 0px;
  padding-right: 0px;
  width: 100%;
  position: relative;
  z-index: 1;
}

.navbar-inverse.navbar-fixed-top-2 .aside-fix ul li {
  background: url(../../dist/images/border-nav.png) no-repeat 0 50%;
}

.navbar-inverse.navbar-fixed-top-2 .aside-fix ul li ul li {
  background: none;
}

.navbar-inverse.navbar-fixed-top-2 .aside-fix ul li a.active .orange-line-repeat-x {
  background: url(../../dist/images/bar-selected.png) repeat-x 0 100%;
  display: block;
}

.navbar-inverse.navbar-fixed-top-2 .aside-fix ul li:hover a .orange-line-repeat-x {
  background: url(../../dist/images/bar-selected.png) repeat-x 0 100%;
  display: block;
}

.navbar-inverse .aside-fix ul li a {
  text-transform: uppercase;
  padding: 0 42px;
  border: 0 none;
  line-height: 70px;
  font-size: 14px;
  color: #fff !important;
  letter-spacing: 0.1em;
}

.navbar-inverse .aside-fix ul li a.where {
  font-size: 13px;
  text-transform: none;
  color: #5c5c5c !important;
}

.navbar-inverse .aside-fix ul li a.text-up.gray-med {
  color: #e68832 !important;
  opacity: 1 !important;
}

.box-base-spirit {
  display: block;
  overflow: hidden;
  padding: 10px;
}

.navbar-inverse .aside-fix ul li a.where:hover {
  color: #ffffff;
}

.navbar-inverse .aside-fix ul li.nav-occasions a, .navbar-inverse .aside-fix ul li.nav-bar101 a, .navbar-inverse .aside-fix ul li.nav-where a {
  text-decoration: none;
  font-size: 14px;
  color: #fff;
  font-weight: bold;
}

.navbar-inverse .aside-fix ul li.nav-where a {
  text-decoration: none;
  font-size: 14px;
  color: #5c5c5c;
  font-weight: bold;
}

.navbar-inverse .aside-fix ul li.nav-occasions a:hover:after,
.navbar-inverse .aside-fix ul li.nav-occasions a.active:after,
.navbar-inverse .aside-fix ul li.nav-bar101 a:hover:after,
.navbar-inverse .aside-fix ul li.nav-bar101 a.active:after,
.navbar-inverse .aside-fix ul li.nav-where a:hover:after,
.navbar-inverse .aside-fix ul li.nav-where a.active:after {
  content: "";
  position: absolute;
  top: 66px;
  left: 0;
  width: 100%;
  height: 4px;
  background: #e68832;
  z-index: 10;
  display: none;
}

.dropdown:hover {
  cursor: pointer;
}

.dropdown:hover:after {
  content: "";
  position: absolute;
  top: 66px;
  left: 0;
  width: 100%;
  height: 4px;
  background: #e68832;
  z-index: 10;
  display: none !important;
}

.dropdown a.dropdown-toggle {
  font-size: 14px;
  color: #fff;
  height: 70px;
  font-weight: bold;
}

.dropdown a.dropdown-toggle.active:after {
  content: "";
  position: absolute;
  top: 66px;
  left: 0;
  width: 100%;
  height: 4px;
  background: #e68832;
  z-index: 10;
  display: none !important;
}

.dropdown.open a.dropdown-toggle,
.dropdown.open a.dropdown-toggle:hover {
  background: #e68832 !important;
}

.dropdown.open a.dropdown-toggle:after,
.dropdown.open a.dropdown-toggle:hover:after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: 0;
  width: 0;
  height: 0;
  border-top: 8px solid #e68832;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
  z-index: 99999999999999999;
  background: transparent;
}

.navbar-default-mobile ul li.icon-search-stamina a, .navbar-inverse .aside-fix ul li.icon-search-stamina a {
  background: url(../../dist/images/search.png) no-repeat;
  width: 70px;
  display: block;
  overflow: hidden;
  height: 70px;
  margin: 0;
  text-indent: -99999px;
  padding: 0;
  cursor: pointer;
}

.navbar-default-mobile ul li.icon-search-stamina a.tisi.active {
  background: url(../../dist/images/search-hover.png) no-repeat;
}

.navbar-default-mobile ul li.icon-search-stamina a:hover, .navbar-inverse .aside-fix ul li.icon-search-stamina a:hover, .navbar-inverse .aside-fix ul li.icon-search-stamina a.active {
  background: url(../../dist/images/search-active.png) no-repeat;
}

.navbar-default-mobile ul li.icon-share-stamina a.dropdown-toggle,
.navbar-inverse .aside-fix ul li.icon-share-stamina a.dropdown-toggle {
  background: url(../../dist/images/share.png);
  width: 70px;
  display: block;
  overflow: visible;
  height: 70px;
  margin: 0;
  text-indent: -99999px;
  padding: 0;
  border: 0;
}

.navbar-default-mobile ul li.icon-share-stamina a.dropdown-toggle:hover, .navbar-inverse .aside-fix ul li.icon-share-stamina a.dropdown-toggle:hover {
  background: url(../../dist/images/share-hover.png);
  border: none;
}

.navbar-default-mobile ul li.icon-share-stamina.open a.dropdown-toggle, .navbar-inverse .aside-fix ul li.icon-share-stamina.open a.dropdown-toggle {
  background: url(../../dist/images/share-active.png) !important;
  border: none;
}

.navbar-default-mobile ul li.dropdown.icon-share-stamina span.first-link, .navbar-inverse .aside-fix ul li.dropdown.icon-share-stamina span.first-link {
  color: #c5c5c5;
  padding: 20px 35px;
  border: 0 none;
  font-size: 12px;
  text-align: left;
  display: block;
  line-height: 16px;
}

.navbar-default-mobile ul li.dropdown.icon-share-stamina .dropdown-menu a, .navbar-inverse .aside-fix ul li.dropdown.icon-share-stamina .dropdown-menu a {
  text-transform: uppercase;
  padding: 0 35px;
  border: 0 none;
  line-height: 69px;
  color: #333;
  border-top: 1px solid #eaeaea;
  font-size: 14px;
  font-family: ralewaybold, sans-serif;
  font-weight: bold;
}

.navbar-default-mobile ul li.dropdown.icon-share-stamina .dropdown-menu a:hover, .navbar-inverse .aside-fix ul li.dropdown.icon-share-stamina .dropdown-menu a:hover {
  text-transform: uppercase;
  padding: 0 35px;
  border: 0 none;
  line-height: 69px;
  color: #e88823;
  border-top: 1px solid #eaeaea;
  font-size: 14px;
  font-weight: bold;
  background: #404040;
}

.navbar-default-mobile ul li.dropdown.icon-share-stamina .dropdown-menu a i, .navbar-inverse .aside-fix ul li.dropdown.icon-share-stamina .dropdown-menu a i {
  color: #cdcece;
  padding-right: 12px;
  min-width: 34px;
  font-size: 22px;
}

.navbar-default-mobile ul li.dropdown.icon-share-stamina .dropdown-menu a:hover i, .navbar-inverse .aside-fix ul li.dropdown.icon-share-stamina .dropdown-menu a:hover i {
  color: #5c5c5c;
  padding-right: 12px;
}

.navbar-nav > li > .dropdown-menu {
  margin-top: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  border: 0;
  border-left: 1px solid #eaeaea;
  border-right: 1px solid #eaeaea;
}

.navbar-default-mobile ul li.icon-share-stamina ul.dropdown-menu, .navbar-inverse .aside-fix ul li.icon-share-stamina ul.dropdown-menu {
  background: #ffffff;
  margin-top: 0;
  left: auto;
  right: 0;
}

body .navbar-default {
  background-color: #333;
  border-color: #333;
  border: 0 none;
  height: 70px;
}

.navbar-brand {
  float: left;
  padding: 22px;
  font-size: 18px;
  line-height: 20px;
  height: auto;
}

.navbar-inverse .navbar-toggle {
  padding: 14px 10px;
  float: none;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 2px;
  cursor: pointer;
  position: absolute;
  z-index: 98;
}

/* active
----------------------------------------------------------------------------------------------------------------------*/
/*.navbar-nav > li.nav-parent a {
  background: url(../../dist/images/nav/nav-active.png);
}*/
/* loader
----------------------------------------------------------------------------------------------------------------------*/
.loader {
  height: 10px;
  width: 100%;
  position: absolute;
  overflow: hidden;
  background-color: #825022;
  bottom: 0;
  z-index: 98765;
}

.loader:before {
  display: block;
  position: absolute;
  content: "";
  left: -200px;
  width: 200px;
  height: 10px;
  background-color: #e68832;
  animation: loading 2s linear infinite;
}

@keyframes loading {
  from {
    left: -200px;
    width: 30%;
  }
  50% {
    width: 30%;
  }
  70% {
    width: 70%;
  }
  80% {
    left: 50%;
  }
  95% {
    left: 120%;
  }
  to {
    left: 100%;
  }
}

.spinner {
  margin: 5px;
  width: auto;
  text-align: center;
}

.spinner > div {
  opacity: 1;
  width: 10px;
  height: 10px;
  background-color: #e68832;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
  }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

#loader {
  background: none;
  display: block;
  overflow: hidden;
  width: auto;
  height: auto;
  position: fixed;
  z-index: 987654;
}

.modal {
  z-index: 987654 !important;
}

body #loading-bar .bar {
  background: #e68832;
  height: 4px;
  z-index: 987654;
}

/* Fancy blur effect */
body #loading-bar .peg {
  height: 4px;
  -moz-box-shadow: #ffffff 1px 0 6px 1px;
  -ms-box-shadow: #ffffff 1px 0 6px 1px;
  -webkit-box-shadow: #ffffff 1px 0 6px 1px;
  box-shadow: #ffffff 1px 0 6px 1px;
}

body #loading-bar-spinner .spinner-icon {
  border-top-color: #ffffff;
  border-left-color: #ffffff;
}

/* social-inline
----------------------------------------------------------------------------------------------------------------------*/
.social-inline a:hover i {
  color: #e68732;
}

/* HOME
----------------------------------------------------------------------------------------------------------------------*/
.home-recipe h4 {
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  color: #b3b3b3;
}

.home-landing {
  display: block;
  overflow: hidden;
}

.fuller.home-landing .hero {
  background-position: 50% 50% !important;
}

.titles {
  margin: 0 0 39px;
}

.titles.titles-72 {
  font-size: 72px;
  line-height: 72px;
}

.home .titles.titles-72 {
  width: 300px;
}

.subtitles {
  font-size: 24px;
  line-height: 34px;
}

.subtitles.subtitles-grey {
  color: #989898;
}

/* .recipe-det */
.recipe-det a {
  color: #e68832;
  font-weight: 700;
  font-size: 14px;
  line-height: 14px;
  text-decoration: none;
  padding: 35px 0;
  display: block;
  width: 100%;
  text-align: center;
}

.recipe-det a:hover {
  background: #e68832;
  color: #ffffff;
  text-decoration: none;
}

.recipe-det a span.arrow-black {
  background: url(../../dist/images/arrow-black.png) 0 0 no-repeat;
  width: 22px;
  height: 12px;
  display: inline-block;
  vertical-align: top;
  margin: 0 0 0 14px;
  padding: 0;
}

.load-more-more {
  display: block;
  margin-bottom: 45px;
  margin-top: 15px;
  overflow: hidden;
}

/* occasions-area
----------------------------------------------------------------------------------------------------------------------*/
.occasions-area {
  border-right: 2px solid #ececec;
  display: block;
  margin-bottom: 30px;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.occasions-text {
  padding: 50px;
  background: #fff;
  min-height: 390px;
}

.occasions-text .occasions-title h3 {
  color: #404040;
  font-size: 32px;
  height: 74px;
  line-height: 36px;
  margin: 0 0 24px;
  overflow: hidden;
  padding: 0;
}

.occasions-text .occasions-title h3 a:hover {
  color: #e88823 !important;
}

.occasions-text .occasions-desc {
  color: #989898;
  font-size: 14px;
  line-height: 22px;
  display: block;
  min-height: 162px;
}

.occasions-desc {
  overflow: hidden;
  min-height: 76px;
  padding-bottom: 50px;
}

.occasions-area .occasions-image {
  display: block;
  background-size: cover !important;
}

.occasions-area .occasions-image img {
  width: 100%;
}

.occasions-title {
  overflow: hidden;
  min-height: 61px;
}

.occasions-desc {
  overflow: hidden;
  min-height: 76px;
  padding-bottom: 50px;
}

.linkerio {
  background: rgba(0, 0, 0, 0) url("../../dist/images/checkbox-all.png") no-repeat scroll 0 100%;
  color: #ffffff;
  cursor: pointer;
  display: block;
  font-family: ralewaybold, sans-serif;
  font-size: 18px;
  font-weight: bold;
  height: 30px;
  letter-spacing: 0.1em;
  line-height: 30px;
  overflow: hidden;
  padding-left: 40px;
}

.linkerio.sel,
.linkerio.selected,
.linkerio.activate {
  background-position: 0 0;
  color: #ffffff;
  cursor: pointer;
}

.divider {
  background: url(../../dist/images/orange-line.png) 0 0 no-repeat;
  width: 100%;
  height: 5px;
  display: block;
  overflow: hidden;
}

.fuller {
  width: 100%;
}

.aiblock,
.hero-nofull {
  display: block;
  overflow: hidden;
  background-color: #404040;
}

.aiblock2,
.hero-nofull2 {
  background: none;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#brands, #loctype, #search, #variants {
  margin-bottom: 10px;
}

/* countryselect
----------------------------------------------------------------------------------------------------------------------*/
.country-select-box {
  background: url(../../dist/images/icon/icon-select.png) 100% 50% no-repeat;
  width: 134px;
  overflow: hidden;
  display: block;
  font-weight: bold;
  font-size: 13px;
}

.country-select-box select {
  width: 120%;
  font-weight: bold;
  font-size: 13px;
}

/* banners-out
----------------------------------------------------------------------------------------------------------------------*/
.banners-out {
  display: block;
  width: 100%;
  overflow: hidden;
  margin: 80px 0 0 0;
}

.banners-out .txt_cnt h4 {
  width: 100%;
  margin: 30px 0 10px 10px;
  font-size: 30px;
  color: #ffffff;
  font-family: elephantregular, serif;
  line-height: 34px;
  font-weight: 500;
}

.banners-out {
  width: 100%;
  margin: 40px 0;
  position: relative;
  background: #0e0f0a;
}

.banners-out .txt_cnt {
  position: absolute;
  top: 0;
  left: 30%;
  color: #fff;
  width: 68%;
}

.banners-out .txt_cnt p {
  padding-left: 10px;
  font-size: 14px;
  font-family: ralewayregular, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #fff;
  line-height: 18px;
}

.banners-out .txt_cnt span {
  color: #e88823;
  font-size: 14px;
  font-family: ralewaybold, sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 18px;
  padding-left: 10px;
}

/* MOB
---------------------------------------------------------------------------------------------------------------------*/
.mobile-header {
  display: none !important;
}

.desktop-view {
  display: block !important;
}

.mobile-view {
  display: none !important;
}

/* Toggle Styles
---------------------------------------------------------------------------------------------------------------------*/
#wrapper {
  padding-left: 0;
  //-webkit-transition: all 0.5s ease;
  //-moz-transition: all 0.5s ease;
  //-o-transition: all 0.5s ease;
  //transition: all 0.5s ease;
}

#wrapper.toggled {
  padding-left: 70%;
}

#sidebar-wrapper {
  display: none;
  z-index: 1000;
  position: fixed;
  left: 70%;
  width: 0;
  height: 100%;
  margin-left: -70%;
  overflow-y: auto;
  background: #333333;
  //-webkit-transition: all 0.5s ease;
  //-moz-transition: all 0.5s ease;
  //-o-transition: all 0.5s ease;
  //transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
  width: 70%;
  display: block;
}

#page-content-wrapper {
  width: 100%;
  position: absolute;
}

.slide-box-brands .hero-recipes .slick-dots {
  width: 100%;
  bottom: -53px !important;
  padding: 6px 0;
  text-align: center !important;
  max-width: 1080px;
}

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -250px;
}

#menu-toggle {
  padding: 14px 10px;
  float: none;
  cursor: pointer;
  position: fixed;
  z-index: 987654;
  background: url(../../dist/images/nav/btn-nav.png) 0 50% no-repeat;
  width: 34px;
  height: 34px;
  border: 0 none;
  text-indent: -99999px;
  border-radius: 0;
  margin: 18px 24px;
  display: none;
  top: 0;
}

#wrapper.toggled #menu-toggle {
  background: url(../../dist/images/nav/btn-close2.png) 0 50% no-repeat;
  top: 20px;
}

/* Sidebar Styles */
.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px;
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #999999;
}

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
}

.sidebar-nav li a:active, .sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

/* social-sidebar
---------------------------------------------------------------------------------------------------------------------*/
#sidebar-wrapper .navbar-collapse, #sidebar-wrapper #navbar.navbar-collapse {
  padding-right: 0;
  padding-left: 0;
}

#sidebar-wrapper .social-sidebar {
  background: #292929;
  padding: 30px 20px !important;
  display: block;
  overflow: hidden;
  width: 100%;
  margin-top: 40px;
}

#sidebar-wrapper .social-sidebar a {
  margin: 0 12px;
}

#sidebar-wrapper .social-sidebar a i {
  font-size: 24px;
  line-height: 24px;
  color: #ffffff;
}

#sidebar-wrapper .social-sidebar a:hover i {
  font-size: 24px;
  line-height: 24px;
  color: #e88823;
}

#sidebar-wrapper .submenu-sidebar ul li a {
  text-transform: uppercase;
  padding: 10px 30px;
  color: #5c5c5c;
  font-size: 16px;
  font-weight: 700;
  display: block;
  line-height: 24px;
  text-decoration: none;
}

#sidebar-wrapper .submenu-sidebar ul li a:hover {
  color: #e88823;
  text-decoration: none;
}

#sidebar-wrapper .social-inline {
  margin-bottom: 0;
  display: block;
  overflow: hidden;
  text-align: center;
}

#sidebar-wrapper .sidebar-select {
  border-top: 1px solid #292929;
  display: block;
  width: 100%;
  cursor: pointer;
  padding: 30px 30px;
  overflow: hidden;
}

#sidebar-wrapper .sidebar-select .country-select-box {
  background: url(../../dist/images/nav/sidebar-arrow.png) 100% 50% no-repeat;
  width: 100%;
  overflow: hidden;
  display: block;
  min-height: 20px;
  padding: 5px 0;
  margin-bottom: 0;
}

#sidebar-wrapper .social-inline a {
  text-decoration: none;
  display: inline-block;
  overflow: hidden;
  vertical-align: top;
  padding: 1px;
  float: none;
}

#sidebar-wrapper .sidebar-select .country-select-box select {
  width: 120%;
  background: none;
  border: none;
  color: #5c5c5c;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: Open Sans, sans-serif;
}

#sidebar-wrapper .submenu-sidebar {
  padding: 30px 0;
  display: block;
  width: 100%;
  overflow: hidden;
}

/* RECIPES
----------------------------------------------------------------------------------------------------------------------*/
.recipe-text h2 a {
  color: #404040;
  text-decoration: none;
  text-align: left;
}

.recipe-text h2 a:hover {
  color: #e68832;
}

.recipes-box .box-name {
  height: 64px;
  margin: 0 0 20px;
}

.related .text-center.box-desc {
  display: block;
  height: 50px;
  overflow: hidden;
}

.recipes-box .block-s {
  min-height: 232px;
  padding: 30px;
}

.recipes-box .related {
  padding-bottom: 0 !important;
}

.block-s.block-s-recipe {
  min-height: 182px;
  padding: 30px;
}

.related-recipes .slick-dots {
  bottom: -20px !important;
}

.related.recipe-text h2 a {
  color: #404040;
  text-decoration: none;
  font-size: 24px;
  line-height: 28px;
  display: block;
  height: 58px;
  overflow: hidden;
}

.related.recipe-text .box-name {
  width: 100%;
}

.silver-text {
  color: #989898;
  display: block;
  font-size: 12px;
  height: 30px;
  letter-spacing: 0.1em;
  line-height: 14px;
  margin-bottom: 20px;
  overflow: hidden;
  text-transform: uppercase;
  font-family: ralewaybold, sans-serif;
}

/* slick-dots */
.dot-new-format .slick-dots {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0 !important;
  border-top: 0 none !important;
  text-align: center !important;
}

.related.recipe-text .box-name-22 {
  height: 102px;
  width: 100%;
}

.desc-over-22 {
  height: 56px;
  margin-bottom: 25px;
  overflow: hidden;
}

/* BRANDS
----------------------------------------------------------------------------------------------------------------------*/
.brand-text h3 a {
  color: #404040;
  font-size: 24px;
  line-height: 28px;
  text-decoration: none;
}

.brand-text h3 a:hover {
  color: #e68832;
}

.type-description-margin {
  padding-bottom: 20px;
}

.separator {
  height: 6px;
  width: 60px;
  background: #e68832;
  position: relative;
  margin: 30px auto 0;
  z-index: 1;
}

/* slick-formated */
.slick-formated .slick-dots {
  background: none;
  text-align: center !important;
  border: none;
}

/* box-lear-more */
.box-name {
  font-family: elephantregular, serif;
  font-size: 24px;
  display: block;
  height: 56px;
  margin: 0 0 10px;
  overflow: hidden;
  width: 100%;
}

.text-name {
  display: block;
  min-height: 130px;
  font-size: 58px;
  max-width: 100%;
}

.brand h1 a, .brand h2 a {
  text-align: center;
}

.brand-text h1.box-name a, .brand-text h2.box-name a {
  text-align: center;
  display: block;
}

.slide-box-brands .text-name {
  display: block;
  height: 138px;
  font-size: 60px;
  overflow: hidden;
}

.text-desc {
  display: block;
  overflow: hidden;
  height: 205px;
}

.slide-box-brands .text-desc {
  height: 130px;
}

.box-lear-more {
  display: block;
  overflow: hidden;
  padding-top: 20px;
  text-align: left;
}

.box-lear-more a {
  color: #e68832;
  font-size: 14px;
  line-height: 18px;
  font-weight: 700;
  text-transform: uppercase;
  background: url(../../dist/images/icon/icon-dark-arrow.png) 100% 50% no-repeat;
  padding-right: 40px;
  cursor: pointer;
}

.box-lear-more a:hover {
  text-decoration: none;
  color: #404040;
}

.brand .brand-text, .related .brand-text {
  display: block;
  overflow: hidden;
  padding: 30px;
}

/* SPIRITS
----------------------------------------------------------------------------------------------------------------------*/
.spirits-img {
  text-align: center;
}

.spirits-img img {
  text-align: center;
}

.spirits-img, .spirits-img img {
  text-align: center;
  max-width: 100%;
}

.spirits-boxes {
  overflow: hidden;
  display: block;
  width: 100%;
  position: relative;
  z-index: 9;
  max-height: 450px;
}

.spirits-boxes.even {
  position: relative;
  z-index: 987;
}

.fixed-1-col-position, .fixed-2-col-position, .fixed-3-col-position {
  float: none;
}

.fixed-r-col-position {
  float: right;
}

.fixed-l-col-position {
  float: left;
}

.spirits-boxes .block-img {
  padding: 0;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  width: 100%;
}

.spirits-boxes .block-img img {
  display: inline-block;
  vertical-align: top;
}

.spirits-boxes .box-white .block {
  margin-top: 0;
  padding: 45px 40px;
  max-height: 450px;
  min-height: 450px;
  position: relative;
  z-index: 1;
  padding-bottom: 80px;
}

.spirits-boxes .box-lear-more {
  position: absolute;
  bottom: 40px;
}

.first-line-type {
  margin-top: -60px;
}

.box-white .block {
  background: #fff;
  padding: 45px 40px;
  margin-top: 60px;
  position: relative;
  min-height: 350px;
}

/* block-s */
.black-bg.block-s h2 {
  padding-top: 0;
  font-size: 44px;
  line-height: 48px;
}

.black-bg.block-s p {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.1em;
  font-weight: 700;
  padding: 5px 0;
}

.our-text-h1 {
  padding-top: 0;
  font-size: 44px;
  line-height: 48px;
  color: #fff;
}

.black-bg.block-s h2.our-text-h2,
.our-text-h2 {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.2em;
  font-weight: 700;
  padding: 5px 0;
}

/* box-black */
.black-bg-alternative {
  background: #404040 !important;
}

.box-area {
  background: #333333;
}

.box-black .block {
  background: #333333;
  padding: 45px 40px;
  position: relative;
}

.box-black2 .block {
  background: #333;
  padding: 45px 40px;
  margin-top: 0;
  position: relative;
}

.blox-spirits-menu .block {
  background: #333;
  padding: 45px 40px;
  margin-top: 0;
  position: relative;
}

.box-white {
  background: #fff;
  padding: 45px 40px;
  margin-top: 60px;
  position: relative;
  min-height: 350px;
}

.box-image .block {
  background: transparent;
}

.box-white .block .title {
  font-size: 32px;
  line-height: 36px;
  color: #404040;
  margin: 0 0 20px;
}

.box-white .block .desc {
  font-size: 14px;
  line-height: 22px;
  color: #989898;
  font-family: 'ralewayregular', sans-serif;
  font-weight: normal;
  font-style: normal;
  padding-bottom: 100px;
  overflow: hidden;
  text-align: left;
}

.box-white .block .ahref {
  font-size: 14px;
  line-height: 36px;
  color: #404040;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: .1em;
  background: url(../../dist/images/orange-line.png) no-repeat 0 100%;
  padding: 0 28px 28px 0;
  text-decoration: none;
}

.box-white .block .ahref span {
  background: url(../../dist/images/right-arrow.png) no-repeat 100% 2px;
  padding: 0 34px 0 0;
  text-decoration: none;
}

.box-white .block .ahref:hover {
  color: #e88823;
  text-decoration: none;
}

/* blox-spirits-menu */
.blox-spirits-menu h2 {
  font-size: 12px;
  line-height: 14px;
  color: #606060;
  font-family: 'ralewaybold', sans-serif;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: .1em;
  display: block;
}

.blox-spirits-menu ul li a {
  color: #fff;
  font-size: 18px;
  line-height: 30px;
  text-align: left;
  text-decoration: none;
  font-family: 'elephantregular', sans-serif;
  font-weight: normal;
  font-style: normal;
  display: block;
  cursor: pointer;
}

.blox-spirits-menu ul li a:hover {
  color: #e88823;
  text-decoration: none;
}

.steps-box.step-3-spirits .text-up {
  padding: 20px 0;
}

.steps-box .slick-list {
  background: none;
}

/* no-padmarg */
.no-padmarg {
  margin: 0;
  padding: 0;
}

.mb-100 {
  margin-bottom: -100px;
}

/* DETAILS SPIRITS
---------------------------------------------------------------------------------------------------------------------*/
.steps-box {
  position: relative;
  z-index: 1;
}

.detail-bg-img {
  background-repeat: no-repeat;
  background-position: -100px 280px;
}

.hero-inside {
  background-repeat: no-repeat;
  height: 720px;
  width: 100%;
  background-size: cover;
  background-position: 0 5%;
  position: absolute;
  z-index: 0;
}

.hero-inside {
  height: 600px;
}

.hero-inside h1 {
  background: url(../../dist/images/spirits/types-bg.jpg) repeat 0 0;
  font-size: 16px;
  line-height: 18px;
  padding: 80px;
  color: #fff;
  display: inline-block;
  vertical-align: top;
  font-family: ralewaybold, sans-serif;
  font-weight: 400;
  font-style: normal;
  height: 181px;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  bottom: 0;
  position: absolute;
}

.bg-bottom {
  bottom: 0;
}

.block.block-origins-img {
  padding: 0;
  margin-top: 60px;
}

.block.block-origins p {
  color: #858585;
}

/* box-detail-large-header  */
.box-detail-large-header {
  margin: 120px 0 20px;
  display: block;
}

.box-detail-large-header-alt {
  margin: 120px 0 120px;
  display: block;
}

/* box-block-versus */
.box-block-versus {
  margin: 40px 0;
}

.box-block-versus .block p {
  color: #b0b0b0;
}

/* box-block-ing-ang */
.box-block-ing-ang .block {
  padding: 0;
  margin: 80px 0;
}

.box-block-ing-ang .block p {
  color: #848484;
}

.radius-box {
  border-radius: 50%;
  overflow: hidden;
  max-width: 152px;
  max-height: 152px;
  width: 100%;
  height: 100%;
  display: block;
  min-height: 152px;
  text-align: center;
  line-height: 152px;
}

.radius-box.radius-box-white {
  background: #fff;
}

.radius-box.radius-box-white img {
  display: inline-block;
}

/* box-chapter */
.box-chapter {
  margin-top: 20px;
  display: block;
  overflow: hidden;
  width: 100%;
  margin-bottom: 0;
}

.mt10 {
  margin-top: 10px;
}

.mt60 {
  margin-top: 60px;
}

/* block-where-come */
.block-where-come .block {
  padding: 80px 0;
  margin: 0;
}

.block-where-come .block p {
  color: #666666;
}

.box-map-img img {
  width: 100%;
  max-width: 527px;
  margin: 0 auto;
}

.box-title-with-border {
  border-top: 1px solid #d9d9d9;
  color: #6f6f6f;
  display: block;
  font-family: ralewaybold, sans-serif;
  font-size: 11px;
  font-style: normal;
  font-weight: bold;
  letter-spacing: 0.2em;
  line-height: 12px;
  margin-top: 20px;
  overflow: hidden;
  padding: 20px 0;
  text-transform: uppercase;
}

/* paginator */
.paginator {
  display: block;
  overflow: hidden;
  width: 100%;
  position: relative;
  z-index: 9;
  padding: 50px 0;
}

.paginator .paginator-arrow-prev,
.paginator .paginator-arrow-next {
  display: block;
  color: #000;
  font-family: ralewayblack, sans-serif;
  font-weight: 900;
  font-style: normal;
  text-decoration: none;
  letter-spacing: 0.2em;
  cursor: pointer;
}

.paginator .paginator-arrow-prev {
  background: url(../../dist/images/spirits/arrow-prev.png) no-repeat 0 50%;
  padding: 0 0 0 30px;
  float: left;
}

.paginator .paginator-arrow-next {
  background: url(../../dist/images/spirits/arrow-next.png) no-repeat 100% 50%;
  padding: 0 30px 0 0;
  float: right;
}

.paginator .paginator-arrow-prev:hover,
.paginator .paginator-arrow-next:hover {
  text-decoration: none;
  color: #e88823;
}

/* block blocks-types */
.block.blocks-types {
  margin-top: 70px;
  padding: 0;
  background: none;
}

.block.blocks-types h2 {
  color: #9e9e9e;
  text-align: center;
  font-family: elephantregular, sans-serif;
  font-weight: 300;
  font-style: normal;
  padding: 35px 160px;
  margin: 0;
}

.block.blocks-types h2.white-header {
  background: white;
  font-size: 18px;
  line-height: 22px;
}

.block.blocks-types .block-area {
  padding: 40px !important;
  border-left: 1px solid #ffffff;
  border-right: 1px solid #e3e3e3;
  border-bottom: 1px solid #e3e3e3;
  background: #ffffff;
  min-height: 400px;
}

.block.blocks-types .block-area:nth-child(-n+5) {
  border-top: 1px solid #e3e3e3;
}

.block.blocks-types h3 {
  font-size: 32px;
  line-height: 34px;
  color: #404040;
  margin: 0;
  padding: 0 0 38px 0;
}

.block.blocks-types .desc {
  font-size: 14px;
  line-height: 22px;
  color: #9e9e9e;
  font-family: 'ralewayregular', sans-serif;
  font-weight: normal;
  font-style: normal;
  padding-bottom: 27px;
}

.block.blocks-types strong {
  font-size: 14px;
  line-height: 22px;
  color: #404040;
  font-family: 'ralewaybold', sans-serif;
  font-weight: normal;
  font-style: normal;
}

.block.blocks-types h4 {
  font-size: 12px;
  line-height: 37px;
  text-transform: uppercase;
  color: #404040;
  font-family: 'ralewaybold', sans-serif;
  font-weight: 700;
  font-style: normal;
  text-align: left;
  margin: 0;
  border-top: 1px solid #d9d9d9;
  padding: 20px 0 0 0;
}

.product-tabs .nav-stacked {
  background: #fff none repeat scroll 0 0;
  border-left: 1px solid #e3e3e3;
  display: block;
  float: right;
  overflow: hidden;
  padding: 10px 40px 50px;
  width: 100%;
}

.product-tabs .title-regular {
  background: #fff none repeat scroll 0 0;
  border-left: 1px solid #e3e3e3;
  display: block;
  float: none;
  margin: 0;
  padding: 80px 40px 20px;
  width: auto;
}

.product-tabs .nav-stacked {
  max-height: 396px;
  overflow: auto;
}

.block.blocks-types h5 {
  font-size: 14px;
  line-height: 18px;
  color: #9e9e9e;
  font-family: ralewayregular, sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
  min-height: 38px;
  display: block;
}

/* box-block-flavor */
.box-block-flavor a.btn-more {
  background: #e88823 url(../../dist/images/spirits/btn-plus.png) no-repeat 50% 50%;
  display: block;
  overflow: hidden;
  width: 40px;
  height: 40px;
  margin: 30px auto 0;
  border-radius: 50%;
  text-indent: -99876px;
  cursor: pointer;
}

.box-block-flavor a.btn-more:hover {
  background-color: #ad671c;
}

.box-block-flavor {
  text-align: center;
}

.mh140 {
  min-height: 140px;
}

.mh160 {
  min-height: 160px;
}

.mh180 {
  min-height: 180px;
}

.box-block-flavor h2 {
  margin-bottom: 20px;
  font-size: 32px;
  line-height: 34px;
  padding: 0 80px;
}

/* box-content-malt */
.box-content-malt {
  margin: 60px auto;
  width: 100%;
  overflow: hidden;
  position: relative;
  z-index: 1;
  max-height: 690px;
}

.malt-versus {
  position: relative;
  z-index: 9;
  width: 100%;
  display: block;
  overflow: hidden;
}

body .malt-versus-img {
  background: #222;
  padding: 40px 0 0 !important;
  overflow: hidden;
  max-height: 690px;
}

.malt-versus-img img {
  width: 100%;
}

/* malt-info */
.malt-info {
  position: relative;
  top: -606px;
  z-index: 98;
  overflow: hidden;
  display: block;
}

.malt-info h1, .malt-info h2 {
  font-size: 32px;
  line-height: 38px;
  padding: 0;
  margin: 0 0 30px 0;
  color: #e88823;
}

.malt-info p {
  font-size: 14px;
  line-height: 22px;
  color: #404040;
}

/* box-content-malt-singles */
.box-content-malt-singles {
  margin-top: -190px;
  display: block;
  overflow: hidden;
  position: relative;
  z-index: 987;
  margin-bottom: -60px;
  background: #ffffff;
}

.box-content-malt-singles .box-singles {
  background: #ffffff;
  border-right: 1px solid #d9d9d9;
}

.box-content-malt-singles .box-singles .block {
  margin-top: 0;
}

.box-content-malt-singles .box-singles.even {
  border-right: 0 none;
}

.box-content-malt-singles h2 {
  font-size: 32px;
  line-height: 38px;
  padding: 0;
  margin: 0 0 30px;
  color: #404040;
  font-family: elephantregular, serif;
}

.box-content-malt-singles .desc p {
  color: #666666;
}

.box-content-malt-singles h3 {
  font-size: 12px;
  line-height: 37px;
  text-transform: uppercase;
  font-weight: 700;
  font-style: normal;
  text-align: left;
  margin: 34px 0 0;
  border-top: 1px solid #d9d9d9;
  color: #404040;
  font-family: ralewaybold, sans-serif;
  letter-spacing: .2em;
  padding: 24px 0 10px;
}

/* box-unique-single */
.box-unique-single h1,
.box-unique-single h2 {
  font-size: 32px;
  line-height: 38px;
  padding: 0;
  margin: 0 0 30px;
  color: #404040;
}

.box-unique-single-img {
  max-height: 440px;
  overflow: hidden;
  display: block;
}

.box-unique-single-img img {
  width: 100%;
  max-height: 440px;
}

.box-unique-distillary h1,
.box-unique-distillary h2 {
  background: #333333;
  font-family: ralewaybold, sans-serif;
  font-weight: 500;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: .2em;
  font-size: 10px;
  display: block;
  padding: 10px 80px;
  color: #ffffff;
}

.box-unique-single {
  display: block;
  width: 100%;
  overflow: hidden;
  height: 500px;
}

.box-unique-line {
  margin-bottom: 0;
  display: block;
  overflow: hidden;
  position: relative;
  z-index: 9;
  top: -440px;
}

.box-unique-distillary {
  height: 60px;
  display: block;
  overflow: hidden;
  position: relative;
  z-index: 98;
  top: -440px;
}

.box-unique-first {
  height: 440px;
  display: block;
  overflow: hidden;
  width: 100%;
}

.full-wipper.box-unique-single .block {
  padding: 80px;
  margin-top: 110px;
  position: relative;
  background: #fff;
}

/* title-inside */
.title-inside h1 {
  background: url(../../dist/images/spirits/types-bg.jpg) repeat 0 0;
  font-size: 16px;
  line-height: 18px;
  padding: 108px;
  color: #fff;
  display: inline-block;
  vertical-align: top;
  font-family: ralewaybold, sans-serif;
  font-weight: 400;
  font-style: normal;
  height: auto;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .2em;
  margin-bottom: -180px;
}

.grey-separator {
  background: #d9d9d9;
  width: 48px;
  height: 6px;
  display: block;
  margin: 24px auto 17px;
}

/* box-higher - box-expiration */
.box-higher .block {
  padding: 80px;
  margin-top: 0;
  position: relative;
}

.box-expiration .block {
  padding: 80px;
  margin-top: 0;
  position: relative;
}

.box-white-black.box-expiration .box-black2 .block,
.box-white-black.box-expiration .box-black .block {
  margin-top: 80px;
}

.box-white-black .block {
  text-align: center;
}

.box-white-black .desc {
  padding: 0 50px;
}

.box-white-black .box-black2 .desc,
.box-white-black .box-black .desc {
  padding: 0;
}

.box-white-black .desc p {
  color: #666666;
  font-size: 14px;
  line-height: 22px;
  font-weight: 700;
}

.box-white-black .box-black2 .desc p,
.box-white-black .box-black .desc p {
  color: #fff;
  font-size: 20px;
  line-height: 28px;
  font-family: elephantregular, sans-serif;
  font-weight: 300;
  font-style: normal;
}

.box-white-black .icon {
  margin-bottom: 25px;
  margin-top: 25px;
  display: block;
  overflow: hidden;
}

.box-white-black h1,
.box-white-black h2 {
  color: #404040;
  font-size: 24px;
  line-height: 28px;
  margin: 0 0 25px 0;
  padding: 0 50px;
  font-family: elephantregular, serif;
}

.box-white-black .box-black2 .block {
  text-align: left;
  padding: 50px;
  margin: 0;
  position: relative;
  z-index: 1;
  display: block;
  overflow: hidden;
  background: #333333;
}

.box-white-black h4 {
  color: #464646;
  font-size: 40px;
  line-height: 54px;
  font-family: elephantregular, sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  padding-top: 36px;
  margin-bottom: 20px;
}

/* How do you take your whiskey?  */
.box-howdoyoutake {
  padding-top: 92px;
  display: block;
  overflow: hidden;
}

.box-howdoyoutake h1, .box-howdoyoutake h2 {
  display: block;
  font-size: 32px;
  line-height: 36px;
  margin: 0 auto;
  max-width: 360px;
  padding-bottom: 30px;
  text-align: center;
  width: 100%;
  color: #404040;
}

.box-howdoyoutake .line-time {
  display: block;
  overflow: visible;
  background: url(../../dist/images/spirits/lime-time.jpg) repeat-y 50% 0;
  width: 100%;
  position: relative;
  z-index: 1;
}

.box-howdoyoutake .line-time2 {
  background: none;
}

.box-howdoyoutake .line-time h2 {
  color: #000;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  font-family: ralewaybold, sans-serif;
  font-weight: 700;
  font-style: normal;
  letter-spacing: .2em;
  background: #ececec;
  display: block;
  padding: 30px 0 30px 0;
  margin: 0;
}

.box-howdoyoutake .line-time p {
  font-size: 22px;
  color: #989898;
  line-height: 26px;
  font-family: elephantregular, sans-serif;
  font-weight: 400;
  font-style: normal;
  background: #ececec;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0 0 30px 0;
}

.box-howdoyoutake .line-time-box {
  display: block;
  overflow: hidden;
  margin: 0 auto;
  width: 100%;
  max-width: 320px;
  padding: 80px 0;
}

.box-howdoyoutake .line-time-img {
  display: block;
  overflow: hidden;
  width: 340px;
  position: absolute;
  z-index: 0;
}

.box-howdoyoutake .lime-time-content.odd .line-time-img {
  left: 0;
}

.box-howdoyoutake .lime-time-content.even .line-time-img {
  right: 0;
}

.box-howdoyoutake .line-time-img img {
  width: 100%;
}

.box-howdoyoutake .lime-time-content {
  display: block;
  overflow: visible;
  width: 100%;
  position: relative;
  z-index: 1;
  margin-top: 0;
}

.box-howdoyoutake .lime-time-content.odd .line-time-box {
  padding-left: 100px;
}

.box-howdoyoutake .lime-time-content.even .line-time-box {
  padding-right: 100px;
}

.box-howdoyoutake .circle {
  background: url(../../dist/images/spirits/radio-top.jpg) no-repeat 0 0;
  display: block;
  margin: 0 auto;
  overflow: hidden;
  text-indent: -9999px;
  width: 11px;
  height: 11px;
}

.box-howdoyoutake .separator-arrow {
  background: url(../../dist/images/spirits/arrow-bot.png) no-repeat 50% 0;
  width: 226px;
  height: 7px;
  display: block;
  margin: 0 auto 140px;
  overflow: hidden;
  padding: 10px 0;
}

/* myModalAlert
----------------------------------------------------------------------------------------------------------------------*/
#myModalAlert .modal-content {
  width: 100%;
  max-width: 480px;
  margin: 0 auto;
}

#myModalAlert .modal-header {
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
  background: #e88823;
  border-radius: 4px 4px 0 0;
  color: #fff;
}

#myModalAlert .modal-body {
  background: #ffffff;
}

#myModalAlert .modal-footer {
  background: #ffffff;
}

/* block-markers-map
----------------------------------------------------------------------------------------------------------------------*/
.block-markers-map {
  position: relative;
  z-index: 1;
  padding: 0;
  background: none;
  border-bottom: 1px solid #c9c9c9;
  display: block;
  overflow: hidden;
}

.block-markers-map .dot-map {
  position: absolute;
  margin: 0;
  z-index: 98;
  width: 16px;
  height: 16px;
  background: #e68832;
  border-radius: 50%;
  top: 182px;
  left: 187px;
}

.block-markers-map img {
  position: relative;
  z-index: 1;
}

.block-markers-map .popover {
  margin-top: -10px !important;
  margin-left: 0 !important;
}

/* recipes landing
----------------------------------------------------------------------------------------------------------------------*/
.recipesliderx3 .related {
  width: 100%;
}

.recipe-landing .hero-recipes .slick-prev {
  left: 50% !important;
  margin-top: 26px;
  margin-left: -55px;
}

.recipe-landing .hero-recipes .slick-next {
  right: 50% !important;
  margin-top: 26px;
  margin-right: -55px;
}

.pull-left-hl .pull-ubication {
  float: left !important;
  width: 100%;
  max-width: 545px;
  border-right: 0 none;
}

.pull-right-hl .pull-ubication {
  float: right !important;
  width: 100%;
  max-width: 545px;
  border-left: 0 none;
}

.recipe-landing .related .box-desc {
  display: block;
  height: 112px;
  overflow: hidden;
  margin-bottom: 30px;
}

.recipe-landing .related .box-desc a {
  display: block;
  height: auto;
  overflow: hidden;
  font-size: 25px;
  line-height: 28px;
}

.select-generic-box {
  background: transparent;
  border: none;
  display: inline-block;
  line-height: 15px;
  vertical-align: top;
  padding: 0;
  margin: 20px 0;
}

.select-generic-box .text-up-small {
  margin-right: -4px;
  border: 0 none;
}

.select-generic-box span {
  display: inline-block;
  vertical-align: top;
}

.select-generic-box .arrow-prod,
.select-generic-box .text-up-small {
  padding: 25px 30px;
  border: 1px solid #c9c9c9;
  display: inline-block;
  vertical-align: top;
}

.taxonomy-drinktype-recipes-box {
  overflow: hidden;
  margin: 0 0 30px;
  display: block;
  width: 100%;
}

.full-recipe-detail .block h4 {
  font-weight: bold;
  color: #b2b2b2;
}

.full-recipe-detail .hero {
  background-position: 50% 5%;
}

.uncharted-h1 {
  font-family: ralewaybold, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.31;
  letter-spacing: 3.2px;
  text-align: center;
  color: #222;
  text-transform: uppercase;
  position: relative;
  clear: both;
}

.star-box .star0 {
  background: url(../../dist/images/recipe-detail/starts-icon.png) -46px 0 no-repeat;
  width: 22px;
  height: 20px;
  overflow: hidden;
  display: inline-block;
  vertical-align: top;
  text-indent: -99999px;
  margin: 10px 0;
}

.star-box div {
  display: inline-block;
  vertical-align: top;
}

.star-box .star0.active {
  background-position: 0 0;
}

.share-star {
  background: rgba(0, 0, 0, 0) url("../../dist/images/recipe-detail/share-icon.png") no-repeat scroll 0 0;
  cursor: pointer;
  display: inline-block;
  height: 20px;
  margin: 17px 5px 0;
  overflow: hidden;
  text-indent: -99999px;
  vertical-align: top;
  width: 18px;
}

.star-box #spinner,
.star-box .spinner {
  display: none !important;
}

.box-base-spirit h3 {
  padding: 0 20px;
}

.recipe-det-fixer {
  padding: 10px;
}

.full-recipe-detail .block .recipe-det-fixer h4 {
  font-weight: 700;
  color: #404040;
  font-size: 20px;
}

.medidas .medida {
  color: #404040;
}

/* CAlss Fuller
----------------------------------------------------------------------------------------------------------------------*/

.classfuller {
  width: 100%;
}

/* Loadmore
----------------------------------------------------------------------------------------------------------------------*/
.btn-load-more {
  background: url(../../dist/images/recipe-detail/view-more.png) 0 0 no-repeat;
  width: auto;
  height: auto;
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
  margin: 10px 5px;
  color: #404040;
  overflow: hidden;
  border: 0 none;
  padding: 0 0 0 30px;
  text-transform: uppercase;
  text-decoration: none;
  font-family: ralewaybold, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0.01em;
}

.btn-load-more:hover {
  text-decoration: none;
}

.btn-load-more:disabled {
  opacity: 0;
}

/* HERO
----------------------------------------------------------------------------------------------------------------------*/
.limit-hero-title {
  height: 162px;
  overflow: hidden;
  display: block;
  width: 100%;
}

.full-page-articles-landing .limit-hero-title {
  height: 100px;
  overflow: hidden;
  display: block;
  width: 100%;
  font-size: 44px;
}

.full-page-occasions-landing .limit-hero-title {
  height: 100px;
  overflow: hidden;
  display: block;
  width: 100%;
  font-size: 44px;
}

.full-page-recipes-landing .limit-hero-title {
  display: block;
  font-size: 44px;
  height: 106px;
  line-height: 50px;
  margin-top: 10px;
  min-height: 25px;
  overflow: hidden;
  width: 100%;
}

.full-recipe-detail .block .recipe-det-fixer h4.numberdificultyeffort {
  font-size: 12px;
  line-height: 22px;
}

.full-recipe-detail .stepsul {
  border-top: 1px solid #e3e3e3;
}

.full-recipe-detail li.step {
  padding: 30px 0;
  color: #aaa;
  border-bottom: 1px solid #e3e3e3;
}

.full-recipe-detail .taxonomy-drinktype-recipes-box {
  overflow: hidden;
  margin: 0;
  display: block;
  width: 100%;
  padding: 0;
}

/* GENERAL
----------------------------------------------------------------------------------------------------------------------*/
.limit-general-title {
  height: 162px;
  overflow: hidden;
  display: block;
  width: 100%;
}

.block-s .limit-62 {
  height: 62px;
  overflow: hidden;
}

.block-s .limit-124 {
  height: 124px;
  overflow: hidden;
}

/* block-bar-orange
----------------------------------------------------------------------------------------------------------------------*/
.block-bar-orange {
  width: 48px;
  height: 5px;
  background: #e88823;
  display: block;
  overflow: hidden;
  position: absolute;
  bottom: 50px;
  left: 40px;
}

/* full-block-how-to-videos
----------------------------------------------------------------------------------------------------------------------*/
.full-block-how-to-videos {
  display: block;
}

#cascade-slider .how-to-icon::after {
  display: none !important;
}

#cascade-slider {
  background: url(../../dist/images/default-loader.gif) 50% 50% no-repeat;
}

/* recipe detail
----------------------------------------------------------------------------------------------------------------------*/

.medidas p {
  background: url(../../dist/images/recipe-detail/border-line.png) 0 50% repeat-x;
  display: block;
  overflow: hidden;
}

.items p {
  color: #aaa;
  text-align: left;
  font-size: 14px;
  line-height: 18px;
  display: inline-block;
  vertical-align: top;
  padding: 9px 0 0 0;
  margin: 0;
  text-transform: capitalize;
}

.medidas p span {
  background: #ffffff;
}

.medidas .cantidad {
  text-transform: uppercase;
  font-family: elephantregular, serif;
  color: #333;
  font-size: 20px;
  padding: 0;
  float: left;
  display: block;
  padding-right: 5px;
}

.medidas .medida {
  font-size: 12px;
  text-transform: uppercase;
  font-family: elephantregular, serif;
  line-height: 40px;
  float: left;
  display: block;
  padding-right: 25px;
}

p.serving {
  border: 0 none;
  font-size: 12px;
  line-height: 20px;
  color: #404040;
  font-family: 'ralewayblack', sans-serif;
  font-weight: normal;
  font-style: normal;
}

.recipeinfo h6 {
  font-family: 'ralewayblack', sans-serif;
  font-weight: normal;
  font-style: normal;
  color: #404040;
  letter-spacing: 0.1em;
  font-size: 14px;
  line-height: 14px;
  padding-top: 0px;
}

.recipeboxnutricion .panel {
  box-shadow: 0 0px 0px rgba(0, 0, 0, .05);
}

.recipeboxnutricion .panel-group .panel .panel-title .round-icon .fa {
  margin: 8px 0 0 2px;
}

.title-regular {
  color: #bdbdbe;
  font-family: 'ralewayblack', sans-serif;
  font-weight: normal;
  font-style: normal;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 40px;
  letter-spacing: 0.1em;
}

/* double-border
---------------------------------------------------------------------------------------------------------------------*/
.double-border {
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  padding: 10px 0;
}

.overlay.overlar-fixed {
  top: 70px;
  left: 0;
  height: 100%;
  width: 100%;
  position: fixed;
  background: rgba(83, 83, 83, .4);
  z-index: 10;
  display: none;
}

.open .overlay.overlar-fixed {
  z-index: 9;
  display: block;
}

/* FIXER
---------------------------------------------------------------------------------------------------------------------*/
.hero {
  background-color: #404040;
}

.hero2 {
  background-color: transparent;
}

/* search-page
---------------------------------------------------------------------------------------------------------------------*/
.search-page-scroll .results {
  overflow: auto !important;
}

.search-see-all {
  background: rgba(0, 0, 0, 0) url("../../dist/images/icon-plus.png") no-repeat scroll 100% 50%;
  color: #c1c1c1 !important;
  cursor: pointer;
  display: inline-block;
  font-family: "ralewayblack", sans-serif;
  font-size: 14px;
  letter-spacing: 0.1em;
  line-height: 14px;
  padding-right: 15px;
  position: absolute;
  right: 90px;
  text-align: right;
  text-decoration: none;
  text-transform: uppercase;
  top: 40px;
  vertical-align: top;
  width: 50px;
  z-index: 987654;
}

.search-see-all:hover {
  text-decoration: none;
}

.search-page .results .result-block {
  border-bottom: 1px solid #d9d9d9;
  display: block;
  margin: 0;
  overflow: hidden;
  padding: 30px 0;
  background-color: #ffffff;
}

.site-pusher .search-page .search-field, .site-pusher .search-page .search-focus {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background: #ececec none repeat scroll 0 0;
  border-color: currentcolor currentcolor #d9d9d9;
  border-image: none;
  border-style: none none solid;
  border-width: medium medium 1px;
  color: #333;
  font-family: elephantregular, serif;
  font-size: 44px;
  padding: 58px 90px;
  width: 100%;
  display: block !important;
}

.search-page .close-search {
  background: rgba(0, 0, 0, 0) url("../../dist/images/icon-search.png") no-repeat scroll 0 0;
  color: #c1c1c1;
  font-size: 14px;
  height: 39px;
  line-height: 14px;
  margin-right: 30px;
  padding: 0;
  position: absolute;
  text-align: left;
  text-indent: -99999px;
  width: 37px;
}

.search-page .form-group {
  margin: 0;
  position: relative;
  min-height: 178px;
}

.search-page .results {
  overflow: hidden;
  padding: 0;
  position: relative;
  z-index: 1;
}

.search-page .results .result {
  padding: 0 90px;
}

.search-page .results .result-block h5 {
  color: #e68832;
  font-family: "ralewayblack", sans-serif;
  font-size: 12px;
  font-weight: normal;
  letter-spacing: 0.1em;
  line-height: 14px;
  padding: 0 90px;
  text-transform: uppercase;
}

.search-page .results li a {
  color: #404040;
  display: block;
  font-family: "ralewayblack", sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 20px;
  text-decoration: none;
}

.no-result-data {
  color: #404040;
  display: block;
  font-family: "ralewayblack", sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 20px;
  text-decoration: none;
  font-style: italic;
}

.search-page .results li a:hover {
  text-decoration: none;
  color: #e68832;
}

.box-name a:hover {
  color: #e68832 !important;
}

.close-search {
  cursor: pointer;
}

.row-result-box {
  display: block;
  margin: 0;
  overflow: hidden;
  text-align: center;
  width: 100%;
}

.row-result-box .result {
  padding-top: 60px;
}

.row-result-box .search-navbar li a {
  border-bottom: 4px solid #ffffff;
  color: #333333;
  cursor: pointer;
  text-decoration: none;
}

.row-result-box .search-navbar .list-inline {
  margin: 0;
  padding-left: 36px;
  text-align: left;
}

.row-result-box .search-navbar {
  background: #fff none repeat scroll 0 0;
  margin-top: 40px;
  padding: 54px 54px 50px;
}

.row-result-box .search-navbar li a:hover {
  color: #e88823;
  border-bottom: 4px solid #e88823;
  text-decoration: none;
}

.row-result-box .search-navbar li.activate a {
  color: #e88823;
  border-bottom: 4px solid #e88823;
  text-decoration: none;
}

.navbar-inverse .aside-fix ul li.icon-share-stamina a {
  background: none;
}

h2.limit-124 a {
  cursor: pointer;
}

.show-cursor {
  cursor: pointer;
}

.row-result-box-t {
  display: block;
  font-size: 44px;
  height: 100px;
  overflow: hidden;
  width: 100%;
}

.row-result-box-p {
  height: 100px;
  color: #aaa;
  font-size: 14px;
  line-height: 1.8;
}

/* Slider cascade
---------------------------------------------------------------------------------------------------------------------*/
#cascade-slider .btn-play {
  background: rgba(0, 0, 0, 0) url("../../dist/images/btn-play.png") no-repeat scroll 0 0;
  content: "";
  height: 90px;
  left: 50%;
  margin: -45px;
  opacity: 1;
  padding: 0;
  position: absolute;
  top: 50%;
  width: 90px;
  z-index: 98746;
  cursor: pointer;
  -ms-transform: scale(0.6); /* IE 9 */
  -webkit-transform: scale(0.6); /* Safari */
  transform: scale(0.6);
}

.angular-lightbox section > article > header a.close-btn {
  color: #ddd;
  cursor: pointer;
  font-size: 3em;
  position: fixed;
  right: 30px;
  top: 90px;
  z-index: 9876;
}

/* desc-over
---------------------------------------------------------------------------------------------------------------------*/
.desc-over {
  overflow: hidden;
  height: 56px;
}

.full-block-how-to-videos .brand h2, .full-block-how-to-videos .related h2 {
  color: #333 !important;
  font-size: 22px;
  height: 122px;
  overflow: hidden;
  position: relative;
  text-align: left;
  line-height: 24px;
}

/* top-titles
---------------------------------------------------------------------------------------------------------------------*/
.top-titles {
  padding-top: 60px;
}

.top-titles h1 {
  color: #fff;
  font-family: elephantregular, serif;
  font-size: 44px;
  line-height: 50px;
  margin: 0 0 24px;
}

.top-titles h2 {
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  font-family: ralewaybold, sans-serif;
  color: #e68832 !important;
}

/* linkerio
----------------------------------------------------------------------------------------------------------------------*/
#linkerio0,
#linkerioAll {
  display: none;
}

/* box-black-occasions
----------------------------------------------------------------------------------------------------------------------*/
.box-black-occasions {
  padding: 50px;
}

.box-black-occasions h6 {
  margin-bottom: 30px;
}

.box-black-occasions .margin-lateral {
  margin-right: 25%;
}

/* .search-group
----------------------------------------------------------------------------------------------------------------------*/
.search-group {
  overflow: hidden;
}

.navbar-inverse .nav-occasions a:hover:after,
.navbar-inverse .nav-occasions a.active:after,
.navbar-inverse .nav-bar101 a:hover:after,
.navbar-inverse .nav-bar101 a.active:after,
.navbar-inverse .nav-where a:hover:after,
.navbar-inverse .nav-where a.active:after {
  content: "";
  position: absolute;
  top: 66px;
  left: 0;
  width: 100%;
  height: 4px;
  background: #e68832;
  z-index: 10;
}

.dropdown-toggle.active:after,
.dropdown a.active:after,
.dropdown a.dropdown-toggle.active:after {
  content: "";
  position: absolute;
  top: 66px;
  left: 0;
  width: 100%;
  height: 4px;
  background: #e68832;
  z-index: 10;
}

/* select-servings-box
----------------------------------------------------------------------------------------------------------------------*/
.select-servings-box {
  background: transparent url(../../dist/images/select-img.png) no-repeat scroll 0 0;
  width: 89px;
  height: 38px;
  display: block;
  overflow: hidden;
  float: left;
  margin-left: 26px;
}

.select-servings-zone {
  padding: 0 15px;
}

.select-servings-box select {
  border: 0 none;
  background: none;
  font-size: 16px;
  color: #404040;
  font-family: 'ralewayblack', sans-serif;
  font-weight: normal;
  font-style: normal;
  line-height: 16px;
  width: 130%;
  padding: 8px;
}

/* wtbhr
----------------------------------------------------------------------------------------------------------------------*/
.search-wtb input[type="checkbox"] + label {
  margin-right: 15px;
}

.search-wtb .btn {
  background: #e88823 none repeat scroll 0 0;
  border-radius: 0;
  color: #fff;
  display: inline-block;
  height: 51px;
  letter-spacing: 1px;
  max-width: 141px;
  padding: 0;
  vertical-align: top;
  width: 100%;
}

.search-wtb select {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  max-width: 362px;
  width: 100%;
}

.where-to-box-box .search-wtb select {
  max-width: 260px;
  width: 100%;
}

.where-to-box-box .search-wtb input.width-include, .where-to-box-box .search-wtb select.width-include {
  min-width: 0;
  width: 100% !important;
}

#locationsList {
  border-bottom: 0 none;
  margin-bottom: 60px;
}

.locationItem {
  border-bottom: 1px solid #d9d9d9;
  border-top: 0 none;
  margin: 0;
  padding: 15px;
  position: relative;
}

.where-to-box-box.where-to-box-box2 .locationItem {
  border-bottom: 1px solid #d9d9d9;
  border-top: 0 none;
  margin: 0;
  padding: 34px 10px;
  position: relative;
}

.where-to-box-box.where-to-box-box2 #locationsList .dotcustom {
  margin-left: 10px;
  position: absolute;
  display: block;
  padding: 0;
  list-style: none;
  height: 60px !important;
  text-align: left !important;
  bottom: -70px;
  width: 70%;
}

.where-to-box-box.where-to-box-box2 #locationsList .slick-next,
.where-to-box-box.where-to-box-box2 #locationsList .slick-prev {
  bottom: -24px;
}

.where-to-box-box.where-to-box-box2 #locationsList .slick-prev {
  left: 80% !important;
}

.where-to-box-box.where-to-box-box2 #locationsList .slick-next {
  left: 90% !important;
}

.search-wtb {
  background: #fff none repeat scroll 0 0;
  font-family: ralewayblack, sans-serif;
  min-height: 20px;
  padding: 30px;
  text-align: left;
}

.search-wtb hr.wtbhr {
  border-top: 1px solid #d9d9d9 !important;
  margin: 20px auto 0 !important;
  padding: 0 !important;
  width: 100% !important;
}

.map-wrapper.col-xs-12 {
  border: 1px solid #d9d9d9;
  float: right !important;
}

#locations.col-xs-12 {
  border: 1px solid #d9d9d9;
  float: left !important;
}

.paginateeer {
  display: none;
}

#brands, #loctype, #search, #variants {
  display: inline-block;
  margin-left: 0;
  margin-right: 15px;
  vertical-align: top;
  position: relative;
  z-index: 1;
}

.search-wtb #search {
  width: 20%;
}

.search-wtb #search input {
  max-width: 362px;
  width: 100%;
}

#loaderBrands, #loaderLocations, #loaderVariants {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: block;
  float: left;
  height: 20px;
  left: 0;
  margin: auto;
  position: absolute;
  top: 0;
  visibility: hidden;
  width: 20px;
  z-index: 987;
}

.search-wtb #brands {
  width: 20%;
}

.search-wtb #brands input {
  width: 100%;
}

.search-wtb #variants {
  width: 20%;
}

.search-wtb #variants input {
  width: 100%;
}

.search-wtb #loctype {
  padding: 15px 0 0;
  text-align: center;
  width: 26%;
}

.search-wtb .btn.wtb-button {
  float: right;
  width: 10%;
}

.ecomm-area {
  text-align: center;
  width: 100%;
  display: block;
  overflow: hidden;
}

/* footer
----------------------------------------------------------------------------------------------------------------------*/
#dg_footer_wrapper_inner .dg_footer_row_0 {
  background: #333 none repeat scroll 0 0;
  font: bold 17px/30px bebas_neue;
  letter-spacing: 1px;
  padding-top: 15px;
}

#dg_footer_wrapper_inner ul {
  display: inline-block;
  list-style: outside none none;
  margin: 0 auto;
  overflow: hidden;
  padding: 0;
  text-align: left;
}

#dg_footer_wrapper_inner ul li {
  display: inline-block;
  float: none;
  text-align: left;
  vertical-align: top;
}

#dg_footer_wrapper_inner ul li a {
  display: inline-block;
  padding: 0 5px;
  text-align: left;
  vertical-align: top;
}

#dg_footer_wrapper_inner .dg_footer_row_0 a, #dg_footer_wrapper_inner .dg_footer_row_0 a:hover {
  color: #ffffff !important;
  font-size: 12px !important;
}

#dg_footer_wrapper_inner ul li span {
  color: #ffffff !important;
  font-size: 12px !important;
}

#dg_footer_wrapper_inner ul li.dg_footer_item_last {
  border-top: 1px solid #474747;
  color: #474747 !important;
  display: block;
  margin-top: 10px;
  overflow: hidden;
  padding-top: 10px;
  width: 100%;
}

#dg_footer_wrapper_inner ul li.dg_footer_item_last span {
  color: #c2c2c2 !important;
  width: 100%;
}

#dg_footer_wrapper_inner ul li {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: 0 none;
  display: block;
  float: left;
  min-height: 32px;
  width: 33%;
}

#dg_footer_wrapper_inner ul li::after {
  display: none !important;
}

#dg_footer_wrapper_inner ul li.dg_footer_item_0 {
  width: 33%;
}

#dg_footer_wrapper_inner ul li.dg_footer_item_1 {
  width: 40%;
}

#dg_footer_wrapper_inner ul li.dg_footer_item_2 {
  width: 27%;
}

#dg_footer_wrapper_inner ul li.dg_footer_item_3 {
  width: 33%;
}

#dg_footer_wrapper_inner ul li.dg_footer_item_4 {
  width: 40%;
}

#dg_footer_wrapper_inner ul li.dg_footer_item_5 {
  width: 27%;
}

#dg_footer_wrapper_inner ul li.dg_footer_item_6 {
  width: 33%;
}

#dg_footer_wrapper_inner ul li.dg_footer_item_7 {
  width: 40%;
}

#dg_footer_wrapper_inner ul li.dg_footer_item_8 {
  width: 27%;
}

#dg_footer_wrapper_inner ul li.dg_footer_item_9 {
  width: 100%;
}

#dg_footer_wrapper_inner ul li:first-child a {
  padding-left: 5px !important;
}

/* #sidebar-wrapper .search-page
----------------------------------------------------------------------------------------------------------------------*/
#sidebar-wrapper .search-page .results {
  padding: 10px 0;
  background-color: #000;
}

#sidebar-wrapper .search-page .results .result-block {
  border-bottom: 0 none;
  display: block;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

#sidebar-wrapper .search-page .results .result-block ul li a {
  padding: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

#sidebar-wrapper .search-page .results .result-block h5 {
  padding: 0 34px;
  color: #e88823;
  margin: 10px 0 0 0;
}

#sidebar-wrapper .search-page .results .result {
  padding: 0 34px;
}

#sidebar-wrapper .result-block::after {
  background: #000 none repeat scroll 0 0;
  content: "";
  height: 1px;
  left: 0;
  margin: 20px 0 0;
  position: absolute;
  width: 100%;
}

#sidebar-wrapper .result-block {
  background: #000 none repeat scroll 0 0;
}

#sidebar-wrapper .search-page .results li a {
  color: #ffffff;
  font-size: 14px;
  line-height: 18px;
  text-transform: none;
}

#sidebar-wrapper .search-page .results li a:hover {
  color: #999999;
}

#sidebar-wrapper .no-result-data {
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
}

#sidebar-wrapper .search-see-all {
  background: #e88823 url(../../dist/images/icon-plus.png) no-repeat scroll 90% 50%;
  color: #b06d26 !important;
  cursor: pointer;
  display: inline-block;
  font-family: ralewayblack, sans-serif;
  font-size: 14px;
  letter-spacing: .1em;
  line-height: 14px;
  padding: 5px 20px 5px 10px;
  position: absolute;
  right: 10px;
  text-align: right;
  text-decoration: none;
  text-transform: uppercase;
  top: 10px;
  vertical-align: top;
  width: auto;
  z-index: 987654;
}

.recipe-det {
  padding: 10px;
}

.fuller.home-landing .recipe-det {
  padding: 0;
}

/* where-to-box-box
----------------------------------------------------------------------------------------------------------------------*/
.where-to-box-box {
  padding: 0;
  margin: 0;
}

.where-to-box-box2 {
  padding: 0;
  margin: 0 -15px;
}

.where-to-box-box #locations, .where-to-box-box #map {
  min-height: 867px;
  float: left;
}

.where-to-box-box .search-wtb #search {
  //overflow: hidden;
  width: 25%;
}

.where-to-box-box .search-wtb #brands {
  width: 24%;
  display: none !important;
}

.where-to-box-box .search-wtb #variants {
  overflow: hidden;
  width: 25%;
}

.where-to-box-box .search-wtb #loctype {
  width: 34%;
}

.where-to-box-box .search-wtb .container-fluid {
  min-width: 100%;
}

.product-tabs .nav-stacked > li a {
  border-bottom: 1px solid #e3e3e3;
}

.box-see-all {
  color: #e88823;
  font-family: ralewaybold, sans-serif;
  font-size: 14px;
  letter-spacing: 0.1em;
  line-height: 18px;
  text-decoration: none;
  cursor: pointer;
}

.box-see-all span {
  display: inline-block;
  margin-right: 10px;
  margin-top: 5px;
  vertical-align: top;
}

.box-see-all:hover {
  color: #989898;
  text-decoration: none;
}

/* ratingDiv
----------------------------------------------------------------------------------------------------------------------*/
#ratingDiv {
  display: inline-block;
  margin: 15px 0 0 !important;
  padding: 0;
  text-align: center;
  vertical-align: top;
  width: auto !important;
}

#ratingDiv #starsDiv {
  width: 100% !important;
}

#ratingDiv .row-eq-height {
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;
}

#ratingDiv #totalratings_ratingDiv {
  display: none !important;
}

#ratingDiv .glyph-black {
  color: #e4873c;
  font-size: 24px;
}

#ratingDiv .glyph-goldenrod {
  font-size: 24px;
  color: #e68832 !important;
}

#ratingDiv #avgDiv {
  width: 100%;
  display: none !important;
}

#ratingDiv #yourRatingDiv {
  width: 100%;
  display: none !important;
}

/* box-with-select
----------------------------------------------------------------------------------------------------------------------*/
.box-with-select {
  display: block;
  margin: 60px auto 30px;
}

.box-with-select .our-text {
  text-align: left;
}

.select-with-box-format {
  background: #ececec url("../../dist/images/select-icon.png") no-repeat scroll 100% 50%;
  border: 1px solid #c9c9c9;
  cursor: pointer;
  display: block;
  float: right;
  height: 58px;
  line-height: 58px;
  max-width: 300px;
  min-width: 270px;
  overflow: hidden;
  padding: 0 58px 0 0;
  text-indent: 20px;
  width: auto;
}

.select-with-box-format-select-box {
  background: transparent none repeat scroll 0 0;
  border: medium none;
  color: #404040;
  cursor: pointer;
  display: block;
  font-family: ralewaybold, sans-serif;
  font-size: 14px;
  letter-spacing: .05em;
  line-height: 24px;
  margin: 0;
  outline: medium none;
  padding: 20px 92px 20px 20px;
  text-transform: uppercase;
  width: 320px;
  top: 0;
  position: relative;
  z-index: 1;
  left: 0;
}

.select-with-box-format-select-box option {
  text-indent: 20px;
  font-size: 14px;
  line-height: 24px;
}

/* Titles
----------------------------------------------------------------------------------------------------------------------*/
.text-titles-55 {
  font-size: 55px;
  line-height: 55px;
  margin-bottom: 0 !important;
}

.distillery-map-image h6 {
  color: #565656;
  font-size: 11px;
  margin-top: 20px;
}

/* block-block
----------------------------------------------------------------------------------------------------------------------*/
.block-block {
  padding: 0;
}

.block-block .block-block-box {
  display: block;
  overflow: hidden;
  padding: 80px;
}

.double-box {
  margin: 0 auto;
  max-width: 540px;
}

.double-box .recipe-det {
  margin-top: 45px;
  padding: 22px 0;
}

.product-tabs {
  display: inline-block;
  overflow: hidden;
  vertical-align: top;
  width: 100%;
}

.recipe-det p {
  letter-spacing: 0.1em;
}

/* */
.search-wtb #search {
  background: #ececec url("../../dist/images/wtb/select-nav.jpg") no-repeat scroll 100% 0;
}

.search-wtb #variants {
  background: #ececec url("../../dist/images/wtb/select-arrow.jpg") no-repeat scroll 100% 0;
}

.search-wtb #brands {
  background: #ececec url("../../dist/images/wtb/select-arrow.jpg") no-repeat scroll 100% 0;
}

.search-wtb input[type="text"] {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}

.search-wtb input, .search-wtb select {
  font-weight: 500;
  padding-right: 51px;
}

/* */
.where-to-box-box .search-wtb select {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}

.where-to-box-box .search-wtb select {
  max-width: 260px;
  width: 100%;
}

/* */
.product-tabs .nav-stacked li {
  margin-bottom: 20px;
}

.product-tabs .nav-stacked > li a {
  padding: 0 0 20px;
  font-weight: normal;
}

/* TOOLTIP FLAVER
----------------------------------------------------------------------------------------------------------------------*/
.tooltip-inner h5 {
  font-size: 14px;
}

.tooltip-inner p {
  color: #aaa;
  font-size: 12px;
  line-height: 14px;
}

.botoner {
  cursor: pointer;
}

.botoner:hover {
  color: #e68832;
}

/* hover-tool  */
.hover-tool {
  background: rgba(0, 0, 0, 0) url("../../dist/images/tooltip-bot.png") no-repeat scroll 0 100%;
  bottom: 100%;
  height: auto;
  left: 50%;
  margin-left: -122px;
  padding: 0;
  position: absolute;
  width: 245px;
  z-index: 98754;
}

.hover-tool-box {
  background: #333333 none repeat scroll 0 0;
  display: block;
  margin: 0 0 8px;
  overflow: hidden;
  padding: 25px;
  position: relative;
  text-align: center;
  width: 245px;
  z-index: 2;
}

.hero-solid-2 {
  height: 402px;
}

/* FLVAROR FIX
----------------------------------------------------------------------------------------------------------------------*/
.flavor-map {
  background: rgba(0, 0, 0, 0) url("../../dist/images/axis-grid.png") no-repeat scroll 8px 12px;
  height: 1262px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  width: 1438px;
}

.modal-dialog .modal-fm {
  background: #eee none repeat scroll 0 0;
  height: auto;
  margin: 0 auto;
  max-width: 1440px;
  overflow: auto;
  padding: 0;
  width: 100%;
}

.modal-content {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border-radius: 0;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  height: 100%;
  max-width: 1440px;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
}

.modal-fm.modal-flavor-box .round-icon-lg {
  background: rgba(0, 0, 0, 0) url("../../dist/images/btn-close.png") no-repeat scroll 0 0;
  height: 60px;
  margin: 15px;
  position: absolute;
  right: 0;
  text-indent: -99999px;
  top: 0;
  width: 60px;
}

.product-dot {
  background: transparent url("../../dist/images/dots.png") no-repeat scroll 0 0;
  border-radius: 100%;
  font-size: 12px;
  height: 10px;
  line-height: 14px;
  margin: 3px;
  position: absolute;
  width: 10px;
  cursor: pointer;
}

.product-dot .hovertool-relative {
  display: block;
  font-family: "ralewayblack", sans-serif;
  margin: 0;
  padding: 0 0 0 20px;
  width: 120px;
}

.product-dot:hover {
  background: #e68832 none repeat scroll 0 0;
  border-radius: 100%;
  font-size: 12px;
  height: 10px;
  line-height: 14px;
  margin: 3px;
  position: absolute;
  width: 10px;
}

.hover-tool-box .s-title {
  color: #989898;
  display: block;
  font-family: "ralewayblack", sans-serif;
  font-size: 13px;
  line-height: 14px;
  margin-bottom: 15px;
  overflow: hidden;
}

.hover-tool-box .s-desc {
  color: #aaaaaa;
  display: block;
  font-family: "ralewayregular", sans-serif;
  font-size: 12px;
  line-height: 15px;
  margin-bottom: 0;
  overflow: hidden;
}

.hover-tool-box .s-link {
  color: #ffffff;
  display: block;
  font-family: "ralewayblack", sans-serif;
  font-size: 13px;
  line-height: 14px;
  margin-bottom: 0;
  overflow: hidden;
  text-decoration: none;
  cursor: pointer;
}

.hover-tool-box .s-link:hover {
  color: #e88823;
  text-decoration: none;
  cursor: pointer;
}

.product-dot .hovertool-relative:hover {
  color: #e88823;
}

.btn.wtb-button.inactive {
  display: none !important;
}

.tempclose {
  background: #e88823 none repeat scroll 0 0;
  border-radius: 50%;
  color: #333333;
  display: block;
  font-size: 12px;
  height: 14px;
  line-height: 14px;
  position: absolute;
  right: 5px;
  text-decoration: none;
  top: 5px;
  width: 14px;
  z-index: 9;
}

.tempclose:hover {
  background: #ffffff none repeat scroll 0 0;
  color: #333333;
  text-decoration: none;
}

.regular-detail-box .thetitle {
  padding: 15px;
}

/* FIX TAGS */
.tag {
  font-weight: 500;
}

.tag3 {
  font-family: 'ralewaybold', sans-serif;
  font-weight: 900;
}

.tag4 {
  font-family: 'ralewayregular', sans-serif;
  font-weight: 500;
}

/* Search searchBox
---------------------------------------------------------------------------------------------------------------------*/
.close-search {
  background: transparent url("../../dist/images/btn-close-search.png") no-repeat scroll 0 0;
  display: block;
  height: 30px;
  margin-top: 0;
  position: absolute;
  right: 60px;
  text-align: left !important;
  text-decoration: none;
  text-indent: -99999px;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
}

#searchBox {
  max-width: 635px;
}

/* Brands Fix Iphone
--------------------------------------------------------------------------------------------------------------------*/
.brand .brand-icon, .related .brand-icon {
  height: 180px;
  margin: 20px auto 0;
  position: relative;
  width: 140px;
}

.brand .brand-icon .brand-mask, .related .brand-icon .brand-mask {
  background: rgba(0, 0, 0, 0) url("../../dist/images/brands-cat.png") no-repeat scroll 0 100%;
  bottom: 0;
  height: 180px;
  overflow: hidden;
  position: absolute;
  width: 140px;
}

.brand .brand-icon img, .related .brand-icon img {
  left: 50%;
  margin: -50%;
  max-height: 180px;
  max-width: 160px;
  position: absolute;
  top: 50%;
  width: auto;
}

.brands-crop {
  background: rgba(0, 0, 0, 0) url("../../dist/images/brands-cat-crop.png") no-repeat scroll 0 100%;
  bottom: 0;
  height: 140px;
  overflow: hidden;
  position: absolute;
  width: 140px;
  z-index: 987;
  left: 0;
}

.four-height {
  margin-bottom: -160px;
}

.two-height {
  margin-top: 180px;
}

.block.blocks-types .desc {
  min-height: 120px;
}

.triangle-search {
  background: rgba(0, 0, 0, 0) url("../../dist/images/icon-triangle.png") no-repeat scroll 0 100%;
  height: 6px;
  overflow: hidden;
  position: absolute;
  right: 100px;
  top: 0;
  width: 11px;
  z-index: 987;
}

/* full-page-brands
---------------------------------------------------------------------------------------------------------------------*/
.full-page-brands .hero-recipes .block {
  padding: 80px 180px 80px 80px;
  max-width: 545px;
  width: 100%;
}

.recipe-landing.all-pages.full-page-recipes-landing .hero-recipes .pull-left-hl .block {
  padding: 80px 180px 80px 80px;
  max-width: 545px;
  width: 100%;
}

.recipe-landing.all-pages.full-page-recipes-landing .hero-recipes .pull-right-hl .block {
  padding: 80px 80px 80px 180px;
}

.full-page-brands .hero-recipes .block.addfirstclass {
  padding: 80px 80px 80px 180px;
}

.full-page-brands .hero-recipes .slick-dots {
  bottom: -60px !important;
}

.full-page-brands .hero-recipes-fix .slick-prev {
  margin-top: 68px;
}

.full-page-brands .hero-recipes-fix .slick-next {
  margin-top: 68px;
}

/* clearme
---------------------------------------------------------------------------------------------------------------------*/
.clearme {
  clear: both;
  font-size: 0;
  height: 0;
  line-height: 0;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
}

/* AGP
---------------------------------------------------------------------------------------------------------------------*/
//#age_content {
//  top: 10% !important;
//  -webkit-border-radius: 0 !important;
//  -moz-border-radius: 0 !important;
//  border-radius: 0 !important;
//  -webkit-box-shadow: 0px 0px 0px #000 !important;
//  -moz-box-shadow: 0px 0px 0px #000 !important;
//  box-shadow: 0px 0px 0px #000 !important;
//  padding: 80px 80px 0px 80px !important;
//}
//
//#age_content #age_header_subtitle {
//  margin: 0 !important;
//  padding-bottom: 15px !important;
//}
//
//#age_content #age_header_subtitle span {
//  font-size: 14px !important;
//  color: #9e9e9e !important;
//  line-height: 16px !important;
//  font-weight: bold !important;
//
//}
//
//#age_content .age_header_title span {
//  font-size: 14px !important;
//  color: #9e9e9e !important;
//  line-height: 16px !important;
//  font-weight: bold !important;
//
//}
//
//#age_content #age_horizontal_line .line {
//  background: #e5e5e5;
//}
//
//.age_group .age_facebook_or_label {
//  border-bottom: 1px solid #e5e5e5 !important;
//  text-indent: -99999px !important;
//}
//
//#age_content #age_facebook_basic_top .age_facebook_or_label {
//  margin: 0 !important;
//  padding: 0 !important;
//  height: 10px !important;
//}
//
//#age_content #age_missing_message span {
//  color: #404040 !important;
//  font-size: 10px !important;
//  line-height: 12px !important;
//  text-transform: uppercase !important;
//  font-weight: 900 !important;
//  font-style: normal !important;
//}
//
//#age_content .socialGlobalBtn {
//  height: auto !important;
//  -moz-border-radius: 0 !important;
//  -webkit-border-radius: 0 !important;
//}
//
//#age_content #age_select_country_group .pipe {
//  display: none !important;
//}
//
//#age_content .age_facebook_or_label {
//  font-size: 14px !important;
//  color: #9e9e9e !important;
//  line-height: 16px !important;
//  font-weight: bold !important;
//}
//
//#age_content #age_confirm button {
//  background-color: #404040 !important;
//  border: 1px solid #404040 !important;
//  -webkit-border-radius: 0 !important;
//  -moz-border-radius: 0 !important;
//  border-radius: 0 !important;
//}
//
//.age_privacy span {
//  text-align: center !important;
//  display: block;
//  width: 100%;
//  color: #404040 !important;
//}
//
//#age_remember_label .langable.age_remember_me_basic {
//  font-size: 14px !important;
//  color: #404040 !important;
//  line-height: 16px !important;
//  font-weight: bold !important;
//}
//
//#age_age_date_input_textfield input {
//  font-size: 24px !important;
//  background-color: #ececec !important;
//  border-radius: 0 !important;
//  border: none !important;
//  padding: 0 !important;
//  min-height: 70px !important;
//  color: #999999 !important;
//}
//
//#age_content #age_age_select_group {
//  width: 100% !important;
//}
//
//#age_content .age_birthdate .age_birth_title_label {
//  color: #999999 !important;
//}
//
//#age_select_year,
//#age_select_month,
//#age_select_day {
//  font-size: 24px !important;
//  background-color: #ececec !important;
//  border-radius: 0 !important;
//  border: none !important;
//  padding: 22px !important;
//  min-height: 70px !important;
//  color: #999999 !important;
//  text-transform: uppercase !important;
//}
//
//#age_select_year {
//  width: 26% !important;
//}
//
//#age_select_month {
//  width: 40% !important;
//}
//
//#age_select_day {
//  width: 26% !important;
//}

.mabo {
  margin-bottom: 40px;
  overflow: hidden;
}

.related-videos .pagination {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0;
  & > li:first-child > a,
  .pagination > li:first-child > span {
    display: none;
  }
  & > li:last-child > a,
  .pagination > li:last-child > span {
    display: none;
  }
  li a {
    border: 2px solid #ececec;
    font-size: 0;
    background: #d4d4d4;
    border-radius: 100% !important;
    padding: 5px;
  }
  li.active a {
    border: 2px solid $brand-primary;
    background: none;
    padding: 5px;
  }
  .pagination > .active > a,
  .pagination > .active > a:focus,
  .pagination > .active > a:hover,
  .pagination > .active > span,
  .pagination > .active > span:focus,
  .pagination > .active > span:hover {
    border: 2px solid $brand-primary;
    background: none;
  }
}

.related-videos {
  margin-top: 40px;
}

.related-videos .pagination li {
  margin-right: 3px;
  margin-left: 3px;
}

.white_cnt {
  width: 100%;
  padding: 80px;
  background: #fff;
  display: block;
  overflow: hidden;
}

.white_cnt2 h2 {
  font-size: 32px;
  line-height: 48px;
}

.white_cnt2 a {
  background: url(../images/right-arrow.png) no-repeat 0 50% !important;
  padding-left: 25px;
  color: #e68832;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
  font-family: ralewaybold, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.white_cnt2 a:hover {
  color: #333333;
  text-decoration: none;
}

.questions {
  margin-left: 26px;
  margin-bottom: 120px;
  display: block;
  list-style-type: decimal;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 40px;
}

ol.questions a, ol.questions a:visited {
  color: #8f8d8a;
  text-decoration: underline;
  cursor: pointer;
}

/* reformatted-sel */
.reformatted-sel {
  display: none !important;
}

.tag34 {
  font-weight: 700;
}

.no-result-map {
  color: #484848;
  text-align: center;
  font-size: 16px;
  font-family: ralewaybold, sans-serif;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 22px;
  border-bottom: 1px solid #ddd;
  padding: 40px;
}

.no-result-map h1 {
  font-size: 21px;
  text-transform: none;
  margin: 0;
  visibility: visible;
  text-align: left;
}

/* btn-paginateer */
.btn-paginateer {
  background: url(../images/nav/filter-nav.png) no-repeat 90% 50% !important;
  color: #e68832;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
  padding: 15px;
  text-indent: -99999px;
  border-bottom: 1px solid #dddddd;
  overflow: hidden;
  width: 100%;
  cursor: pointer;
  display: none !important;
}

//UOSELECT
ul.oSelect {
  background: #ececec url(../../dist/images/select-icon.png) no-repeat scroll 100% 50%;
  border: 1px solid #c9c9c9;
  cursor: pointer;
  height: 58px;
  width: 100%;
  display: block;
  margin: 0;
}

ul.oSelect li {
  padding: 19px 92px 19px 20px;
  z-index: 2;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 20px;
  color: #404040;
  cursor: pointer;
  display: block;
  font-family: ralewaybold, sans-serif;
  letter-spacing: .05em;
}

ul.oSelect li:last-child {
  border-bottom: 1px solid #ccc;
}

ul.oSelect li.noinit {
  float: left;
  width: 100%;
  display: none;
  background: none;
  overflow: hidden;
  border-right: 1px solid #ccc;
  border-left: 1px solid #ccc;
  margin: -1px 0 0px;
  padding: 4px 20px;
  border-top: 0 none;
}

ul.oSelect li.noinit:hover,
ul.oSelect li.selected.noinit {
  background: #d9d9d9;
}

ul.oSelect li.init {
  cursor: pointer;
}

/* reimager */
.reimager {
  background-color: #404040;
}

.reloader {
  background: #484848 url(../../dist/images/ajax-loader.gif) no-repeat scroll 50% 50%;
  display: block;
}

.locationDirections .squareBtn,
.directionsBtn {
  background: transparent url(../../dist/images/wtb/icon-directions.png) no-repeat scroll 0 50%;
  padding: 6px 0 0 24px;
  min-height: 20px;
  display: inline-block;
  vertical-align: top;
  visibility: visible;
  font-family: ralewayblack, sans-serif;
  font-size: 14px;
  text-transform: uppercase;
}

.locationDirections a {
  color: #e68832 !important;
  text-transform: uppercase;
  font-family: ralewayblack, sans-serif;
}

.locationDirections a:hover {
  color: #e68832 !important;
  text-decoration: underline;
}

.navbar-inverse.navbar-fixed-top-2 .aside-fix ul li.icon-search-stamina:before,
.navbar-inverse.navbar-fixed-top-2 .aside-fix ul li.icon-share-stamina:before {
  display: block;
  visibility: visible;
}

.eCommArea a {
  text-transform: uppercase;
  letter-spacing: .1em;
  font-size: 14px;
  display: inline-block;
  vertical-align: top;
  padding: 25px 40px 0;
  float: none;
}

.eCommArea a span {
  padding-bottom: 20px;
  display: block;
  width: 100%;
}

.eCommArea div.img {
  display: block;
  overflow: hidden;
  width: 100%;
}

.eCommArea img {
  max-height: 50px;
  width: auto;
  margin: 0 20px;
  max-width: 180px;
}

/* MAP WRAPPER
------------------------------------------------------------------------*/
.map-wrapper *,
.map-wrapper #map *,
.map-wrapper #map div {
  box-shadow: rgb(0, 0, 0) 0 0 0 !important;
}

#locations.col-xs-12 {
  max-height: 794px;
  overflow: auto;
}

/* megaul */
.megaul {
  margin: 15px 0;
}

.megaul li {
  list-style: disc inside;
  font-size: 14px;
  color: #aaaaaa;
  line-height: 1.8;

}

/* wb-tphp */
a.wb-sl {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 986765;
  overflow: hidden;
  border: none;
  background: none;
  display: inline-block;
  vertical-align: top;
  color: #ffffff;
  font-size: 11px;
  cursor: pointer;
  text-decoration: none;
  padding: 3px;
  width: 1px;
  height: 1px;
  font-weight: bold;
}

a.wb-sl:focus,
a.wb-sl:hover {
  border: 1px solid #e68832;
  background: #e68832;
  width: auto;
  height: auto;
}

.wb-inv {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  margin: 0;
  overflow: hidden;
  position: absolute;
  width: 1px;
}

/* type-description22 */
.taxonomy-drinktype-recipes-box2 .type-description22 {
  line-height: 24px;
}

/* myNutriTable */
.myNutriTable tr td {
  text-transform: capitalize;
}

.table-striped.myNutriTable thead th p {
  font-family: ralewaybold, sans-serif;
  color: #555;
  line-height: normal;
  margin: 0;
}

.myNutriTable tr td p {
  margin: 0;
}

/* seo-breadcrumbs */
.seo-breadcrumbs {
  position: fixed;
  z-index: 987654321;
  top: 91px;
  left: 0;
  background: red;
  overflow: hidden;
  color: #fff;
  padding: 10px;
  width: auto;
  height: auto;
  display: none !important;
  vertical-align: top;
}

/* select-with-box-format-select-box
----------------------------------------------------------------*/
::i-block-chrome, .select-with-box-format-select-box {
  top: 14px;
  position: relative;
  z-index: 1;
  left: 12px;
  text-transform: uppercase;
}

/*----------------------------------------------------------------*/
/* PARCHE */
/*----------------------------------------------------------------*/
#sidebar-wrapper .search-page .results .result-block ul li a {
  padding: 5px 0;
  border: 0;
  text-transform: uppercase;
}

#sidebar-wrapper .search-page .results {
  padding-top: 25px;
}

#sidebar-wrapper .search-page .results .result-block {
  padding: 20px 0;
}

/*----------------------------------------------------------------*/
/* HAPPY HOUR */
/*----------------------------------------------------------------*/

.desc-hh {
  display: block;
  width: 100%;
  text-align: center;
  overflow: hidden;

  strong {
    font-family: ralewaybold, sans-serif;
  }
}

.block-origins-hh {
  .orange p {
    font-size: 26px;
    line-height: 40px;
    margin: 0;
    margin-bottom: 10px;
    font-family: elephantregular, serif;
    color: #e68832 !important;
  }

  b, strong {
    color: #e68832 !important;
  }
}

.block-origins-img-hh {
  max-width: 1080px;
  min-height: 1px;

  &.block.block-origins {
    min-height: 1px;
    margin: 0 auto;
    max-width: 1080px;
  }
  .block-origins-img-hh-image {
    max-width: 540px;
    min-height: 1px;
    width: 100%;
    margin: 0 auto;
    display: block;
    overflow: hidden;
  }

  img {
    max-width: 540px;
    min-height: 1px;
    width: 100%;
  }
}

.videoWrapper {
  width: 100%;
  overflow: hidden;
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.videoWrapperTop {
  margin-top: 60px;
}

.video560 {
  max-width: 560px;
  margin: 0 auto;
  display: block;
  overflow: hidden;
  float: none;
}

/* hero-inside */
.containerTop {
  margin-top: -538px;
}

.hero-inside-hh {
  height: auto;
  position: relative;
}

.recipe-landing .related .box-desc {
  display: inline-block;
  overflow: hidden;
  vertical-align: top;
}

.recipe-landing .pinit {
  max-width: 25%;
  padding: 20px 0;
  display: inline-block;
  vertical-align: top;
  float: right;

  .pinit-a {
    max-width: 28px;
  }

  img {
    width: 100%;
  }

}

.social-box a {
  padding-top: 5px !important;
}

.social-box a#thepinterest {
  padding-top: 0 !important;
}

.social-box a#thefacebook {
  padding-top: 0 !important;
}

.social-box a#thetwitter {
  padding-top: 0 !important;
}

.theHoverPinterest2,
.theHoverPinterest {
  position: relative;
  z-index: 1;
}

.theHoverPinterest2 .theHoverPinterestBox,
.theHoverPinterest .theHoverPinterestBox {
  display: none;
  width: 32px;
  height: 32px;
  position: absolute;
  z-index: 9;
  top: 10px;
  left: 10px;
  padding: 0;
}

.theHoverPinterest2:hover .theHoverPinterestBox,
.theHoverPinterest:hover .theHoverPinterestBox {
  display: block;
}

.seo-reference {
  color: deeppink !important;
  display: none !important;
}

/* full-page-brands-detail */
.full-page-brands-detail .brands-h2 {
  color: #404040;
  margin: 0;
  font-size: 72px;
  font-family: elephantregular, serif;
}

.full-page-brands-detail .brands-h1 {
  font-size: 32px;
  color: #222;
  margin: 0;
  margin-bottom: 10px;
  font-family: elephantregular, serif;
}

a:link, a:visited {
  background-color: inherit;
  color: #333 !important;
  text-decoration: none !important;
}

body a:-webkit-any-link {
  color: #333;
}

#cookiebanner {
  width: 100% !important;
  overflow: hidden !important;
  padding: 10px !important;
}

#cookiebanner p {
  padding: 0 10px !important;
  margin: 0 !important;
}

/* MAPBOX FIX */
/*---------------------------------------------------------------------------*/
.map-wrapper #map {
  background: #ffffff url(../../dist/images/ajax-loader-map.gif) no-repeat scroll 50% 50%;
}

.mapboxgl-ctrl-geocoder {
  box-shadow: 0 0 0 0px rgba(0, 0, 0, 0) !important;
  background: none !important;
  min-height: 50px !important;
  width: 100% !important;
}

.search-wtb #search input {
  max-width: 100% !important;
  width: 100% !important;
  height: 50px !important;
  font-weight: 900 !important;
  text-transform: uppercase !important;
  letter-spacing: 1px !important;
  color: #aaa !important;
  font-size: 12px !important;
}

.mapboxgl-ctrl-geocoder .geocoder-pin-right *,
.mapboxgl-ctrl-geocoder .geocoder-icon-search {
  top: 15px !important;
}

.mapboxgl-map .mapboxgl-marker.mapboxgl-marker-anchor-center p {
  line-height: 48px;
}
