/*--------------------------------------------------------------------------------------------------------------------*/
/* MOBILE MEDIA QUERIES
----------------------------------------------------------------------------------------------------------------------*/

/*--------------------------------------------------------------------------------------------------------------------*/
/* @media screen and (max-width: 1800px)
----------------------------------------------------------------------------------------------------------------------*/

@media screen and (max-width: 1800px) {
  .container {
    width: 100%;
    max-width: 1170px;
  }

  /* NAVBAR */
  .navbar-inverse .aside-fix ul li a {
    padding: 0 30px;
  }

  /* WTB */
  .search-wtb #search,
  .search-wtb #brands,
  .search-wtb #variants {
    width: 18%;
  }

  .search-wtb .btn.wtb-button {
    float: none;
    width: 10%;
  }

  .search-wtb .container-fluid {
    text-align: center;
  }
}

/*--------------------------------------------------------------------------------------------------------------------*/
/* @media screen and (max-width: 1420px)
----------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width: 1420px) {
  .container {
    width: 100%;
    max-width: 1170px;
  }

  /* NAVBAR */
  .navbar-inverse .aside-fix ul li a {
    padding: 0 30px;
  }

  /* WTB */
  .search-wtb #search,
  .search-wtb #brands,
  .search-wtb #variants {
    width: 18%;
  }

  .search-wtb .btn.wtb-button {
    float: none;
    width: 10%;
  }

  .search-wtb .container-fluid {
    text-align: center;
  }

}

/*--------------------------------------------------------------------------------------------------------------------*/
/* @media screen and (max-width: 1300px)
----------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width: 1300px) {
  .container {
    width: 100%;
    max-width: 1170px;
  }

  /* NAVBAR */
  .navbar-inverse .aside-fix ul li a {
    padding: 0 30px;
  }

  /* NAVBAR */
  .navbar-inverse .aside-fix ul li a {
    padding: 0 30px;
  }

  /* WTB */
  .search-wtb #search,
  .search-wtb #brands,
  .search-wtb #variants {
    width: 18%;
  }

  .search-wtb #brands {
    float: left;
  }

  .search-wtb .btn.wtb-button {
    float: none;
    width: 10%;
  }

  .search-wtb .container-fluid {
    text-align: center;
  }

  .where-to-box-box .search-wtb .container-fluid {
    min-width: 100%;
  }

  .where-to-box-box .search-wtb #search {
    width: 100%;
  }

  .where-to-box-box .search-wtb #search input {
    max-width: 100%;
    width: 100% !important;
  }

  .where-to-box-box .search-wtb #variants {
    width: 100%;
  }

  .where-to-box-box .search-wtb input.width-include,
  .where-to-box-box .search-wtb select.width-include {
    max-width: 100%;
    min-width: 0;
    width: 100% !important;
  }

  .where-to-box-box .search-wtb select {
    max-width: 100%;
    width: 100%;
  }

  .where-to-box-box .search-wtb #brands {
    display: block !important;
    overflow: hidden;
    width: 100%;
  }

  .where-to-box-box .search-wtb #brands {
    display: none !important;
    overflow: hidden;
    width: 100%;
  }

  .where-to-box-box .search-wtb #loctype {
    text-align: center;
    width: 100%;
  }

  .where-to-box-box .search-wtb .btn.wtb-button {
    display: block;
    float: none;
    margin: 14px auto 0;
    width: 40%;
  }

  /* .full-page-brands .hero-recipes .block */
  .full-page-brands .hero-recipes .block {
    padding: 80px !important;
  }

}

/*--------------------------------------------------------------------------------------------------------------------*/
/* @media screen and (max-width: 1220px) ------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width: 1220px) {
  .container {
    max-width: 960px;
    width: 100%;
  }

  .triangle-search {
    display: none !important;
  }

  .search-wtb .container-fluid {
    min-width: 960px;
  }

  .desktop-view {
    display: none !important;
  }

  .mobile-view {
    display: block !important;
  }

  .navbar > .container-fluid .navbar-brand, .navbar > .container .navbar-brand {
    margin-left: 0 !important;
  }

  #page-content-wrapper .search-page {
    display: none !important;
  }

  /* NAVBAR */
  #menu-toggle {
    display: block;
  }

  .navbar-header {
    float: none;
  }

  .navbar-left, .navbar-right {
    float: none !important;
  }

  .home-landing .tag {
    font-weight: 700 !important;
  }

  .home-landing .pro-tip.text-center {
    text-align: center !important;
  }

  .home-landing .pro-tip.text-center .text-icon {
    padding: 10px 80px 40px 80px;
  }

  .home-landing .recipe-det a {
    padding: 0;

  }

  .home-landing .recipe-det a:hover {
    background: none;
    color: #484848;
    text-decoration: none;
  }

  .home-landing .recipe-det {
    border: 0 none;
  }

  .navbar-toggle {
    display: block;
  }

  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  }

  #wrapper.toggled .navbar-fixed-top-2 {
    top: 0;
    border-top: 20px solid #242424;
    transition: 0.2s all ease;
  }

  .navbar-collapse.collapse {
    display: none !important;
  }

  .navbar-nav {
    float: none !important;
    margin-top: 7.5px;
  }

  .navbar-nav > li {
    float: none;
  }

  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .collapse.in {
    display: block !important;
  }

  .navbar-brand {
    float: none;
    padding: 0;
    font-size: 18px;
    line-height: 20px;
    height: auto;
    display: inline-block;
    vertical-align: top;
  }

  .navbar-inverse .navbar-header-menu {
    background: #2e2e2e none repeat scroll 0 0;
    display: block;
    text-align: center;
    width: 100%;
  }

  .navbar-inverse .navbar-header-menu .navbar-brand img {
    display: inline-block;
    vertical-align: top;
    padding: 22px;
  }

  /* SEARCH */
  .search-page {
    display: block;
    height: auto !important;
    background: #222;
    width: 100%;
    left: 0;
    z-index: 99999999999;
    top: 0;
    position: relative;
  }

  .search-page .form-group {
    position: relative;
    margin: 0;
    min-height: 100%;
  }

  .search-focus {
    background: #333 none repeat scroll 0 0;
    border-bottom: 0 solid #000;
    color: white;
    font-family: elephantregular, serif;
    font-size: 44px;
    padding: 40px 34px;
  }

  .search-focus::-webkit-input-placeholder {
    color: #555;
  }

  .search-field {
    padding: 40px 34px;
    background: #222;
    border-bottom: none;
    color: white;
  }

  .search-field::-webkit-input-placeholder {
    color: #555;
  }

  .results {
    padding: 40px 64px;
  }

  .results hr {
    display: none;
  }

  .results h5 {
    color: #555;
    font-size: 16px;
    letter-spacing: 1px;
  }

  .results li {
    color: white;
  }

  .result-block {
    margin-bottom: 30px;
  }

  .result-block:after {
    width: 100%;
    position: absolute;
    height: 1px;
    content: "";
    background: #000;
    left: 0;
    margin: 10px 0;
  }

  /* HOME */
  .block-ocassion .block {
    padding: 70px;
    text-align: center;
  }

  .block-ocassion .block h1 {
    text-align: center !important;
    width: auto !important;
    display: block;
  }

  .orange-flag-center {
    top: -70px !important;
  }

  .mobile-view .home-recipe {
    padding: 35px;
    margin-top: 0;
    width: 90%;
    top: 0;
    z-index: 987;
    display: block;
    overflow: hidden;
    position: relative;
  }

  .mobile-view .primary-recipe {
    margin-bottom: 64px;
  }

  .mobile-view .three-h {
    height: 360px !important;
  }

  .mobile-view .pro-tip-box.primary-recipe {
    margin-bottom: 64px;
    min-height: 100%;
  }

  .mobile-view .pro-tip .text-icon {
    margin-top: 0;
    top: 0;
    width: 100%;
  }

  .subtitles.subtitles-grey {
    color: #989898;
    margin-bottom: 40px;
  }

  .mobile-view .pro-tip-box .pro-tip.two-h {
    overflow: hidden;
    padding: 0 40px 40px;
    margin-bottom: -136px;
  }

  .pro-tip .tag {
    top: -40px;
  }

  .home-landing.mobile-view .hero {
    height: 100% !important;
    position: relative;
    z-index: 9;
    min-height: 400px;
  }

  .mobile-view .primary-recipe {
    margin-bottom: 64px;
  }

  .mobile-view .home-recipe-box {
    margin-top: -150px;
  }

  .mobile-view .pro-tip {
    background: #fff;
    text-align: left;
    padding: 40px 40px;
    position: relative;
    display: block;
    overflow: hidden;
  }

  /* MENU 1024 */
  .mobile-right-view {
    display: none;
    position: absolute;
    z-index: 987;
    width: 183px;
    top: 0;
    right: 0;
  }

  .mobile-right-view .icon-search-stamina, .mobile-right-view .icon-share-stamina {
    float: right;
    display: block;
  }

  .mobile-right-view ul li.icon-search-stamina a {
    background: url(../../dist/images/search-2.png);
    width: 70px;
    display: block;
    overflow: hidden;
    height: 70px;
    margin: 0;
    text-indent: -99999px;
    padding: 0;
    border: 0;
  }

  .mobile-right-view ul li.icon-search-stamina a:hover {
    background: url(../../dist/images/search-hover.png);
  }

  .mobile-right-view ul li.icon-share-stamina a.dropdown-toggle {
    background: url(../../dist/images/nav/share-2.png);
    width: 70px;
    display: block;
    overflow: hidden;
    height: 70px;
    /*            margin: 0 0 0 113px;*/
    text-indent: -99999px;
    padding: 0;
    border: 0;
  }

  .mobile-right-view ul li.icon-share-stamina a.dropdown-toggle:hover {
    background: url(../../dist/images/nav/share-hover.png);
  }

  .mobile-right-view ul li.icon-share-stamina.open a.dropdown-toggle {
    background: url(../../dist/images/nav/share-active.png);
  }

  #navbar.navbar-collapse {
    padding-right: 0;
    padding-left: 0;
  }

  #navbar.navbar-collapse ul li.icon-share-stamina, #navbar.navbar-collapse ul li.icon-search-stamina {
    display: none;
  }

  .navbar-inverse .aside-fix ul li.nav-parent a {
    background: none;
    line-height: 40px;
    font-size: 16px;
    color: #fff;
    font-weight: 700;
  }

  .navbar-inverse .aside-fix ul li.nav-parent a:hover {
    background-color: #e88823;
  }

  .navbar-inverse .navbar-toggle:hover .icon-bar {
    background-color: #e88823;
  }

  .navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > li > a:hover {
    color: #fff;
    background-color: #e88823;
  }

  .navbar-inverse .aside-fix ul li a {
    padding: 0 26px;
    font-size: 16px;
    line-height: 40px;
    color: #ffffff;
  }

  .navbar-nav > li:hover {
    background: none;
  }

  .navbar-inverse .aside-fix ul li a {
    padding: 0 26px;
    font-size: 16px;
    color: #fff;
    font-weight: 700;
  }

  #navbar .navbar-nav {
    float: none !important;
    margin-top: 0;
  }

  #navbar .navbar-nav > li {
    float: none;
    border-bottom: 1px solid #101010;
    border-top: 1px solid #484848;
  }

  .navbar-header {
    width: 100%;
    position: relative;
    z-index: 1;
    margin: 0 !important;
  }

  /* search mobile */
  .multi-column-dropdown li a {
    padding: 0 !important;
  }

  #wrapper.toggled #page-content-wrapper {
    padding: 20px;
    position: relative;
    display: block;
    width: 100%;
    min-width: 480px;
  }

  #sidebar-wrapper .navbar-inverse .search-mobile {
    background: #292929;
    padding: 25px 25px;
    display: block;
    position: relative;
    z-index: 2;
  }

  #sidebar-wrapper .navbar-inverse .search-mobile button {
    right: 20px;
    top: 50%;
    position: absolute;
    overflow: hidden;
    display: block;
    border: none;
    font-size: 30px;
    background-image: url(../../../dist/images/nav/icon-lupa.png);
    background-color: transparent;
    width: 33px;
    height: 34px;
    text-indent: -99999px;
    margin-top: -17px;
  }

  #sidebar-wrapper .navbar-inverse .search-mobile input {
    background: none;
    border: none;
    color: #4d4d4d;
    font-size: 24px;
    font-family: Playfair Display, serif;
    width: 100%;
    display: block;
    overflow: hidden;
  }

  #sidebar-wrapper #navbar .navbar-nav {
    float: none !important;
    margin-top: 0;
    right: 0;
    margin-right: 0;
    margin-left: 0;
  }

  #sidebar-wrapper #navbar .navbar-nav > li {
    float: none;
    border: 0 none;
    border-bottom: 1px solid #2e2e2e;
    border-top: 0 solid transparent;
  }

  #sidebar-wrapper #navbar .navbar-nav > li a {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0 !important;
    color: #fff;
    font-family: elephantregular, serif;
    font-size: 20px;
    letter-spacing: 0.1em;
    line-height: 70px;
    padding: 5px 0;
    text-transform: capitalize;
  }

  #sidebar-wrapper #navbar .navbar-nav > li a.text-up {
    font-family: ralewayregular, sans-serif !important;
  }

  #sidebar-wrapper #navbar .navbar-nav > li.nav-parent {
    padding: 15px 34px;
  }

  #sidebar-wrapper #navbar .navbar-nav > li.dropdown:hover:after {
    width: 0;
  }

  #sidebar-wrapper #navbar .navbar-nav > li.dropdown .dropdown-toggle:after {
    border-top: transparent !important;
    padding: 20px 64px;
    width: 100% !important;
  }

  #sidebar-wrapper #navbar .navbar-nav > li.dropdown.open {
    top: 0;
    position: absolute;
    z-index: 99999999999;
    width: 100%;
    padding: 0;
  }

  #sidebar-wrapper #navbar .navbar-nav > li.dropdown.open:after {
    top: 116px;
    width: 100% !important;
  }

  #sidebar-wrapper #navbar .navbar-nav > li.dropdown.open .dropdown-toggle {
    background-color: #333 !important;
    font-size: 44px;
    transition: top 0.2s linear;
    padding: 30px 50px;
    height: 120px;
  }

  #sidebar-wrapper #navbar .navbar-nav > li.dropdown.open .dropdown-toggle:after {
    border-top: transparent !important;
    padding: 20px 64px;
    width: 100% !important;
  }

  #sidebar-wrapper #navbar .navbar-nav > li.dropdown span.caret2 {
    background: url(../../dist/images/nav/icon-caret.png) 0 0 no-repeat;
    width: 29px;
    height: 18px;
    position: absolute;
    z-index: 98;
    top: 50%;
    right: 15px;
    display: block;
    text-indent: -99999px;
    overflow: hidden;
    margin-top: -7px;
  }

  #sidebar-wrapper #navbar .navbar-nav > li.dropdown .dropdown-menu {
    background: #222 none repeat scroll 0 0;
    border: medium none;
    height: 100vh;
    padding: 30px 50px !important;
    width: 100%;
  }

  #sidebar-wrapper #navbar .navbar-nav > li.dropdown .dropdown-menu li, #sidebar-wrapper #navbar .navbar-nav > li.dropdown .dropdown-menu a, #sidebar-wrapper #navbar .navbar-nav > li.dropdown .dropdown-menu h3 {
    color: white !important;
  }

  #sidebar-wrapper #navbar .navbar-nav > li.dropdown .dropdown-menu .multi-column-dropdown {
    padding: 0;
  }

  #sidebar-wrapper #navbar .navbar-nav > li.dropdown .dropdown-menu .multi-column-dropdown li, #sidebar-wrapper #navbar .navbar-nav > li.dropdown .dropdown-menu .multi-column-dropdown a, #sidebar-wrapper #navbar .navbar-nav > li.dropdown .dropdown-menu .multi-column-dropdown h3 {
    color: white !important;
  }

  /* BRANDS */
  .slick-slide .block {
    padding: 30px;
    width: 100% !important;
    overflow: hidden;
    margin: auto;
  }

  .all-page.full-page-brands .hero-to-brands .slick-prev {
    left: 50% !important;
    margin-top: 29px;
    margin-left: -75px;
  }

  .all-page.full-page-brands .hero-to-brands .slick-next {
    right: 50% !important;
    margin-top: 29px;
    margin-right: -75px;
  }

  /* SPIRITS */
  .spirits-boxes {
    max-height: 100% !important;
    height: auto !important;
    margin-top: 0 !important;
  }

  .block-s {
    min-height: 150px;
    border-bottom: 1px solid #555 -lighter;
  }

  .h2-list-spirits, .ul-list-spirits {
    text-align: center;
  }

  .spirits-boxes .block-img img {
    max-width: 100%;
  }

  .spirits-boxes .box-white .block .desc {
    min-height: auto;
    max-height: 100%;
    padding-bottom: 0;
  }

  .spirits-boxes.odd .box-white {
    float: right;
  }

  .spirits-boxes.odd .box-image {
    float: left;
  }

  .spirits-boxes.even .box-white {
    float: left;
  }

  .spirits-boxes.even .box-image {
    float: right;
  }

  .first-line-type {
    margin-top: 0;
  }

  .box-block-ing-ang .block {
    margin-top: 0;
  }

  .block.blocks-types .block-area {
    min-height: 1px;
    background: #ffffff none repeat scroll 0 0;
    border-bottom: 2px solid #ddd;
  }

  /* SPIRITS DETAILS */
  .steps-box .block.block-origins {
    padding: 50px 50px 30px;
    margin-top: 30px;
  }

  .steps-box .box-content-malt {
    z-index: 1;
    max-height: 100%;
  }

  .steps-box .malt-info {
    top: -200px;
  }

  .steps-box .malt-versus-img {
    max-height: 100%;
  }

  .steps-box .box-unique-single {
    height: auto;
    margin-bottom: 50px;
  }

  .steps-box .box-unique-line {
    top: 0;
  }

  .steps-box .box-unique-distillary {
    top: -1px;
  }

  .steps-box .box-unique-first {
    height: auto;
  }

  .steps-box .box-content-malt-singles .box-singles .block {
    padding: 50px 40px 30px;
  }

  .steps-box .block.block-origins-img {
    padding: 0;
    margin-top: 0;
    text-align: center;
    padding-bottom: 80px;
  }

  .steps-box .col-mb80 {
    margin-bottom: 50px;
  }

  .steps-box .block-where-come .block {
    padding: 80px;
    margin: 0;
  }

  .steps-box .box-map-img {
    margin-top: 50px;
  }

  .steps-box .box-block-versus .block {
    padding: 80px;
    margin-top: 30px;
  }

  .steps-box .block.blocks-types h2 {
    padding: 35px 55px;
  }

  .steps-box .block.blocks-types .desc {
    min-height: 110px;
  }

  .steps-box .malt-info .block {
    padding: 50px;
    margin-top: 80px;
  }

  .box-content-malt-singles .box-singles {
    border-right: 0 none;
  }

  /* FOOTER */
  .social-inline {
    margin-bottom: 40px;
    display: block;
    overflow: hidden;
  }

  .links-footer-box {
    display: block;
    overflow: hidden;
    width: 100%;
  }

  /* DETAILS SPIRITS */
  .step-2-spirits .box-detail-large-header-alt {
    margin: 60px 0;
    display: block;
  }

  .box-black.blox-spirits-menu ul li a {
    text-align: center;
  }

  .block.blocks-types h4,
  .block.blocks-types .block-area {
    text-align: center;
  }

  .block.blocks-types {
    margin-top: 270px;
  }

  .box-white-black.box-higher .box-black .block,
  .box-white-black.box-expiration .box-black .block {
    text-align: center !important;
  }

  .box-white-black.box-higher h4,
  .box-white-black .box-black .desc p,
  .box-white-black.box-expiration h4 {
    text-align: center;
  }

  .block.blocks-types .block-area {
    border-left: 0 none;
    border-right: 0 none;
  }

  .box-block-ing-ang .block {
    padding: 80px;
    margin-top: 80px;
    margin-bottom: 0;
    text-align: center;
  }

  .radius-box.radius-box-white {
    background: #555 -lighter;
    margin: 20px auto;
  }

  .radius-box.radius-box-white img {
    display: inline-block;
  }

  .box-howdoyoutake {
    padding-top: 92px;
    display: block;
    overflow: hidden;
    text-align: center;
  }

  /* blox-spirits-menu */
  .blox-spirits-menu h2 {
    text-align: center;
  }

}

/*--------------------------------------------------------------------------------------------------------------------*/
/* @media screen and (max-width: 1280px)
----------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width: 1280px) {
  /* search wtb */
  .search-wtb #search {
    width: 100%;
  }

  .search-wtb select {
    max-width: 100%;
    width: 100%;
  }

  .search-wtb #search input {
    max-width: 100%;
    width: 100%;
  }

  .search-wtb #brands {
    overflow: hidden;
    width: 48%;
  }

  .search-wtb #variants {
    float: right;
    margin-right: 0;
    overflow: hidden;
    width: 49%;
  }

  .search-wtb #loctype {
    padding: 15px 0 0;
    text-align: right;
    width: 60%;
  }

  .search-wtb .btn.wtb-button {
    float: right;
    margin-right: 140px;
    width: 14%;
  }

  .search-wtb .container-fluid {
    text-align: left;
  }
}

/*--------------------------------------------------------------------------------------------------------------------*/
/* @media screen and (max-width: 1140px)
----------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width: 1140px) {
  /* BRANDS */
  .slick-slide .block {
    padding: 30px;
    width: 100% !important;
    overflow: hidden;
    float: none !important;
    margin: auto;
  }
}

/*--------------------------------------------------------------------------------------------------------------------*/
/* @media screen and (max-width: 1220px - 600px)
----------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width: 1220px) and (min-width: 600px) {
  .site-content {
    overflow: hidden;
    display: block;
    width: 100%;
    padding-top: 100px;
  }

  .navbar-inverse .navbar-header-menu {
    background: #333 none repeat scroll 0 0;
    display: block;
    text-align: center;
    width: 100%;
    min-height: 100px;
  }

  .show-in-desk {
    display: none !important;
  }

  .navbar-inverse .navbar-header-menu .navbar-brand img {
    display: inline-block;
    vertical-align: top;
    padding: 32px;
  }

  .show-in-mob {
    display: block !important;
  }

  #menu-toggle {
    margin: 33px 24px;
  }

  .mobile-right-view ul li.icon-share-stamina a.dropdown-toggle {
    background: url(../../dist/images/share-mob-icon.png) 50% 50% no-repeat !important;
    width: 100px;
    display: block;
    overflow: hidden;
    height: 100px;
    text-indent: -99999px;
    padding: 33px 35px;
    border: 0;
  }

  .navbar-default-mobile ul li.icon-share-stamina.open a.dropdown-toggle,
  .navbar-inverse .aside-fix ul li.icon-share-stamina.open a.dropdown-toggle {
    background: #e88823 url(../../dist/images/share-mob-icon.png) 50% 50% no-repeat !important;
    border: none;
  }

  /* all-page full-page-brands */
  .all-page.full-page-brands .hero-to-brands .slick-prev {
    left: 50% !important;
    margin-top: 68px;
    margin-left: -75px;
  }

  .all-page.full-page-brands .hero-to-brands .slick-next {
    right: 50% !important;
    margin-top: 68px;
    margin-right: -75px;
  }

}

/*--------------------------------------------------------------------------------------------------------------------*/
/* @media screen and (max-width: 1080px)
----------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width: 1080px) {
  .container {
    max-width: 960px;
    width: 100%;
  }

  .search-wtb .container-fluid {
    min-width: 960px;
  }

  /* search wtb */
  .search-wtb #search {
    width: 100%;
  }

  .search-wtb select {
    max-width: 100%;
    width: 100%;
  }

  .search-wtb #search input {
    max-width: 100%;
    width: 100%;
  }

  .search-wtb #brands {
    overflow: hidden;
    width: 48%;
  }

  .search-wtb #variants {
    float: right;
    margin-right: 0;
    overflow: hidden;
    width: 49%;
  }

  .search-wtb #loctype {
    padding: 15px 0 0;
    text-align: right;
    width: 60%;
  }

  .search-wtb .btn.wtb-button {
    float: right;
    margin-right: 140px;
    width: 14%;
  }

  .search-wtb .container-fluid {
    text-align: left;
  }

  /* DETAILS SPIRITS */
  .box-chapter {
    text-align: center;
  }

  .mh160 {
    min-height: 100%;
  }

  .steps-box .block.blocks-types .desc {
    min-height: 100%;
  }

  .full-wipper .title-inside h1 {
    margin-bottom: 0;
  }

  .box-expiration .block {
    margin-bottom: 60px;
  }

  .box-higher .block {
    margin-top: 0;
  }

  .box-expiration .block {
    margin-top: 60px;
  }

  .box-howdoyoutake .line-time-img {
    position: relative;
    margin: 0 auto;
  }

  .box-howdoyoutake .line-time-box {
    margin: 0 auto;
    text-align: center;
  }

  .box-howdoyoutake .lime-time-content.even .line-time-box {
    padding: 0;
  }

  .box-howdoyoutake .lime-time-content.odd .line-time-box {
    padding: 0;
  }

  .steps-box.step-4-spirits .brand h2, .steps-box.step-4-spirits .related h2 {
    text-align: left;
  }

  .box-howdoyoutake .line-time {
    padding-top: 50px;
    background: none;
  }

  #step-3-spirits .box-chapter, #step-4-spirits .box-chapter {
    float: right;
    margin: -50px 0 50px;
    max-width: 480px;
  }

  /* container-fluid */
  .navbar.navbar-inverse .container-fluid {
    padding-left: 0;
    padding-right: 0;
  }

  /* occasions */
  .box-black-occasions .margin-lateral {
    margin-right: 0;
  }

  .full-page-occasions-landing .slick-dots {
    bottom: 0 !important;
  }

  .full-page-occasions-landing .hero-recipes .slick-prev {
    margin-top: -5px;
  }

  .full-page-occasions-landing .hero-recipes .slick-next {
    margin-top: -5px;
  }

  .full-page-occasions-landing .hero-recipes .block {
    height: 400px !important;
  }

  #searchBox {
    max-width: 500px;
  }

  .spirits-boxes .box-white .block {
    margin-top: 0;
    max-height: 400px !important;
    height: 400px !important;
    min-height: 400px;
  }

  /**/
  .hero-recipes.hero-recipes-fix .block {
    padding: 80px 40px !important;
    max-width: 94% !important;
    margin-right: 3% !important;
    margin-left: 0 !important;
  }

  .hero-recipes.hero-recipes-fix2 .block {
    padding: 80px 40px !important;
    max-width: 100% !important;
    margin-right: 0 !important;
    margin-left: 0 !important;
  }

  .hero-recipes .slide-width {
    width: 100%;
    background-position: 0 0;
    background-size: auto 100%;
  }
  .all-page.full-page-brands .hero-to-brands .slick-dots {
    bottom: -29px !important;
    max-width: 94%;
  }

  .full-page-brands .hero-recipes .block.addfirstclass {
    padding: 80px 80px 80px 180px;
    margin-left: 6% !important;
  }

  .all-page.full-page-brands .hero-to-brands .slick-prev {
    left: 50% !important;
    margin-top: 38px;
    margin-left: -75px;
  }

  .all-page.full-page-brands .hero-to-brands .slick-next {
    right: 50% !important;
    margin-top: 38px;
    margin-right: -75px;
  }

  .recipe-landing.all-pages.full-page-recipes-landing .hero-recipes .pull-left-hl .block {
    max-width: 94% !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  .recipe-landing.all-pages.full-page-recipes-landing .hero-recipes .pull-right-hl .block {
    max-width: 94% !important;
    margin-right: 3% !important;
    margin-left: 6% !important;
  }

  .recipe-landing.all-pages.full-page-recipes-landing .hero-recipes .slick-dots {
    bottom: -29px !important;
    max-width: 94%;
  }

  .recipe-landing .hero-recipes .slick-prev {
    margin-top: 35px;
  }

  .recipe-landing .hero-recipes .slick-next {
    margin-top: 35px;
  }

  /* locationsList */
  #locationsList {
    visibility: hidden;
  }
  .paginateeer {
    display: block;
  }

  #map {
    min-height: 393px;
    float: left;
  }

  #locations {
    min-height: 1px;
    float: left;
  }

}

/*--------------------------------------------------------------------------------------------------------------------*/
/* @media screen and (max-width: 990px)
----------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width: 990px) {

  /* Double box */
  .double-box-second-row .recipe-det {
    margin-top: -1px;
  }

  /* footer menu */
  #dg_footer_wrapper_inner ul li:first-child a {
    padding-left: 0 !important;
  }

  /* reformatted-sel */
  .reformatted-sel {
    display: block !important;
  }

  .reformatted-sel-title-2,
  .box-black-occasions-2 {
    display: none !important;
  }

  .select-with-box-format-2 {
    width: 100%;
    margin: 0 auto 40px;
    float: none;
    max-width: 390px;
  }

  .select-with-box-format-2 .select-with-box-format-select-box {
    width: 408px;
  }

}

/*--------------------------------------------------------------------------------------------------------------------*/
/* @media screen and (max-width: 980px)
----------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width: 980px) {
  .eCommArea a {
    text-transform: uppercase;
    letter-spacing: .1em;
    font-size: 14px;
    display: block;
    width: 100%;
    padding: 20px;
  }
}

/*--------------------------------------------------------------------------------------------------------------------*/
/* @media screen and (max-width: 800px)
----------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width: 800px) {
  .container {
    width: 100%;
    max-width: 94%;
  }

  .search-wtb .container-fluid {
    min-width: 620px;
  }

  /* search wtb */
  .search-wtb #search {
    width: 100%;
  }

  /* tag */
  .tag11 {
    top: -50px;
  }

  .search-wtb #search input {
    max-width: 100%;
    width: 100%;
  }

  .search-wtb #brands {
    overflow: hidden;
    width: 48%;
  }

  .search-wtb #variants {
    float: right;
    margin-right: 0;
    overflow: hidden;
    width: 49%;
  }

  .search-wtb #loctype {
    padding: 15px 0 0;
    text-align: right;
    width: 60%;
  }

  .search-wtb #check-loctype {
    width: 100%;
  }

  .row.where-to-box-box .our-text {
    padding: 0 40px;
  }

  .row.where-to-box-box .search-wtb input[type="checkbox"] + label {
    display: block;
    margin: 20px 0;
    text-align: left;
    width: 100%;
  }

  .recipe-det {
    margin: -1px 0 0;
    padding: 10px;
  }

  .fuller.home-landing .recipe-det {
    padding: 0;
  }

  #searchBox {
    max-width: 246px;
  }

  /* block.blocks-types */
  .block.blocks-types .block-area {
    min-height: 100%;
    margin: 0;
    padding: 40px !important;
    text-align: left;
  }

  .block.blocks-types .block-area h3 {
    text-align: left;
  }

  .block.blocks-types .block-area .desc, .block.blocks-types .block-area strong {
    line-height: normal;
  }

  .block.blocks-types .block-area h4 {
    text-align: left;
  }

  .block.blocks-types .block-area h5 {
    text-align: left;
    margin-top: 10px;
    line-height: normal;
  }

  .box-block-ing-ang .block {
    padding: 0;
    margin: 80px 0;
  }

  /* HOME */
  .navbar-inverse .navbar-toggle {
    left: 5px;
  }

  .social-inline {
    margin-bottom: 40px;
    display: block;
    overflow: hidden;
  }

  .country-select-box {
    margin-bottom: 0;
  }

  .fuller.home-landing .recipe-cont-2 {
    text-align: left !important;
  }

  .fuller.home-landing .box-lear-more {
    text-align: left !important;
  }

  /* BRANDS */
  .hero-recipes .slick-prev {
    left: 50% !important;
    margin-top: 17px;
    margin-left: -75px;
  }

  .hero-recipes .slick-next {
    right: 50% !important;
    margin-top: 17px;
    margin-right: -75px;
  }

  .all-page.full-page-brands .hero-to-brands .slick-dots {
    bottom: -29px !important;
  }

  /* SPIRITS */
  .spirits-boxes {
    max-height: 100% !important;
    height: auto !important;
    margin-top: 0 !important;
  }

  .spirits-boxes .block-img img {
    max-width: 100%;
    width: 100%;
  }

  .fixed-1-col-position, .fixed-2-col-position, .fixed-3-col-position {
    float: none;
  }

  .spirits-boxes.odd .box-white, .spirits-boxes.even .box-white {
    float: right;
  }

  .spirits-boxes.odd .box-image, .spirits-boxes.even .box-image {
    float: left;
  }

  .full-page-spirits-step-3 .our-text {
    margin-top: 40px;
  }

  /* DETAILS SPIRITS */
  .block.block-origins {
    padding: 50px;
    margin-top: 30px;
  }

  .box-block-flavor .block,
  .full-wipper.box-unique-single .block {
    padding: 50px;
  }

  .steps-box .block.blocks-types .desc {
    min-height: 100%;
  }

  .mh160 {
    min-height: 100%;
  }

  .paginator {
    padding: 50px 15px;
  }

  .box-expiration .block, .box-higher .block {
    padding: 50px 0;
  }

  .box-lear-more {
    text-align: left;
  }

  /* DETAIL RECIPE */
  .recipe-det {
    margin: -1px 0 0;
  }

  .related-recipes {
    display: block;
    margin-top: 60px;
    overflow: hidden;
    width: 100%;
  }

  .recipe-cont-2 {
    text-align: center !important;
  }

  .related.recipe-text h2 a {
    text-align: center !important;
  }

  .recipeslider .slick-next {
    left: 94% !important;
    right: 0 !important;
  }

  .recipeslider .slick-prev {
    left: 90% !important;
  }

  .recipe-landing .hero-recipes .slick-prev {
    margin-left: -82px;
    margin-top: 19px;
  }

  .recipe-landing .hero-recipes .slick-next {
    margin-right: -82px;
    margin-top: 19px;
  }

  .tag {
    top: -50px;
  }

  .full-recipe-detail .media-no-bg {
    background: #ffffff !important;
  }

  .full-recipe-detail .media-no-bg h2 {
    padding-top: 15px;
  }

  .recipe-det.left {
    border: 1px solid #e4e4e4;
    margin-top: 50px;
  }

  h1 {
    font-size: 44px;
  }

  /* jumbo */
  .jumbo {
    margin: 45px 0 0;
  }

  /* copyright-line */
  .copyright-line {
    padding-top: 15px !important;
  }

  .roow-recipes-slider-by-type.dot-new-format .brand,
  .roow-recipes-slider-by-type.dot-new-format .related {
    float: left;
  }

  .box-black-occasions .margin-lateral {
    margin-right: 0;
  }

  /* SLICK FIXERS */
  .slick-formated-arrow .slick-prev {
    left: 50% !important;
    margin-left: -25px !important;
    right: inherit !important;
  }

  .slick-formated-arrow .slick-next {
    left: inherit !important;
    margin-right: -25px !important;
    right: 50% !important;
  }

  .pull-right-hl .pull-ubication {
    border-left: 1px solid #e3e3e3 !important;
  }

  .wood-bg {
    text-align: center;
  }

  .slick-big-4 .box-lear-more,
  .slick-big-4 .recipe-cont-2 {
    text-align: left !important;
  }

  /* product-tabs new-product-template */
  .product-tabs.new-product-template .img-responsive {
    display: inline-block;
    height: auto;
    max-width: 100%;
    vertical-align: top;
  }

  /* row how-to-mix-area-2 */
  .full-page-brands .hero-recipes .block {
    padding: 80px 40px !important;
  }

  .brand, .related {
    width: 50%;
  }

  /* occasions */
  .box-black-occasions {
    margin-bottom: 30px;
    margin-top: 40px;
  }

  /* articles */
  .full-page-articles-landing .articles-list-slide {
    margin-top: 40px;
  }

  .tag {
    top: -80px;
  }

  #sidebar-wrapper .search-focus {
    font-size: 24px;
    padding: 28px 30px !important;
  }

  #sidebar-wrapper .no-result-data {
    font-size: 14px;
  }

  /* tag678 */
  .tag678 {
    top: -50px;
  }
}

/*--------------------------------------------------------------------------------------------------------------------*/
/* @media screen and (max-width: 1040px)
----------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width: 1040px) {
  body {
    overflow: auto !important;
    position: relative !important;
  }

  /* agp */
  //#age_content {
  //  top: 10px !important;
  //}
  //
  //#age_content.is_mobile {
  //  padding: 10px !important;
  //}
  //
  //#age_content #age_header_subtitle {
  //  margin: 0 !important;
  //  padding-bottom: 0 !important;
  //}
  //
  //#age_content .age_terms {
  //  margin: 10px 0 0 0 !important;
  //}
  //
  //#age_content #age_header_subtitle span, #age_content .age_header_title span {
  //  font-size: 12px !important;
  //}
  //
  //#age_select_day, #age_select_month, #age_select_year {
  //  font-size: 16px !important;
  //  padding: 5px !important;
  //  min-height: 32px !important;
  //}
  //
  //#age_content .age_header_title {
  //  margin-top: 0 !important;
  //}

}

/*--------------------------------------------------------------------------------------------------------------------*/
/* @media screen and (max-width: 600px)
----------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width: 600px) {
  .mobile-right-view ul li.icon-share-stamina a.dropdown-toggle {
    background: url(../../dist/images/share-mob-icon.png) 50% 50% no-repeat !important;
    width: 70px;
    display: block;
    overflow: hidden;
    height: 70px;
    text-indent: -99999px;
    padding: 0;
    border: 0;
  }

  .navbar-default-mobile ul li.icon-share-stamina.open a.dropdown-toggle,
  .navbar-inverse .aside-fix ul li.icon-share-stamina.open a.dropdown-toggle {
    background: #e88823 url(../../dist/images/share-mob-icon.png) 50% 50% no-repeat !important;
    border: none;
  }
}

/*--------------------------------------------------------------------------------------------------------------------*/
/* @media screen and (max-width: 480px)
----------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width: 480px) {
  .container {
    width: 100%;
    max-width: 94%;
  }

  .search-wtb .container-fluid {
    min-width: 375px;
  }

  .mt90m {
    margin-top: 50px !important;
  }

  .full-page-articles-landing .limit-hero-title, .full-page-occasions-landing .limit-hero-title {
    text-align: center !important;
  }

  /* NAVBAR */
  .container-fluid > .navbar-collapse, .container-fluid > .navbar-header {
    margin-right: 0;
    margin-left: 0;
  }

  .container > .navbar-collapse, .container > .navbar-header {
    margin-right: 0;
    margin-left: 0;
  }

  /* HOME */
  .block-ocassion .block {
    padding: 70px 40px;
    text-align: center;
  }

  #sidebar-wrapper #navbar.navbar-collapse {
    padding-right: 0;
    padding-left: 0;
  }

  .social-inline {
    margin-bottom: 40px;
    display: block;
    overflow: hidden;
  }

  .scrollup {
    right: 58px;
  }

  footer {
    padding: 60px 30px;
  }

  /* BRANDS */
  .slick-slide .block {
    padding: 30px;
    width: 100% !important;
    overflow: hidden;
  }

  .hero-recipes .slide-width {
    width: 100%;
    background-position: 0 0;
    background-size: auto 50%;
  }

  .hero-recipes .slick-dots {
    width: 100%;
    bottom: -30px !important;
    padding: 6px 0;
    text-align: center !important;
    max-width: 100%;
  }

  .occasions-desc .text-left {
    text-align: center !important;
  }

  .hero-recipes .slick-prev {
    left: 50% !important;
    margin-top: 54px;
    margin-left: -75px;
  }

  .hero-recipes .slick-next {
    right: 50% !important;
    margin-top: 54px;
    margin-right: -75px;
  }

  /* SPIRITS */
  .first-line-type {
    margin-top: 0;
  }
  .mobile-right-view {
    display: none;
    position: absolute;
    z-index: 987;
    width: 70px;
    top: 0;
    right: 0;
  }

  /* SPIRITS DETAILS */
  .steps-box .block.block-origins-img {
    padding-bottom: 0;
  }

  .steps-box .block.block-origins-img img {
    width: 100%;
  }

  .steps-box .block-where-come .block {
    padding: 50px;
    margin: 0;
  }

  .steps-box .box-block-versus .block {
    padding: 50px;
    margin-top: 30px;
  }

  .steps-box .box-chapter img {
    width: 100%;
  }

  .steps-box .radius-box {
    max-width: 100px;
    max-height: 100px;
    min-height: 100px;
    line-height: 100px;
  }

  .box-block-flavor h2 {
    padding: 0;
  }

  #searchBox {
    max-width: 182px;
  }

  /* tag */
  .tag {
    top: -50px;
  }

  /* SIDEBAR */
  .search-field {
    padding: 13px 30px !important;
  }

  #sidebar-wrapper #navbar .navbar-nav > li.dropdown.open .dropdown-toggle,
  #sidebar-wrapper #navbar .navbar-nav > li.dropdown .dropdown-menu,
  #sidebar-wrapper #navbar .navbar-nav > li.nav-parent {
    padding: 10px 30px !important;
  }

  #sidebar-wrapper #navbar .navbar-nav > li.dropdown.open {
    padding: 0 !important;
  }

  #sidebar-wrapper #navbar .navbar-nav > li a {
    font-size: 18px;
    height: 40px;
    line-height: 40px;
    padding: 0;
  }

  #sidebar-wrapper .sidebar-select {
    padding: 10px 30px;
  }

  #sidebar-wrapper #navbar .navbar-nav > li.dropdown.open .dropdown-toggle {
    font-size: 18px;
    line-height: 46px;
    height: 66px;
    margin-bottom: 16px;
  }

  #sidebar-wrapper #navbar .navbar-nav > li a.text-up {
    font-size: 16px;
    padding: 0;
    line-height: 40px;
    height: 40px;
  }

  #sidebar-wrapper #navbar .navbar-nav > li.dropdown .dropdown-menu a,
  #sidebar-wrapper #navbar .navbar-nav > li.dropdown .dropdown-menu h3,
  #sidebar-wrapper #navbar .navbar-nav > li.dropdown .dropdown-menu li {
    color: #fff !important;
    font-size: 18px;
    margin: 0;
    overflow: hidden;
    padding: 0;
  }

  #sidebar-wrapper #navbar .navbar-nav > li.dropdown.open::after {
    top: 66px;
  }

  .select-with-box-format {
    float: left;
  }

  /* WTB */
  #brands, #loctype, #search, #variants {
    display: inline-block;
    overflow: hidden;
    vertical-align: top;
    width: 100%;
  }

  .search-wtb input, .search-wtb select {
    width: 100%;
  }

  .search-wtb select {
    width: 100%;
  }

  #loctype {
    padding-top: 10px;
  }

  .search-wtb #brands {
    overflow: hidden;
    width: 100%;
  }

  .search-wtb select {
    max-width: 100%;
    width: 100%;
  }

  .search-wtb #variants {
    float: left;
    margin-right: 0;
    overflow: hidden;
    width: 100%;
  }

  .search-wtb #loctype {
    padding: 15px 0 0;
    text-align: center;
    width: 100%;
  }

  .search-wtb .btn.wtb-button {
    float: none;
    margin-right: 0;
    max-width: 100%;
    width: 100%;
  }

  /* home */
  .recipe-cont-2 {
    text-align: left !important;
  }

  .box-lear-more {
    text-align: left !important;
  }

  /* recipe detail */
  .full-page-recipes-landing .hero-recipes .slick-dots {
    bottom: 0 !important;
  }

  .recipe-landing .related .box-desc {
    height: auto;
  }

  .recipe-landing .related .box-desc a {
    height: auto;
  }

  .occasions-text .occasions-desc {
    min-height: 1px;
  }

  /* articles */
  .block-bar-orange {
    bottom: 30px;
    left: 50%;
    margin-left: -24px;
  }
  .full-page-articles-landing .hero-recipes .slick-dots {
    bottom: 0 !important;
  }

  .full-page-articles-landing .hero-recipes .slick-prev {
    margin-top: -2px;
  }

  .full-page-articles-landing .hero-recipes .slick-next {
    margin-top: -2px;
  }

  .full-page-articles-landing .box-lear-more {
    text-align: left;
  }

  .full-page-articles-landing .related {
    margin-bottom: 30px;
  }

  .brand, .related {
    display: block;
    float: left;
    width: 100%;
  }

  /* foote menu */
  #dg_footer_wrapper_inner ul li {
    display: block !important;
    float: none;
    overflow: hidden;
    width: 100% !important;
  }

  #dg_footer_wrapper_inner ul li:first-child a {
    padding-left: 0 !important;
  }

  .recipe-landing .slick-big-4 .hero-recipes .slick-prev {
    margin-top: 0;
  }

  .recipe-landing .slick-big-4 .hero-recipes .slick-next {
    margin-top: 0;
  }

  .slick-big-4-row {
    max-width: 100%;
    margin: 0 auto;
  }

  .mt500 {
    margin-top: 50px !important;
  }

  /* Occasions */
  .full-occasion-detail h1.thetitle {
    font-size: 34px;
  }

  .full-occasion-detail p.description {
    font-size: 16px;
    text-align: center;
  }

  .full-occasion-detail .hero {
    background-position: 0 0;
    background-size: cover;
    height: 260px;
  }

  /* search */
  #sidebar-wrapper .search-see-all {
    right: 10px;
    top: 10px;
  }

  .close-search {
    margin-top: 0;
    right: 15px;
    top: 30px;
  }

  /* search-landing-page */
  .search-landing-page .search-group.mt200 {
    margin-top: 100px !important;
  }

  .search-landing-page .search-group .search-field,
  .search-landing-page .search-group .search-focus {
    margin-top: 60px;
    margin-left: 0;
  }

  .search-landing-page .row-result-box .list-inline > li {
    padding-bottom: 15px;
  }

  .row-result-box-t {
    font-size: 30px;
  }

  .full-page-articles-landing .articles-list-slide {
    margin-bottom: 50px;
  }

  /* block-block */
  .block-block .block-block-box {
    padding: 50px;
  }

  .subtitles {
    font-size: 20px;
    line-height: 26px;
  }

  .pro-tip .text-icon h3 {
    font-size: 24px;
    line-height: 1.1;
  }

  /* CENTER */
  .brand h2, .related h2 {
    height: auto !important;
    text-align: center !important;
  }

  .hero-recipes .block p {
    text-align: center !important;
  }

  .full-page-articles-landing .limit-hero-title {
    text-align: center !important;
  }

  .occasions-text .occasions-title h3,
  .occasions-text .occasions-desc {
    text-align: center !important;
  }

  .box-lear-more {
    text-align: center !important;
  }

  .brand p, .related p {
    text-align: center !important;
  }

  /* full-page-brands */
  .all-page.full-page-brands .hero-to-brands .slick-prev {
    margin-top: 0;
  }

  .all-page.full-page-brands .hero-to-brands .slick-next {
    margin-top: 0;
  }

  /* spirtis */
  .our-text-h1 {
    font-size: 30px;
  }

  .fixed-l-col-position {
    margin-top: -1px !important;
  }

  .white_cnt {
    padding: 40px 20px;
  }

  .recipe-landing .related .box-desc a {
    text-align: center;
  }

  /* banners-out */
  .banners-out {
    width: 100%;
    margin: 40px 0;
    position: relative;
    background: #0e0f0a;
    min-height: 350px;
  }

  .banners-out .txt_cnt {
    position: absolute;
    top: 172px;
    left: 10%;
    color: #fff;
    width: 80%;
  }

  /**/
  .hero-recipes.hero-recipes-fix .block {
    padding: 80px 40px !important;
    max-width: 94% !important;
    margin-right: 3% !important;
    margin-left: 3% !important;
  }
  .hero-recipes .slide-width {
    width: 100%;
    background-position: 0 0;
    background-size: auto 100%;
  }
  .all-page.full-page-brands .hero-to-brands .slick-dots {
    bottom: -29px !important;
    max-width: 94%;
  }
  .brand h1, .brand h2, .related h1, .related h2 {
    text-align: center;
  }

  .hero-recipes.hero-recipes-fix .limit-hero-title {
    text-align: center !important;
  }

  .hero-recipes.hero-recipes-fix .box-lear-more,
  .hero-recipes.hero-recipes-fix .text-desc,
  .hero-recipes.hero-recipes-fix .text-left.text-name {
    text-align: center !important;
  }

  .hero-recipes.hero-recipes-fix .box-lear-more,
  .hero-recipes.hero-recipes-fix .recipe-cont-2 {
    text-align: center !important;
  }

  .hero-recipes.hero-recipes-fix .text-up {
    font-family: ralewaybold, sans-serif;
    text-align: center;
  }

  .hero-recipes.hero-recipes-fix .slick-dots {
    bottom: 5px !important;
  }

  .hero-recipes.hero-recipes-fix .pull-right-hl .pull-ubication {
    min-height: auto !important;
    height: auto auto !important;
  }

  .full-page-brands .hero-recipes .block.addfirstclass {
    margin-left: 3% !important;
  }

  .hero-recipes-fix.hero-recipes-fix2 .slick-prev {
    margin-top: 18px;
  }

  .hero-recipes-fix.hero-recipes-fix2 .slick-next {
    margin-top: 18px;
  }

  .hero-recipes.hero-recipes-fix.hero-recipes-fix2 .block {
    padding: 80px 40px !important;
    max-width: 100% !important;
    margin-right: 0 !important;
    margin-left: 0 !important;
    border: 0 none !important;
  }

  .recipe-landing.all-pages.full-page-recipes-landing .hero-recipes .pull-right-hl .block {
    max-width: 94% !important;
    margin-right: 3% !important;
    margin-left: 3% !important;
  }

}

/*--------------------------------------------------------------------------------------------------------------------*/
/* @media screen and (max-width: 375px)
----------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width: 375px) {
  .container {
    width: 100%;
    max-width: 94%;
  }

  .titles.titles-72 {
    font-size: 48px;
    line-height: 54px;
  }

  .search-wtb .container-fluid {
    margin: 0;
    min-width: 300px;
    padding: 0;
  }

  /* NAVBAR */
  .navbar-inverse .navbar-toggle {
    padding: 14px 0;
    float: none;
    margin-left: 0;
    margin-right: 0;
    margin-top: 2px;
    cursor: pointer;
    position: absolute;
    z-index: 98;
    left: 25px !important;
  }

  /* SPIRITS DETAILS */
  .steps-box .radius-box {
    max-width: 80px;
    max-height: 80px;
    min-height: 80px;
    padding: 0;
    margin-left: 20px;
    line-height: 80px;
  }

  .steps-box .radius-box img {
    width: 100%;
    max-width: 40px;
  }

  /* SIDEBAR */
  #sidebar-wrapper #navbar .navbar-nav > li.dropdown.open .dropdown-toggle,
  #sidebar-wrapper #navbar .navbar-nav > li.dropdown .dropdown-menu,
  #sidebar-wrapper #navbar .navbar-nav > li.nav-parent {
    padding: 10px 30px !important;
  }

  #sidebar-wrapper #navbar .navbar-nav > li.dropdown.open {
    padding: 0 !important;
  }

  #sidebar-wrapper #navbar .navbar-nav > li a {
    font-size: 18px;
    padding: 0;
    line-height: 30px;
    height: 30px;
  }

  #sidebar-wrapper .sidebar-select {
    padding: 10px 30px;
  }

  #sidebar-wrapper .sidebar-select .country-select-box select {
    font-size: 14px;
  }

  #sidebar-wrapper .submenu-sidebar ul li a {
    font-size: 14px;
  }

  #sidebar-wrapper #navbar .navbar-nav > li a {
    font-size: 14px;
    font-weight: normal;
    line-height: 30px;
  }

  #sidebar-wrapper #navbar .navbar-nav > li.dropdown .dropdown-menu a,
  #sidebar-wrapper #navbar .navbar-nav > li.dropdown .dropdown-menu h3,
  #sidebar-wrapper #navbar .navbar-nav > li.dropdown .dropdown-menu li {
    color: #fff !important;
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 0;
  }

  #sidebar-wrapper #navbar .navbar-nav > li.dropdown .dropdown-menu li {
    display: block;
    float: left;
    margin-bottom: 10px;
    margin-top: 10px;
    overflow: hidden;
    width: 100%;
  }

  .search-field {
    padding: 28px 30px !important;
    font-size: 24px;
  }

  /* block-block */
  .block-block .block-block-box {
    display: block;
    overflow: hidden;
    padding: 50px 20px 20px;
  }

  /* search */
  .search-group .fixed-text {
    left: 30px;
    top: 30px;
  }

  #searchBox {
    margin: 50px 0 0;
  }

  .close-search {
    margin-top: 0;
    right: 15px;
    top: 30px;
  }

  .search-group {
    padding: 50px 30px 50px 30px;
  }

  .full-page-brands .hero-recipes .block {
    padding: 80px 20px !important;
  }

  /* home landing */
  .home-landing .pro-tip.text-center .text-icon {
    padding: 10px 20px 40px 20px;
  }

  .mobile-view .home-recipe {
    width: 100%;
  }

}

/*--------------------------------------------------------------------------------------------------------------------*/
/* @media screen and (max-width: 360px)
----------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width: 360px) {
  .container {
    width: 100%;
    max-width: 94%;
  }

  .search-wtb .container-fluid {
    margin: 0;
    min-width: 300px;
    padding: 0;
  }

  .search-wtb input[type="checkbox"] + label {
    margin: 10px 0;
    text-align: left;
    width: 100%;
  }

}

/*--------------------------------------------------------------------------------------------------------------------*/
/* @media screen and (max-width: 320px)
----------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width: 320px) {
  .container {
    max-width: 94%;
  }

  .text-name {
    font-size: 52px;
  }

  .search-wtb {
    padding: 30px 12px 20px;
  }

  .search-wtb .container-fluid {
    min-width: 260px;
  }

  /* banners-out */
  .banners-out {
    width: 100%;
    margin: 40px 0;
    position: relative;
    background: #0e0f0a;
    min-height: 400px;
  }
}
