.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
}

.make-child-match-parent { display: -ms-flex; display: -webkit-flex; display: flex; }
.make-child-match-parent>div { flex:1; }

.glyph-goldenrod {
    color: goldenrod;
    font-size: 15px;
}

.glyph-black {
    color: black;
    font-size: 15px;
}