<ol class="seo-breadcrumbs hidden" itemscope itemtype="http://schema.org/BreadcrumbList">
    <li itemprop="itemListElement" itemscope
        itemtype="http://schema.org/ListItem">
        <a itemprop="item"
           ui-sref-opts="{reload:true}"
           ui-sref="home">
            <span itemprop="name">Home</span></a>
        <meta itemprop="position" content="1"/>
    </li>
    <li itemprop="itemListElement" itemscope
        itemtype="http://schema.org/ListItem">
        <a itemprop="item"
           ui-sref="404"
           ui-sref-active="active">
            <span itemprop="name">404</span></a>
        <meta itemprop="position" content="2"/>
    </li>
</ol>

<div class="jumbotron text-center notfound">
    <h1 id="wb-cont">404</h1>
    <h2>Oops! page not found</h2>
</div>

<script type="text/javascript">
    console.log('Push Error 404');
    window.dataLayer = window.dataLayer || [];
    window.dataLayer.push({
        'event': '404',
        'pagePath': '/404' + window.location.pathname + window.location.search,
        'is404': 'true'
    });
</script>