<!--regular meta-->
<update-title title="{{ seoTitle }}"></update-title>
<update-meta name='keywords' content='{{ seoKeywords }}'></update-meta>
<update-meta name='description' content='{{ seoDescription }}'></update-meta>
<!--FB meta-->
<update-meta property='og:url' content='{{ fburl }}'></update-meta>
<update-meta property='og:title' content='{{ seoTitle }}'></update-meta>
<update-meta property='og:description' content='{{ seoDescription }}'></update-meta>

<ol class="seo-breadcrumbs hidden" itemscope itemtype="http://schema.org/BreadcrumbList">
    <li itemprop="itemListElement" itemscope
        itemtype="http://schema.org/ListItem">
        <a itemprop="item"
           ui-sref-opts="{reload:true}"
           ui-sref="home">
            <span itemprop="name">Home</span></a>
        <meta itemprop="position" content="1"/>
    </li>
    <li itemprop="itemListElement" itemscope
        itemtype="http://schema.org/ListItem">
        <a itemprop="item"
           ui-sref="articles"
           ui-sref-active="active">
            <span itemprop="name">Articles</span></a>
        <meta itemprop="position" content="2"/>
    </li>
</ol>

<div class="hero-solid hero-solid-2">
</div>

<div class="all-pages full-page-articles-landing">

    <h1 id="wb-cont" class="text-center white mt90 text-titles-55">
        {{ articlestemplate.articles_article_title }}
    </h1>

    <div class="container mt90 articles-list-slide">

        <div class="row slick-formated-white slick-formated-dots slick-formated-arrow">

            <slick dots="true" slides-to-show="2" slides-to-scroll="2" custom-paging="customDots"
                   init-onload=true
                   data="articlestemplate" class="hero-recipes hero-recipes-fix hero-recipes-fix2"
                   responsive="bigSlider">

                <div ng-repeat="articlesx in articlestemplate.hero_articles">

                    <div class="no-pad reloader">

                        <a href="{{ articlesx.article_url }}" target="_blank"
                           class="hero-nofull hero-nofull2"
                           ng-style="{'background-image': 'url(' + articlesx.hero_image + ')'}"></a>

                        <div class="block text-left mt0">

                            <h2 class="text-left limit-hero-title">
                                <a href="{{ articlesx.article_url }}" target="_blank">
                                    {{ articlesx.name | truncate: 24: '...' }}
                                </a>
                            </h2>
                            <br>

                            <p>{{ articlesx.description | truncate: 120: '...'}}</p>

                            <div class="box-lear-more">
                                <a href="{{ articlesx.article_url }}" target="_blank"
                                   title="{{ articlestemplate.articles_button_get }}">
                                    {{ articlestemplate.articles_button_get }}
                                </a>
                            </div>
                        </div>

                    </div>

                </div>

            </slick>

        </div>
    </div>

    <div class="container articles-list">

        <div class="row">

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <br><br>
                <p class="our-text">
                    {{ articlestemplate.articles_list_message }}
                </p>
                <br><br>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 occasions-area reloader"
                 ng-repeat="articlexx in (filterResult = (articlestemplate.list_articles)) | limitTo: limitloadmorearticles">

                <a href="{{ articlexx.article_url }}" target="_blank" class="occasions-image one-h"
                   ng-style="{'background': 'url(' + articlexx.hero_image + ') no-repeat center' }">
                </a>

                <div class="occasions-text">
                    <div class="occasions-title">
                        <h3 class="text-left">
                            <a href="{{ articlexx.article_url }}" target="_blank">
                                {{ articlexx.name | truncate: 24: '...' }}
                            </a>
                        </h3>
                    </div>
                    <div class="occasions-desc">
                        {{ articlexx.description | truncate: 120: '...'}}
                    </div>
                    <div class="box-lear-more">
                        <a href="{{ articlexx.article_url }}" target="_blank"
                           title="{{ articlestemplate.articles_button_get }}">
                            {{ articlestemplate.articles_button_get }}
                        </a>
                    </div>
                </div>

            </div>

            <div class="col-md-12 text-center" ng-if="filterResult.length >= 7">
                <button class="btn-load-more" ng-click='loadMore1(); disableClick1();' ng-disabled='isDisabled'
                        ng-model='isDisabled'>
                    {{ articlestemplate.articles_button_view_more }}
                </button>
            </div>

            <br/>
            <br/>

            <div class="col-md-12">
                <!-- HOW TO VIDEOS -->
                <div class="full-block-how-to-videos">

                    <div class="col-xs-12">
                        <br><br>
                        <p class="our-text">
                            {{ articlestemplate.articles_title_section_video }}
                        </p>
                        <br><br>
                    </div>

                    <div class="related-videos">

                        <div ng-repeat="articlesxp in articlestemplate.list_videos.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))">

                            <div class="related col-xs-12 col-sm-6 col-md-3 col-lg-3">

                                <a class="show-cursor reloader" ng-click="ShowInfoLB(); showLightBox = true">
                                    <div class="recipe-img recipe-img2 how-to-icon"
                                         ng-style="{'background-image': 'url(' + articlesxp.video_image + ')'}">
                                    </div>
                                </a>

                                <p class="videodatainfogg hidden">
                                    Data Video:<br/>
                                    {{ articlesxp.VvideoID }}<br/>
                                    {{ articlesxp.api_rest_youtube.items[0].snippet.title }}<br/>
                                    {{ articlesxp.api_rest_youtube.items[0].snippet.description }}<br/>
                                    {{ articlesxp.api_rest_youtube.items[0].snippet.thumbnails.default.url }}<br/>
                                    {{ articlesxp.api_rest_youtube.items[0].contentDetails.duration  }}<br/>
                                    {{ articlesxp.api_rest_youtube.items[0].contentDetails.duration | customISOChangeDurationYoutubeDuration  }}<br/>
                                </p>

                                <div class="block-s">
                                    <h2 class="limit-124">
                                        <a ng-click="ShowInfoLB(); showLightBox = true">
                                            {{ articlesxp.name | truncate: 60: '...' }}
                                        </a>
                                    </h2>
                                    <div class="block-bar-orange"></div>
                                </div>

                            </div>

                            <lightbox-directive
                                    class="angular-lightbox"
                                    ng-class="showLightBox ? 'show-lightbox' : 'hidden'">
                                <article>
                                    <header>
                                        <a class="close-btn"
                                           ng-click="$parent.showLightBox = false">
                                            <i class="fa fa-times-circle"></i>
                                        </a>
                                    </header>

                                    <content ng-click="$parent.showLightBox = false;" itemprop="video" itemscope
                                             itemtype="http://schema.org/VideoObject">
                                        <h2 class="hidden">Video: {{ articlesxp.VvideoID }} <span
                                                itemprop="name">{{ articlesxp.api_rest_youtube.items[0].snippet.title }}</span>
                                        </h2>
                                        <meta itemprop="thumbnailUrl"
                                              content="{{ articlesxp.api_rest_youtube.items[0].snippet.thumbnails.default.url }}"/>
                                        <meta itemprop="duration"
                                              content="{{ articlesxp.api_rest_youtube.items[0].contentDetails.duration | customISOChangeDurationYoutubeDuration }}"/>
                                        <span class="hidden" itemprop="description">{{ articlesxp.api_rest_youtube.items[0].snippet.description }}</span>

                                        <iframe ng-if="$parent.showLightBox" width="100%" height="100%"
                                                src="{{ articlesxp.video_url }}"
                                                frameborder="0" allowfullscreen>
                                        </iframe>
                                        <!--el getIframeSrc esta a pata hasta que hagamos el cpt de how to videos-->
                                    </content>

                                </article>

                            </lightbox-directive>

                        </div>

                        <pagination total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()"
                                    class="pagination-sm" items-per-page="itemsPerPage"></pagination>

                    </div>

                </div>

            </div>

        </div>

    </div>

</div>
