<!--regular meta-->
<update-title title="{{ seoTitle }}"></update-title>
<update-meta name='keywords' content='{{ seoKeywords }}'></update-meta>
<update-meta name='description' content='{{ seoDescription }}'></update-meta>

<!--FB meta-->
<update-meta property='og:url' content='{{ fburl }}'></update-meta>
<update-meta property='og:title' content='{{ seoTitle }}'></update-meta>
<update-meta property='og:description' content='{{ seoDescription }}'></update-meta>

<ol class="seo-breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
    <li itemprop="itemListElement" itemscope
        itemtype="http://schema.org/ListItem">
        <a itemprop="item"
           ui-sref-opts="{reload:true}"
           ui-sref="home">
            <span itemprop="name">Home</span></a>
        <meta itemprop="position" content="1"/>
    </li>
    <li itemprop="itemListElement" itemscope
        itemtype="http://schema.org/ListItem">
        <a itemprop="item"
           ui-sref="brands"
           ui-sref-active="active">
            <span itemprop="name">Brands</span></a>
        <meta itemprop="position" content="2"/>
    </li>
    <li itemprop="itemListElement" itemscope
        itemtype="http://schema.org/ListItem">
        <a itemprop="item"
           ui-sref="brands"
           ui-sref-active="active">
            <span itemprop="name">{{ brandsdetails.name }}</span></a>
        <meta itemprop="position" content="3"/>
    </li>
    <li itemprop="itemListElement" itemscope
        itemtype="http://schema.org/ListItem"
        ng-repeat="brandsx in brandslist.list_brands | filter: { 'slug' : postBrandsId }:true | limitTo:1">
        <a itemprop="item">
            <span itemprop="name">{{ brandsx.collection_name }}</span></a>
        <meta itemprop="position" content="4"/>
    </li>
</ol>

<div class="all-pages full-page-brands-detail">

    <div ng-repeat="brandsx in (filterError404 = (brandslist.list_brands | filter: { 'slug' : postBrandsId }:true | limitTo:1))">
    </div>
    <div class="text-center notfound" ng-if="filterError404.length == 0">
        <br/>
        <br/>
        <br/>
        <h2>404</h2>
        <h3>Oops! page not found</h3>
        <br/>
        <br/>
        <br/>
    </div>

    <div ng-if="brandsdetails.name">
        <div class="hero-solid"></div>
    </div>

    <div class="container" ng-if="brandsdetails.name">

        <div ng-repeat="brandsx in brandslist.list_brands | filter: { 'slug' : postBrandsId }:true | limitTo:1">

            <div class="row">

                <div class="col-md-12">

                    <div class="block mt90 text-center block-block">

                        <div class="block-block-box">
                            <div class="tag text-up-small white">
                                {{ brandsx.spirit_name }}
                            </div>

                            <h2 id="wb-cont" class="text-center col-md-12 brands-h2">
                                {{ brandsx.collection_name }}
                            </h2>

                            <h2 class="seo-reference">Where to Buy {{ brandsx.name }} • All Recipes in {{ brandsx.name }}</h2>

                            <div class="double-box">

                                <div class="col-md-6 no-pad">
                                    <div class="recipe-det left">
                                        <img src="dist/images/rum.png" alt="" width="13"
                                             height="27">
                                        <div>
                                            <h4 class="number">
                                                {{ brandInRecipe.totalcount }}
                                            </h4>
                                            <p class="txtu">
                                                {{ brandsx.brands_text_recipes }}
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6 no-pad double-box-second-row">
                                    <div class="recipe-det">
                                        <div>
                                            <h4 class="number">
                                                <span ng-repeat="productx in (filterResult = (products.list_our_products | filter: { 'brand_slug' : brandsx.wtbSlug}:true))"></span>
                                                {{ filterResult.length }}
                                            </h4>
                                            <p class="txtu">{{ brandsx.brands_text_products }}</p>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>

                    </div>
                </div>

                <div class="col-md-12">

                    <div class="" ng-if="brandsx.about_content"
                         ng-class="{'col-md-12': brandsx.distillery_map_image == '', 'col-md-7': brandsx.distillery_map_image }">

                        <div class="block wood-bg">

                            <h2 class="white">{{ brandsx.about_title }}</h2>

                            <span ng-bind-html="brandsx.about_content | to_trusted"></span>

                        </div>

                    </div>

                    <div class="distillery-map-image" ng-if="brandsx.distillery_map_image"
                         ng-class="{'col-md-12': brandsx.distillery_map_image == '', 'col-md-4 col-md-offset-1': brandsx.distillery_map_image }">

                        <div class="block block-markers-map">

                            <img ng-src="{{ brandsx.distillery_map_image }}">

                            <div ng-repeat="brandsxx in brandsx.distillery_marker" class="dot-map"
                                 popover="{{ brandsxx.brands_distillery_map_marker_name }}"
                                 popover-trigger="mouseenter"></div>
                        </div>

                        <h6 class="text-up-small">{{ brandsx.distillery_title }}</h6>

                    </div>

                    <div class="col-md-12 mt50" ng-if="filterResult.length > 0">

                        <div class="product-tabs new-product-template">

                            <div class="col-md-9"
                                 ng-repeat="product in products.list_our_products | filter: { 'slug' : postVariantId}:true track by $index">

                                <div class="block" style="margin-top: 0;">
                                    <div class="col-md-7 text-center">
                                        <img ng-src="{{ product.image }}" alt="{{ product.name }}"
                                             class="img-responsive">
                                    </div>
                                    <div class="col-md-5">
                                        <h1 class="brands-h1"> {{ product.name }}</h1>
                                        <br>
                                        <p> {{ product.description }} </p>
                                        <br>

                                        <div class="recipeboxnutricion" ng-if="product.nutritioninfoid.length >= 1">
                                            <accordion>
                                                <accordion-group is-open="nutritionAccordion.open">
                                                    <accordion-heading>
                                                        <div class="round-icon">
                                                            <i ng-class="{'fa fa-close': nutritionAccordion.open, 'fa fa-plus': !nutritionAccordion.open}"></i>
                                                        </div>
                                                        <p class="our-text">
                                                            {{ brandsx.brands_text_nutrition_info }}
                                                        </p>
                                                    </accordion-heading>
                                                    <table class="table table-striped myNutriTable">
                                                        <thead>
                                                        <tr>
                                                            <th>
                                                                <p>
                                                                    VALUE
                                                                </p>
                                                            </th>
                                                            <th>
                                                                <p>
                                                                    SERVING
                                                                </p>
                                                            </th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <tr ng-repeat="(key, value) in nutriIDTableServe">
                                                            <td>
                                                                <p>
                                                                    {{key}}
                                                                </p>
                                                            </td>
                                                            <td>
                                                                <p>
                                                                    {{value}}
                                                                </p>
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </accordion-group>
                                            </accordion>
                                        </div>

                                        <div class="double-border recipeinfo">
                                            <img src="dist/images/rum.png" alt="" class="inline text-center"
                                                 style="opacity:0.3; margin-left: 10px;" width="13" height="27">

                                            <div class="hidden"
                                                 ng-repeat="marca in (filterResult = (brandInRecipe.docs | filter: { variant : product.name }:true))">
                                            </div>

                                            <h6 class="inline text-uppercase" style="margin-left: 25px">
                                                <a style="cursor: pointer; color: #000;" onclick="myFunctionOffSet();">
                                                    {{ recipesTotals }}
                                                    {{ brandsx.brands_text_recipes }}
                                                </a>
                                            </h6>
                                        </div>


                                    </div>

                                </div>
                            </div>

                            <div class="col-md-3">

                                <h2 class="title-regular">Products</h2>

                                <ul class="nav nav-pills nav-stacked">

                                    <li ng-repeat="productx in products.list_our_products | filter: { 'brand_slug' : brandsx.wtbSlug}:true track by $index"
                                        ng-class="{'active': productx.slug == postVariantId }"
                                        class="ng-isolate-scope">

                                        <a ui-sref-opts="{reload:true}"
                                           ui-sref="brandsRedirect({ postVariantId: productx.slug })"
                                           title="{{ productx.name }}">
                                            {{ productx.name }}
                                        </a>

                                    </li>

                                </ul>

                                <br/>
                                <br/>

                            </div>

                        </div>

                    </div>

                </div>

                <div class="row where-to-box-box">

                    <div class="col-xs-12">
                        <br>
                        <br>
                        <p class="our-text">
                            {{ brandsx.brands_where_to_buy }} {{ brandsx.name }}
                        </p>
                        <br>

                        <ng-include src="'where-to-buy-include.html'"></ng-include>

                    </div>

                </div>

                <div id="goToAllRecipes">
                    <p style="display: none;">Click the button to get offsetTop for the test div.</p>
                </div>

                <script type="text/javascript">

                    function myFunctionOffSet() {
                        var offsetttt = document.getElementById("goToAllRecipes").offsetTop;

                        console.log(offsetttt);

                        $('html, body').stop().animate({
                            scrollTop: offsetttt
                        }, 2000);
                        return false;
                    }
                </script>

                <div class="">

                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 box-with-select">

                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <p class="our-text" style="line-height: 60px;">
                                {{ brandsx.brands_explore_recipes }}
                            </p>
                        </div>

                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <div class="select-with-box-format">
                                <select class="select-with-box-format-select-box" ng-model="myDropDownSelect">
                                    <option value="one">ALL RECIPES IN {{ brandsx.name }}</option>

                                    <option ng-repeat="productinrecipex in brandInRecipe.docs | unique:'variantSlug' track by $index"
                                            value="{{ productinrecipex.variantSlug[0] }}">
                                        {{ productinrecipex.variant }}
                                    </option>

                                </select>
                            </div>
                        </div>

                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                        <div class="related-recipes no-margin box-to-recipe-in" ng-show="myDropDownSelect=='one'">

                            <div ng-repeat="recipex in ( filterResultIn2 = (brandInRecipe.docs)) | limitTo: limitloadmorebrandsrec2"
                                 class="related col-md-3 col-sm-6 no-pad">

                                <div class="reloader">
                                    <a ui-sref-opts="{reload:true}"
                                       ui-sref="recipedetail({ postRecipesId: recipex.recipeSlug })"
                                       class="recipe-img aiblock recipe-img2 aiblock2"
                                       style="background-image: url('{{ recipex.SearchImage.original }}');">
                                    </a>
                                </div>

                                <div class="block-s">
                                    <p class="silver-text">
                                        {{ recipex.variant }}
                                    </p>
                                    <h2>
                                        <a ui-sref-opts="{reload:true}"
                                           ui-sref="recipedetail({ postRecipesId: recipex.recipeSlug })">
                                            {{ recipex.recipeTitle | truncate: 24: '...' }}
                                        </a>
                                    </h2>

                                    <div class="box-lear-more">
                                        <a ui-sref-opts="{reload:true}"
                                           ui-sref="recipedetail({ postRecipesId: recipex.recipeSlug })"
                                           title="Get Recipe">
                                            Get Recipe
                                        </a>
                                    </div>

                                </div>

                            </div>

                            <div class="text-center" ng-if="filterResultIn2.length == 0">
                                <p>
                                    No match criteria<br/><br/><br/>
                                </p>
                            </div>

                            <div class="col-md-12 text-center" ng-if="filterResultIn2.length >= 9">
                                <button class="btn-load-more" ng-click='loadMore12(); disableClick12();'
                                        ng-disabled='isDisabled2'
                                        ng-model='isDisabled2'>
                                    VIEW MORE
                                </button>
                            </div>

                        </div>


                        <div class="related-recipes no-margin box-to-recipe-all"
                             ng-repeat="productinrecipexx in brandInRecipe.docs | unique: productinrecipex.variantSlug"
                             ng-show="myDropDownSelect == productinrecipexx.variantSlug">

                            <div class="related col-md-3 col-sm-6 no-pad">

                                <div class="reloader">
                                    <a ui-sref-opts="{reload:true}"
                                       ui-sref="recipedetail({ postRecipesId: productinrecipexx.recipeSlug })"
                                       class="recipe-img aiblock recipe-img2 aiblock2"
                                       style="background-image: url('{{ productinrecipexx.SearchImage.original }}');">
                                    </a>
                                </div>

                                <div class="block-s">
                                    <p class="silver-text">
                                        {{ productinrecipexx.variant }}
                                    </p>
                                    <h2>
                                        <a ui-sref-opts="{reload:true}"
                                           ui-sref="recipedetail({ postRecipesId: productinrecipexx.recipeSlug })">
                                            {{ productinrecipexx.recipeTitle | truncate: 24: '...' }}
                                        </a>
                                    </h2>

                                    <div class="box-lear-more">
                                        <a ui-sref-opts="{reload:true}"
                                           ui-sref="recipedetail({ postRecipesId: productinrecipexx.recipeSlug })"
                                           title="Get Recipe">
                                            Get Recipe
                                        </a>
                                    </div>

                                </div>

                            </div>

                        </div>


                    </div>

                </div>

            </div>

        </div>

    </div>

</div>