<!--regular meta-->
<update-title title="{{ seoTitle }}"></update-title>
<update-meta name='keywords' content='{{ seoKeywords }}'></update-meta>
<update-meta name='description' content='{{ seoDescription }}'></update-meta>
<!--FB meta-->
<update-meta property='og:url' content='{{ fburl }}'></update-meta>
<update-meta property='og:title' content='{{ seoTitle }}'></update-meta>
<update-meta property='og:description' content='{{ seoDescription }}'></update-meta>

<ol class="seo-breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
    <li itemprop="itemListElement" itemscope
        itemtype="http://schema.org/ListItem">
        <a itemprop="item"
           ui-sref-opts="{reload:true}"
           ui-sref="home">
            <span itemprop="name">Home</span></a>
        <meta itemprop="position" content="1"/>
    </li>
    <li itemprop="itemListElement" itemscope
        itemtype="http://schema.org/ListItem">
        <a itemprop="item"
           ui-sref="brands"
           ui-sref-active="active">
            <span itemprop="name">Brands</span></a>
        <meta itemprop="position" content="2"/>
    </li>
</ol>

<div class="all-page full-page-brands">

    <!--HERO TO BRANDS-->
    <slick dots="true" slides-to-show="2" slides-to-scroll="2" custom-paging="customDots"
           init-onload=true
           data="brands" class="hero-recipes hero-recipes-fix hero-to-brands" responsive="bigSlider">

        <div ng-repeat="slidesx in brands.slidesBrands">
            <div class="col-md-12 no-pad">
                <div class="hero" ng-style="{'background-image': 'url(' + slidesx.hero_image + ')'}"
                     ng-class="{'slide-width' : slidesx}"></div>
            </div>
            <div class="col-md-12 no-pad">
                <div class="block text-left mt500" ng-class="{'addfirstclass': $first}"
                     ng-class-odd="'addfirstclass pull-right'"
                     ng-class-even="'pull-left'">
                    <div class="text-up gray">
                        {{ slidesx.spirit_type }}
                    </div>
                    <br/>
                    <h2 class="text-left text-name">
                        <a ui-sref-opts="{reload:true}"
                           ui-sref="brandsdetail({ postBrandsId: slidesx.slug })">
                            {{ slidesx.name | truncate: 48: '...' }}
                        </a>
                    </h2>
                    <br/>
                    <p class="type-description-margin text-desc">
                        {{ slidesx.description | truncate: 120: '...' }}
                    </p>
                    <div class="box-lear-more">
                        <a ui-sref-active="active"
                           ui-sref-opts="{reload:true}"
                           ui-sref="brandsdetail({ postBrandsId: slidesx.slug })"
                           title="{{ brands.brands_button_name }}">
                            {{ brands.brands_button_name }}</a>
                    </div>
                </div>
            </div>
        </div>
    </slick>

    <h2 property="name" id="wb-cont" class="wb-inv" tabindex="-1">Maint Content: {{ seoTitle }}</h2>
    <br/>
    <br/>

    <div class="container">
        <div class="row">
            <br/>
            <br/>
            <!--TITLE BRANDS-->
            <div class="col-xs-12">
                <br><br>
                <h1 class="text-center uncharted-h1">Liquor & Spirit Brands</h1>
                <h2 class="seo-reference text-center">Baileys • Smirnoff • Johnnie Walker • Bulleit • Baileys • Smirnoff •
                    Johnnie Walker
                    • Bulleit • Maint Content: Brands | thebar.com • Baileys™ • Smirnoff™ • Johnnie Walker™ • Bulleit™ •
                    Baileys™ • Smirnoff™ • Johnnie Walker™ • Bulleit™ • Bulleit • Captain Morgan • Crown Royal • Johnnie
                    Walker • Smirnoff • Don Julio • Baileys • I.W. Harper • Blade & Bow • The Naked Turtle White Rum • Ketel
                    One™ Vodka • Califresca
                </h2>
                <p class="our-text">
                    {{ brands.brands_section_title }}
                </p>
                <br><br>
            </div>

            <!--LIST ALL BRANDS-->
            <div class="col-xs-12 products-boxes">
                <div class="related col-xs-12 col-sm-12 col-md-6 col-lg-3"
                     ng-repeat="brandsx in (filterResult = (brandslist.list_brands)) | filter: filterBy:true | limitTo:limitloadmorebrands">

                    <div class="brand-icon">
                        <a ui-sref-active="active"
                           ui-sref-opts="{reload:true}" ui-sref="brandsdetail({ postBrandsId: brandsx.slug })"
                           class="brand-mask">
                            <span class="brands-crop"></span>
                            <img ng-src="{{ brandsx.image }}" alt="{{ brandsx.name }}">
                        </a>
                    </div>
                    <div class="brand-text">
                        <h2 class="text-center box-name">
                            <a ui-sref-active="active"
                               ui-sref-opts="{reload:true}" ui-sref="brandsdetail({ postBrandsId: brandsx.slug })">
                                {{ brandsx.name | truncate: 48: '...' }}</a>
                        </h2>
                        <div class="box-lear-more">
                            <a ui-sref-active="active"
                               ui-sref-opts="{reload:true}" ui-sref="brandsdetail({ postBrandsId: brandsx.slug })"
                               title="{{ brands.brands_button_name }}">
                                {{ brands.brands_button_name }}
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12 text-center" ng-if="filterResult.length >= 13">
                <button class="btn-load-more" ng-click='loadMore4(); disableClick4();' ng-disabled='isDisabled'
                        ng-model='isDisabled'>
                    {{ brands.brands_view_more }}
                </button>
            </div>

        </div>
    </div>

</div>

