
<ol class="seo-breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
    <li itemprop="itemListElement" itemscope
        itemtype="http://schema.org/ListItem">
        <a itemprop="item"
           ui-sref-opts="{reload:true}"
           ui-sref="home">
            <span itemprop="name">Home</span></a>
        <meta itemprop="position" content="1"/>
    </li>
    <li itemprop="itemListElement" itemscope
        itemtype="http://schema.org/ListItem">
        <a itemprop="item"
           ui-sref="drink-responsibly"
           ui-sref-active="active">
            <span itemprop="name">Responsible Drinking</span></a>
        <meta itemprop="position" content="2"/>
    </li>
</ol>

<div class="recipe-landing all-pages full-page-recipes-landing">

    <div>
        <div class="hero-solid"></div>
    </div>

    <div class="container">

        <div class="row">

            <div class="col-md-12">
                <div class="block mt90 text-center">

                    <h1 id="wb-cont" class="text-center">
                        Responsible Drinking
                    </h1>

                </div>
            </div>

        </div>

    </div>

    <br/>
    <br/>
    <br/>
    <br/>

    <div class="container" ng-controller="ScrollCtrl">

        <div class="row">

            <div id="article-content" class="white_cnt white_cnt2 whiteBoxBackground">

                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <p>Diageo is proud of its brands and its commitment to setting the standard for social
                        responsibility and responsible marketing. Over the past decade, we've worked closely with
                        governments, the public health community and licensing authorities-plus other beer, wine and
                        spirit producers-to help develop policies and initiatives that promote responsible drinking and
                        discourage alcohol misuse.</p>
                    <p>A new and innovative resource developed by Diageo is <a
                            href="http://www.drinkiq.com">DRINKiQ.com</a>, a website intended to help combat alcohol
                        misuse and promote responsible drinking through the sharing of best practice tools, information
                        and initiatives. It contains loads of resources about the effects of alcohol on the body, ways
                        to talk to your kids about alcohol, and helpful hints and tips for hosting parties and much,
                        much more.</p>
                    <p>The Century Council (TCC) is a leader in the fight to eliminate drunk driving and underage
                        drinking and promotes responsible decision making when drinking alcohol. Its innovative programs
                        such as the b4udrink educator and Girl Talk aim to get young people, especially, to think about
                        the choices they make. TCC is sponsored by Diageo and other leading distillers in the U.S. <a
                                href="http://www.centurycouncil.org">http://www.centurycouncil.org</a></p>
                    <p>The International Center for Alcohol Policies focuses on responsibility, partnerships and an
                        evidence-based approach to alcohol policy issues. <a href="http://www.icap.org">http://www.icap.org</a>
                    </p>
                    <h3>Social Aspects Organizations</h3>
                    <ul id="organizations" class="megaul">
                        <li id="title"><span class="country">COUNTRY/REGION</span> <span class="organization">ORGANIZATION</span>
                            <span class="website">WEB SITE</span></li>
                        <li><span class="country">Australia</span> <span class="organization">Drinkwise</span> <span
                                class="website"><a
                                href="http://www.drinkwise.com.au">http://www.drinkwise.com.au</a> </span></li>
                        <li><span class="country">Canada</span> <span class="organization">Drink IQ</span> <span
                                class="website"><a href="http://www.drinkiq.com/ ">http://www.drinkiq.com/</a> </span>
                        </li>
                        <li><span class="country">Czech Republic</span> <span class="organization">Forum-psr</span>
                            <span class="website"><a
                                    href="http://www.forum-psr.cz/ ">http://www.forum-psr.cz/ </a></span></li>
                        <li><span class="country">Denmark</span> <span class="organization">GODA</span> <span
                                class="website"><a href="http://www.goda.dk">http://www.goda.dk</a> </span></li>
                        <li><span class="country">European Union</span> <span class="organization">The European Forum for Responsible Drinking</span>
                            <span class="website"><a href="http://efrd.org">http://efrd.org</a> </span></li>
                        <li><span class="country">France</span> <span
                                class="organization">Entreprise et Prevention</span> <span class="website"><a
                                href="http://www.ep.soifdevivre.com">http://www.ep.soifdevivre.com</a> </span></li>
                        <li><span class="country">Hungary</span> <span class="organization">Hungarian Association for Responsible Alcohol Consumption (HAFRAC)</span>
                            <span class="website"><a href="http://www.typoezis.hu/hafrac/eng.html">http://www.typoezis.hu/hafrac/eng.html</a> </span>
                        </li>
                        <li><span class="country">Ireland</span> <span class="organization">MEAS - Mature Enjoyment of Alcohol in Society<br> DrinkAware (Ireland)</span>
                            <span class="website"> <a href="http://www.meas.ie">http://www.meas.ie</a><br> <a
                                    href="http://www.drinkaware.ie">http://www.drinkaware.ie/</a> </span></li>
                        <li><span class="country">Malta</span> <span class="organization">The Sense Group</span> <span
                                class="website"><a href="http://www.thesensegrouponline.org">http://www.thesensegrouponline.org</a> </span>
                        </li>
                        <li><span class="country">Mexico</span> <span class="organization">FISAC</span> <span
                                class="website"><a href="http://www.alcoholinformate.org.mx">http://www.alcoholinformate.org.mx</a> </span>
                        </li>
                        <li><span class="country">Netherlands</span> <span class="organization">STIVA</span> <span
                                class="website"><a href="http://www.stiva.nl">http://www.stiva.nl</a> </span></li>
                        <li><span class="country">South Africa</span> <span class="organization">ARA</span> <span
                                class="website"><a href="http://www.ara.co.za">http://www.ara.co.za</a> </span></li>
                        <li><span class="country">Spain</span> <span
                                class="organization">Fundación Alcohol y Sociedad</span> <span class="website"><a
                                href="http://www.alcoholysociedad.org">http://www.alcoholysociedad.org</a> </span></li>
                        <li><span class="country">Taiwan</span> <span
                                class="organization">Taiwan Beverage Alcohol Forum</span> <span class="website"><a
                                href="http://www.tbaf.org.tw">http://www.tbaf.org.tw</a> </span></li>
                        <li><span class="country">United Kingdom</span> <span class="organization">The Portman Group<br> DrinkAware (UK)</span>
                            <span class="website"> <a href="http://www.portman-group.org.uk">http://www.portman-group.org.uk</a><br> <a
                                    href="http://www.drinkaware.co.uk/">http://www.drinkaware.co.uk/</a> &nbsp;</span>
                        </li>
                        <li class="last"><span class="country">United States</span> <span class="organization">The Century Council</span>
                            <span class="website"><a
                                    href="http://www.centurycouncil.org">http://www.centurycouncil.org</a> </span></li>
                    </ul>
                    <h3>Setting the Standard For Social Responsibility</h3>
                    <p>We get that it's a party. But everybody - guest and host- needs to keep some simple rules in
                        mind.</p>
                    <ul class="megaul">
                        <li>Real hosts go pro. Hire a real bartender to mix drinks and serve responsibly.</li>
                        <li>Show the designated drivers some love. Nothing’s worse than two-litre bottles of flat cola,
                            so whip up a non-alcoholic punch or two.
                        </li>
                        <li>Make sure somebody has numbers for the cab company.</li>
                        <li>Plan a graceful exit. Think about how you're going to get home before you leave home.</li>
                        <li>Talk with your mouth full. Eating before or while you're drinking slows alcohol
                            consumption.
                        </li>
                        <li>Pass on the salt lick. Salty snacks make people drink more, so don't be afraid to bake a
                            cake.
                        </li>
                        <li>Be aggressive. If you're hosting, grab your guests' car keys and be smart about who gets
                            them back.
                        </li>
                        <li>Time really is on your side. It's the only fool proof method for sobering up, so stop
                            serving or drinking at least an hour before the party's over.
                        </li>
                    </ul>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <br/>
                </div>

            </div>

        </div>

    </div>

</div>

