<!--regular meta-->
<update-title title="{{ seoTitle }}"></update-title>
<update-meta name='keywords' content='{{ seoKeywords }}'></update-meta>
<update-meta name='description' content='{{ seoDescription }}'></update-meta>
<!--FB meta-->
<update-meta property='og:url' content='{{ fburl }}'></update-meta>
<update-meta property='og:title' content='{{ seoTitle }}'></update-meta>
<update-meta property='og:description' content='{{ seoDescription }}'></update-meta>

<ol class="seo-breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
    <li itemprop="itemListElement" itemscope
        itemtype="http://schema.org/ListItem">
        <a itemprop="item"
           ui-sref-opts="{reload:true}"
           ui-sref="home">
            <span itemprop="name">Home</span></a>
        <meta itemprop="position" content="1"/>
    </li>
    <li itemprop="itemListElement" itemscope
        itemtype="http://schema.org/ListItem">
        <a itemprop="item"
           ui-sref="faq"
           ui-sref-active="active">
            <span itemprop="name">Happy hour</span></a>
        <meta itemprop="position" content="2"/>
    </li>
</ol>

<div class="all-pages full-page-hh">

    <div class="mega-spirits" id="toTheTop">

        <div class="expanded-detail-box">

            <div class="steps-box-hh">

                <div class="hero-inside hero-inside-hh">
                    <img style="width: 100%;" ng-src="{{ happyhour.hh_imagen_hero }}">
                </div>

                <div class="container containerTop">

                    <div class="row">

                        <div class="col-md-12">

                            <div class="block mt90 text-center">

                                <h1 id="wb-cont" class="text-center">{{ happyhour.hh_title }}</h1>

                                <br/><br/>

                                <h2 class="text-up text-center orange">
                                    {{ happyhour.hh_subtitle }}
                                </h2>

                                <br/>

                                <div class="desc desc-hh">
                                    <h2 ng-bind-html="happyhour.hh_short_description | to_trusted"></h2>
                                </div>

                            </div>

                        </div>

                        <div class="col-md-12 zone-hh-p">

                            <div class="col-xs-12 col-sm-12 col-md-12"
                                 ng-class="happyhour.hh_htu_imagen ? 'col-lg-12' : 'col-lg-12'">

                                <div class="block block-origins block-origins-hh">
                                    <h2 class="orange" ng-bind-html="happyhour.hh_htu_title | to_trusted"></h2>
                                    <hr>
                                    <p ng-bind-html="happyhour.hh_htu_instructions | to_trusted"></p>
                                    <hr>
                                    <p ng-bind-html="happyhour.hh_htu_skills | to_trusted"></p>

                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <div class="block block-origins block-origins-img block-origins-img-hh">

                                            <div style="padding-top: 30px;" ng-if="happyhour.hh_htu_imagen"
                                                 class="block-origins-img-hh-image">
                                                <img ng-src="{{ happyhour.hh_htu_imagen }}"
                                                     alt="{{ happyhour.hh_htu_imagen_alt_tags }}">
                                            </div>

                                            <div style="padding-top: 30px;" class="col-md-12 video560"
                                                 ng-if="happyhour.hh_video_url">

                                                <div class="videoWrapper">
                                                    <iframe width="100%" height="100%"
                                                            src="{{ happyhour.hh_video_url }}"
                                                            frameborder="0" allowfullscreen>
                                                    </iframe>
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>

                        </div>

                    </div>
                </div>

            </div>

        </div>


    </div>
</div>
