<!--regular meta-->
<update-title title="{{ seoTitle }}"></update-title>
<update-meta name='keywords' content='{{ seoKeywords }}'></update-meta>
<update-meta name='description' content='{{ seoDescription }}'></update-meta>

<!--FB meta-->
<!--<update-meta property='og:image' content='{{  }}'></update-meta>-->
<update-meta property='og:url' content='{{ fburl }}'></update-meta>
<update-meta property='og:title' content='{{ seoTitle }}'></update-meta>
<update-meta property='og:description' content='{{ seoDescription }}'></update-meta>

<ol class="seo-breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
    <li itemprop="itemListElement" itemscope
        itemtype="http://schema.org/ListItem">
        <a itemprop="item" ui-sref-opts="{reload:true}"
           ui-sref="home">
            <span itemprop="name">Home</span></a>
        <meta itemprop="position" content="1"/>
    </li>
</ol>

<div class="hero"
     ng-style="{'background-image': 'url('+ homerecipes.occasions_home_list[0].occasion_hero_image + ')'}">
</div>

<div class="all-pages full-page-home-landing">

    <div class="hero"
         ng-style="{'background-image': 'url('+ homerecipes.occasions_home_list[0].occasion_hero_image + ')'}">
    </div>

    <div class="container"> <!--CONTAINER GENERAL-->

        <h1 class="hidden">The Bar</h1>
        <h2 class="hidden">Resource for Mixed Drinks & Cocktail Recipes</h2>
        <h2 class="hidden">St. Patrick's Day</h2>

        <div class="row"> <!--ROW GENERAL-->

            <!--DESKTOP VIEW-->
            <div class="fuller home-landing desktop-view">
                <div class="col-md-6 col-md-offset-6 block-ocassion"
                     ng-repeat="recipeshomex in homerecipes.home_recipes_template">
                    <div class="block text-left mt200">
                        <div class="tag tag-orange text-up white tag3 tag34">
                            {{ recipeshomex.recipes_occassions_title }}
                        </div>

                        <h2 class="text-left titles titles-72">
                            <a ui-sref-opts="{reload:true}"
                               ui-sref="occasiondetail({ postOccasionId: homerecipes.occasions_home_list[0].slug })">
                                {{ homerecipes.occasions_home_list[0].name }}
                            </a>
                        </h2>

                        <h5 class="subtitles subtitles-grey">
                            {{ homerecipes.occasions_home_list[0].occasion_description }}
                        </h5>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="recipe-det">
                                    <a class="text-uppercase"
                                       ui-sref-opts="{reload:true}"
                                       ui-sref="occasiondetail({ postOccasionId: homerecipes.occasions_home_list[0].slug })"
                                       title="{{ recipeshomex.recipes_occassions_occassions_button }}">
                                        {{ recipeshomex.recipes_occassions_occassions_button }}
                                        <span class="arrow-black"></span>
                                    </a>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div id="wb-cont" class="col-md-9 mt50"
                     ng-repeat="recipeshomexx in homerecipes.recipes_home_list.slice(0,1)">
                    <div class="home-img-txt three-h"
                         ng-repeat="recipesjsonx in recipesjsoninhome.docs | filter: { 'recipeID': recipeshomexx.recipe_id }">

                        <div class="hero"
                             style="height: 100%; background-image: url('{{ recipesjsonx.BackgroundImage.original }}');">
                        </div>
                        <div class="col-md-4">
                            <div class="home-recipe two-h">
                                <h4>01.</h4>
                                <h2 class="black home-recipe-title">
                                    <a ui-sref-opts="{reload:true}"
                                       ui-sref="recipedetail({ postRecipesId: recipeshomexx.slug })">
                                        {{ recipesjsonx.recipeTitle }}
                                    </a>
                                </h2>
                                <div class="recipe-cont">
                                    {{ recipesjsonx.variant | truncate: 120 }}
                                </div>
                                <div class="box-lear-more">
                                    <a ui-sref-opts="{reload:true}"
                                       ui-sref="recipedetail({ postRecipesId: recipeshomexx.slug })"
                                       title="{{ homerecipes.home_recipes_template[0].recipes_recipes_button }}">
                                        {{ homerecipes.home_recipes_template[0].recipes_recipes_button }}
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="pro-tip two-h text-left" style="margin-top: 230px">
                        <div class="tag text-up white pt-0 tag3">
                            {{ homerecipes.home_recipes_template[0].recipes_pro_tip[0].recipes_pro_tip_title }}
                        </div>
                        <div class="text-icon">
                            <br/>
                            <h3 class="text-left no-line">
                                {{ homerecipes.home_recipes_template[0].recipes_pro_tip[0].recipes_pro_tip_text }}
                            </h3>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 two-h" ng-repeat="recipeshomexx in homerecipes.recipes_home_list.slice(1,2)">
                    <div ng-repeat="recipesjsonx in recipesjsoninhome.docs | filter: { 'recipeID': recipeshomexx.recipe_id }">
                        <div class="hero"
                             style="height: 100%; background-image: url('{{ recipesjsonx.BackgroundImage.original }}');">
                        </div>
                        <div class="col-md-6 col-md-offset-6 no-pad">
                            <div class="home-recipe mt200 two-h">
                                <h4>02.</h4>
                                <h2 class="black home-recipe-title">
                                    <a ui-sref-opts="{reload:true}"
                                       ui-sref="recipedetail({ postRecipesId: recipeshomexx.slug })">
                                        {{ recipesjsonx.recipeTitle }}
                                    </a>
                                </h2>
                                <div class="recipe-cont">
                                    {{ recipesjsonx.variant | truncate: 120 }}
                                </div>
                                <div class="box-lear-more">
                                    <a ui-sref-opts="{reload:true}"
                                       ui-sref="recipedetail({ postRecipesId: recipeshomexx.slug })"
                                       title="{{ homerecipes.home_recipes_template[0].recipes_recipes_button }}">
                                        {{ homerecipes.home_recipes_template[0].recipes_recipes_button }}
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 fourth-h four-height"
                     ng-repeat="recipeshomexx in homerecipes.recipes_home_list.slice(2,3)">
                    <div ng-repeat="recipesjsonx in recipesjsoninhome.docs | filter: { 'recipeID': recipeshomexx.recipe_id }">
                        <div class="hero"
                             style="height: 100%; background-image: url('{{ recipesjsonx.BackgroundImage.original }}');">
                        </div>
                        <div class="col-md-6">
                            <div class="home-recipe mt200 two-h">
                                <h4>03.</h4>
                                <h2 class="black home-recipe-title">
                                    <a ui-sref-opts="{reload:true}"
                                       ui-sref="recipedetail({ postRecipesId: recipeshomexx.slug })">
                                        {{ recipesjsonx.recipeTitle }}
                                    </a>
                                </h2>
                                <div class="recipe-cont">
                                    {{ recipesjsonx.variant | truncate: 120 }}
                                </div>
                                <div class="box-lear-more">
                                    <a ui-sref-opts="{reload:true}"
                                       ui-sref="recipedetail({ postRecipesId: recipeshomexx.slug })"
                                       title="{{ homerecipes.home_recipes_template[0].recipes_recipes_button }}">
                                        {{ homerecipes.home_recipes_template[0].recipes_recipes_button }}
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-9">
                    <div class="home-img-txt three-h"
                         ng-repeat="recipeshomexx in homerecipes.recipes_home_list.slice(3,4)">
                        <div ng-repeat="recipesjsonx in recipesjsoninhome.docs | filter: { 'recipeID': recipeshomexx.recipe_id }">
                            <div class="hero"
                                 style="height: 100%; background-image: url('{{ recipesjsonx.BackgroundImage.original }}');">
                            </div>
                            <div class="col-md-4">
                                <div class="home-recipe two-h two-height">
                                    <h4>04.</h4>
                                    <h2 class="black home-recipe-title">
                                        <a ui-sref-opts="{reload:true}"
                                           ui-sref="recipedetail({ postRecipesId: recipeshomexx.slug })">
                                            {{ recipesjsonx.recipeTitle }}
                                        </a>
                                    </h2>
                                    <div class="recipe-cont">
                                        {{ recipesjsonx.variant | truncate: 120 }}
                                    </div>
                                    <div class="box-lear-more">
                                        <a ui-sref-opts="{reload:true}"
                                           ui-sref="recipedetail({ postRecipesId: recipeshomexx.slug })"
                                           title="{{ homerecipes.home_recipes_template[0].recipes_recipes_button }}">
                                            {{ homerecipes.home_recipes_template[0].recipes_recipes_button }}
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-md-offset-3">
                    <div class="pro-tip two-h black-bg text-left">
                        <div class="tag text-up pt-0 tag3">
                            {{ homerecipes.home_recipes_template[0].recipes_did_you_now[0].recipes_did_you_now_title }}
                        </div>
                        <div class="text-icon">
                            <br/>
                            <h3 class="text-left no-line">
                                {{ homerecipes.home_recipes_template[0].recipes_did_you_now[0].recipes_did_you_now_text
                                }}
                            </h3>
                        </div>
                    </div>
                </div>

                <div class="col-md-6" style="margin-top: -180px">
                    <div class="col-md-6" ng-repeat="recipeshomexx in homerecipes.recipes_home_list.slice(4,5)">
                        <div class="home-img-txt three-h">
                            <div ng-repeat="recipesjsonx in recipesjsoninhome.docs | filter: { 'recipeID': recipeshomexx.recipe_id }">
                                <div class="hero one-h"
                                     style="position: relative; background-image: url('{{ recipesjsonx.BackgroundImage.original }}');">
                                </div>
                                <div class="col-md-12">
                                    <div class="home-recipe two-h">
                                        <h4>05.</h4>
                                        <h2 class="black home-recipe-title">
                                            <a ui-sref-opts="{reload:true}"
                                               ui-sref="recipedetail({ postRecipesId: recipeshomexx.slug })">
                                                {{ recipesjsonx.recipeTitle }}
                                            </a>
                                        </h2>
                                        <div class="recipe-cont">
                                            {{ recipesjsonx.variant | truncate: 120 }}
                                        </div>
                                        <div class="box-lear-more">
                                            <a ui-sref-opts="{reload:true}"
                                               ui-sref="recipedetail({ postRecipesId: recipeshomexx.slug })"
                                               title="{{ homerecipes.home_recipes_template[0].recipes_recipes_button }}">
                                                {{ homerecipes.home_recipes_template[0].recipes_recipes_button }}
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6" ng-repeat="recipeshomexx in homerecipes.recipes_home_list.slice(5,6)">
                        <div class="home-img-txt three-h">
                            <div ng-repeat="recipesjsonx in recipesjsoninhome.docs | filter: { 'recipeID': recipeshomexx.recipe_id }">
                                <div class="hero one-h"
                                     style="position: relative; background-image: url('{{ recipesjsonx.BackgroundImage.original }}');">
                                </div>
                                <div class="col-md-12">
                                    <div class="home-recipe two-h">
                                        <h4>06.</h4>
                                        <h2 class="black home-recipe-title">
                                            <a ui-sref-opts="{reload:true}"
                                               ui-sref="recipedetail({ postRecipesId: recipeshomexx.slug })">
                                                {{ recipesjsonx.recipeTitle }}
                                            </a>
                                        </h2>
                                        <div class="recipe-cont">
                                            {{ recipesjsonx.variant | truncate: 120 }}
                                        </div>
                                        <div class="box-lear-more">
                                            <a ui-sref-opts="{reload:true}"
                                               ui-sref="recipedetail({ postRecipesId: recipeshomexx.slug })"
                                               title="{{ homerecipes.home_recipes_template[0].recipes_recipes_button }}">
                                                {{ homerecipes.home_recipes_template[0].recipes_recipes_button }}
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--MOBILE VIEW-->
            <div class="fuller home-landing mobile-view">

                <div class="col-lg-6 col-lg-offset-6 block-ocassion primary-recipe"
                     ng-repeat="recipeshomex in homerecipes.home_recipes_template">
                    <div class="block mt200">
                        <div class="tag tag-orange text-up white orange-flag-center text-center tag34">
                            {{ recipeshomex.recipes_occassions_title }}
                        </div>

                        <h2 class="text-left titles titles-72">
                            <a ui-sref-opts="{reload:true}"
                               ui-sref="occasiondetail({ postOccasionId: homerecipes.occasions_home_list[0].slug })">
                                {{ homerecipes.occasions_home_list[0].name }}
                            </a>
                        </h2>

                        <h5 class="subtitles subtitles-grey">
                            {{ homerecipes.occasions_home_list[0].occasion_description }}
                        </h5>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="recipe-det">
                                    <a class="text-uppercase"
                                       ui-sref-opts="{reload:true}"
                                       ui-sref="occasiondetail({ postOccasionId: homerecipes.occasions_home_list[0].slug })"
                                       title="{{ recipeshomex.recipes_occassions_occassions_button }}">
                                        {{ recipeshomex.recipes_occassions_occassions_button }}
                                        <span class="arrow-black"></span>
                                    </a>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-md-12 col-lg-9 primary-recipe"
                     ng-repeat="recipeshomexx in homerecipes.recipes_home_list.slice(0,1)">
                    <div class="home-img-txt">
                        <div ng-repeat="recipesjsonx in recipesjsoninhome.docs | filter: { 'recipeID': recipeshomexx.recipe_id }">
                            <div class="hero"
                                 style="height: 100%; background-image: url('{{ recipesjsonx.BackgroundImage.original }}');">
                            </div>
                            <div class="col-md-11 no-pad home-recipe-box">
                                <div class="home-recipe">
                                    <h4>01.</h4>
                                    <h2 class="black">
                                        <a ui-sref-opts="{reload:true}"
                                           ui-sref="recipedetail({ postRecipesId: recipeshomexx.slug })">
                                            {{ recipesjsonx.recipeTitle }}
                                        </a>
                                    </h2>
                                    <div class="recipe-cont-2">
                                        {{ recipesjsonx.variant | truncate: 120 }}
                                    </div>
                                    <div class="box-lear-more">
                                        <a ui-sref-opts="{reload:true}"
                                           ui-sref="recipedetail({ postRecipesId: recipeshomexx.slug })"
                                           title="{{ homerecipes.home_recipes_template[0].recipes_recipes_button }}">
                                            {{ homerecipes.home_recipes_template[0].recipes_recipes_button }}
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-12 col-lg-3 pro-tip-box primary-recipe">
                    <div class="pro-tip text-center">
                        <div class="tag text-up white tag3">
                            {{ homerecipes.home_recipes_template[0].recipes_pro_tip[0].recipes_pro_tip_title }}
                        </div>
                        <div class="text-icon">
                            <br/>
                            <h3 class="text-center no-line">
                                {{ homerecipes.home_recipes_template[0].recipes_pro_tip[0].recipes_pro_tip_text }}
                            </h3>
                        </div>
                    </div>
                </div>

                <div class="col-md-12 col-lg-6 primary-recipe"
                     ng-repeat="recipeshomexx in homerecipes.recipes_home_list.slice(1,2)">
                    <div ng-repeat="recipesjsonx in recipesjsoninhome.docs | filter: { 'recipeID': recipeshomexx.recipe_id }">
                        <div class="hero"
                             style="height: 100%; background-image: url('{{ recipesjsonx.BackgroundImage.original }}');">
                        </div>
                        <div class="col-md-11 no-pad home-recipe-box">
                            <div class="home-recipe">
                                <h4>02.</h4>
                                <h2 class="black">
                                    <a ui-sref-opts="{reload:true}"
                                       ui-sref="recipedetail({ postRecipesId: recipeshomexx.slug })">
                                        {{ recipesjsonx.recipeTitle }}
                                    </a>
                                </h2>
                                <div class="recipe-cont-2">
                                    {{ recipesjsonx.variant | truncate: 120 }}
                                </div>
                                <div class="box-lear-more">
                                    <a ui-sref-opts="{reload:true}"
                                       ui-sref="recipedetail({ postRecipesId: recipeshomexx.slug })"
                                       title="{{ homerecipes.home_recipes_template[0].recipes_recipes_button }}">
                                        {{ homerecipes.home_recipes_template[0].recipes_recipes_button }}
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-12 col-lg-6 primary-recipe"
                     ng-repeat="recipeshomexx in homerecipes.recipes_home_list.slice(2,3)">
                    <div ng-repeat="recipesjsonx in recipesjsoninhome.docs | filter: { 'recipeID': recipeshomexx.recipe_id }">
                        <div class="hero"
                             style="height: 100%; background-image: url('{{ recipesjsonx.BackgroundImage.original }}');">
                        </div>
                        <div class="col-md-11 no-pad home-recipe-box">
                            <div class="home-recipe">
                                <h4>03.</h4>
                                <h2 class="black">
                                    <a ui-sref-opts="{reload:true}"
                                       ui-sref="recipedetail({ postRecipesId: recipeshomexx.slug })">
                                        {{ recipesjsonx.recipeTitle }}
                                    </a>
                                </h2>
                                <div class="recipe-cont-2">
                                    {{ recipesjsonx.variant | truncate: 120 }}
                                </div>
                                <div class="box-lear-more">
                                    <a ui-sref-opts="{reload:true}"
                                       ui-sref="recipedetail({ postRecipesId: recipeshomexx.slug })"
                                       title="{{ homerecipes.home_recipes_template[0].recipes_recipes_button }}">
                                        {{ homerecipes.home_recipes_template[0].recipes_recipes_button }}
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-12 col-lg-9 primary-recipe">
                    <div class="home-img-txt" ng-repeat="recipeshomexx in homerecipes.recipes_home_list.slice(3,4)">
                        <div ng-repeat="recipesjsonx in recipesjsoninhome.docs | filter: { 'recipeID': recipeshomexx.recipe_id }">
                            <div class="hero one-h"
                                 style="position: relative; background-image: url('{{ recipesjsonx.BackgroundImage.original }}');">
                            </div>
                            <div class="col-md-11 no-pad home-recipe-box">
                                <div class="home-recipe">
                                    <h4>04.</h4>
                                    <h2 class="black">
                                        <a ui-sref-opts="{reload:true}"
                                           ui-sref="recipedetail({ postRecipesId: recipeshomexx.slug })">
                                            {{ recipesjsonx.recipeTitle }}
                                        </a>
                                    </h2>
                                    <div class="recipe-cont-2">
                                        {{ recipesjsonx.variant | truncate: 120 }}
                                    </div>
                                    <div class="box-lear-more">
                                        <a ui-sref-opts="{reload:true}"
                                           ui-sref="recipedetail({ postRecipesId: recipeshomexx.slug })"
                                           title="{{ homerecipes.home_recipes_template[0].recipes_recipes_button }}">
                                            {{ homerecipes.home_recipes_template[0].recipes_recipes_button }}
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-12 col-lg-3 col-lg-offset-3 pro-tip-box primary-recipe">
                    <div class="pro-tip black-bg text-center">
                        <div class="tag text-up left">
                            {{ homerecipes.home_recipes_template[0].recipes_did_you_now[0].recipes_did_you_now_title }}
                        </div>
                        <div class="text-icon">
                            <h3 class="text-center no-line">
                                {{ homerecipes.home_recipes_template[0].recipes_did_you_now[0].recipes_did_you_now_text
                                }}
                            </h3>
                        </div>
                    </div>
                </div>

                <div class="col-md-12 col-lg-6 primary-recipe"
                     ng-repeat="recipeshomexx in homerecipes.recipes_home_list.slice(4,5)">
                    <div class="home-img-txt">
                        <div ng-repeat="recipesjsonx in recipesjsoninhome.docs | filter: { 'recipeID': recipeshomexx.recipe_id }">
                            <div class="hero one-h"
                                 style="position: relative; background-image: url('{{ recipesjsonx.BackgroundImage.original }}');">
                            </div>
                            <div class="col-md-11 no-pad home-recipe-box">
                                <div class="home-recipe">
                                    <h4>05.</h4>
                                    <h2 class="black">
                                        <a ui-sref-opts="{reload:true}"
                                           ui-sref="recipedetail({ postRecipesId: recipeshomexx.slug })">
                                            {{ recipesjsonx.recipeTitle }}
                                        </a>
                                    </h2>
                                    <div class="recipe-cont-2">
                                        {{ recipesjsonx.variant | truncate: 120 }}
                                    </div>
                                    <div class="box-lear-more">
                                        <a ui-sref-opts="{reload:true}"
                                           ui-sref="recipedetail({ postRecipesId: recipeshomexx.slug })"
                                           title="{{ homerecipes.home_recipes_template[0].recipes_recipes_button }}">
                                            {{ homerecipes.home_recipes_template[0].recipes_recipes_button }}
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-12 col-lg-6 primary-recipe"
                     ng-repeat="recipeshomexx in homerecipes.recipes_home_list.slice(5,6)">
                    <div class="home-img-txt">
                        <div ng-repeat="recipesjsonx in recipesjsoninhome.docs | filter: { 'recipeID': recipeshomexx.recipe_id }">
                            <div class="hero one-h"
                                 style="position: relative; background-image: url('{{ recipesjsonx.BackgroundImage.original }}');">
                            </div>
                            <div class="col-md-11 no-pad home-recipe-box">
                                <div class="home-recipe">
                                    <h4>06.</h4>
                                    <h2 class="black">
                                        <a ui-sref-opts="{reload:true}"
                                           ui-sref="recipedetail({ postRecipesId: recipeshomexx.slug })">
                                            {{ recipesjsonx.recipeTitle }}
                                        </a>
                                    </h2>
                                    <div class="recipe-cont-2">
                                        {{ recipesjsonx.variant | truncate: 120 }}
                                    </div>
                                    <div class="box-lear-more">
                                        <a ui-sref-opts="{reload:true}"
                                           ui-sref="recipedetail({ postRecipesId: recipeshomexx.slug })"
                                           title="{{ homerecipes.home_recipes_template[0].recipes_recipes_button }}">
                                            {{ homerecipes.home_recipes_template[0].recipes_recipes_button }}
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div><!--ROW GENERAL-->

    </div>
    <!--CONTAINER GENERAL-->

</div>

