<!--regular meta-->
<update-title title="{{ seoTitle }}"></update-title>
<update-meta name='keywords' content='{{ seoKeywords }}'></update-meta>
<update-meta name='description' content='{{ seoDescription }}'></update-meta>
<!--FB meta-->
<update-meta property='og:url' content='{{ fburl }}'></update-meta>
<update-meta property='og:title' content='{{ seoTitle }}'></update-meta>
<update-meta property='og:description' content='{{ seoDescription }}'></update-meta>

<ol class="seo-breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
    <li itemprop="itemListElement" itemscope
        itemtype="http://schema.org/ListItem">
        <a itemprop="item"
           ui-sref-opts="{reload:true}"
           ui-sref="home">
            <span itemprop="name">Home</span></a>
        <meta itemprop="position" content="1"/>
    </li>
    <li itemprop="itemListElement" itemscope
        itemtype="http://schema.org/ListItem">
        <a itemprop="item"
           ui-sref="occasions"
           ui-sref-active="active">
            <span itemprop="name">Occasions</span></a>
        <meta itemprop="position" content="2"/>
    </li>
    <li itemprop="itemListElement" itemscope
        itemtype="http://schema.org/ListItem"
        ng-repeat="occasionx in occasionstemplate.list_occasions | filter: { 'slug': postOccasionId}:true | limitTo:1">
        <a itemprop="item">
            <span itemprop="name">{{ occasionx.name }}</span></a>
        <meta itemprop="position" content="3"/>
    </li>
</ol>

<div ng-repeat="occasionx in (filterError404 = (occasionstemplate.list_occasions | filter: { 'slug': postOccasionId}:true | limitTo:1))">
</div>

<div class="text-center notfound" ng-if="filterError404.length == 0">
    <br/>
    <br/>
    <br/>
    <h2>404</h2>
    <h3>Oops! page not found</h3>
    <br/>
    <br/>
    <br/>
</div>

<div class="full-occasion-detail"
     ng-repeat="occasionx in occasionstemplate.list_occasions | filter: { 'slug': postOccasionId}:true | limitTo:1">

    <div class="hero" ng-style="{'background-image': 'url(' + occasionx.occasion_hero_image + ')'}"></div>

    <div class="container">

        <div class="row">

            <div class="col-md-12 id-{{ postOccasionId }}">

                <div class="block text-center mt500">

                    <div class="text-align-center">
                        <div class="tag text-up white tag678">
                            Occasions
                        </div>
                    </div>

                    <div class="col-md-8 col-md-offset-2">
                        <h1 id="wb-cont" class="thetitle">{{ occasionx.name }} Drinks</h1>
                        <br>
                        <p class="description text-center">{{ occasionx.occasion_description}}</p>
                    </div>
                </div>

            </div>

        </div>

        <h2 class="text-center seo-reference">Our Brands • Our Drink Recipes</h2>

        <div class="clearme"></div>

        <div class="col-xs-12">
            <br><br><br>
            <p class="our-text">
                OUR BRANDS
            </p>
            <br><br>
        </div>

        <div class="clearme"></div>

        <div class="row">
            <div class="col-xs-12 brand-boxes slick-formated slick-formated-dots slick-formated-arrow">

                <slick slides-to-show=4 slides-to-scroll=4 responsive="miniGalleryResponsive"
                       dots="true"
                       arrows="false" init-onload=true data="brandsToOcassion" custom-paging="customDots">

                    <div class="related col-xs-12 col-sm-12 col-md-6 col-lg-3"
                         ng-repeat="brandsx in ( filterResultIn = (brandsToOcassion | filter: filterBy:true)) | limitTo: limitloadmoreocca">
                        <div class="brand-icon">
                            <div class="brand-mask">
                                <a ui-sref-opts="{reload:true}"
                                   ui-sref="brandsdetail({ postBrandsId: brandsx.slug })">
                                    <span class="brands-crop"></span>
                                    <img ng-src="{{ brandsx.image }}" alt="{{ brandsx.name }}"></a>
                            </div>
                        </div>
                        <div class="brand-text">
                            <h2 class="text-center box-name">
                                <a ui-sref-opts="{reload:true}" ui-sref="brandsdetail({ postBrandsId: brandsx.slug })"
                                   title="{{ brandsx.name }}">{{ brandsx.name | truncate: 24: '...'}}</a>
                            </h2>
                            <div class="box-lear-more">
                                <a ui-sref-opts="{reload:true}" ui-sref="brandsdetail({ postBrandsId: brandsx.slug })"
                                   title="LEARN MORE">
                                    LEARN MORE</a>
                            </div>
                        </div>

                    </div>
                </slick>
            </div>
        </div>

        <div class="clearme"></div>

        <div class="col-xs-12">
            <br>
            <p class="our-text">
                OUR RECIPES
            </p>
            <br><br>
        </div>

        <div class="clearme"></div>

        <div class="row">
            <div class="col-xs-12 products-boxes slick-formated slick-formated-dots slick-formated-arrow">
                <!--<related-recipes limit="8" data="occasionInRecipe.docs"></related-recipes>-->

                <div ng-repeat="recipex in (filterResultIn2 = (occasionInRecipe.docs | filter: filterBy:true)) | limitTo: limitrecinocca"
                     class="related col-md-3 col-sm-6 no-pad">
                    <div class="reloader">
                        <a class="recipe-img aiblock recipe-img2 aiblock2"
                           ui-sref-opts="{reload:true}"
                           ui-sref="recipedetail({ postRecipesId: recipex.recipeSlug })"
                           ng-style="{'background-image': 'url(' + recipex.SearchImage.original + ')'}">
                        </a>
                    </div>
                    <div class="block-s">
                        <h2>
                            <a ui-sref-opts="{reload:true}"
                               ui-sref="recipedetail({ postRecipesId: recipex.recipeSlug })">
                                {{ recipex.recipeTitle | truncate: 24: '...' }}
                            </a>
                        </h2>
                        <div class="box-lear-more">
                            <a ui-sref-opts="{reload:true}"
                               ui-sref="recipedetail({ postRecipesId: recipex.recipeSlug })"
                               title="Get recipe">
                                Get recipe
                            </a>
                        </div>
                    </div>

                </div>

                <div class="text-center">
                    <p ng-if="filterResultIn2.length == 0">
                        No match criteria<br/><br/><br/>
                    </p>
                </div>

                <div class="col-md-12 text-center" ng-if="filterResultIn2.length >= 9">
                    <button class="btn-load-more" ng-click='loadMore52(); disableClick52();'
                            ng-disabled='isDisabled'
                            ng-model='isDisabled'>
                        VIEW MORE
                    </button>
                </div>

            </div>
        </div>

    </div>

</div>



