<!--regular meta-->
<update-title title="{{ seoTitle }}"></update-title>
<update-meta name='keywords' content='{{ seoKeywords }}'></update-meta>
<update-meta name='description' content='{{ seoDescription }}'></update-meta>
<!--FB meta-->
<update-meta property='og:url' content='{{ fburl }}'></update-meta>
<update-meta property='og:title' content='{{ seoTitle }}'></update-meta>
<update-meta property='og:description' content='{{ seoDescription }}'></update-meta>

<ol class="seo-breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
    <li itemprop="itemListElement" itemscope
        itemtype="http://schema.org/ListItem">
        <a itemprop="item"
           ui-sref-opts="{reload:true}"
           ui-sref="home">
            <span itemprop="name">Home</span></a>
        <meta itemprop="position" content="1"/>
    </li>
    <li itemprop="itemListElement" itemscope
        itemtype="http://schema.org/ListItem">
        <a itemprop="item"
           ui-sref="occasions"
           ui-sref-active="active">
            <span itemprop="name">Occasions</span></a>
        <meta itemprop="position" content="2"/>
    </li>
</ol>

<div class="hero-solid">
</div>

<div class="all-pages full-page-occasions-landing id-{{ postOccasionCat }}">

    <div class="top-titles text-center">
        <h1 id="wb-cont">
            Explore Drink Occasions
        </h1>
        <h2>
            Find the right drink for any moment
        </h2>
        <h2 class="seo-reference">
            Our Brands • Our Drink Recipes
        </h2>
    </div>

    <h2 class="text-center seo-reference">Find the Right Drink for Any Moment • All Drink Occasions • How To Videos</h2>

    <div class="container mt90 mt90m">

        <div class="row slick-formated-white slick-formated-dots slick-formated-arrow">

            <slick dots="true" slides-to-show="2" slides-to-scroll="2" custom-paging="customDots"
                   init-onload=true
                   data="occasionstemplate" class="hero-recipes" responsive="bigSlider">

                <div ng-repeat="occasionsslidesx in occasionstemplate.hero_occasions">

                    <div class="no-pad reloader">

                        <a class="hero-nofull hero-nofull2"
                           ui-sref-opts="{reload:true}"
                           ui-sref="occasiondetail({ postOccasionId: occasionsslidesx.slug })"
                           ng-style="{'background-image': 'url(' + occasionsslidesx.occasion_hero_image + ')'}">

                        </a>

                        <div class="block text-left mt0" style="min-height: 400px;" ng-class="{'addfirstclass': $first}"
                             ng-class-odd="'addfirstclass pull-right'">

                            <h2 class="text-left limit-hero-title">
                                <a href="" ui-sref-opts="{reload:true}"
                                   ui-sref="occasiondetail({ postOccasionId: occasionsslidesx.slug })">
                                    {{ occasionsslidesx.name | truncate: 24: '...' }}
                                </a>
                            </h2>
                            <br>
                            <p>{{ occasionsslidesx.occasion_description | truncate: 120: '...'}}</p>
                            <div class="box-lear-more">
                                <a href="" ui-sref-opts="{reload:true}"
                                   ui-sref="occasiondetail({ postOccasionId: occasionsslidesx.slug })"
                                   title="{{ occasionstemplate.occasions_button_get }}">
                                    {{ occasionstemplate.occasions_button_get }}
                                </a>
                            </div>
                        </div>

                    </div>

                </div>

            </slick>

        </div>

        <p class="clearme"></p>

        <div class="row">

            <div class="reformatted-sel col-xs-12 col-sm-12 col-md-12 col-lg-12">

                <br>
                <br>
                <p class="clearme"></p>

                <div class="select-with-box-format-2">
                    <ul class="oSelect">
                        <li class="init">All occasions</li>
                        <li class="noinit" ng-repeat="category in categories | unique:'id'"
                            ng-hide="category.name == 'Uncategorised'"
                            data-value="{{ $index }}"
                            ng-click="filtersCat(category.name); select($index);"
                            title="{{ category.name }}">
                            {{ category.name }}
                        </li>
                    </ul>
                </div>
            </div>


            <div class="col-xs-12 reformatted-sel-title-2">
                <br>
                <br>
                <p class="clearme"></p>
                <p class="our-text">
                    All occasions
                </p>
                <br>
                <br>
            </div>

            <p class="clearme"></p>

            <div class="col-md-12">

                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 box-black box-black-occasions box-black-occasions-2">
                    <div class="block mt50-mob margin-lateral">
                        <h6 class="text-up-small gray-med">{{ occasionstemplate.occasions_categories }}</h6>
                        <div id="boxCategoryListOccasions">
                            <p ng-repeat="category in categories | unique:'id'"
                               ng-hide="category.name == 'Uncategorised'">
                                <a id="linkerio{{ category.slug }}"
                                   ng-click="filtersCat(category.name); select($index);"
                                   ng-class="{sel: $index == selected}" class="linkerio isThisCat{{ $index }}"
                                   title="{{ category.name }}">
                                    {{ category.name }}
                                </a>
                            </p>
                        </div>
                    </div>
                </div>

                <!--<p>{{ filtersCatBy = 0; }}</p>-->

                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 occasions-area"
                     ng-repeat="occasionlistx in (filterResult = (occasionstemplate.list_occasions))
                 | limitTo: limitloadmoreoccasions
                 | filter: { 'occasion_cat_name': filtersCatBy } : true">

                    <!--{{ filtersCatBy }}-->

                    <div class="reloader">
                        <a ui-sref-opts="{reload:true}"
                           ui-sref="occasiondetail({ postOccasionId: occasionlistx.slug })"
                           class="occasions-image one-h"
                           ng-style="{'background': 'url(' + occasionlistx.occasion_hero_image + ') no-repeat center' }">
                            <!--{{ occasionlistx.occasion_cat_name }}-->
                        </a>
                    </div>

                    <div class="occasions-text">

                        <p class="silver-text hidden">
                            {{ occasionlistx.occasion_all_cat }}
                        </p>

                        <div class="occasions-title">
                            <h3 class="text-left">
                                <a ui-sref-opts="{reload:true}"
                                   ui-sref="occasiondetail({ postOccasionId: occasionlistx.slug })">
                                    {{ occasionlistx.name | truncate: 24: '...' }}
                                </a>
                            </h3>
                        </div>
                        <div class="occasions-desc">
                            <p class="text-left">
                                {{ occasionlistx.occasion_description | truncate: 120: '...' }}
                            </p>
                        </div>
                        <div class="box-lear-more">
                            <a ui-sref-opts="{reload:true}"
                               ui-sref="occasiondetail({ postOccasionId: occasionlistx.slug })"
                               title="{{ occasionstemplate.occasions_button_get }}">
                                {{ occasionstemplate.occasions_button_get }}
                            </a>
                        </div>

                    </div>

                </div>

            </div>

            <div class="col-md-12 text-center" ng-if="filterResult.length >= 6">
                <button class="btn-load-more" ng-click='loadMore2(); disableClick2();' ng-disabled='isDisabled'
                        ng-model='isDisabled'>
                    {{ occasionstemplate.occasions_button_view_more }}
                </button>
            </div>


            <div class="col-md-12">

                <!-- HOW TO VIDEOS -->
                <div class="full-block-how-to-videos">

                    <div class="col-xs-12">
                        <br><br>
                        <p class="our-text">
                            {{ occasionstemplate.occasions_title_section_video }}
                        </p>
                        <br><br>
                    </div>

                    <div class="related-videos">

                        <div ng-repeat="occasionsxp in occasionstemplate.list_videos.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))">

                            <div class="related col-md-3 col-sm-6 col-xs-12">

                                <a class="show-cursor reloader" ng-click="showLightBox = true">
                                    <div class="recipe-img recipe-img2 how-to-icon"
                                         ng-style="{'background-image': 'url(' + occasionsxp.video_image + ')'}">
                                    </div>
                                </a>

                                <div class="block-s">
                                    <h2 class="limit-124">
                                        <a ng-click="showLightBox = true">
                                            {{ occasionsxp.name | truncate: 60 : '...' }}
                                        </a>
                                    </h2>
                                    <div class="block-bar-orange"></div>
                                </div>

                            </div>

                            <lightbox-directive
                                    class="angular-lightbox"
                                    ng-class="showLightBox ? 'show-lightbox' : 'hidden'">
                                <article>
                                    <header>
                                        <a class="close-btn"
                                           ng-click="$parent.showLightBox = false">
                                            <i class="fa fa-times-circle"></i>
                                        </a>
                                    </header>

                                    <content ng-click="$parent.showLightBox = false">
                                        <iframe ng-if="$parent.showLightBox" width="100%" height="100%"
                                                src="{{ occasionsxp.video_url }}"
                                                frameborder="0" allowfullscreen>
                                        </iframe>
                                        <!--el getIframeSrc esta a pata hasta que hagamos el cpt de how to videos-->
                                    </content>

                                </article>

                            </lightbox-directive>

                        </div>

                        <pagination total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()"
                                    class="pagination-sm" items-per-page="itemsPerPage"></pagination>

                    </div>

                </div>

            </div>

        </div>

    </div>


</div>