<!--regular meta-->
<update-title title="{{ seoTitle }}"></update-title>
<update-meta name='keywords' content='{{ seoKeywords }}'></update-meta>
<update-meta name='description' content='{{ seoDescription }}'></update-meta>

<!--FB meta-->
<!--<update-meta property='og:image' content='{{  }}'></update-meta>-->
<update-meta property='og:url' content='{{ fburl }}'></update-meta>
<update-meta property='og:title' content='{{ seoTitle }}'></update-meta>
<update-meta property='og:description' content='{{ seoDescription }}'></update-meta>

<!--TWITTER CARDS-->
<update-meta property='twitter:card' content='summary_large_image'></update-meta>
<update-meta property='twitter:site' content='{{ fburl }}'></update-meta>
<update-meta property='twitter:title' content='{{ seoTitle }}'></update-meta>
<update-meta property='twitter:description' content='{{ seoDescription }}'></update-meta>

<ol class="seo-breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
    <li itemprop="itemListElement" itemscope
        itemtype="http://schema.org/ListItem">
        <a itemprop="item"
           ui-sref-opts="{reload:true}"
           ui-sref="home">
            <span itemprop="name">Home</span></a>
        <meta itemprop="position" content="1"/>
    </li>
    <li itemprop="itemListElement" itemscope
        itemtype="http://schema.org/ListItem">
        <a itemprop="item"
           ui-sref="recipes"
           ui-sref-active="active">
            <span itemprop="name">Recipes</span></a>
        <meta itemprop="position" content="2"/>
    </li>
    <li itemprop="itemListElement" itemscope
        itemtype="http://schema.org/ListItem"
        ng-repeat="taxonomydrinktyperecipesx2 in taxonomydrinktyperecipes.taxonomy_drink_type_list | filter: { 'drink_slug' : postRecipesLandingId }:true | limitTo:1">
        <a itemprop="item">
            <span itemprop="name">{{ taxonomydrinktyperecipesx2.drink_type }}</span></a>
        <meta itemprop="position" content="3"/>
    </li>
</ol>

<div class="recipe-landing all-pages full-page-recipes-landing">

    <div ng-repeat="taxonomydrinktyperecipesx2 in (filterError404 = (taxonomydrinktyperecipes.taxonomy_drink_type_list | filter: { 'drink_slug' : postRecipesLandingId }:true | limitTo:1))">
    </div>
    <div class="text-center notfound" ng-if="filterError404.length == 0">
        <br/>
        <br/>
        <br/>
        <h2>404</h2>
        <h3>Oops! page not found</h3>
        <br/>
        <br/>
        <br/>
    </div>

    <div ng-repeat="taxonomydrinktyperecipesx2 in taxonomydrinktyperecipes.taxonomy_drink_type_list | filter: { 'drink_slug' : postRecipesLandingId }:true | limitTo:1">
        <div class="hero-solid"><h1 class="hidden"> {{ taxonomydrinktyperecipesx2.drink_type }}</h1></div>
    </div>

    <div class="container">

        <div ng-repeat="taxonomydrinktyperecipesx2 in taxonomydrinktyperecipes.taxonomy_drink_type_list | filter: { 'drink_slug' : postRecipesLandingId }:true | limitTo:1">

            <div class="row">

                <div class="col-md-12" itemscope itemtype="http://schema.org/Thing">
                    <div class="block mt90 text-center">

                        <div class="tag text-up-small white tag11">
                            RECIPES - Drink Type
                        </div>

                        <h1 id="wb-cont" class="text-center" itemprop="name">
                            {{ taxonomydrinktyperecipesx2.drink_type }}
                        </h1>


                        <h2 class="seo-reference">Explore Drink Recipes • All Drink Recipes</h2>

                        <hr>

                        <p itemprop="description">
                            <span ng-bind-html="taxonomydrinktyperecipesx2.drink_type_desc | to_trusted"></span>
                        </p>

                    </div>
                </div>

            </div>
        </div>

    </div>


    <div class="container">

        <div class="row">

            <!--   repeat de los tags en recetas -->
            <div class="roow-recipes-slider-by-type">

                <div class="col-md-12 taxonomy-drinktype-recipes-box"
                     ng-repeat="taxonomydrinktyperecipesx in taxonomydrinktyperecipes.taxonomy_drink_type_list | filter: { 'drink_slug' : postRecipesLandingId }:true | limitTo:1">

                    <div class="col-md-12 no-pad">
                        <br/>
                        <br/>
                    </div>

                    <!--   repeat del slider -->
                    <div ng-repeat="recipesjsonx in recipesjson[taxonomydrinktyperecipesx.drink_slug].docs">

                        <div class="related col-md-3 no-pad" itemscope itemtype="http://schema.org/Recipe">

                            <div class="reloader">
                                <a ui-sref-opts="{reload:true}"
                                   itemprop="image"
                                   ui-sref="recipedetail({ postRecipesId: recipesjsonx.recipeSlug })"
                                   class="recipe-img aiblock recipe-img2 aiblock2"
                                   style="background-image: url('{{ recipesjsonx.SearchImage.original }}');">
                                </a>
                            </div>

                            <div class="block-s">
                                <p class="silver-text">
                                <span itemprop="description" ng-repeat="recipesjsonxx in recipesjsonx.attributes">
                                    {{ recipesjsonxx.DrinkType }}
                                </span>
                                </p>

                                <h3 class="box-desc">
                                    <a ui-sref-opts="{reload:true}"
                                       itemprop="name"
                                       ui-sref="recipedetail({ postRecipesId: recipesjsonx.recipeSlug })">
                                        {{ recipesjsonx.recipeTitle | truncate: 48: '...' }}
                                    </a>
                                </h3>
                                <div class="box-lear-more">
                                    <a ui-sref-opts="{reload:true}"
                                       itemprop="url"
                                       ui-sref="recipedetail({ postRecipesId: recipesjsonx.recipeSlug })"
                                       title="{{ recipeslanding.recipes_button_get_recipe }}">
                                        {{ recipeslanding.recipes_button_get_recipe }}
                                    </a>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

</div>

