<!--regular meta-->
<update-title title="{{ recipeslanding.seoTitle }}"></update-title>
<update-meta name='keywords' content='{{ recipeslanding.seoKeywords }}'></update-meta>
<update-meta name='description' content='{{ recipeslanding.seoDescription }}'></update-meta>

<!--FB meta-->
<!--<update-meta property='og:image' content='{{  }}'></update-meta>-->
<update-meta property='og:url' content='{{ recipeslanding.fburl }}'></update-meta>
<update-meta property='og:title' content='{{ recipeslanding.seoTitle }}'></update-meta>
<update-meta property='og:description' content='{{ seoDescription }}'></update-meta>

<ol class="seo-breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
    <li itemprop="itemListElement" itemscope
        itemtype="http://schema.org/ListItem">
        <a itemprop="item"
           ui-sref-opts="{reload:true}"
           ui-sref="home">
            <span itemprop="name">Home</span></a>
        <meta itemprop="position" content="1"/>
    </li>
    <li itemprop="itemListElement" itemscope
        itemtype="http://schema.org/ListItem">
        <a itemprop="item"
           ui-sref="recipes"
           ui-sref-active="active">
            <span itemprop="name">Recipes</span></a>
        <meta itemprop="position" content="2"/>
    </li>
</ol>

<div class="recipe-landing all-pages full-page-recipes-landing">

    <div class="container">

       <div class="row">

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 box-with-select">

                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <p class="our-text" style="line-height: 60px;">
                        {{ recipeslanding.recipes_title_all_recipes }}
                    </p>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <div class="select-with-box-format">
                        <select class="select-with-box-format-select-box" ng-model="myDropDownSelect">
                            <option value="one">ALL RECIPES</option>
                        </select>
                    </div>
                </div>

            </div>

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                <div class="related-recipes no-margin box-to-recipe-in" ng-show="myDropDownSelect=='one'">

                    <div ng-repeat="recipex in ( filterResultIn2 = (recipesjson)) | limitTo: 200"
                         class="related col-md-3 col-sm-6 no-pad" itemscope itemtype="http://schema.org/Recipe">

                        <div class="reloader theHoverPinterest">
                            <a ui-sref-opts="{reload:true}"
                               itemprop="image"
                               ui-sref="recipedetail({ postRecipesId: recipex._id })"
                               class="recipe-img aiblock recipe-img2 aiblock2"
                               style="background-image: url('{{ recipex.references.Rec_Background_Image.values.Rec_Asset_Ref_Original_URL }}');">
                            </a>
                            <div class="theHoverPinterestBox">
                                <!--share pinterest-->
                                <a id="thepinterest2"
                                   href="https://pinterest.com/pin/create/button/?url={{ fburl }}/{{ recipex.recipeSlug }}&media={{ recipex.SearchImage.original }}&description={{ recipex.recipeTitle }}"
                                   target="_blank">
                                    <img src="dist/images/social/pinterest-circle.png"
                                         alt="Compartir en Pinterest"/>
                                </a>
                            </div>
                        </div>

                        <div class="block-s">
                            <p class="silver-text">
                                <span >
                                    {{ recipex.DrinkType }}
                                </span>
                            </p>
                            <h3>
                                <a ui-sref-opts="{reload:true}"
                                   itemprop="name"
                                   ui-sref="recipedetail({ postRecipesId: recipex._id })">
                                    {{ recipex.name | truncate: 48: '...' }}
                                </a>
                            </h3>

                            <div class="box-lear-more">
                                <a ui-sref-opts="{reload:true}"
                                   itemprop="url"
                                   ui-sref="recipePOCdetail({ postRecipesPOCId: recipex._id })"
                                   title="Get Recipe">
                                    Get Recipe
                                </a>
                            </div>

                        </div>

                    </div>

                    <div class="text-center" ng-if="filterResultIn2.length == 0">
                        <p>
                            No match criteria<br/><br/><br/>
                        </p>
                    </div>

                    

                </div>

                

            </div>

        </div>

    </div>



</div>

