<!--regular meta-->
<update-title title="{{ recipeslanding.seoTitle }}"></update-title>
<update-meta name='keywords' content='{{ recipeslanding.seoKeywords }}'></update-meta>
<update-meta name='description' content='{{ recipeslanding.seoDescription }}'></update-meta>

<!--FB meta-->
<!--<update-meta property='og:image' content='{{  }}'></update-meta>-->
<update-meta property='og:url' content='{{ recipeslanding.fburl }}'></update-meta>
<update-meta property='og:title' content='{{ recipeslanding.seoTitle }}'></update-meta>
<update-meta property='og:description' content='{{ seoDescription }}'></update-meta>

<ol class="seo-breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
    <li itemprop="itemListElement" itemscope
        itemtype="http://schema.org/ListItem">
        <a itemprop="item"
           ui-sref-opts="{reload:true}"
           ui-sref="home">
            <span itemprop="name">Home</span></a>
        <meta itemprop="position" content="1"/>
    </li>
    <li itemprop="itemListElement" itemscope
        itemtype="http://schema.org/ListItem">
        <a itemprop="item"
           ui-sref="recipes"
           ui-sref-active="active">
            <span itemprop="name">Recipes</span></a>
        <meta itemprop="position" content="2"/>
    </li>
</ol>

<div class="recipe-landing all-pages full-page-recipes-landing">

    <h1 id="wb-cont" class="hidden">Drink Recipes & Classic Cocktails</h1>

    <h2 class="seo-reference">Explore Drink Recipes • All Drink Recipes</h2>

    <div class="">

        <div class="slick-big-4">

            <slick dots="true" slides-to-show="2" slides-to-scroll="2" custom-paging="customDots" init-onload=true
                   data="recipeslandingfeaturedrecipes" class="hero-recipes hero-recipes-fix hero-recipes-fix2"
                   responsive="bigSlider">

                <div ng-repeat="recipeslandingx in recipeslandingfeaturedrecipes.recipes_featured_list |limitTo: 4"
                     class="theHoverPinterest2"
                     ng-class-odd="'pull-right-hl'"
                     ng-class-even="'pull-left-hl'">

                    <div class="col-md-12 no-pad">

                         <span class="theHoverPinterestBox">
                                <!--share pinterest-->
                                <a id="thepinterest0"
                                   href="https://pinterest.com/pin/create/button/?url={{ fburl }}/{{ recipeslandingx.slug }}&media={{ recipesjson[recipeslandingx.slug].BackgroundImage.original }}&description={{ recipesjson[recipeslandingx.slug].recipeTitle }}"
                                   target="_blank">
                                    <img src="dist/images/social/pinterest-circle.png"
                                         alt="Compartir en Pinterest"/>
                                </a>
                            </span>

                        <div class="hero"
                             style="background-image: url('{{ recipesjson[recipeslandingx.slug].BackgroundImage.original }}');">
                        </div>

                    </div>

                    <div class="col-md-12 slick-big-4-row no-pad">

                        <div class="block text-left orange-line mt500 pull-ubication" itemscope
                             itemtype="http://schema.org/Recipes">
                            <div class="text-up gray"
                                 itemprop="description"
                                 ng-repeat="recipesjsonxx in recipesjson[recipeslandingx.slug].attributes">
                                {{ recipesjsonxx.DrinkClassification }}
                            </div>
                            <h3 class="text-left text-name limit-hero-title">
                                <a ui-sref-opts="{reload:true}"
                                   itemprop="name"
                                   ui-sref="recipedetail({ postRecipesId: recipeslandingx.slug })">
                                    {{ recipesjson[recipeslandingx.slug].recipeTitle | truncate: 24: '...' }}
                                </a>
                            </h3>
                            <br/><br/>
                            <div class="recipe-cont-2" itemprop="description">
                                {{ recipesjson[recipeslandingx.slug].variant | truncate: 120 }}
                            </div>
                            <br/><br/>
                            <div class="box-lear-more">
                                <a ui-sref-opts="{reload:true}"
                                   itemprop="url"
                                   ui-sref="recipedetail({ postRecipesId: recipeslandingx.slug })"
                                   title="{{ recipeslandingfeaturedrecipes.recipes_button_get_recipe }}">
                                    {{ recipeslandingfeaturedrecipes.recipes_button_get_recipe }}
                                </a>
                            </div>
                        </div>

                    </div>

                </div>

            </slick>

        </div>

    </div>

    <div class="container">

        <div class="row">

            <div class="col-md-12">
                <br><br>
                <p class="our-text">
                    {{ recipeslanding.recipes_title_explore_recipes }}
                </p>
                <br><br>
            </div>

            <!--   repeat de los tags en recetas -->

            <div class="roow-recipes-slider-by-type slick-formated-white slick-formated-dots slick-formated-arrow">

                <div class="col-md-12 taxonomy-drinktype-recipes-box taxonomy-drinktype-recipes-box2"
                     ng-repeat="taxonomydrinktyperecipesx in (filterResultTax = (taxonomydrinktyperecipes.taxonomy_drink_type_list)) | limitTo: limitloadmoretax">

                    <div class="col-md-3 no-pad" itemscope itemtype="http://schema.org/Recipe">
                        <div class="type-description">
                            <p class="text-up" itemprop="name">
                                {{ taxonomydrinktyperecipesx.drink_type }}
                            </p>
                            <p class="type-description22" itemprop="description">
                                <span ng-bind-html="taxonomydrinktyperecipesx.drink_type_desc | to_trusted"></span>
                            </p>
                            <hr>
                            <a class="box-see-all"
                               ui-sref-opts="{reload:true}"
                               itemprop="url"
                               ui-sref="recipeslanding({ postRecipesLandingId: taxonomydrinktyperecipesx.drink_slug })">
                                <span class="text-uppercase">see all</span>
                                <img src="dist/images/large-arrow.png" alt="">
                            </a>
                        </div>
                    </div>

                    <slick slides-to-show="3" slides-to-scroll="3"
                           dots="true" responsive="bigSlider"
                           arrows="true" init-onload=true data="recipesjson[taxonomydrinktyperecipesx.drink_slug]"
                           custom-paging="customDots"
                           class="recipeslider recipesliderx3 col-md-9 no-pad">

                        <!--   repeat del slider -->
                        <div ng-repeat="recipesjsonx in ( filterResultTax2 = (recipesjson[taxonomydrinktyperecipesx.drink_slug].docs)) | limitTo : 99">

                            <div class="notmacth" ng-if="!(filterResultTax2.length >= 1)">
                                <p>
                                    <span class="no-result-data" style="padding: 20px;">
                                        No match criteria
                                    </span>
                                </p>
                            </div>

                            <div class="related col-md-4 no-pad no-margin" ng-if="filterResultTax2.length >= 1"
                                 itemscope itemtype="http://schema.org/Recipe">

                                <div class="reloader 112233 theHoverPinterest">
                                    <a ui-sref-opts="{reload:true}"
                                       itemprop="image"
                                       ui-sref="recipedetail({ postRecipesId: recipesjsonx.recipeSlug })"
                                       class="recipe-img aiblock recipe-img2 aiblock2"
                                       style="background-image: url('{{ recipesjsonx.SearchImage.original }}');">
                                    </a>
                                    <div class="theHoverPinterestBox">
                                        <!--share pinterest-->
                                        <a id="thepinterest"
                                           href="https://pinterest.com/pin/create/button/?url={{ fburl }}/{{ recipesjsonx.recipeSlug }}&media={{ recipesjsonx.SearchImage.original }}&description={{ recipesjsonx.recipeTitle }}"
                                           target="_blank">
                                            <img src="dist/images/social/pinterest-circle.png"
                                                 alt="Compartir en Pinterest"/>
                                        </a>
                                    </div>
                                </div>

                                <div class="block-s">

                                    <p class="silver-text">
                                        {{ taxonomydrinktyperecipesx.drink_type }}
                                    </p>

                                    <h3 class="box-desc">
                                        <a ui-sref-opts="{reload:true}"
                                           itemprop="name"
                                           ui-sref="recipedetail({ postRecipesId: recipesjsonx.recipeSlug })">
                                            {{ recipesjsonx.recipeTitle | truncate: 24: '...' }}
                                        </a>
                                    </h3>

                                    <div class="box-lear-more">
                                        <a ui-sref-opts="{reload:true}"
                                           itemprop="url"
                                           ui-sref="recipedetail({ postRecipesId: recipesjsonx.recipeSlug })"
                                           title="{{ recipeslanding.recipes_button_get_recipe }}">
                                            {{ recipeslanding.recipes_button_get_recipe }}
                                        </a>
                                    </div>
                                </div>

                            </div>

                        </div>

                    </slick>

                </div>

                <div class="col-md-12 text-center load-more-more" ng-if="filterResultTax.length >= 5">
                    <button class="btn-load-more" ng-click='loadMore91(); disableClick91();' ng-disabled='isDisabled'
                            ng-model='isDisabled'>
                        VIEW MORE
                    </button>
                </div>

            </div>

            <hr>

        </div>


        <div class="row">

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 box-with-select">

                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <p class="our-text" style="line-height: 60px;">
                        {{ recipeslanding.recipes_title_all_recipes }}
                    </p>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <div class="select-with-box-format">
                        <select class="select-with-box-format-select-box" ng-model="myDropDownSelect">
                            <option value="one">ALL RECIPES</option>
                            <option ng-repeat="taxonomydrinktyperecipesx in taxonomydrinktyperecipes.taxonomy_drink_type_list track by $index"
                                    value="{{ $index }}"> {{ taxonomydrinktyperecipesx.drink_type }}
                            </option>
                        </select>
                    </div>
                </div>

            </div>

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                <div class="related-recipes no-margin box-to-recipe-in" ng-show="myDropDownSelect=='one'">

                    <div ng-repeat="recipex in ( filterResultIn2 = (recipesjson.docs)) | limitTo: limitloadmorebrandsrec2"
                         class="related col-md-3 col-sm-6 no-pad" itemscope itemtype="http://schema.org/Recipe">

                        <div class="reloader theHoverPinterest">
                            <a ui-sref-opts="{reload:true}"
                               itemprop="image"
                               ui-sref="recipedetail({ postRecipesId: recipex.recipeSlug })"
                               class="recipe-img aiblock recipe-img2 aiblock2"
                               style="background-image: url('{{ recipex.SearchImage.original }}');">
                            </a>
                            <div class="theHoverPinterestBox">
                                <!--share pinterest-->
                                <a id="thepinterest2"
                                   href="https://pinterest.com/pin/create/button/?url={{ fburl }}/{{ recipex.recipeSlug }}&media={{ recipex.SearchImage.original }}&description={{ recipex.recipeTitle }}"
                                   target="_blank">
                                    <img src="dist/images/social/pinterest-circle.png"
                                         alt="Compartir en Pinterest"/>
                                </a>
                            </div>
                        </div>

                        <div class="block-s">
                            <p class="silver-text">
                                <span ng-repeat="recipesjsonxx in recipex.attributes">
                                    {{ recipesjsonxx.DrinkType }}
                                </span>
                            </p>
                            <h3>
                                <a ui-sref-opts="{reload:true}"
                                   itemprop="name"
                                   ui-sref="recipedetail({ postRecipesId: recipex.recipeSlug })">
                                    {{ recipex.recipeTitle | truncate: 24: '...' }}
                                </a>
                            </h3>

                            <div class="box-lear-more">
                                <a ui-sref-opts="{reload:true}"
                                   itemprop="url"
                                   ui-sref="recipedetail({ postRecipesId: recipex.recipeSlug })"
                                   title="Get Recipe">
                                    Get Recipe
                                </a>
                            </div>

                        </div>

                    </div>

                    <div class="text-center" ng-if="filterResultIn2.length == 0">
                        <p>
                            No match criteria<br/><br/><br/>
                        </p>
                    </div>

                    <div class="col-md-12 text-center" ng-if="filterResultIn2.length >= 9">
                        <button class="btn-load-more" ng-click='loadMore12(); disableClick12();'
                                ng-disabled='isDisabled2'
                                ng-model='isDisabled2'>
                            VIEW MORE
                        </button>
                    </div>

                </div>

                <div class="related-recipes no-margin box-to-recipe-all"
                     ng-repeat="taxonomydrinktyperecipesx in taxonomydrinktyperecipes.taxonomy_drink_type_list track by $index"
                     ng-show="myDropDownSelect==$index">

                    <div ng-repeat="recipex in recipesjson[taxonomydrinktyperecipesx.drink_slug].docs track by $index"
                         class="related col-md-3 col-sm-6 no-pad" itemscope itemtype="http://schema.org/Recipe">

                        <div class="theHoverPinterest">
                            <a ui-sref-opts="{reload:true}"
                               ui-sref="recipedetail({ postRecipesId: recipex.recipeSlug })"
                               class="recipe-img aiblock"
                               itemprop="image"
                               style="background-image: url('{{ recipex.SearchImage.original }}');">
                            </a>
                            <div class="theHoverPinterestBox">
                                <!--share pinterest-->
                                <a id="thepinterest3"
                                   href="https://pinterest.com/pin/create/button/?url={{ fburl }}/{{ recipex.recipeSlug }}&media={{ recipex.SearchImage.original }}&description={{ recipex.recipeTitle }}"
                                   target="_blank">
                                    <img src="dist/images/social/pinterest-circle.png"
                                         alt="Compartir en Pinterest"/>
                                </a>
                            </div>
                        </div>


                        <div class="block-s">
                            <p class="silver-text">
                                {{ taxonomydrinktyperecipesx.drink_type }}
                            </p>

                            <h3>
                                <a ui-sref-opts="{reload:true}"
                                   itemprop="name"
                                   ui-sref="recipedetail({ postRecipesId: recipex.recipeSlug })">
                                    {{ recipex.recipeTitle | truncate: 24: '...' }}
                                </a>
                            </h3>

                            <div class="box-lear-more">
                                <a ui-sref-opts="{reload:true}"
                                   itemprop="url"
                                   ui-sref="recipedetail({ postRecipesId: recipex.recipeSlug })"
                                   title="Get Recipe">
                                    Get Recipe
                                </a>
                            </div>

                        </div>

                    </div>


                </div>

            </div>

        </div>

    </div>



</div>

