<!--regular meta-->
<update-title title="{{ seoTitle }}"></update-title>
<update-meta name='keywords' content='{{ seoKeywords }}'></update-meta>
<update-meta property='description' content='{{ seoDescription }}'></update-meta>

<!--FB meta-->
<update-meta property='og:image' content='{{ recipesjsonunique.BackgroundImage.small }}'></update-meta>
<update-meta property='og:image:width' content='158px'></update-meta>
<update-meta property='og:image:height' content='237px'></update-meta>
<update-meta property='og:url' content='{{ fburl }}'></update-meta>
<update-meta property='og:title' content='{{ seoTitle }}'></update-meta>
<update-meta property='og:description' content='{{ seoDescription }}'></update-meta>
<update-meta property='og:type' content='website'></update-meta>

<!--schema.org meta-->
<update-meta property='tbc_search_title' content='{{ recipesjsonunique.recipeTitle }}'></update-meta>
<update-meta property='tbc_main_img' content='{{ recipesjsonunique.BackgroundImage.small }}'></update-meta>
<update-meta property='tbc_rating' content='{{ recipesjsonunique.rating.avgRating }}'></update-meta>
<update-meta property='tbc_rating_cnt' content='{{ recipesjsonunique.rating.totalRatings }}'></update-meta>
<update-meta property='tbc_neorecipeid' content='{{ recipesjsonunique.recipeSlug }}'></update-meta>
<update-meta property='tbc_drinkclass' content='{{ attr.DrinkClassification }}'></update-meta>
<update-meta property='tbc_servingstyle' content='{{ attr.ServingStyle }}'></update-meta>
<update-meta property='tbc_drinktype' content='{{ attr.DrinkType }}'></update-meta>
<update-meta property='tbc_color' content='{{ attr.Color }}'></update-meta>
<update-meta property='tbc_glassware' content='{{ attr.Glassware }}'></update-meta>
<update-meta property='tbc_featuredbrand' content='{{ recipesjsonunique.brandSlug[0] }}'></update-meta>
<update-meta property='tbc_featuredbrandid' content='{{ recipesjsonunique.brandSlug[0] }}'></update-meta>
<update-meta property='tbc_featuredproductid' content='{{ recipesjsonunique.recipeSlug }}'></update-meta>
<update-meta property='tbc_featuredjson' content='{{ data }}'></update-meta>
<update-meta property='tbc_page_type' content='recipe'></update-meta>


<update-meta property='twitter:card' content='summary_large_image'></update-meta>
<update-meta property='twitter:site' content='{{ fburl }}'></update-meta>
<update-meta property='twitter:title' content='{{ recipesjsonunique.recipeTitle }}'></update-meta>
<update-meta property='twitter:description' content='{{ seoDescription }}'></update-meta>
<update-meta property='twitter:image:src' content='{{ recipesjsonunique.BackgroundImage.small }}'></update-meta>

<ol class="seo-breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
    <li itemprop="itemListElement" itemscope
        itemtype="http://schema.org/ListItem">
        <a itemprop="item"
           ui-sref-opts="{reload:true}"
           ui-sref="home">
            <span itemprop="name">Home</span></a>
        <meta itemprop="position" content="1"/>
    </li>
    <li itemprop="itemListElement" itemscope
        itemtype="http://schema.org/ListItem">
        <a itemprop="item"
           ui-sref="recipes"
           ui-sref-active="active">
            <span itemprop="name">Recipes</span></a>
        <meta itemprop="position" content="2"/>
    </li>
    <li itemprop="itemListElement" itemscope
        itemtype="http://schema.org/ListItem">
        <a itemprop="item">
            <span itemprop="name">{{ recipesjsonunique.name }}</span></a>
        <meta itemprop="position" content="3"/>
    </li>
</ol>

<div class="full-recipe-detail" >

    <img style="display: none;" src="{{ recipesjsonunique.references.Rec_Background_Image.values.Rec_Asset_Ref_Original_URL }}" alt="Receta">

    <div class="hero" style="background-image: url('{{ recipesjsonunique.references.Rec_Background_Image.values.Rec_Asset_Ref_Original_URL }}');"></div>


    <div class="container">

        <div class="row">

            <div class="col-md-12">

                <div class="block mt500 text-center block-block" itemscope itemtype="http://schema.org/Recipe">

                    <div class="block-block-box">

                        <div class="tag text-up white">
                        <span ng-repeat="recipesjsonxx in recipesjsonunique.attributes">
                            {{ recipesjsonxx.DrinkType }}
                        </span>
                        </div>

                        <h1 id="wb-cont" class="text-center" itemprop="name">
                            {{ recipesjsonunique.name }}
                        </h1>

                        <h4>
                            Brand
                        </h4>

                        <div class="row">

                            <div class="col-md-12">

                                <div class="double-box">

                                    <div class="col-md-6 no-pad">
                                        <div class="recipe-det recipe-det-fixer left">
                                            <img src="dist/images/ingredients.png" alt="" width="30" height="28">
                                            <div>
                                                <h4 class="number">
                                                    {{ recipesjsonunique.dataContainers.Rec.Ingredients.length }}
                                                </h4>
                                                <p>INGREDIENTS</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6 no-pad double-box-second-row">
                                        <div class="recipe-det recipe-det-fixer">
                                            <img src="dist/images/difficulty.png" alt="" width="24" height="31">
                                            <div>
                                                <h4 class="number numberdificultyeffort">
                                            <span ng-repeat="recipesjsonxx in recipesjsonunique.attributes">
                                                {{ recipesjsonxx.EffortLevel }}
                                            </span><br/>
                                                </h4>
                                                <p>DIFFICULTY</p>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>

                        </div>

                        <br/>

                        <div class="row">

                            <div class="col-md-12">

                                <div class="social-box">
                                    <!--share pinterest-->
                                    <a id="thepinterest"
                                       href="https://pinterest.com/pin/create/button/?url={{ fburl }}&media={{ recipesjsonunique.BackgroundImage.original }}&description={{ recipesjsonunique.recipeTitle }}"
                                       target="_blank">
                                        <img src="dist/images/social/pinterest-circle.png"
                                             alt="Compartir en Pinterest"/>
                                    </a>

                                    <!--share facebook-->
                                    <a id="thefacebook"
                                       href="https://www.facebook.com/sharer/sharer.php?u={{ fburl }}"
                                       data-image="{{ recipesjsonunique.BackgroundImage.original }}"
                                       data-layout="button" data-size="large"
                                       data-mobile-iframe="true" title="Compartir en Facebook"
                                       target="_blank"
                                       class="fb-share-button fb-xfbml-parse-ignore">
                                        <img src="dist/images/social/facebook-circle.png" alt="Compartir en Facebook">
                                    </a>

                                    <!--share twitter-->
                                    <a id="thetwitter"
                                       href="http://www.twitter.com/share?url={{ fburl }}&amp;text={{ recipesjsonunique.recipeTitle }}&amp;hashtags=thebar.com"
                                       title="Compartir en Twitter"
                                       target="_blank">
                                        <img src="dist/images/social/twitter-circle.png" alt="Compartir en Twitter">
                                    </a>
                                </div>

                            </div>

                        </div>

                    </div>

                </div>

            </div>

            <div class="col-md-8">
                <div class="block media-no-bg">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-5">
                        <img src="dist/images/ingredients.png" alt="" class="visible-sm visible-xs"
                             style="margin: auto">
                        <h2 class="orange">Ingredients</h2>
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-7" ng-controller="Ctrl">

                        <hr style="margin-top: 0;">

                        <div class="">
                            <div class="col-md-12">

                                <div class="select-servings">

                                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                        <p class="serving">
                                            <strong>SERVING{{ selectedLimit > 1 ? "S" : "" }}</strong>
                                        </p>
                                    </div>

                                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">

                                        <div class="select-servings-box" itemprop="recipeYield">

                                            <select id="limitType" name="limit" ng-model="selectedLimit"
                                                    ng-options="limit.value as limit.text for limit in limits"
                                                    ng-init="selectedLimit='1'">
                                            </select>

                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>
                        <br>
                        <br>
                        <br>

                        <div class="">

                            <div class="col-md-12">

                                <div itemprop="ingredients"
                                     ng-repeat="ingredientx in recipesjsonunique.diageoIngredients"
                                     class="col-xs-12 no-pad">
                                    <div class="col-xs-6 col-md-6">
                                        <div class="medidas">
                                            <p>
                                            <span class="cantidad"
                                                  ng-hide="ingredientx.uom == 'Wedge' || ingredientx.uom == 'Sprig'">
                                                {{ ingredientx.qty * selectedLimit }}
                                            </span>
                                                <span class="medida">{{ ingredientx.uom }}</span>
                                            </p>
                                        </div>
                                    </div>

                                    <div class="col-xs-5 col-xs-offset-1 col-md-5 col-md-offset-1">
                                        <div class="items">
                                            <p>{{ ingredientx.variantName }}</p>
                                        </div>
                                    </div>
                                </div>

                                <div itemprop="ingredients" ng-repeat="ingredientx in recipesjsonunique.ingredients"
                                     class="col-xs-12 no-pad">

                                    <div class="col-xs-6 col-md-6">
                                        <div class="medidas">
                                            <p>
                                            <span class="cantidad"
                                                  ng-hide="ingredientx.uom == 'Wedge' || ingredientx.uom == 'Sprig'">
                                                {{ ingredientx.qty * selectedLimit }}


                                            </span>
                                                <span class="medida">
                                                {{ ingredientx.uom }}
                                            </span>
                                            </p>
                                        </div>
                                    </div>

                                    <div class="col-xs-5 col-xs-offset-1 col-md-5 col-md-offset-1">
                                        <div class="items">
                                            <p>{{ ingredientx.name }}</p>
                                        </div>
                                    </div>
                                </div>


                            </div>


                        </div>
                    </div>
                </div>

            </div>

            <div class="col-md-4 no-pad">
                <div class="mt60 no-bg media-white-bg box-base-spirit">
                    <div class="col-xs-12 col-md-12">
                        <img ng-src="{{ brandsDetailsList.brandImg }}" alt="{{ brandsDetailsList.name }}"
                             class="img-responsive center-block">
                    </div>
                    <br class="hidden-xs hidden-sm">
                    <div class="col-xs-12 col-md-12">
                        <br>
                        <p class="text-up orange text-center">BASE SPIRIT</p>
                        <h3 class="text-center">
                            {{ brandsDetailsList.name }}
                        </h3>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!--HOW TO MIX-->
    <div class="jumbo"
         ng-if="showVideo || showImage">

        <div class="container how-to-mix-area-1">

            <div class="row">
                <div class="col-md-3">
                    <h2 class="how-to orange">How-To-Mix</h2>
                    <br/>
                    <ul class="stepsul">
                        <li class="step" ng-repeat="pasox in recipesjsonunique.prepSteps">
                        <span class="items" itemprop='recipeInstructions'>
                                {{ pasox.stepNo }}.
                                </span>
                            <div class="step-detail">
                                {{ pasox.instruction }}
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-md-8 col-md-offset-1 col-xs-offset-0">
                    <div class="cascade-slider_container" id="cascade-slider">
                        <div class="cascade-slider_slides">
                            <div class="cascade-slider_item"
                                 ng-repeat="recipesjsonxx in recipesjsonunique.attributes"
                                 ng-if="recipesjsonxx.WTBURL">

                                <img ng-src="https://img.youtube.com/vi/{{ recipesjsonxx.WTBURL | GetYouTubeID }}/0.jpg"
                                     class="img-responsive" alt="">

                                <a ng-click="ShowHideLB();" class="btn-play">
                                    <span class="recipe-img how-to-icon"> </span>
                                </a>
                            </div>

                            <div class="cascade-slider_item" ng-if="recipesjsonunique.recipeImage.original">
                                <img ng-src="{{ recipesjsonunique.recipeImage.original }}"
                                     class="img-responsive" alt="">
                            </div>
                        </div>

                        <ol class="cascade-slider_nav">
                            <li class="cascade-slider_dot cur" ng-class='{cur:$first}'
                                ng-repeat="recipesjsonxx in recipesjsonunique.attributes"
                                ng-if="recipesjsonxx.WTBURL">
                            </li>
                            <li ng-if="recipesjsonunique.recipeImage.original" class="cascade-slider_dot">
                            </li>
                        </ol>

                        <p class="videodatainfogg hidden">
                            {{ VvideoID }}<br/>
                            {{ Vtitle }}<br/>
                            {{ Vdescription }}<br/>
                            {{ Vduration }}<br/>
                            {{ Vthumb }}
                        </p>

                        <lightbox-directive ng-repeat="recipesjsonxx in recipesjsonunique.attributes"
                                            ng-if="IsVisibleLB == true"
                                            ng-show="IsVisibleLB"
                                            class="angular-lightbox">
                            <article>
                                <header>
                                    <a class="close-btn" ng-click="ShowHideLB();">
                                        <i class="fa fa-times-circle"></i>
                                    </a>
                                </header>

                                <content itemprop="video" itemscope itemtype="http://schema.org/VideoObject">
                                    <h2 class="hidden">Video: {{ VvideoID }} <span
                                            itemprop="name">{{ Vtitle }}</span></h2>
                                    <meta itemprop="duration"
                                          content="{{ Vduration }}"/>
                                    <meta itemprop="thumbnailUrl"
                                          content="{{ Vthumb }}"/>
                                    <span class="hidden" itemprop="description">{{ Vdescription }}</span>

                                    <iframe width="100%" height="100%"
                                            src="{{ VvideoIDxURL }}"
                                            frameborder="0" allowfullscreen>
                                    </iframe>

                                </content>

                            </article>

                        </lightbox-directive>

                        <script type="text/javascript">
                            setTimeout(function () {
                                var scrollTop = 0;
                                $('html, body').animate({scrollTop: scrollTop});
                                //alert($("div").scrollTop() + " px");
                                $('.primaryWrapper #page-content-wrapper').css("visibility", "visible");
                            }, 500);

                            setTimeout(function () {
                                /* cascade slider 1 */
                                var slider = $('#cascade-slider');
                                slider.cascadeSlider({
                                    itemClass: 'cascade-slider_item',
                                    arrowClass: 'cascade-slider_arrow'
                                });
                                setTimeout(function () {
                                    var altoSlide = $('.cascade-slider_item').height();
                                    $('.cascade-slider_slides').height(altoSlide);
                                }, 500);
                                slider.delay(600).animate({opacity: 1}, {duration: 500});
                            }, 2000);
                        </script>

                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 pad15" ng-if="recipesjsonunique.recipeHistory">
                    <div class="background">
                        <div class="col-md-12">
                            <h2>Background</h2>
                            <p>{{ recipesjsonunique.recipeHistory }}</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <div class="container">
        <div class="row">
            <div ng-if="!showVideo && !showImage">

                <div class="row how-to-mix-area-2">

                    <div class="col-md-12 pad15">

                        <div class="block">
                            <h2 class="how-to orange">How-To-Mix</h2>
                            <br/>
                            <ul class="stepsul">
                                <li class="step" ng-repeat="pasox in recipesjsonunique.prepSteps">
                                    <div class="items">
                                        {{ pasox.stepNo }}.
                                    </div>
                                    <div class="step-detail">
                                        {{ pasox.instruction }}
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-12 pad15" ng-if="recipesjsonunique.recipeHistory">
                        <div class="background">
                            <div class="col-md-12">
                                <h2>Background</h2>
                                <p>{{ recipesjsonunique.recipeHistory }}</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>


        <br><br>

        <div class="row col-lg-12">

            <br><br>

            <p class="text-up text-center black">
                VARIATIONS ON <span class="text-uppercase"
                                    ng-repeat="recipesjsonxx in recipesjsonunique.attributes">
                    {{ recipesjsonxx.DrinkType }}
                </span>
            </p>

        </div>

        <!--   repeat de los tags en recetas -->
        <div class="row roow-recipes-slider-by-type dot-new-format">

            <div class="col-md-12 taxonomy-drinktype-recipes-box">

                <div class="related-recipes slick-formated slick-formated-dots slick-formated-arrow">

                    <slick slides-to-show="4" slides-to-scroll="4" responsive="miniGalleryResponsive"
                           dots="true"
                           arrows="false" init-onload="true" data="recipesjsonindrinktype.docs"
                           custom-paging="customDots">

                        <div ng-repeat="recipesjsonxx in (filterResultIn = (recipesjsonindrinktype.docs)) | limitTo : 8"
                             class="related col-xs-12 col-col-sm-6 col-md-6 col-lg-3 no-pad">

                            <a ui-sref-opts="{reload:true}"
                               ui-sref="recipedetail({ postRecipesId: recipesjsonxx.recipeSlug })"
                               class="recipe-img aiblock"
                               style="background-image: url('{{ recipesjsonxx.SearchImage.original }}');">
                            </a>

                            <div class="block-s">
                                <p class="silver-text">
                                    <span ng-repeat="recipesjsonxx in recipesjsonunique.attributes">
                                        {{ recipesjsonxx.DrinkType }}
                                    </span>
                                </p>
                                <h3 class="box-desc">
                                    <a ui-sref-opts="{reload:true}"
                                       ui-sref="recipedetail({ postRecipesId: recipesjsonxx.recipeSlug })">
                                        {{ recipesjsonxx.recipeTitle | truncate: 24: '...' }}
                                    </a>
                                </h3>
                                <div class="box-lear-more">
                                    <a ui-sref-opts="{reload:true}"
                                       ui-sref="recipedetail({ postRecipesId: recipesjsonxx.recipeSlug })"
                                       title="{{ recipeslanding.recipes_button_get_recipe }}">
                                        {{ recipeslanding.recipes_button_get_recipe }}
                                    </a>
                                </div>
                            </div>

                        </div>
                    </slick>

                </div>

                <div class="text-center">
                    <p ng-if="filterResultIn.length == 0">
                        No match criteria<br/><br/><br/>
                    </p>
                </div>

            </div>

        </div>

        <div class="row where-to-box-box where-to-box-box2">

            <div class="col-xs-12">
                <br>
                <br>
                <p class="our-text">
                    Where to buy {{ recipesjsonunique.brand }}
                </p>
                <br>

                <ng-include src="'where-to-buy-include.html'"></ng-include>

            </div>

        </div>

        <br><br>

    </div>

</div>

<div class="text-center notfound" ng-if="!recipesjsonunique.recipeTitle" id="show404" style="display: none;">
    <br/>
    <br/>
    <br/>
    <h1>404</h1>
    <h2>Oops! page not found</h2>
    <br/>
    <br/>
    <br/>
</div>


<!-- Load Facebook SDK for JavaScript -->
<div id="fb-root"></div>
<script>(function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s);
    js.id = id;
    js.src = 'https://connect.facebook.net/es_ES/sdk.js#xfbml=1&version=v2.12';
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>