<!--regular meta-->
<update-title title=""></update-title>
<update-meta name='keywords' content=''></update-meta>
<update-meta name='description' content=''></update-meta>

<!--FB meta-->
<!--<update-meta property='og:image' content='{{  }}'></update-meta>-->

<ol class="seo-breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
    <li itemprop="itemListElement" itemscope
        itemtype="http://schema.org/ListItem">
        <a itemprop="item"
           ui-sref-opts="{reload:true}"
           ui-sref="home">
            <span itemprop="name">Home</span></a>
        <meta itemprop="position" content="1"/>
    </li>
    <li itemprop="itemListElement" itemscope
        itemtype="http://schema.org/ListItem">
        <a itemprop="item"
           ui-sref="recipes"
           ui-sref-active="active">
            <span itemprop="name">Recipes</span></a>
        <meta itemprop="position" content="2"/>
    </li>
    <li itemprop="itemListElement" itemscope
        itemtype="http://schema.org/ListItem">
        <a itemprop="item">
            <span itemprop="name">{{ recipesjsonunique.name }}</span></a>
        <meta itemprop="position" content="3"/>
    </li>
</ol>

<div class="full-recipe-detail" >
    <img style="display: none;" src="{{ recipesjsonunique.references.Rec_Background_Image.values.Rec_Asset_Ref_Original_URL }}" alt="Receta">

    <div class="hero" style="background-image: url('{{ recipesjsonunique.references.Rec_Background_Image.values.Rec_Asset_Ref_Original_URL }}');"></div>


    <div class="container">

        <div class="row">

            <div class="col-md-12">

                <div class="block mt500 text-center block-block" itemscope itemtype="http://schema.org/Recipe">

                    <div class="block-block-box">

                        <div class="tag text-up white">
                        <span ng-repeat="recipesjsonxx in recipesjsonunique.attributes">
                            {{ recipesjsonxx.DrinkType }}
                        </span>
                        </div>

                        <h1 id="wb-cont" class="text-center" itemprop="name">
                            {{ recipesjsonunique.name }}
                        </h1>

                        <h4>
                            {{ recipesjsonunique.values.Rec_Drink_Type }}
                        </h4>

                        <div class="row">

                            <div class="col-md-12">

                                <div class="double-box">

                                    <div class="col-md-6 no-pad">
                                        <div class="recipe-det recipe-det-fixer left">
                                            <img src="dist/images/ingredients.png" alt="" width="30" height="28">
                                            <div>
                                                <h4 class="number">
                                                    {{ recipesjsonunique.dataContainers['Rec.Ingredients'].length }}
                                                </h4>
                                                <p>INGREDIENTS</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6 no-pad double-box-second-row">
                                        <div class="recipe-det recipe-det-fixer">
                                            <img src="dist/images/difficulty.png" alt="" width="24" height="31">
                                            <div>
                                                <h4 class="number numberdificultyeffort">
                                            <span >
                                                {{ recipesjsonunique.extValues.Rec_Effort.value }}
                                            </span><br/>
                                                </h4>
                                                <p>DIFFICULTY</p>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>

                        </div>

                        <br/>

                        <div class="row">

                            <div class="col-md-12">

                                <div class="social-box">
                                    <!--share pinterest-->
                                    
                                    <!--share facebook-->
                                    <a id="thefacebook"
                                       href="https://www.facebook.com/sharer/sharer.php?u={{ fburl }}"
                                       data-image="{{ recipesjsonunique.BackgroundImage.original }}"
                                       data-layout="button" data-size="large"
                                       data-mobile-iframe="true" title="Compartir en Facebook"
                                       target="_blank"
                                       class="fb-share-button fb-xfbml-parse-ignore">
                                        <img src="dist/images/social/facebook-circle.png" alt="Compartir en Facebook">
                                    </a>

                                    <!--share twitter-->
                                    <a id="thetwitter"
                                       href="http://www.twitter.com/share?url={{ fburl }}&amp;text={{ recipesjsonunique.recipeTitle }}&amp;hashtags=thebar.com"
                                       title="Compartir en Twitter"
                                       target="_blank">
                                        <img src="dist/images/social/twitter-circle.png" alt="Compartir en Twitter">
                                    </a>
                                </div>

                            </div>

                        </div>

                    </div>

                </div>

            </div>

            <div class="col-md-8">
                <div class="block media-no-bg">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-5">
                        <img src="dist/images/ingredients.png" alt="" class="visible-sm visible-xs"
                             style="margin: auto">
                        <h2 class="orange">Ingredients</h2>
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-7" ng-controller="Ctrl">

                        <hr style="margin-top: 0;">

                        <div class="">
                            <div class="col-md-12">

                                <div class="select-servings">

                                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                        <p class="serving">
                                            <strong>SERVING{{ selectedLimit > 1 ? "S" : "" }}</strong>
                                        </p>
                                    </div>

                                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">

                                        <div class="select-servings-box" itemprop="recipeYield">

                                            <select id="limitType" name="limit" ng-model="selectedLimit"
                                                    ng-options="limit.value as limit.text for limit in limits"
                                                    ng-init="selectedLimit='1'">
                                            </select>

                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>
                        <br>
                        <br>
                        <br>

                        <div class="">

                            <div class="col-md-12">

                                <div itemprop="ingredients"
                                     ng-repeat="ingredientx in recipesjsonunique.dataContainers['Rec.Ingredients']"
                                     class="col-xs-12 no-pad">
                                    <div class="col-xs-6 col-md-6">
                                        <div class="medidas">
                                            <p>
                                            <span class="cantidad">
                                                {{ ingredientx.values.Rec_Qty_Of_Ing * selectedLimit  }}
                                            </span>
                                                <span class="medida">{{ ingredientx.values.Rec_Ing_Usage_Unit }}</span>
                                            </p>
                                        </div>
                                    </div>

                                    <div class="col-xs-5 col-xs-offset-1 col-md-5 col-md-offset-1">
                                        <div class="items">
                                            <p>{{ ingredientx.values.Rec_Ing_Name }}</p>
                                        </div>
                                    </div>
                                </div>

                                </div>


                        </div>
                    </div>
                </div>

            </div>

            

        </div>
    </div>

    <!--HOW TO MIX-->
    <div class="jumbo"
         >

        <div class="container how-to-mix-area-1">

            <div class="row">
                <div class="col-md-12">
                    <h2 class="how-to orange">How-To-Mix</h2>
                    <br/>
                    <ul class="stepsul">
                        <li class="step" ng-repeat="pasox in recipesjsonunique.dataContainers.Rec_Preparation_Steps">
                            <span class="items" itemprop='recipeInstructions'>
                                {{ pasox.values.Rec_Prep_Step_Order }}.
                                </span>
                            <div class="step-detail">
                                {{ pasox.values.Rec_Prep_Step }}
                            </div>
                        </li>
                    </ul>
                </div>
                
            </div>

            <div class="row">
                <div class="col-md-12 pad15" ng-if="recipesjsonunique.recipeHistory">
                    <div class="background">
                        <div class="col-md-12">
                            <h2>Background</h2>
                            <p>{{ recipesjsonunique.recipeHistory }}</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

    

</div>

<div class="text-center notfound" ng-if="!recipesjsonunique.recipeTitle" id="show404" style="display: none;">
    <br/>
    <br/>
    <br/>
    <h1>404</h1>
    <h2>Oops! page not found</h2>
    <br/>
    <br/>
    <br/>
</div>


<!-- Load Facebook SDK for JavaScript -->
<div id="fb-root"></div>
<script>(function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s);
    js.id = id;
    js.src = 'https://connect.facebook.net/es_ES/sdk.js#xfbml=1&version=v2.12';
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>