<!--regular meta-->
<update-title title="{{ seoTitle }}"></update-title>
<update-meta name='keywords' content='{{ seoKeywords }}'></update-meta>
<update-meta name='description' content='{{ seoDescription }}'></update-meta>
<!--FB meta-->
<update-meta property='og:url' content='{{ fburl }}'></update-meta>
<update-meta property='og:title' content='{{ seoTitle }}'></update-meta>
<update-meta property='og:description' content='{{ seoDescription }}'></update-meta>

<ol class="seo-breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
    <li itemprop="itemListElement" itemscope
        itemtype="http://schema.org/ListItem">
        <a itemprop="item"
           ui-sref-opts="{reload:true}"
           ui-sref="home">
            <span itemprop="name">Home</span></a>
        <meta itemprop="position" content="1"/>
    </li>
    <li itemprop="itemListElement" itemscope
        itemtype="http://schema.org/ListItem">
        <a itemprop="item">
            <span itemprop="name">Search</span></a>
        <meta itemprop="position" content="2"/>
    </li>
</ol>

<div class="search-landing-page">

    <div class="hero-solid"></div>
    <h1 id="wb-cont" class="hidden">Search</h1>

    <div class="container">
        <div class="row">

            <div class="search-group white-bg no-border mt200">
                <input type="text" value="{{ postSearchId }}" name="" id="searchBox" ng-model="searchKeyword"
                       ng-class="searchKeyword ? 'search-focus' : 'search-field'">
                <span class="fixed-text">Search:</span>
                <a class="round-icon close-search" ng-show="searchKeyword" ng-click="searchKeyword = ''"><i
                        class="fa fa-close"></i></a>
            </div>

        </div>
    </div>

    <div class="container" ng-controller="ScrollCtrl">

        <div class="row">

            <span class="hidden"
                  ng-repeat="searchresultrecipesx in (searchfindresultfilter1 = (allrecipesjson.docs |
              unique:'recipeTitle' |
              fuzzyBy: 'recipeTitle' : searchKeyword))"></span>

            <span class="hidden"
                  ng-repeat="searchresultspiritsx in (searchfindresultfilter2 = (searchresultspirits.spirit_list |
              unique:'name' |
              fuzzyBy: 'name' : searchKeyword))">
                </span>

            <span class="hidden"
                  ng-repeat="searchresultbrandsx in (searchfindresultfilter3 = (searchresultbrands.list_brands |
              unique:'name' |
              fuzzyBy: 'name' : searchKeyword))">
                </span>

            <span class="hidden"
                  ng-repeat="searchresultoccasionsx in (searchfindresultfilter4 = (searchresultoccasions.list_occasions |
              unique:'name' |
              fuzzyBy: 'name' : searchKeyword))">
                </span>

            <span class="hidden"
                  ng-repeat="searchresultarticlesx in (searchfindresultfilter5 = (searchresultarticles.list_articles |
              unique:'name' |
              fuzzyBy: 'name' : searchKeyword))">
                </span>

            <div class="row-result-box">
                <div class="col-md-9 col-md-offset-3">
                    <div class="search-navbar">
                        <ul class="list-inline text-uppercase">
                            <li id="iad6" ng-if="searchfindresultfilter1.length">
                                <a ng-click="gotoElement('recipesidboxresult'); clickactive(6)">Recipes</a>
                            </li>
                            <li id="iad7" ng-if="searchfindresultfilter2.length">
                                <a ng-click="gotoElement('spiritsidboxresult'); clickactive(7)">Spirits</a>
                            </li>
                            <li id="iad8" ng-if="searchfindresultfilter3.length">
                                <a ng-click="gotoElement('brandsidboxresult'); clickactive(8)">Brands</a>
                            </li>
                            <li id="iad9" ng-if="searchfindresultfilter4.length">
                                <a ng-click="gotoElement('occasionsidboxresult'); clickactive(9)">Occasions</a>
                            </li>
                            <li id="iad10" ng-if="searchfindresultfilter5.length">
                                <a ng-click="gotoElement('articlesidboxresult'); clickactive(10)">Articles</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div id="iad1" ng-if="searchfindresultfilter1.length">
                <div id="recipesidboxresult" class="col-xs-12">
                    <br>
                    <br>
                    <p class="text-up text-center black">
                        {{ searchfindresultfilter1.length }} RECIPES
                    </p>
                    <br>
                    <br>
                </div>
                <div class="row-result-box related-recipes">

                    <div ng-repeat="searchresultrecipesx in (searchfindresultfilter = (allrecipesjson.docs |
                     unique:'recipeTitle' |
                     fuzzyBy: 'recipeTitle' : searchKeyword))"
                         class="related col-md-3 col-sm-6 no-pad">


                        <div class="reloader">
                            <a ui-sref-opts="{reload:true}"
                               ui-sref="recipedetail({ postRecipesId: searchresultrecipesx.recipeSlug })"
                               class="recipe-img aiblock recipe-img2 aiblock2"
                               style="background-image: url('{{ searchresultrecipesx.SearchImage.original }}');">
                            </a>
                        </div>

                        <div class="block-s text-left">

                            <h2>
                                <a ui-sref-opts="{reload:true}"
                                   ui-sref="recipedetail({ postRecipesId: searchresultrecipesx.recipeSlug })">
                                    {{ searchresultrecipesx.recipeTitle | truncate: 24: '...' }}
                                </a>
                            </h2>

                            <div class="box-lear-more">
                                <a ui-sref-opts="{reload:true}"
                                   ui-sref="recipedetail({ postRecipesId: searchresultrecipesx.recipeSlug })"
                                   title="Get Recipe">
                                    Get Recipe
                                </a>
                            </div>

                        </div>

                    </div>

                </div>
            </div>

            <div id="iad2" ng-if="searchfindresultfilter2.length">

                <div id="spiritsidboxresult" class="col-xs-12">
                    <br>
                    <br>
                    <p class="text-up text-center black">
                        {{ searchfindresultfilter2.length }} SPIRITS
                    </p>
                    <br>
                    <br>
                </div>

                <div class="row-result-box">
                    <div class="spirits-box-result mabo"
                         ng-repeat="searchresultspiritsx in (searchfindresultfilter = (searchresultspirits.spirit_list |
                     unique:'name' | fuzzyBy: 'name' : searchKeyword))">

                        <div class="col-md-4">
                            <div class="block-s text-left">
                                <h2>
                                    <a ng-if="searchresultspiritsx.slug != 'whisky'"
                                       ui-sref-opts="{reload:true}"
                                       ui-sref="spiritdetail({ postSpiritsId: searchresultspiritsx.slug })">
                                        {{ searchresultspiritsx.name | truncate: 24: '...' }}
                                    </a>

                                    <a ng-if="searchresultspiritsx.slug == 'whisky'"
                                       ui-sref-opts="{reload:true}"
                                       ui-sref="spiritdetail1({ postSpiritsId: searchresultspiritsx.slug })">
                                        {{ searchresultspiritsx.name | truncate: 24: '...' }}
                                    </a>
                                </h2>
                                <p>
                                    {{ searchresultspiritsx.description | truncate: 160: '...' }}
                                </p>
                                <div class="box-lear-more">
                                    <a ng-if="searchresultspiritsx.slug != 'whisky'"
                                       ui-sref-opts="{reload:true}"
                                       ui-sref="spiritdetail({ postSpiritsId: searchresultspiritsx.slug })"
                                       title="LEARN MORE">
                                        LEARN MORE
                                    </a>

                                    <a ng-if="searchresultspiritsx.slug == 'whisky'"
                                       ui-sref-opts="{reload:true}"
                                       ui-sref="spiritdetail1({ postSpiritsId: searchresultspiritsx.slug })"
                                       title="LEARN MORE">
                                        LEARN MORE
                                    </a>

                                </div>
                            </div>
                        </div>

                        <div class="twofive-h col-md-8">
                            <a class="reloader" ng-if="searchresultspiritsx.slug != 'whisky'"
                               ui-sref-opts="{reload:true}"
                               ui-sref="spiritdetail({ postSpiritsId: searchresultspiritsx.slug })">
                                <div class="hero hero2 twofive-h"
                                     style="background-image: url('{{ searchresultspiritsx.image }}');">
                                </div>
                            </a>

                            <a class="reloader" ng-if="searchresultspiritsx.slug == 'whisky'"
                               ui-sref-opts="{reload:true}"
                               ui-sref="spiritdetail1({ postSpiritsId: searchresultspiritsx.slug })">
                                <div class="hero hero2 twofive-h"
                                     style="background-image: url('{{ searchresultspiritsx.image }}');">
                                </div>
                            </a>

                        </div>

                    </div>

                </div>
            </div>

            <div id="iad3" ng-if="searchfindresultfilter3.length">

                <div id="brandsidboxresult" class="col-xs-12">
                    <br>
                    <br>
                    <p class="text-up text-center black">
                        {{ searchfindresultfilter3.length }} BRANDS
                    </p>
                    <br>
                    <br>
                </div>

                <div class="row-result-box">
                    <div class="col-xs-12 products-boxes">
                        <div class="related col-xs-12 col-sm-12 col-md-6 col-lg-3"
                             ng-repeat="searchresultbrandsx in (searchfindresultfilter = (searchresultbrands.list_brands |
                         unique:'name' | fuzzyBy: 'name' : searchKeyword))">
                            <div class="brand-icon">
                                <div class="brand-mask">
                                    <a ui-sref-opts="{reload:true}"
                                       ui-sref="brandsdetail({ postBrandsId: searchresultbrandsx.slug })">
                                        <span class="brands-crop"></span>
                                        <img ng-src="{{ searchresultbrandsx.image }}"
                                             alt="{{ searchresultbrandsx.name }}">
                                    </a>
                                </div>
                            </div>
                            <div class="brand-text">
                                <h1 class="text-center box-name">
                                    <a ui-sref-opts="{reload:true}"
                                       ui-sref="brandsdetail({ postBrandsId: searchresultbrandsx.slug })"
                                       title="{{ searchresultbrandsx.name }}">
                                        {{ searchresultbrandsx.name | truncate: 24: '...' }}
                                    </a>
                                </h1>
                                <div class="box-lear-more">
                                    <a ui-sref-opts="{reload:true}"
                                       ui-sref="brandsdetail({ postBrandsId: searchresultbrandsx.slug })"
                                       title="Get Brand">
                                        Get Brand
                                    </a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div id="iad4" ng-if="searchfindresultfilter4.length">

                <div id="occasionsidboxresult" class="col-xs-12">
                    <br>
                    <br>
                    <p class="text-up text-center black">
                        {{ searchfindresultfilter4.length }} OCASSIONS
                    </p>
                    <br>
                    <br>
                </div>

                <div class="row-result-box">
                    <div ng-repeat="searchresultoccasionsx in searchresultoccasions.list_occasions |
                unique:'name' | fuzzyBy: 'name' : searchKeyword"
                         class="col-xs-12 col-sm-12 col-md-6 col-lg-6 mabo">
                        <div class="no-pad">
                            <div class="reloader">
                                <a ng-class="{'active' : searchActive}"
                                   ng-click="showSearch()"
                                   ui-sref-opts="{reload:true}"
                                   ui-sref="occasiondetail({ postOccasionId: searchresultoccasionsx.slug })"
                                   class="hero-nofull aiblock hero-nofull2 aiblock2"
                                   style="background-image: url('{{ searchresultoccasionsx.image }}');">
                                </a>
                            </div>
                            <div class="block text-left mt0" style="min-height: 400px;">
                                <div class="text-up-small gray">COLLECTION</div>
                                <br>
                                <h2 class="text-left row-result-box-t">
                                    <a ng-class="{'active' : searchActive}"
                                       ng-click="showSearch()"
                                       ui-sref-opts="{reload:true}"
                                       ui-sref="occasiondetail({ postOccasionId: searchresultoccasionsx.slug })">
                                        {{ searchresultoccasionsx.name | truncate: 24: '...' }}
                                    </a>
                                </h2>
                                <br>
                                <p class="row-result-box-p">
                                    {{ searchresultoccasionsx.description | truncate: 120: "..."}}
                                </p>
                                <div class="box-lear-more">
                                    <a ng-class="{'active' : searchActive}"
                                       ng-click="showSearch()"
                                       ui-sref-opts="{reload:true}"
                                       ui-sref="occasiondetail({ postOccasionId: searchresultoccasionsx.slug })"
                                       title="Get Occasion">
                                        Get Occasion
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="iad5" ng-if="searchfindresultfilter5.length">

                <div id="articlesidboxresult" class="col-xs-12">
                    <br>
                    <br>
                    <p class="text-up text-center black">
                        {{ searchfindresultfilter5.length }} ARTICLES
                    </p>
                    <br>
                    <br>
                </div>

                <div class="row-result-box">
                    <div ng-repeat="searchresultarticlesx in searchresultarticles.list_articles |
                        unique:'name' |
                        fuzzyBy: 'name' : searchKeyword"
                         class="col-xs-12 col-sm-12 col-md-6 col-lg-6 mabo">
                        <div class="no-pad">
                            <div class="reloader">
                                <a href="{{ searchresultarticlesx.slug }}"
                                   target="_blank"
                                   class="hero-nofull aiblock hero-nofull2 aiblock2"
                                   style="background-image: url('{{ searchresultarticlesx.image }}');">
                                </a>
                            </div>
                            <div class="block text-left mt0" style="min-height: 400px;">
                                <h2 class="text-left row-result-box-t">
                                    <a href="{{ searchresultarticlesx.slug }}"
                                       target="_blank">
                                        {{ searchresultarticlesx.name | truncate: 24: '...' }}
                                    </a>
                                </h2>
                                <br>
                                <p class="row-result-box-p">
                                    {{ searchresultarticlesx.description | truncate: 120: "..."}}
                                </p>
                                <div class="box-lear-more">
                                    <a href="{{ searchresultarticlesx.slug }}"
                                       target="_blank"
                                       title="Get Article">
                                        Get Article
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div ng-if="!searchfindresultfilter1.length">
                <div id="recipesidboxresult" class="col-xs-12">
                    <br>
                    <br>
                    <p class="text-up text-center black">
                        RECIPES
                    </p>
                    <br>
                    <br>
                </div>
                <div class="row-result-box related-recipes">
                    <p>No Recipes results</p>
                </div>
            </div>

            <div ng-if="!searchfindresultfilter2.length">
                <div id="recipesidboxresult" class="col-xs-12">
                    <br>
                    <br>
                    <p class="text-up text-center black">
                        SPIRITS
                    </p>
                    <br>
                    <br>
                </div>
                <div class="row-result-box related-recipes">
                    <p>No Spirits results</p>
                </div>
            </div>

            <div ng-if="!searchfindresultfilter3.length">
                <div id="recipesidboxresult" class="col-xs-12">
                    <br>
                    <br>
                    <p class="text-up text-center black">
                        BRANDS
                    </p>
                    <br>
                    <br>
                </div>
                <div class="row-result-box related-recipes">
                    <p>No Brands results</p>
                </div>
            </div>

            <div ng-if="!searchfindresultfilter4.length">
                <div id="recipesidboxresult" class="col-xs-12">
                    <br>
                    <br>
                    <p class="text-up text-center black">
                        OCCASIONS
                    </p>
                    <br>
                    <br>
                </div>
                <div class="row-result-box related-recipes">
                    <p>No Occasions results</p>
                </div>
            </div>

            <div ng-if="!searchfindresultfilter5.length">
                <div id="recipesidboxresult" class="col-xs-12">
                    <br>
                    <br>
                    <p class="text-up text-center black">
                        ARTICLES
                    </p>
                    <br>
                    <br>
                </div>
                <div class="row-result-box related-recipes">
                    <p>No Articles results</p>
                </div>
            </div>

        </div> <!--row-->

    </div> <!--container-->

</div>