<ol class="seo-breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
    <li itemprop="itemListElement" itemscope
        itemtype="http://schema.org/ListItem">
        <a itemprop="item"
           ui-sref-opts="{reload:true}"
           ui-sref="home">
            <span itemprop="name">Home</span></a>
        <meta itemprop="position" content="1"/>
    </li>
    <li itemprop="itemListElement" itemscope
        itemtype="http://schema.org/ListItem">
        <a itemprop="item">
            <span itemprop="name">Sitemap</span></a>
        <meta itemprop="position" content="2"/>
    </li>
</ol>

<div class="recipe-landing all-pages full-page-recipes-landing">

    <div>
        <div class="hero-solid"></div>
    </div>

    <div class="container">

        <div class="row">

            <div class="col-md-12">
                <div class="block mt90 text-center">

                    <h1 id="wb-cont" class="text-center">
                        Site Map
                    </h1>

                </div>
            </div>

        </div>

    </div>

    <br/>
    <br/>
    <br/>
    <br/>

    <div class="container" ng-controller="ScrollCtrl">

        <div class="row">

            <div id="article-content" class="white_cnt white_cnt2 whiteBoxBackground">

                <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
                    <h2>Home</h2>
                    <a href="/">Home Page</a>

                    <br/>
                    <br/>

                    <h2>Recipes</h2>
                    <a href="/recipes">All Recipes</a>


                    <div class="" ng-repeat="sitemapx in sitemap.url | filter: { loc : '/recipes/'} | orderBy : 'loc' ">
                        <a href="{{ sitemapx.loc }}">
                            {{ sitemapx.loc }}
                        </a>

                    </div>

                    <br/>
                    <br/>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2"></div>

                <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
                    <h2>Spirits</h2>
                    <a href="/spirits">All Spirits</a>


                    <div class="" ng-repeat="sitemapx in sitemap.url | filter: { loc : '/spirits/'} | orderBy : 'loc' ">
                        <a href="{{ sitemapx.loc }}">
                            {{ sitemapx.loc }}
                        </a>

                    </div>

                    <br/>
                    <br/>

                    <h2>Brands</h2>
                    <a href="/brands">All Brands</a>


                    <div class="" ng-repeat="sitemapx in sitemap.url | filter: { loc : '/brands/'} | orderBy : 'loc' ">
                        <a href="{{ sitemapx.loc }}">
                            {{ sitemapx.loc }}
                        </a>

                    </div>

                    <br/>
                    <br/>

                    <h2>Occasions</h2>
                    <a href="/occasions">All Occasions</a>


                    <div class=""
                         ng-repeat="sitemapx in sitemap.url | filter: { loc : '/occasions/'} | orderBy : 'loc' ">
                        <a href="{{ sitemapx.loc }}">
                            {{ sitemapx.loc }}
                        </a>

                    </div>

                    <br/>
                    <br/>

                    <h2>All Articles</h2>
                    <a href="/articles">All Articles</a>

                    <br/>
                    <br/>

                    <h2>Where to buy</h2>
                    <a href="/where-to-buy">Where to buy</a>

                    <br/>
                    <br/>

                    <h2>Search</h2>
                    <a href="/search">Search</a>

                    <br/>
                    <br/>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <br/>
                </div>

            </div>

        </div>

    </div>

</div>

