<!--regular meta-->
<update-title title="{{ seoTitle }}"></update-title>
<update-meta name='keywords' content='{{ seoKeywords }}'></update-meta>
<update-meta name='description' content='{{ seoDescription }}'></update-meta>
<!--FB meta-->
<update-meta property='og:url' content='{{ fburl }}'></update-meta>
<update-meta property='og:title' content='{{ seoTitle }}'></update-meta>
<update-meta property='og:description' content='{{ seoDescription }}'></update-meta>

<ol class="seo-breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
    <li itemprop="itemListElement" itemscope
        itemtype="http://schema.org/ListItem">
        <a itemprop="item"
           ui-sref-opts="{reload:true}"
           ui-sref="home">
            <span itemprop="name">Home</span></a>
        <meta itemprop="position" content="1"/>
    </li>
    <li itemprop="itemListElement" itemscope
        itemtype="http://schema.org/ListItem">
        <a itemprop="item"
           ui-sref-opts="{reload:true}"
           ui-sref="spirits">
            <span itemprop="name">Spirits</span></a>
        <meta itemprop="position" content="1"/>
    </li>
    <li itemprop="itemListElement" itemscope
        itemtype="http://schema.org/ListItem"
        ng-repeat="spiritsx in detailspirits.spirit_detail | filter: { 'slug': postSpiritsId}:true | limitTo:1"
        ng-if="!spiritsx.spirits_enable_expand_detail">
        <a itemprop="item">
            <span itemprop="name">{{ spiritsx.name }}</span></a>
        <meta itemprop="position" content="2"/>
    </li>
</ol>

<div class="all-pages full-page--spirits-step-1">

    <div class="mega-spirits" id="toTheTop">

        <div class="expanded-detail-box">

            <div id="step-1-spirits"
                 ng-repeat="spiritsx in detailspirits.spirit_detail | filter: { 'slug': 'whisky'}"
                 class="steps-box step-1-spirits">

                <div class="hero-inside"
                     ng-style="{'background-image': 'url({{ spiritsx.spirits_image_background_top }})'}"></div>

                <div class="hero-inside bg-bottom"
                     ng-style="{'background-image': 'url({{ spiritsx.spirits_image_background_bottom }})'}"></div>

                <div class="container">

                    <div class="row">

                        <div class="box-detail-large-header col-md-12">
                            <h1 id="wb-cont" class="text-center">{{ spiritsx.name }}</h1>
                            <br>
                            <p class="text-up text-center orange">
                                {{ spirits.spirits_subtitle }}
                            </p>
                        </div>

                        <div class="box-chapter">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3">
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                <br/><br/>
                                <img ng-src="{{ spiritsx.spirits_image_detail }}">
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 box-black blox-spirits-menu">
                                <div class="block">
                                    <ng-include src="'inc/nav-detail.html'"></ng-include>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12" ng-repeat="spiritsxx in spiritsx.spirits_origin">


                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">

                                <div class="block block-origins">
                                    <h2 class="orange">{{ spiritsxx.spirits_origin_title }}</h2>
                                    <br>
                                    <h5>
                                        {{ spiritsxx.spirits_origin_subtitle }}
                                    </h5>
                                    <hr>
                                    <p>
                                        {{ spiritsxx.spirits_origin_text }}
                                    </p>
                                </div>

                            </div>

                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                                <div class="block block-origins block-origins-img">
                                    <img ng-src="{{ spiritsxx.spirits_origin_image }}"
                                         alt="{{ spiritsxx.spirits_origin_title }}">
                                </div>
                            </div>

                        </div>

                        <div class="col-md-12 box-block-versus" ng-repeat="spiritsxx in spiritsx.spirits_versus">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 col-md-offset-0 col-lg-offset-4">
                                <div class="block wood-bg">
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-5">
                                        <h2 class="white">{{ spiritsxx.spirits_versus_title }}</h2>
                                    </div>
                                    <div class="col-xs-12 col-lg-1"></div>
                                    <div class="col-xs-12 col-lg-6">
                                        <span ng-bind-html="spiritsxx.spirits_versus_text | to_trusted"></span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-12 box-block-ing-ang">

                            <div class="block no-bg">
                                <div class="col-xs-12 col-lg-6 col-mb80"
                                     ng-repeat="spiritsxx in spiritsx.spirits_ingredients">
                                    <div class="col-xs-4 col-xs-4 col-xs-4 col-lg-4">
                                        <div class="radius-box radius-box-white">
                                            <img ng-src="{{ spiritsxx.spirits_ingredients_icon }}">
                                        </div>
                                    </div>
                                    <div class="col-xs-7">
                                        <h2>{{ spiritsxx.spirits_ingredients_title }}</h2>
                                        <p>{{ spiritsxx.spirits_ingredients_text }}</p>
                                    </div>
                                    <div class="col-xs-1"></div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6"
                                     ng-repeat="spiritsxx in spiritsx.spirits_aging">
                                    <div class="col-xs-4">
                                        <div class="radius-box radius-box-white">
                                            <img ng-src="{{ spiritsxx.spirits_aging_icon }}">
                                        </div>
                                    </div>
                                    <div class="col-xs-7">
                                        <h2>{{ spiritsxx.spirits_aging_title }}</h2>
                                        <p>{{ spiritsxx.spirits_aging_text }}</p>
                                    </div>
                                    <div class="col-xs-1"></div>
                                </div>
                            </div>

                        </div>

                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 block-where-come">
                            <div class="block">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-1"></div>
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4"
                                     ng-repeat="spiritsxx in spiritsx.spirits_where_comes_from">
                                    <h2>{{ spiritsxx.spirits_where_comes_from_title }}</h2>
                                    <p>
                                        <span ng-bind-html="spiritsxx.spirits_where_comes_from_text | to_trusted"></span>
                                    </p>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-1"></div>
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-5"
                                     ng-repeat="spiritsxx in spiritsx.spirits_distillaries">
                                    <div class="box-map-img">
                                        <img ng-src="{{ spiritsxx.spirits_distillaries_image }}">
                                        <div class="box-title-with-border">
                                            {{ spiritsxx.spirits_distillaries_title }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-1"></div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="container">
                    <div class="row">

                        <div class="paginator" ng-repeat="spiritsMenu in spirits.spirit_menu_list.slice(1,2)">
                            <a class="paginator-arrow-next"
                               ui-sref-opts="{reload:true}"
                               ui-sref="spiritdetail2({ postSpiritsId: 'whisky' })"
                               title="{{ spirits.spirits_pagination_next }}">
                                {{ spirits.spirits_pagination_next }}
                            </a>
                        </div>

                        <!--<div class="paginator">-->
                        <!--<a class="paginator-arrow-next"-->
                        <!--ui-sref-opts="{reload:true}"-->
                        <!--ui-sref="spiritdetail2({ postSpiritsId: spiritsMenu.link_slug })"-->
                        <!--title="{{ spirits.spirits_pagination_next }}">-->
                        <!--{{ spirits.spirits_pagination_next }}-->
                        <!--</a>-->
                        <!--</div>-->

                    </div>
                </div>


            </div>

        </div>


    </div>
</div>
