<!--regular meta-->
<update-title title="{{ seoTitle }}"></update-title>
<update-meta name='keywords' content='{{ seoKeywords }}'></update-meta>
<update-meta name='description' content='{{ seoDescription }}'></update-meta>
<!--FB meta-->
<update-meta property='og:url' content='{{ fburl }}'></update-meta>
<update-meta property='og:title' content='{{ seoTitle }}'></update-meta>
<update-meta property='og:description' content='{{ seoDescription }}'></update-meta>

<ol class="seo-breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
    <li itemprop="itemListElement" itemscope
        itemtype="http://schema.org/ListItem">
        <a itemprop="item"
           ui-sref-opts="{reload:true}"
           ui-sref="home">
            <span itemprop="name">Home</span></a>
        <meta itemprop="position" content="1"/>
    </li>
    <li itemprop="itemListElement" itemscope
        itemtype="http://schema.org/ListItem">
        <a itemprop="item"
           ui-sref-opts="{reload:true}"
           ui-sref="spirits">
            <span itemprop="name">Spirits</span></a>
        <meta itemprop="position" content="1"/>
    </li>
    <li itemprop="itemListElement" itemscope
        itemtype="http://schema.org/ListItem"
        ng-repeat="spiritsx in detailspirits.spirit_detail | filter: { 'slug': postSpiritsId}:true | limitTo:1"
        ng-if="!spiritsx.spirits_enable_expand_detail">
        <a itemprop="item">
            <span itemprop="name">{{ spiritsx.name }}</span></a>
        <meta itemprop="position" content="2"/>
    </li>
</ol>

<div class="all-pages full-page-spirits-step-3">

<div class="mega-spirits" id="toTheTop">

        <div class="expanded-detail-box">

            <div id="step-3-spirits"
                 ng-repeat="spiritsx in detailspirits.spirit_detail | filter: { 'slug': 'whisky'}"
                 class="steps-box step-3-spirits">

                <div class="full-wipper">

                    <div class="title-inside">
                        <h1 id="wb-cont">{{ spirits.spirits_our_brands_title }}</h1>
                    </div>

                    <div class="container">

                        <div class="row">
                            <div class="box-chapter">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3">
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3 box-black blox-spirits-menu">
                                    <div class="block">
                                        <ng-include src="'inc/nav-detail.html'"></ng-include>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="container mt10">

                        <div class="row">

                            <div class="col-xs-12 brand-boxes slick-formated slick-formated-dots slick-formated-arrow">

                                <slick slides-to-show=4 slides-to-scroll=4 responsive="miniGalleryResponsive"
                                       dots="true"
                                       arrows="false" init-onload=true data="brandslist" custom-paging="customDots">

                                    <div class="related col-xs-12 col-sm-12 col-md-6 col-lg-3"
                                         ng-repeat="spiritsx in detailspirits.spirit_brands_list">

                                        <div class="brand-icon">
                                            <div class="brand-mask">
                                                <a ui-sref-opts="{reload:true}"
                                                   ui-sref="brandsdetail({ postBrandsId: spiritsx.slug })">
                                                    <span class="brands-crop"></span>
                                                    <img ng-src="{{ spiritsx.image }}" alt="{{ spiritsx.name }}">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="brand-text">
                                            <h2 class="text-center box-name" title="{{ spiritsx.name }}">
                                                <a ui-sref-opts="{reload:true}"
                                                   ui-sref="brandsdetail({ postBrandsId: spiritsx.slug })">
                                                    {{ spiritsx.name }}
                                                </a>
                                            </h2>
                                            <div class="box-lear-more">
                                                <a ui-sref-opts="{reload:true}"
                                                   ui-sref="brandsdetail({ postBrandsId: spiritsx.slug })"
                                                   title="{{ spirits.spirits_link_button_learn_more }}">
                                                    {{ spirits.spirits_link_button_learn_more }}
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </slick>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12">
                                <p class="our-text">
                                    {{ spiritsx.spirits_our_single_malts_title }}
                                </p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12 brand-boxes slick-formated slick-formated-dots slick-formated-arrow">
                                <slick slides-to-show=4 slides-to-scroll=4 responsive="miniGalleryResponsive"
                                       dots="true"
                                       arrows="false" init-onload=true data="detailspirits" custom-paging="customDots">
                                    <div class="related col-xs-12 col-sm-12 col-md-6 col-lg-3"
                                         ng-repeat="spiritsx in detailspirits.spirit_products_malts_list">
                                        <div class="brand-icon">
                                            <div class="brand-mask">
                                                <a ui-sref-opts="{reload:true}"
                                                   ui-sref="brandsRedirect({ postBrandsId: spiritsx.product_in_brand, postVariantId: spiritsx.slug })">
                                                    <span class="brands-crop"></span>
                                                    <img ng-src="{{ spiritsx.image }}" alt="{{ spiritsx.name }}">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="brand-text">
                                            <h2 class="text-center box-name" title="{{ spiritsx.name }}">
                                                <a ui-sref-opts="{reload:true}"
                                                   ui-sref="brandsRedirect({ postBrandsId: spiritsx.product_in_brand, postVariantId: spiritsx.slug })">
                                                    {{ spiritsx.name }}
                                                </a>
                                            </h2>
                                            <div class="box-lear-more">
                                                <a ui-sref-opts="{reload:true}"
                                                   ui-sref="brandsRedirect({ postBrandsId: spiritsx.product_in_brand, postVariantId: spiritsx.slug })"
                                                   title="{{ spirits.spirits_link_button_learn_more }}">
                                                    {{ spirits.spirits_link_button_learn_more }}
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </slick>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                <p class="our-text">
                                    {{ spiritsx.spirits_our_blends_title }}
                                </p>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-3">
                                <p class="our-text">
                                    {{ spiritsx.spirits_single_brains_title }}
                                </p>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3">
                                <p class="our-text">
                                </p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 brand-boxes slick-formated slick-formated-dots slick-formated-arrow">
                                <slick slides-to-show=2 slides-to-scroll=2 responsive="miniGalleryResponsive"
                                       dots="true"
                                       arrows="false" init-onload=true data="detailspirits" custom-paging="customDots">
                                    <div class="related col-xs-12 col-sm-12 col-md-6 col-lg-3"
                                         ng-repeat="spiritsx in detailspirits.spirit_brands_blends_list">
                                        <div class="brand-icon">
                                            <div class="brand-mask">
                                                <a ui-sref-opts="{reload:true}"
                                                   ui-sref="brandsdetail({ postBrandsId: spiritsx.slug })">
                                                    <span class="brands-crop"></span>
                                                    <img ng-src="{{ spiritsx.image }}" alt="{{ spiritsx.name }}">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="brand-text">
                                            <h2 class="text-center box-name" title="{{ spiritsx.name }}">
                                                <a ui-sref-opts="{reload:true}"
                                                   ui-sref="brandsdetail({ postBrandsId: spiritsx.slug })">{{
                                                    spiritsx.name
                                                    }}</a>
                                            </h2>
                                            <div class="box-lear-more">
                                                <a ui-sref-opts="{reload:true}"
                                                   ui-sref="brandsdetail({ postBrandsId: spiritsx.slug })"
                                                   title="{{ spirits.spirits_link_button_learn_more }}">
                                                    {{ spirits.spirits_link_button_learn_more }}
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </slick>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 brand-boxes  slick-formated slick-formated-dots slick-formated-arrow">
                                <slick slides-to-show=2 slides-to-scroll=2 responsive="bigSlider"
                                       dots="true"
                                       arrows="false" init-onload=true data="detailspirits" custom-paging="customDots">
                                    <div class="related col-xs-12 col-sm-12 col-md-6 col-lg-3"
                                         ng-repeat="spiritsx in detailspirits.spirit_brands_grains_list">
                                        <div class="brand-icon">
                                            <div class="brand-mask">
                                                <a ui-sref-opts="{reload:true}"
                                                   ui-sref="brandsdetail({ postBrandsId: spiritsx.slug })">
                                                    <span class="brands-crop"></span>
                                                    <img ng-src="{{ spiritsx.image }}" alt="{{ spiritsx.name }}">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="brand-text">
                                            <h2 class="text-center box-name" title="{{ spiritsx.name }}">
                                                <a ui-sref-opts="{reload:true}"
                                                   ui-sref="brandsdetail({ postBrandsId: spiritsx.slug })">
                                                    {{ spiritsx.name }}
                                                </a>
                                            </h2>
                                            <div class="box-lear-more">
                                                <a ui-sref-opts="{reload:true}"
                                                   ui-sref="brandsdetail({ postBrandsId: spiritsx.slug })"
                                                   title="{{ spirits.spirits_link_button_learn_more }}">
                                                    {{ spirits.spirits_link_button_learn_more }}
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </slick>
                            </div>
                        </div>

                    </div>

                    <div class="container">

                        <div class="row">

                            <div class="paginator">

                                <div class="" ng-repeat="spiritsMenu in spirits.spirit_menu_list.slice(2,3)">
                                    <a class="paginator-arrow-prev"
                                       ui-sref-opts="{reload:true}"
                                       ui-sref="spiritdetail2({ postSpiritsId: 'whisky' })"
                                       title="{{ spirits.spirits_pagination_prev }}">
                                        {{ spirits.spirits_pagination_prev }}
                                    </a>
                                </div>

                                <div class="" ng-repeat="spiritsMenu in spirits.spirit_menu_list.slice(3,4)">
                                    <a class="paginator-arrow-next"
                                       ui-sref-opts="{reload:true}"
                                       ui-sref="spiritdetail4({ postSpiritsId: 'whisky' })"
                                       title="{{ spirits.spirits_pagination_next }}">
                                        {{ spirits.spirits_pagination_next }}
                                    </a>
                                </div>

                                <!--<a class="paginator-arrow-prev" ng-click="setPage(2); scroll()"-->
                                <!--title="{{ spirits.spirits_pagination_prev }}">-->
                                <!--{{ spirits.spirits_pagination_prev }}-->
                                <!--</a>-->
                                <!---->
                                <!--<a class="paginator-arrow-next" ng-click="setPage(4); scroll()"-->
                                <!--title="{{ spirits.spirits_pagination_next }}">-->
                                <!--{{ spirits.spirits_pagination_next }}-->
                                <!--</a>-->

                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

    </div>
