<!--regular meta-->
<update-title title="{{ seoTitle }}"></update-title>
<update-meta name='keywords' content='{{ seoKeywords }}'></update-meta>
<update-meta name='description' content='{{ seoDescription }}'></update-meta>
<!--FB meta-->
<update-meta property='og:url' content='{{ fburl }}'></update-meta>
<update-meta property='og:title' content='{{ seoTitle }}'></update-meta>
<update-meta property='og:description' content='{{ seoDescription }}'></update-meta>

<ol class="seo-breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
    <li itemprop="itemListElement" itemscope
        itemtype="http://schema.org/ListItem">
        <a itemprop="item"
           ui-sref-opts="{reload:true}"
           ui-sref="home">
            <span itemprop="name">Home</span></a>
        <meta itemprop="position" content="1"/>
    </li>
    <li itemprop="itemListElement" itemscope
        itemtype="http://schema.org/ListItem">
        <a itemprop="item"
           ui-sref-opts="{reload:true}"
           ui-sref="spirits">
            <span itemprop="name">Spirits</span></a>
        <meta itemprop="position" content="1"/>
    </li>
    <li itemprop="itemListElement" itemscope
        itemtype="http://schema.org/ListItem"
        ng-repeat="spiritsx in detailspirits.spirit_detail | filter: { 'slug': postSpiritsId}:true | limitTo:1"
        ng-if="!spiritsx.spirits_enable_expand_detail">
        <a itemprop="item">
            <span itemprop="name">{{ spiritsx.name }}</span></a>
        <meta itemprop="position" content="2"/>
    </li>
</ol>

<div ng-repeat="spiritsx in (filterError404 = (detailspirits.spirit_detail | filter: { 'slug': postSpiritsId}:true | limitTo:1))">
</div>
<div class="text-center notfound" ng-if="filterError404.length == 0">
    <br/>
    <br/>
    <br/>
    <h2>404</h2>
    <h3>Oops! page not found</h3>
    <br/>
    <br/>
    <br/>
</div>

<div class="mega-spirits" id="toTheTop">

    <div class="regular-detail-box"
         ng-repeat="spiritsx in detailspirits.spirit_detail | filter: { 'slug': postSpiritsId}:true | limitTo:1"
         ng-if="!spiritsx.spirits_enable_expand_detail">

        <div class="container">

            <div class="row">
                <div class="col-md-12">
                    <h1 id="wb-cont" class="thetitle text-center mt50">
                        {{ spiritsx.name }}
                    </h1>
                    <br>
                    <h2 class="our-text our-text-h2 orange">
                        {{ spirits.spirits_subtitle }}
                    </h2>

                    <h2 class="text-center seo-reference">Origins</h2>
                    <h2 class="text-center seo-reference">All you need to know</h2>


                    <div ng-repeat="spiritsxx in spiritsx.spirits_origin"
                         ng-if="spiritsx.spirits_image_detail"
                         ng-class="{'col-md-12': spiritsxx.spirits_origin_text == '', 'col-md-6': spiritsxx.spirits_origin_text }"
                         class="mt60 spirits-img">
                        <img ng-src="{{ spiritsx.spirits_image_detail }}" alt=""/>
                    </div>

                    <div class="col-md-6">

                        <div class="block block-origins"
                             ng-repeat="spiritsxx in spiritsx.spirits_origin"
                             ng-if="spiritsxx.spirits_origin_text">
                            <h2 class="orange">
                                {{ spiritsxx.spirits_origin_title }}
                            </h2>
                            <br>
                            <h5>
                                {{ spiritsxx.spirits_origin_subtitle }}
                            </h5>
                            <hr>
                            <p>
                                {{ spiritsxx.spirits_origin_text }}
                            </p>
                        </div>

                    </div>
                </div>

            </div>

            <div class="row">

                <div class="col-xs-12">
                    <br><br>
                    <p class="our-text">
                        {{ spirits.spirits_our_brands_title }}
                    </p>
                    <br><br>
                </div>

                <!--LIST ESPECIFIC BRANDS-->
                <div class="col-xs-12 brand-boxes slick-formated slick-formated-dots slick-formated-arrow">

                    <slick slides-to-show=4 slides-to-scroll=4 responsive="miniGalleryResponsiveDots"
                           dots="true"
                           arrows="false" init-onload=true data="brandslist" custom-paging="customDots">


                        <div class="related col-xs-12 col-sm-12 col-md-6 col-lg-3"
                             ng-repeat="brandsx in (filterResult = (newSpiritsSlug | filterBy: ['slug_spirit_array']: spiritsx.slug : true)) | limitTo:limitloadmorespirits">
                            <div class="brand-icon">
                                <div class="brand-mask">
                                    <a ui-sref-opts="{reload:true}"
                                       ui-sref="brandsdetail({ postBrandsId: brandsx.slug })">
                                        <span class="brands-crop"></span>
                                        <img ng-src="{{ brandsx.image }}" alt="{{ brandsx.name }}">
                                    </a>
                                </div>
                            </div>
                            <div class="brand-text">
                                <h2 class="text-center box-name">
                                    <a ui-sref-opts="{reload:true}"
                                       ui-sref="brandsdetail({ postBrandsId: brandsx.slug })">
                                        {{ brandsx.name | truncate: 48: '...' }}
                                    </a>
                                </h2>
                                <div class="text-center desc-over">
                                    <p class="desc">
                                        {{ brandsx.description | truncate: 48: '...' }}
                                    </p>
                                </div>
                                <div class="box-lear-more">
                                    <a ui-sref-opts="{reload:true}"
                                       ui-sref="brandsdetail({ postBrandsId: brandsx.slug })"
                                       title="{{ spirits.spirits_link_button_learn_more }}">
                                        {{ spirits.spirits_link_button_learn_more }}
                                    </a>
                                </div>
                            </div>
                        </div>

                    </slick>
                </div>

                <div class="text-center">
                    <p ng-if="filterResult.length == 0">
                        No match criteria<br/><br/><br/>
                    </p>
                </div>

            </div>

            <br/>
            <br/>
            <br/>

            <!--LIST RECIPES IN SPIRITS-->
            <div class="row">

                <div class="col-xs-12">
                    <p class="our-text">
                        {{ spirits.spirits_recipes_title }}
                    </p>
                </div>


                <div class="col-xs-12 slick-formated slick-formated-dots slick-formated-arrow">

                    <div class="related-recipes">

                        <slick slides-to-show="4" slides-to-scroll="4" responsive="miniGalleryResponsiveDots"
                               dots="true"
                               arrows="false" init-onload="true" data="recipesjsoninspirits.docs"
                               custom-paging="customDots">

                            <div ng-repeat="relatedRecipex in (nomatchcriteria = (recipesjsoninspirits.docs | limitTo: 16))"
                                 class="related recipe-text">

                                <div class="reloader">
                                    <a ui-sref-opts="{reload:true}"
                                       ui-sref="recipedetail({ postRecipesId: relatedRecipex.recipeSlug })"
                                       class="recipe-img aiblock recipe-img2 aiblock2"
                                       style="background-image: url('{{ relatedRecipex.SearchImage.original }}');">
                                    </a>
                                </div>

                                <div class="block-s block-s-recipe">

                                    <h2 class="text-center box-name">
                                        <a ui-sref-opts="{reload:true}"
                                           ui-sref="recipedetail({ postRecipesId: relatedRecipex.recipeSlug })">{{
                                            relatedRecipex.recipeTitle | truncate: 48: '...' }}</a>
                                    </h2>

                                    <div class="box-lear-more">
                                        <a ui-sref-opts="{reload:true}"
                                           ui-sref="recipedetail({ postRecipesId: relatedRecipex.recipeSlug })"
                                           title="{{ spirits.spirits_link_button_get_recipes }}">
                                            {{ spirits.spirits_link_button_get_recipes }}
                                        </a>
                                    </div>
                                </div>

                            </div>

                        </slick>

                    </div>

                    <div class="text-center">
                        <p ng-if="nomatchcriteria.length == 0">
                            No match criteria<br/><br/><br/><br/>
                        </p>
                    </div>

                </div>

            </div>

        </div>


        <div class="container"
             ng-repeat="spiritsx in detailspirits.spirit_detail | filter: { 'slug': postSpiritsId}:true | limitTo:1"
             ng-if="spiritsx.spirits_show_banner">

            <div class="row">

                <div class="banners-out">

                    <a ui-sref-opts="{reload:true}"
                       ui-sref="spiritdetail1({ postSpiritsId: spiritsx.slug })">
                        <div class="txt_cnt">
                            <h4>{{ spirits.spirits_title_banner }}</h4>
                            <p>{{ spirits.spirits_subtitle_banner }}</p>
                            <span>
                      {{ spirits.spirits_link_text_banner }}
                    </span>
                        </div>
                        <img src="{{ spirits.spirits_banner_image }}" alt=""/>
                    </a>

                </div>

            </div>

        </div>


    </div>

</div>

