<!--regular meta-->
<update-title title="{{ seoTitle }}"></update-title>
<update-meta name='keywords' content='{{ seoKeywords }}'></update-meta>
<update-meta name='description' content='{{ seoDescription }}'></update-meta>
<!--FB meta-->
<update-meta property='og:url' content='{{ fburl }}'></update-meta>
<update-meta property='og:title' content='{{ seoTitle }}'></update-meta>
<update-meta property='og:description' content='{{ seoDescription }}'></update-meta>

<ol class="seo-breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
    <li itemprop="itemListElement" itemscope
        itemtype="http://schema.org/ListItem">
        <a itemprop="item"
           ui-sref-opts="{reload:true}"
           ui-sref="home">
            <span itemprop="name">Home</span></a>
        <meta itemprop="position" content="1"/>
    </li>
    <li itemprop="itemListElement" itemscope
        itemtype="http://schema.org/ListItem">
        <a itemprop="item"
           ui-sref-opts="{reload:true}"
           ui-sref="spirits">
            <span itemprop="name">Spirits</span></a>
        <meta itemprop="position" content="1"/>
    </li>
    <li itemprop="itemListElement" itemscope
        itemtype="http://schema.org/ListItem"
        ng-repeat="spiritsx in detailspirits.spirit_detail | filter: { 'slug': postSpiritsId}:true | limitTo:1"
        ng-if="!spiritsx.spirits_enable_expand_detail">
        <a itemprop="item">
            <span itemprop="name">{{ spiritsx.name }}</span></a>
        <meta itemprop="position" content="2"/>
    </li>
</ol>

<div class="all-pages full-page--spirits-step-4">

    <div class="mega-spirits" id="toTheTop">


        <h2 class="text-center seo-reference">Your Whisky</h2>

        <h2 class="text-center seo-reference">How do you take your whiskey?</h2>


        <div class="expanded-detail-box">

            <div id="step-4-spirits"
                 ng-repeat="spiritsx in detailspirits.spirit_detail | filter: { 'slug': 'whisky'}"
                 class="steps-box step-4-spirits">

                <div class="full-wipper">

                    <div class="title-inside">
                        <h1 id="wb-cont"> {{ spiritsx.spirits_your_whisky_title }}</h1>
                    </div>

                    <div class="container">

                        <div class="row">
                            <div class="box-chapter">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3">
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3 box-black blox-spirits-menu">
                                    <div class="block">
                                        <ng-include src="'inc/nav-detail.html'"></ng-include>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="container">

                        <div class="row box-white-black box-higher"
                             ng-repeat="spiritsxx in spiritsx.spirits_caloric_content">

                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                <div class="block">
                                    <div class="icon">
                                        <img ng-src="{{ spiritsxx.spirits_caloric_icon }}">
                                    </div>
                                    <h2>
                                        {{ spiritsxx.spirits_caloric_title }}
                                    </h2>
                                    <div class="desc">
                                        <p>{{ spiritsxx.spirits_caloric_description }}</p>
                                    </div>
                                    <div class="grey-separator"></div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 box-black2">
                                <div class="block text-left">
                                    <div class="tag tag-orange text-up white pt-50">
                                        {{ spiritsxx.spirits_caloric_did_you_know_title }}
                                    </div>
                                    <h4>{{ spiritsxx.spirits_caloric_did_you_know_data }}</h4>
                                    <div class="desc">
                                        <p>{{ spiritsxx.spirits_caloric_did_you_know_description }}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3">
                            </div>
                        </div>

                        <div class="row box-white-black box-expiration"
                             ng-repeat="spiritsxx in spiritsx.spirits_expiration_date_content">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3">
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 box-black2">
                                <div class="block text-left">
                                    <div class="tag tag-orange text-up white pt-50">
                                        {{ spiritsxx.spirits_expiration_date_did_you_know_title }}
                                    </div>
                                    <h4> {{ spiritsxx.spirits_expiration_date_did_you_know_data }}</h4>
                                    <div class="desc">
                                        <p> {{ spiritsxx.spirits_expiration_date_did_you_know_description }}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                <div class="block">
                                    <div class="icon">
                                        <img ng-src="{{ spiritsxx.spirits_expiration_date_icon }}">
                                    </div>
                                    <h2>
                                        {{ spiritsxx.spirits_expiration_date_title }}
                                    </h2>
                                    <div class="desc">
                                        <p>{{ spiritsxx.spirits_expiration_date_description }}</p>
                                    </div>
                                    <div class="grey-separator"></div>
                                </div>
                            </div>
                        </div>

                        <div class="row">

                            <div class="box-howdoyoutake" ng-if="mobile">

                                <h2 title="text-center">{{ spiritsx.spirits_timeline_title }}</h2>

                                <div class="line-time">

                                    <slick slides-to-show="1" slides-to-scroll="1" dots="true"
                                           arrows="false" init-onload="true" data="spiritsx" custom-paging="customDots"
                                           ng-if="mobile" class="slick-mobile">

                                        <div class="lime-time-content"
                                             ng-repeat="spiritsxx in spiritsx.spirits_how_do_you_take_your_whiskey"
                                             ng-class="$even ? 'odd' : 'even'">

                                            <div class="line-time-img">
                                                <img ng-src="{{ spiritsxx.spirits_how_image }}"
                                                     alt="{{ spiritsxx.spirits_how_title }}"/>
                                            </div>

                                            <div class="line-time-box">
                                                <h2>{{ spiritsxx.spirits_how_title }}</h2>
                                                <p>{{ spiritsxx.spirits_how_description }}</p>
                                            </div>

                                        </div>

                                    </slick>

                                </div>

                            </div>

                            <!--how do you take your whiskey desktop-->
                            <div class="box-howdoyoutake" ng-if="desktop">

                                <h2 title="text-center">{{ spiritsx.spirits_timeline_title }}</h2>

                                <div class="circle">º</div>

                                <div class="line-time">

                                    <div class="lime-time-content"
                                         ng-repeat="spiritsxx in spiritsx.spirits_how_do_you_take_your_whiskey"
                                         ng-class="$even ? 'odd' : 'even'" ng-if="!$last">

                                        <div class="line-time-img">
                                            <img ng-src="{{ spiritsxx.spirits_how_image }}"
                                                 alt="{{ spiritsxx.spirits_how_title }}"/>
                                        </div>

                                        <div class="line-time-box">
                                            <h2>{{ spiritsxx.spirits_how_title }}</h2>
                                            <p>{{ spiritsxx.spirits_how_description }}</p>
                                        </div>

                                    </div>

                                </div>

                                <div class="circle">º</div>

                                <div class="line-time line-time2">

                                    <div class="lime-time-content"
                                         ng-repeat="spiritsxx in spiritsx.spirits_how_do_you_take_your_whiskey"
                                         ng-class="$even ? 'odd' : 'even'" ng-if="$last">

                                        <div class="line-time-img">
                                            <img ng-src="{{ spiritsxx.spirits_how_image }}"
                                                 alt="{{ spiritsxx.spirits_how_title }}"/>
                                        </div>

                                        <div class="line-time-box">
                                            <h2>{{ spiritsxx.spirits_how_title }}</h2>
                                            <p>{{ spiritsxx.spirits_how_description }}</p>
                                        </div>

                                    </div>

                                </div>

                                <div class="separator-arrow"></div>

                            </div>

                        </div>

                        <div class="row">

                            <div class="recipes-box dot-new-format slick-formated slick-formated-dots slick-formated-arrow">

                                <slick slides-to-show="4" slides-to-scroll="4" responsive="miniGalleryResponsive"
                                       dots="true"
                                       arrows="false" init-onload="true" data="recipesjsonwhisky.docs"
                                       custom-paging="customDots">

                                    <div class="related col-md-3"
                                         ng-repeat="recipesjsonwhiskyx in recipesjsonwhisky.docs">

                                        <div class="reloader">
                                            <a ui-sref-opts="{reload:true}"
                                               ui-sref="recipedetail({ postRecipesId: recipesjsonwhiskyx.recipeSlug })"
                                               class="recipe-img aiblock recipe-img2 aiblock2"
                                               style="background-image: url('{{ recipesjsonwhiskyx.SearchImage.original }}');">
                                            </a>
                                        </div>

                                        <div class="block-s">
                                            <div class="text-left box-name">
                                                <h2 class="box-name-22">
                                                    <a ui-sref-opts="{reload:true}"
                                                       ui-sref="recipedetail({ postRecipesId: recipesjsonwhiskyx.recipeSlug })">
                                                        {{ recipesjsonwhiskyx.recipeTitle }}
                                                    </a>
                                                </h2>
                                            </div>

                                            <div class="box-lear-more">
                                                <div class="box-lear-more">
                                                    <a ui-sref-opts="{reload:true}"
                                                       ui-sref="recipedetail({ postRecipesId: recipesjsonwhiskyx.recipeSlug })"
                                                       title="Get Recipe">
                                                        Get Recipe
                                                    </a>
                                                </div>
                                            </div>

                                        </div>

                                    </div>

                                </slick>

                            </div>

                        </div>


                    </div>

                    <div class="container">
                        <div class="row">

                            <div class="paginator" ng-repeat="spiritsMenu in spirits.spirit_menu_list.slice(2,3)">
                                <a class="paginator-arrow-prev"
                                   ui-sref-opts="{reload:true}"
                                   ui-sref="spiritdetail3({ postSpiritsId: 'whisky' })"
                                   title="{{ spirits.spirits_pagination_prev }}">
                                    {{ spirits.spirits_pagination_prev }}
                                </a>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>

    </div>
</div>

