<!--regular meta-->
<update-title title="{{ seoTitle }}"></update-title>
<update-meta name='keywords' content='{{ seoKeywords }}'></update-meta>
<update-meta name='description' content='{{ seoDescription }}'></update-meta>
<!--FB meta-->
<update-meta property='og:url' content='{{ fburl }}'></update-meta>
<update-meta property='og:title' content='{{ seoTitle }}'></update-meta>
<update-meta property='og:description' content='{{ seoDescription }}'></update-meta>

<ol class="seo-breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
    <li itemprop="itemListElement" itemscope
        itemtype="http://schema.org/ListItem">
        <a itemprop="item"
           ui-sref-opts="{reload:true}"
           ui-sref="home">
            <span itemprop="name">Home</span></a>
        <meta itemprop="position" content="1"/>
    </li>
    <li itemprop="itemListElement" itemscope
        itemtype="http://schema.org/ListItem">
        <a itemprop="item">
            <span itemprop="name">Spirits</span></a>
        <meta itemprop="position" content="2"/>
    </li>
</ol>

<div class="black-bg black-bg-alternative block-s">
    <div class="container">
        <div class="row">
            <h1 id="wb-cont" class="our-text-h1 text-center white">Explore Liquor Spirits</h1>
            <h2 class="our-text our-text-h2 orange">{{ spirits.subtitle }}</h2>
            <h2 class="hidden">Whisk(e)y • Cordials / Liqueurs • Rum • Tequila • Vodka • Gin • Ready To Drink • Bourbon • Scotch • Beer</h2>
            <h2 class="text-center seo-reference">All you need to know</h2>
        </div>
    </div>
</div>

<div class="container">

    <div class="row">

        <div class="first-line-type">

            <div ng-repeat="spiritsx in spirits.spirits">

                <div class="col-md-12">

                    <div class="spirits-boxes" ng-class="$even ? 'odd' : 'even'">

                        <div ng-if="spiritsx.position == 1">
                            <div class="col-xs-0 col-sm-0 col-md-0 col-lg-3 no-padmarg fixed-r-col-position">
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 no-padmarg box-image fixed-r-col-position">
                                <div class="block-img">
                                    <a ng-if="spiritsx.slug != 'whisky'"
                                       ui-sref-opts="{reload:true}"
                                       ui-sref="spiritdetail({ postSpiritsId: spiritsx.slug })">
                                        <img ng-src="{{ spiritsx.image }}" alt="{{ spiritsx.name }}"/>
                                    </a>

                                    <a ng-if="spiritsx.slug == 'whisky'"
                                       ui-sref-opts="{reload:true}"
                                       ui-sref="spiritdetail1({ postSpiritsId: spiritsx.slug })">
                                        <img ng-src="{{ spiritsx.image }}" alt="{{ spiritsx.name }}"/>
                                    </a>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 no-padmarg box-white fixed-l-col-position">
                                <div class="block">
                                    <h3 class="title">
                                        <a ng-if="spiritsx.slug != 'whisky'"
                                           ui-sref-opts="{reload:true}"
                                           ui-sref="spiritdetail({ postSpiritsId: spiritsx.slug })">
                                            {{ spiritsx.name | truncate: 24: '...' }}
                                        </a>

                                        <a ng-if="spiritsx.slug == 'whisky'"
                                           ui-sref-opts="{reload:true}"
                                           ui-sref="spiritdetail1({ postSpiritsId: spiritsx.slug })">
                                            {{ spiritsx.name | truncate: 24: '...' }}
                                        </a>
                                    </h3>
                                    <h3 class="desc">
                                        {{ spiritsx.description | truncate: 324: '...' }}
                                    </h3>
                                    <div class="box-lear-more">
                                        <a ng-if="spiritsx.slug != 'whisky'"
                                           ui-sref-opts="{reload:true}"
                                           ui-sref="spiritdetail({ postSpiritsId: spiritsx.slug })"
                                           title="{{ spirits.spirits_link_button_name }}">
                                            {{ spirits.spirits_link_button_name }}
                                        </a>

                                        <a ng-if="spiritsx.slug == 'whisky'"
                                           ui-sref-opts="{reload:true}"
                                           ui-sref="spiritdetail1({ postSpiritsId: spiritsx.slug })"
                                           title="{{ spirits.spirits_link_button_name }}">
                                            {{ spirits.spirits_link_button_name }}
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div ng-if="spiritsx.position == 2">
                            <div class="col-xs-0 col-sm-0 col-md-0 col-lg-3 no-padmarg fixed-l-col-position">
                            </div>

                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 no-padmarg box-image fixed-r-col-position">
                                <div class="block-img">
                                    <a ng-if="spiritsx.slug != 'whisky'"
                                       ui-sref-opts="{reload:true}"
                                       ui-sref="spiritdetail({ postSpiritsId: spiritsx.slug })">
                                        <img ng-src="{{ spiritsx.image }}" alt="{{ spiritsx.name }}"/>
                                    </a>

                                    <a ng-if="spiritsx.slug == 'whisky'"
                                       ui-sref-opts="{reload:true}"
                                       ui-sref="spiritdetail1({ postSpiritsId: spiritsx.slug })">
                                        <img ng-src="{{ spiritsx.image }}" alt="{{ spiritsx.name }}"/>
                                    </a>
                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 no-padmarg box-white fixed-l-col-position">
                                <div class="block">
                                    <h3 class="title">
                                        <a ng-if="spiritsx.slug != 'whisky'"
                                           ui-sref-opts="{reload:true}"
                                           ui-sref="spiritdetail({ postSpiritsId: spiritsx.slug })">
                                            {{ spiritsx.name | truncate: 24: '...' }}
                                        </a>

                                        <a ng-if="spiritsx.slug == 'whisky'"
                                           ui-sref-opts="{reload:true}"
                                           ui-sref="spiritdetail1({ postSpiritsId: spiritsx.slug })">
                                            {{ spiritsx.name | truncate: 24: '...' }}
                                        </a>
                                    </h3>
                                    <h3 class="desc">
                                        {{ spiritsx.description | truncate: 324: '...' }}
                                    </h3>
                                    <div class="box-lear-more">
                                        <a ng-if="spiritsx.slug != 'whisky'"
                                           ui-sref-opts="{reload:true}"
                                           ui-sref="spiritdetail({ postSpiritsId: spiritsx.slug })"
                                           title="{{ spirits.spirits_link_button_name }}">
                                            {{ spirits.spirits_link_button_name }}
                                        </a>

                                        <a ng-if="spiritsx.slug == 'whisky'"
                                           ui-sref-opts="{reload:true}"
                                           ui-sref="spiritdetail1({ postSpiritsId: spiritsx.slug })"
                                           title="{{ spirits.spirits_link_button_name }}">
                                            {{ spirits.spirits_link_button_name }}
                                        </a>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div ng-if="spiritsx.position == 3">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3 no-padmarg box-black blox-spirits-menu fixed-r-col-position">
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 no-padmarg box-image fixed-l-col-position">
                                <div class="block-img">
                                    <a ng-if="spiritsx.slug != 'whisky'"
                                       ui-sref-opts="{reload:true}"
                                       ui-sref="spiritdetail({ postSpiritsId: spiritsx.slug })">
                                        <img ng-src="{{ spiritsx.image }}" alt="{{ spiritsx.name }}"/>
                                    </a>

                                    <a ng-if="spiritsx.slug == 'whisky'"
                                       ui-sref-opts="{reload:true}"
                                       ui-sref="spiritdetail1({ postSpiritsId: spiritsx.slug })">
                                        <img ng-src="{{ spiritsx.image }}" alt="{{ spiritsx.name }}"/>
                                    </a>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 no-padmarg box-white fixed-l-col-position">
                                <div class="block">
                                    <h3 class="title">
                                        <a ng-if="spiritsx.slug != 'whisky'"
                                           ui-sref-opts="{reload:true}"
                                           ui-sref="spiritdetail({ postSpiritsId: spiritsx.slug })">
                                            {{ spiritsx.name | truncate: 24: '...' }}
                                        </a>

                                        <a ng-if="spiritsx.slug == 'whisky'"
                                           ui-sref-opts="{reload:true}"
                                           ui-sref="spiritdetail1({ postSpiritsId: spiritsx.slug })">
                                            {{ spiritsx.name | truncate: 24: '...' }}
                                        </a>
                                    </h3>
                                    <h3 class="desc">
                                        {{ spiritsx.description | truncate: 324: '...' }}
                                    </h3>
                                    <div class="box-lear-more">
                                        <a ng-if="spiritsx.slug != 'whisky'"
                                           ui-sref-opts="{reload:true}"
                                           ui-sref="spiritdetail({ postSpiritsId: spiritsx.slug })"
                                           title="{{ spirits.spirits_link_button_name }}">
                                            {{ spirits.spirits_link_button_name }}
                                        </a>

                                        <a ng-if="spiritsx.slug == 'whisky'"
                                           ui-sref-opts="{reload:true}"
                                           ui-sref="spiritdetail1({ postSpiritsId: spiritsx.slug })"
                                           title="{{ spirits.spirits_link_button_name }}">
                                            {{ spirits.spirits_link_button_name }}
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div ng-if="spiritsx.position == 4">
                            <div class="col-xs-0 col-sm-0 col-md-0 col-lg-3 no-padmarg fixed-l-col-position">

                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 no-padmarg box-image fixed-l-col-position">
                                <div class="block-img">
                                    <a ng-if="spiritsx.slug != 'whisky'"
                                       ui-sref-opts="{reload:true}"
                                       ui-sref="spiritdetail({ postSpiritsId: spiritsx.slug })">
                                        <img ng-src="{{ spiritsx.image }}" alt="{{ spiritsx.name }}"/>
                                    </a>

                                    <a ng-if="spiritsx.slug == 'whisky'"
                                       ui-sref-opts="{reload:true}"
                                       ui-sref="spiritdetail1({ postSpiritsId: spiritsx.slug })">
                                        <img ng-src="{{ spiritsx.image }}" alt="{{ spiritsx.name }}"/>
                                    </a>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 no-padmarg box-white fixed-r-col-position">
                                <div class="block">
                                    <h3 class="title">
                                        <a ng-if="spiritsx.slug != 'whisky'"
                                           ui-sref-opts="{reload:true}"
                                           ui-sref="spiritdetail({ postSpiritsId: spiritsx.slug })">
                                            {{ spiritsx.name | truncate: 24: '...' }}
                                        </a>

                                        <a ng-if="spiritsx.slug == 'whisky'"
                                           ui-sref-opts="{reload:true}"
                                           ui-sref="spiritdetail1({ postSpiritsId: spiritsx.slug })">
                                            {{ spiritsx.name | truncate: 24: '...' }}
                                        </a>
                                    </h3>
                                    <h3 class="desc">
                                        {{ spiritsx.description | truncate: 324: '...' }}
                                    </h3>
                                    <div class="box-lear-more">
                                        <a ng-if="spiritsx.slug != 'whisky'"
                                           ui-sref-opts="{reload:true}"
                                           ui-sref="spiritdetail({ postSpiritsId: spiritsx.slug })"
                                           title="{{ spirits.spirits_link_button_name }}">
                                            {{ spirits.spirits_link_button_name }}
                                        </a>

                                        <a ng-if="spiritsx.slug == 'whisky'"
                                           ui-sref-opts="{reload:true}"
                                           ui-sref="spiritdetail1({ postSpiritsId: spiritsx.slug })"
                                           title="{{ spirits.spirits_link_button_name }}">
                                            {{ spirits.spirits_link_button_name }}
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

</div>


<div class="container">

    <div class="row">

        <div class="banners-out">

            <a ui-sref-opts="{reload:true}"
               ui-sref="spiritdetail1({ postSpiritsId: spiritsx.slug })">
                <div class="txt_cnt">
                    <h4>{{ spirits.spirits_title_banner }}</h4>
                    <p>{{ spirits.spirits_subtitle_banner }}</p>
                    <span>
                      {{ spirits.spirits_link_text_banner }}
                    </span>
                </div>
                <img src="{{ spirits.spirits_banner_image }}" alt=""/>
            </a>

        </div>

    </div>

</div>
