<!--regular meta-->
<update-title title="{{ seoTitle }}"></update-title>
<update-meta name='keywords' content='{{ seoKeywords }}'></update-meta>
<update-meta name='description' content='{{ seoDescription }}'></update-meta>
<!--FB meta-->
<update-meta property='og:url' content='{{ fburl }}'></update-meta>
<update-meta property='og:title' content='{{ seoTitle }}'></update-meta>
<update-meta property='og:description' content='{{ seoDescription }}'></update-meta>

<ol class="seo-breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
    <li itemprop="itemListElement" itemscope
        itemtype="http://schema.org/ListItem">
        <a itemprop="item"
           ui-sref-opts="{reload:true}"
           ui-sref="home">
            <span itemprop="name">Home</span></a>
        <meta itemprop="position" content="1"/>
    </li>
    <li itemprop="itemListElement" itemscope
        itemtype="http://schema.org/ListItem">
        <a itemprop="item"
           ui-sref-opts="{reload:true}"
           ui-sref="spirits">
            <span itemprop="name">Spirits</span></a>
        <meta itemprop="position" content="1"/>
    </li>
    <li itemprop="itemListElement" itemscope
        itemtype="http://schema.org/ListItem"
        ng-repeat="spiritsx in detailspirits.spirit_detail | filter: { 'slug': postSpiritsId}:true | limitTo:1"
        ng-if="!spiritsx.spirits_enable_expand_detail">
        <a itemprop="item">
            <span itemprop="name">{{ spiritsx.name }}</span></a>
        <meta itemprop="position" content="2"/>
    </li>
</ol>

<div class="all-pages full-page--spirits-step-2">


    <h2 class="text-center seo-reference">Types of Whisky</h2>

    <h2 class="text-center seo-reference">American • Bourbon • Tennessee • Rye • Canadian • Flavored • Scotch</h2>


    <div class="mega-spirits" id="toTheTop">

        <div class="expanded-detail-box">

            <div id="step-2-spirits"
                 ng-repeat="spiritsx in detailspirits.spirit_detail | filter: { 'slug': 'whisky'}"
                 class="steps-box step-2-spirits">
                <div class="hero-inside"
                     ng-style="{'background-image': 'url({{ spiritsx.spirits_image_background_types_of_whisky }})'}">
                    <h1 id="wb-cont">{{ spiritsx.spirits_type_of_title }}</h1>
                </div>

                <div class="container">

                    <div class="row">

                        <div class="box-detail-large-header box-detail-large-header-alt col-md-12">
                            <br/>
                        </div>

                        <div class="box-chapter">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3">
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 box-black blox-spirits-menu">
                                <div class="block">
                                    <ng-include src="'inc/nav-detail.html'"></ng-include>
                                </div>
                            </div>
                        </div>

                        <div class="block blocks-types">


                            <div class="col-md-12">
                                <h2 class="white-header" ng-if="desktop">{{ spiritsx.spirits_type_of_subtitle }}</h2>
                            </div>

                            <!--tipos de whiskey desktop-->
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3 block-area"
                                 ng-repeat="spiritsxx in spiritsx.spirits_types_of_whisky">
                                <h3>{{ spiritsxx.spirits_types_of_whisky_title }}</h3>
                                <div class="desc">
                                    <span ng-bind-html="spiritsxx.spirits_types_of_whisky_text | to_trusted"></span>
                                </div>
                                <h4>
                                    {{ spiritsxx.spirits_types_of_whisky_title_flavor }}
                                </h4>
                                <h5>
                                    {{ spiritsxx.spirits_types_of_whisky_flavor_notes }}
                                </h5>
                            </div>


                            <div class="col-xs-12 box-block-flavor"
                                 ng-repeat="spiritsxx in spiritsx.spirits_flavor_content">
                                <div class="col-xs-12 col-lg-9">
                                    <div class="block wood-bg">
                                        <div class="col-md-12">
                                            <h2 class="white">
                                                <span ng-bind-html="spiritsxx.spirits_flavor_content_title | to_trusted"></span>
                                            </h2>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="desc">
                                                <p>
                                            <span
                                                    ng-bind-html="spiritsxx.spirits_flavor_content_description | to_trusted"></span>
                                                </p>
                                            </div>
                                            <a class="btn-more" ng-click="open()"
                                               title="{{ spiritsxx.spirits_flavor_content_link }}">{{
                                                spiritsxx.spirits_flavor_content_link }}</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>

                <script type="text/ng-template" id="inc/flavor-map.html">

                    <div class="modal-fm modal-flavor-box">

                        <div class="round-icon-lg pull-right" ng-click="$dismiss('cancel')">
                            <i class="fa fa-close fa-2x"></i>
                        </div>

                        <div class="flavor-map">

                            <div ng-repeat="productx in flavor.list_flavor">

                                <div ng-click='isReplyFormOpen = !isReplyFormOpen'
                                     class='product-dot product-dot-{{ $index }}'
                                     ng-style="{top: (productx.y + 'px'), left: (productx.x + 'px')}">

                                    <span class="hovertool-relative">

                                         <span ng-show="isReplyFormOpen"
                                               class="hover-tool ht-{{ $index }}">

                                            <span class="hover-tool-box">

                                                <span class="tempclose" title="close">x</span>

                                                <span class="s-title">{{ productx.name }}</span>

                                                <span class="s-desc">{{ productx.description }}</span>

                                                <br>

                                                <a class='text-up-small s-link botoner'
                                                   ui-sref-opts='{reload:true}'
                                                   ui-sref='brandsRedirect({ postBrandsId: productx.brand_slug, postVariantId: productx.slug })'
                                                   title='Learn more' target='_blank'>
                                                   Learn More
                                                </a>

                                            </span>

                                        </span>

                                        {{ productx.name }}

                                    </span>

                                </div>

                            </div>

                        </div>

                    </div>

                </script>

                <div class="box-content-malt">

                    <div class="full-wipper malt-versus">

                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 malt-versus-img">
                            <img ng-src="{{ spiritsx.single_malt_vs_blended_image }}">
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">

                        </div>

                    </div>

                    <div class="container malt-info">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">

                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                                <div class="block">
                                    <h2>{{ spiritsx.single_malt_vs_blended_title }}</h2>
                                    <div class="desc">
                                        <p>{{ spiritsx.single_malt_vs_blended_description }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="container box-content-malt-singles">

                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 box-singles"
                             ng-repeat="spiritsxx in spiritsx.single_malt_vs_blended_content"
                             ng-class="$even ? 'odd' : 'even'">
                            <div class="block">
                                <h2>{{ spiritsxx.single_malt_vs_blended_content_title }}</h2>

                                <div class="desc mh160">
                                    <p>{{ spiritsxx.single_malt_vs_blended_content_description }}</p>
                                </div>

                                <h3>{{ spiritsxx.single_malt_vs_blended_content_distillation_title }}</h3>
                                <div class="mh160">
                                    <p>{{ spiritsxx.single_malt_vs_blended_content_distillation_description }}</p>
                                </div>

                                <h3>{{ spiritsxx.single_malt_vs_blended_content_flavor_title }}</h3>
                                <div class="mh160">
                                    <p>{{ spiritsxx.single_malt_vs_blended_content_flavor_description }}</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="full-wipper box-unique-single"
                     ng-repeat="spiritsxx in spiritsx.single_malt_vs_blended_single_grain">

                    <div class="container box-unique-first">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                                <div class="block">
                                    <h2>{{ spiritsxx.single_malt_vs_blended_single_grain_title }}</h2>
                                    <p class="">
                                        <span ng-bind-html="spiritsxx.single_malt_vs_blended_single_grain_description | to_trusted"></span>
                                    </p>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                            </div>
                        </div>
                    </div>

                    <div class="box-unique-line">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 box-unique-single-img">
                            <img ng-src="{{ spiritsxx.single_malt_vs_blended_single_grain_image }}">
                        </div>
                    </div>

                    <div class="container box-unique-distillary">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                                <h2>{{ spiritsxx.single_malt_vs_blended_single_grain_tooltip }}</h2>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="container">
                    <div class="row">
                        <div class="paginator">

                            <div class="" ng-repeat="spiritsMenu in spirits.spirit_menu_list.slice(0,1)">
                                <a class="paginator-arrow-prev"
                                   ui-sref-opts="{reload:true}"
                                   ui-sref="spiritdetail1({ postSpiritsId: spiritsMenu.link_slug })"
                                   title="{{ spirits.spirits_pagination_prev }}">
                                    {{ spirits.spirits_pagination_prev }}
                                </a>
                            </div>

                            <div class="" ng-repeat="spiritsMenu in spirits.spirit_menu_list.slice(2,3)">
                                <a class="paginator-arrow-next"
                                   ui-sref-opts="{reload:true}"
                                   ui-sref="spiritdetail3({ postSpiritsId: 'whisky' })"
                                   title="{{ spirits.spirits_pagination_next }}">
                                    {{ spirits.spirits_pagination_next }}
                                </a>
                            </div>

                            <!--<a class="paginator-arrow-prev" ng-click="setPage(1); scroll()"-->
                            <!--title="{{ spirits.spirits_pagination_prev }}">-->
                            <!--{{ spirits.spirits_pagination_prev }}-->
                            <!--</a>-->
                            <!--<a class="paginator-arrow-next" ng-click="setPage(3); scroll()"-->
                            <!--title="{{ spirits.spirits_pagination_next }}">-->
                            <!--{{ spirits.spirits_pagination_next }}-->
                            <!--</a>-->
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>
</div>

