<!--regular meta-->
<update-title title="{{ seoTitle }}"></update-title>
<update-meta name='keywords' content='{{ seoKeywords }}'></update-meta>
<update-meta name='description' content='{{ seoDescription }}'></update-meta>
<!--FB meta-->
<update-meta property='og:url' content='{{ fburl }}'></update-meta>
<update-meta property='og:title' content='{{ seoTitle }}'></update-meta>
<update-meta property='og:description' content='{{ seoDescription }}'></update-meta>

<ol class="seo-breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
    <li itemprop="itemListElement" itemscope
        itemtype="http://schema.org/ListItem">
        <a itemprop="item"
           ui-sref-opts="{reload:true}"
           ui-sref="home">
            <span itemprop="name">Home</span></a>
        <meta itemprop="position" content="1"/>
    </li>
    <li itemprop="itemListElement" itemscope
        itemtype="http://schema.org/ListItem">
        <a itemprop="item">
            <span itemprop="name">Where to buy</span></a>
        <meta itemprop="position" content="2"/>
    </li>
</ol>

<h2 id="wb-cont" class="hidden">Where to buy</h2>

<div class="search-wtb" ng-class="{'text-left' : $state.includes('brandsdetail')}">

    <div class="container-fluid">


        <div id="search">
            <input autocomplete="off" id="searchTextField" size="39" name="location"
                   placeholder="address, city/state, zip" tabindex="1" type="text"
                   ng-class="{'width-include' : $state.includes('brandsdetail')}">
        </div>

        <div id="brands" ng-hide="$state.includes('brandsdetail')">
            <img src="dist/images/wtb-map/loader.gif" id="loaderBrands">
            <select name="brands" id="selectBrands">
            </select>
        </div>

        <div id="variants">
            <img src="dist/images/wtb-map/loader.gif" id="loaderVariants" style="visibility:hidden">
            <select name="variants" id="selectVariants" ng-class="{'width-include' : $state.includes('brandsdetail')}">
            </select>
        </div>

        <div id="loctype">

            <select name="locType" id="selectLoctype" multiple class="hidden">
                <option value="off-prem">Retail stores</option>
                <option value="on-prem">Bars/restaurants</option>
            </select>

            <form action="" class="form-inline">

                <div class="form-group" id="check-loctype">

                    <input type="checkbox" id="off-prem" value="off-prem">
                    <label class="checkbox-inline" for="off-prem">Retail</label>

                    <input type="checkbox" id="on-prem" value="on-prem">
                    <label class="checkbox-inline" for="on-prem">Bars/restaurants</label>

                </div>
            </form>

        </div>

        <button class="btn wtb-button">SEARCH</button>

        <hr class="wtbhr">

        <div id="eComm" class="ecomm-area logos eCommArea">

        </div>


    </div>

</div>

<div class="container-fluid">

    <div class="row">

        <div class="map-wrapper">

            <div id="map"></div>

        </div>

        <div id="locations" class="col-xs-12 col-sm-12 col-md-12 col-lg-2">

            <div id="locationsList" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

            </div>

        </div>

    </div>


</div>

<script type="text/javascript">
    console.log('WTB Push: formShown');
    dataLayer.push({
        //WTB PUSH
        'event': 'formShown'
    });
    $("input[type=checkbox]").on("click", function () {
        console.log('Push Bar/Retail checkboxes');
        window.dataLayer = window.dataLayer || [];
        window.dataLayer.push({
            'event': 'pushBarRetailCheckboxes'
        });

        var arr = [];
        $("input[type=checkbox]:checked").each(function () {
            arr.push($(this).val());
        });
        $('#selectLoctype').val(arr);
        if ($('#selectVariants').val() != '') {
            $('#selectVariants').trigger('change');
        }
    });
</script>

