@font-face {
    font-family: 'elephantregular';
    src: url('elephnt-webfont.woff2') format('woff2'),
    url('elephnt-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewaylight';
    src: url('raleway_300-webfont.woff2') format('woff2'),
    url('raleway_300-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewaybold';
    src: url('raleway_700-webfont.woff2') format('woff2'),
    url('raleway_700-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewayregular';
    src: url('raleway_regular-webfont.woff2') format('woff2'),
    url('raleway_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewayblack';
    src: url('raleway_900-webfont.woff2') format('woff2'),
    url('raleway_900-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}