.block {
  padding: 80px;
  margin-top: 60px;
  position: relative;
  background: #fff;
  &:after {
    content: "";
    display: table;
    clear: both;
  }
  @media screen and (max-width: $screen-sm) {
    padding: 50px;
    margin-top: 30px;
    h2 {
      text-align: center;
    }
  }
  h4 {
    text-align: center;
    color: $gray-light;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    @media screen and (max-width: $screen-sm) {
      font-size: 24px;
    }
  }
}

.hero-recipes .block {
  padding: 80px;
  margin-top: 60px;
  position: relative;
  background: #fff;
  border-left: 1px solid #e3e3e3;
  p {
    height: 100px;
  }
  &:after {
    content: "";
    width: 0;
    height: 0;
  }
}

.hero-recipes .block.addfirstclass {
  border: 0 none;
}

.block-s {
  padding: 50px 40px;
  position: relative;
  background: #fff;
  min-height: 262px;
  &.left-line {
    @extend %line-under;
  }
  h3 {
    max-width: 75%;
  }
  &.orange-line {
    min-height: 215px;
  }
}

.orange-line {
  @extend %line-under;
}

.hero {
  background-repeat: no-repeat;
  height: 720px;
  width: 100%;
  background-size: cover;
  background-position: 0 5%;
  position: absolute;
  z-index: 0;
  @media screen and (max-width: $screen-sm) {
    background-size: cover;
    height: 400px;
    background-position: center;
  }
}

.hero-solid {
  background: #404040;
  height: 290px;
  width: 100%;
  background-size: cover;
  position: absolute;
  z-index: 0;
}

.hero-nofull {
  position: relative;
  height: 270px;
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
}

.recipe-det {
  padding: 0;
  border: 1px solid #e4e4e4;
  margin: 35px 0 0;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    margin-right: 15px;
  }
  h4 {
    font-family: $font-serif;
    font-size: 20px;
    color: $gray-dark;
    font-weight: 900;
    margin: 0;
    text-align: left;
  }
  p {
    color: $gray-light;
    margin: 0;
    font-size: 12px;
    @media screen and (max-width: $screen-sm) {
      font-size: 14px;
    }
  }
  &.left {
    @media screen and (max-width: $screen-sm) {
      border-left: none;
      border-right: 1px solid $gray-lighter;
      margin-top: 50px;
    }
  }

}

.txtu {
  text-transform: uppercase;
}

.medidas, .items {
  line-height: 40px;
  @media screen and (max-width: $screen-sm) {
    line-height: 30px;
  }
}

.items p {
  color: $gray-light;
  text-align: left;
}

.medidas {
  .cantidad {
    text-transform: uppercase;
    font-family: $font-serif;
    color: $gray-dark;
    font-size: 22px;
    @media screen and (max-width: $screen-sm) {
      text-align: right;
    }
  }
  .medida {
    font-size: 14px;
    text-transform: uppercase;
    font-family: $font-serif;
    @media screen and (max-width: $screen-sm) {
      color: $gray-light
    }
  }
}

.jumbo {
  background: white;
  margin-top: 60px;
  padding: 80px;
  .container {
    max-width: 100%;
  }
  @media screen and (max-width: $screen-sm) {
    margin: 0;
    padding: 60px 30px;
  }
}

.how-to {
  @media screen and (max-width: $screen-sm) {
    text-align: center;
  }
}

.how-to-icon {
  position: relative;
  &:hover {
    opacity: 1;
    transition: 0.2s all ease-in-out;
  }
}

.how-to-icon {
  position: relative;
  &:after {
    background: rgba(0, 0, 0, 0) url("../images/play-rollover.png") no-repeat scroll 0 0 / cover;
    content: "";
    height: 78px;
    left: 50%;
    opacity: 1;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 78px;
    z-index: 1016;

  }
}

.step {
  padding: 30px 0;
  color: $gray-light;
  .items {
    float: left;
    text-transform: uppercase;
    font-family: $font-serif;
    color: $gray-dark;
    font-size: 22px;
    line-height: 18px;
    padding-top: 4px;
  }
}

.step-detail {
  display: table-cell;
  vertical-align: top;
  padding-left: 30px;
}

.background {
  padding: 80px;
  background: $gray-light;
  margin-top: 60px;
  height: 380px;
  h2 {
    color: white;
    font-family: $font-serif;
    margin: 0;
    margin-bottom: 30px;
    @media screen and (max-width: $screen-sm) {
      text-align: center;
    }
  }
  p {
    color: white;
    line-height: 26px;
    @media screen and (max-width: $screen-sm) {
      text-align: center;
    }
  }
  img {
    @media screen and (max-width: $screen-sm) {
      display: none;
    }
  }
  @media screen and (max-width: $screen-sm) {
    padding: 90px 30px;
    margin: 0 -15px;
    height: auto;
  }
}

.tag {
  background: #e68832;
  padding: 9px 24px;
  width: auto;
  position: relative;
  top: -80px;
  font-size: 12px;
  display: inline-block;
  vertical-align: top;
  font-weight: bold;
  &.left {
    text-align: left;
  }
  &.pt-0 {
    top: 0;
  }
  &.pt-50 {
    top: -50px;
  }
}

.did-you-know {
  background: white;
  text-align: center;
  margin-top: 60px;
  height: auto;
  padding: 0 60px;
  position: relative;
  min-height: 380px;
  .text-icon {
    @extend %center;
    width: 70%;
    @media screen and (max-width: $screen-sm) {
      transform: translateX(-50%);
      left: 50%;
      top: 60px;
      width: 90%;
    }
  }
  img {
    width: 26px;
    height: 27px;
  }
  @media screen and (max-width: $screen-sm) {
    margin: -60px 0;
    margin-bottom: 0;
    min-height: 300px;
  }
  &:after {
    content: "";
    display: table;
    clear: both;
  }
  @extend %line-under-center;
}

.pro-tip {
  background: white;
  text-align: left;
  padding: 0 40px;
  position: relative;
  .text-icon {
    margin-top: 90px;
    position: relative;
    float: left;
    h3 {
      margin-top: 20px;
      font-family: $font-serif;
      font-size: 24px;
      @extend %line-under-center;
      @media screen and (max-width: $screen-sm) {
        font-size: 40px;
        line-height: 1.1
      }
    }
    @media screen and (max-width: $screen-sm) {
      transform: translateX(-50%);
      left: 50%;
      top: 60px;
      width: 90%;
    }
  }
  .tag {
    width: auto;
    padding: 9px 24px;
  }
}

.banner {
  width: 100%;
  min-height: 230px;
  margin-top: 60px;
  text-align: center;
  position: relative;
  .text-up {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.related-recipes {
  margin-top: 60px;
  .slick-dots {
    text-align: center !important;
    bottom: -45px !important;
    padding-left: 0 !important;
    border-top: 0;
  }
}

.related {
  padding: 0 !important;
  margin-bottom: 60px;
  img {
    width: 100%;
  }
  p {
    text-align: left !important;
  }
}

.brand {
  padding-top: 0 !important;
  height: auto;
  min-height: 460px;
  .recipe-img {
    width: 60%;
    background-size: cover;
    background-position: top center;
    margin: 20px auto;
  }
}

.brand, .related {
  background: white;
  position: relative;
  float: left;
  border-right: 1px solid #e3e3e3;
  padding: 50px 40px;
  z-index: 9;
  height: auto;
  .brand-icon {
    position: relative;
    width: 160px;
    height: 160px;
    margin: 60px auto 0 auto;
    .brand-mask {
      background: url(../../dist/images/brands-cat.png);
      overflow: hidden;
      width: 160px;
      height: 200px;
      bottom: 0;
      position: absolute;
    }
    img {
      position: absolute;
      left: 50%;
      top: 50%;
      width: 100%;
      margin: -50%;
      &.icon {
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        max-width: 100%;
        width: initial;
      }
    }
  }
  .brand-text {
    padding: 20px 30px;
  }
  h1 {
    height: 110px;
    color: $gray-dark !important;
    position: relative;
    text-align: left;
    font-size: 25px;
  }
  h2 {
    height: 110px;
    color: $gray-dark !important;
    position: relative;
    text-align: left;
    font-size: 25px;
  }
  p {
    color: $gray-light;
    text-align: center;
  }
  @media screen and (max-width: $screen-md) and (min-width: $screen-sm) {
    &:after {
      content: "";
      display: table;
      clear: both;
    }
  }
  &.left-line {
    @extend %line-under;
  }
}

.recipe-img {
  height: 180px;
  width: 100%;
  background-size: cover;
  background-position: 50% 50%;
}

.type-description {
  background: $gray-dark;
  padding: 50px;
  height: auto;
  position: relative;
  clear: both;
}

p.serving {
  color: $gray-light;
  @media screen and (max-width: $screen-sm) {
    color: $gray-dark;
    font-weight: bold;
    border: 2px solid $gray-light;
    line-height: 30px;
    text-align: center;
    padding: 2px;
    width: 75px;
  }
}

.stepper {
  display: inline-flex;
  input {
    background: transparent;
    border: none
  }
}

.disabled img {
  opacity: 0.2;
}

.serving-buttons {
  display: inline-flex;
  width: 100%;
  justify-content: flex-end;
  img {
    text-align: center;
    margin-top: 5px;
    @media screen and (max-width: $screen-sm) {
      margin-top: 11px;
    }
  }
  div {
    border: 2px solid $gray-light;
    border-radius: 100%;
    height: 30px;
    width: 30px;
    text-align: center;
    margin-right: 5px;
    cursor: pointer;
    @media screen and (max-width: $screen-sm) {
      margin-right: 0;
      height: 38px;
      width: 50px;
    }
  }
  .less {
    @media screen and (max-width: $screen-sm) {
      border-radius: 10px 0 0 10px;
      border-right: none
    }
  }
  .more {
    @media screen and (max-width: $screen-sm) {
      border-radius: 0 10px 10px 0;
      border-left: none
    }
  }
  @media screen and (max-width: $screen-sm) {
    justify-content: center;
  }
}

.hero-recipes {
  .slick-prev {
    left: 50% !important;
    margin-top: 19px;
    margin-left: -55px;
  }
  .slick-dots {
    width: 100%;
    text-align: center !important;
    max-width: calc(545px * 2);
    display: flex;
    justify-content: center;
    align-items: center;
    @extend %left-abs;
  }
  .slick-next {
    right: 50% !important;
    margin-top: 19px;
    margin-right: -55px;
  }
}

.hero-recipes-fix .slick-prev {
  left: 50% !important;
  margin-top: 28px;
  margin-left: -55px;
}

.hero-recipes-fix .slick-next {
  right: 50% !important;
  margin-top: 28px;
  margin-right: -55px;
}

.hero-recipes-fix2 .slick-prev {
  margin-top: 18px;
}

.hero-recipes-fix2 .slick-next {
  margin-top: 18px;
}

.home-recipe {
  padding: 35px;
  margin-top: 0;
  background: white;
  position: relative;
  padding-bottom: 40%;
  border-right: 1px solid #ececec;
  &:after {
    content: "";
    display: table;
    clear: both;
  }
  .recipe-cont {
    height: 130px;
  }
  .home-recipe-title {
    height: 72px;
    overflow: hidden;
    display: block;
  }
}

body [class*='col-'] {
  padding: 0;
}

.search-page {
  height: 100%;
  position: fixed;
  width: 50%;
  right: 0;
  z-index: 99999999999;
  display: none;
  top: 70px;
  &.active {
    display: block !important;
  }
}

.search-page.activado {
  height: 100%;
}

.search-field, .search-focus {
  width: 100%;
  background: $gray-lighter;
  border: none;
  padding: 70px;
  color: $gray-dark;
  border-bottom: 1px solid $gray-light;
  font-family: $font-serif;
  font-size: 44px;
}

.search-group {
  background: $gray-lighter;
  padding: 70px;
  width: 100%;
  position: relative;
  border-bottom: 1px solid $gray-light;
  .search-field, .search-focus {
    background: none;
    border: none;
    margin-left: 250px;
    color: $gray-dark;
    font-family: $font-serif;
    font-size: 44px;
    padding: 0;
  }
  .fixed-text {
    position: absolute;
    left: 70px;
    top: 70px;
    display: block;
    z-index: 9;
    border: none;
    color: $gray-light;
    font-family: $font-serif;
    font-size: 44px;
  }
}

.form-group {
  position: relative;
}

.close-search {
  position: absolute;
  right: 60px;
  top: 50%;
  transform: translateY(-50%);
  i {
    color: white;
    line-height: 30px;
  }
}

.results {
  padding: 10px 70px;
  overflow-y: scroll;
}

.can {
  color: white !important;
}

.panel-group .panel {
  border: none;
  .panel-heading, .panel-title {
    padding: 0;
    background: none;
    border: none;
    text-align: left;
  }
  .panel-title {
    padding-bottom: 15px !important;
  }
}

.panel-body {
  padding: 0;
}

.product-tabs {
  display: inline-block;
  vertical-align: top;
  .tab-content {
    width: 75%;
    float: left;
    display: block;
    @media screen and (max-width: $screen-sm) {
      width: 100%;
    }
  }
  .nav-stacked {
    background: white;
    width: 25%;
    padding: 50px 40px;
    float: right;
    display: block;
    & > li {
      &.active a {
        background: transparent;
        color: $brand-primary
      }
      a {
        color: $gray-base;
        font-weight: 800;
        font-size: 18px;
        border-bottom: 1px solid $gray-light;
        border-radius: 0;
        padding: 20px 0;
        font-family: 'ralewayblack', sans-serif;
        &:hover {
          background: none;
          color: $brand-primary
        }
      }
    }
    @media screen and (max-width: $screen-sm) {
      width: 100%;
      height: auto;
    }
  }
  @media screen and (max-width: $screen-sm) {
    display: block;
  }
}

.all-products {
  background: transparent;
  border: none;
  display: inline-block;
  margin-top: 20px;
  line-height: 15px;
  .arrow-prod, .text-up-small {
    padding: 25px 30px;
    border: 1px solid $gray-light
  }
  .text-up-small {
    border-right: 0;
    border: 1px solid rgba(170, 170, 170, 0.5)
  }
  .arrow-prod {
    opacity: 0.5;
    display: inline-block;
    &:hover {
      opacity: 1;
    }
  }
}

.dot-map {
  position: absolute;
  margin-top: 230px;
  margin-left: 214px;
  z-index: 999;
  width: 12px;
  height: 12px;
  background: $brand-primary;
  border-radius: 50%;
}

.border-map {
  background-repeat: no-repeat;
  border-bottom: 1px solid lightgray;
}

.popover {
  box-shadow: none;
  border-radius: 0;
  border: 0;
  text-transform: uppercase;
  font-family: 'ralewayblack', sans-serif;
  font-style: normal;
  letter-spacing: .2em;
  z-index: 9;
  font-size: 12px;
  padding: 10px 20px;
  margin-top: 5px !important;
  margin-left: -5px !important;
}

.modal-dialog {
  width: 100%;
  margin: 90px 0;
  .modal-fm {
    padding: 90px;
    background: $gray-lighter;
    overflow-y: scroll;
    height: 1640px;
  }
}

.flavor-map {
  background: url('../images/axis-grid.png');
  height: 1440px;
  background-size: cover;
  position: relative;
  width: 1440px;
}

.product-dot {
  height: 10px;
  width: 10px;
  background: $brand-primary;
  border-radius: 100%;
  position: absolute;
  margin: 3px;
}

.axis {
  background: url('../images/axis-bg.png');
  background-size: cover;
  width: 100%;
  height: 1140px;
  .axis-y {
    top: 0;
    bottom: 0;
    left: 50%;
    width: 1pt;
    position: absolute;
    background-color: $gray-light;
    color: transparent;
    font-size: 0;
    height: 100%;
    &:after {
      content: "Sweet";
      position: absolute;
      color: $gray-darker;
      font-size: 14px;
      text-transform: uppercase;
      font-family: $font-sans;
      font-weight: 800;
      top: 0;
      transform: rotate(270deg);

    }
    &:before {
      content: "Smokey";
      position: absolute;
      color: $gray-darker;
      font-size: 14px;
      text-transform: uppercase;
      font-family: $font-sans;
      font-weight: 800;
      bottom: 0;
      transform: rotate(270deg);
    }
  }
  .axis-x {
    left: 0;
    top: 50%;
    height: 1pt;
    position: absolute;
    background-color: $gray-light;
    color: transparent;
    font-size: 0;
    width: 100%;
    &:after {
      content: "Light";
      position: absolute;
      color: $gray-darker;
      font-size: 14px;
      text-transform: uppercase;
      font-family: $font-sans;
      font-weight: 800;
      left: 0;

    }
    &:before {
      content: "Rich";
      position: absolute;
      color: $gray-darker;
      font-size: 14px;
      text-transform: uppercase;
      font-family: $font-sans;
      font-weight: 800;
      right: 0;
    }
  }
}

.tooltip-inner {
  background: $gray-darker;
  border-radius: 0;
  padding: 25px;
  min-width: 240px;
  color: $gray-light;
  h5 {
    color: $gray-light;
    font-family: 'ralewayblack', sans-serif;
    font-size: 13px;
  }
  .text-up-small {
    color: white;
    margin: 10px 0;
  }
}

.tooltip-arrow {
  border-top-color: $gray-darker
}

.tooltip:hover, .tooltip-arrow:hover {
  opacity: 0.9 !important;
  display: block !important;
}

.slick-mobile {
  .slick-dots {
    position: relative;
    padding: 30px 0 !important;
    margin: auto;
    border-bottom: 1px solid $gray-light;
    display: block;
    bottom: auto !important;
    list-style: none;
    background: transparent;
    border-top: none;
    width: 80%;
    text-align: center !important;
    height: auto !important;
  }
}

.search-navbar {
  background: white;
  padding: 54px;
  margin-top: 40px;
  li a {
    font-family: $font-sans-black;
    letter-spacing: 0.7px;
    margin-right: 35px;
    color: $gray-dark
  }
}
