label {
  cursor: default;
  font-size: 10pt;
}

#loadBrands {
  width: 30%;
  float: left;
  padding: 0 0 5px 5px;
  display: inline-block;
}

/* Loaders */

#loaderBrands,
#loaderVariants,
#loaderLocations {
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  visibility: hidden;
  margin: auto;
  display: inline-block;
}

/* Distances */

#distances {
  width: 100%;
}

.distance {
  float: left;
  margin-right: 20px;
  cursor: pointer;
  color: $gray-darker !important;
}

/* Locations  */

.locationName {
  font-weight: bold;
  display: block;
  visibility: visible;
}

.locationAddress,
.location.City,
.locationZip,
.locationPhone {
  display: block;
  visibility: visible;
}

.locationCity,
.locationPhone {
  visibility: visible;
}

/* eCommerce */

.ecomm-area {
  visibility: visible;
}

.eCommArea {
  background-color: transparent;
  margin-bottom: 3px;
  display: inline-block;
  width: auto;
  text-align: center;
  vertical-align: top;
  height: auto;
}

.eCommButton {
  text-align: center;
  text-transform: uppercase;
  margin-right: 20px;
  line-height: 100%;
  float: none;
  display: inline-block;
  vertical-align: top;
  padding: 30px 0;
}

.eCommLogo {
  text-align: left;
  float: none;
  width: auto;
  height: auto;
  display: inline-block;
  vertical-align: top;
}

.eCommImage {
  background: no-repeat 50%;
  background-size: contain;
  margin: 5px;
  width: 120px;
  height: 70px;
  display: inline-block;
  vertical-align: top;
}

#map, #locations {
  min-height: 793px;
  float: left;
}

#map {
  width: 100%;
}

.search-wtb {
  min-height: 220px;
  background: white;
  text-align: center;
  font-family: $font-sans-black;
  padding: 30px 0;
  input, select {
    height: 50px;
    background: $gray-lighter;
    border: none;
    padding-left: 15px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: $gray-light;
    min-width: 10px;
    font-size: 12px;
    display: inline-block;
    &:focus {
      color: $gray;
    }
    &.width-include {
      width: 250px !important;
      min-width: initial;
    }
  }
  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
    background-repeat: no-repeat;
    background-position: 100%;
    width: auto;
    padding-right: 51px;
  }
  input[type="text"] {
    background-repeat: no-repeat;
    background-position: 100%;
    padding-right: 51px;
  }
  input[type='checkbox'] {
    display: none;
    cursor: pointer;
    &:focus,
    &:active {
      outline: none;
    }
    & + label {
      cursor: pointer;
      display: inline-block;
      position: relative;
      padding-left: 40px;
      margin-right: 10px;
      color: $gray-dark;
      text-transform: uppercase;
      font-size: 12px;
      letter-spacing: 1px;
      &:before,
      &:after {
        content: '';
        font-family: $font-sans;
        display: inline-block;
        width: 30px;
        height: 30px;
        top: -9px;
        left: 0;
        bottom: 0;
        text-align: center;
        position: absolute;
      }
      &:before {
        background-color: white;
        border: 2px solid $gray-lighter;
      }
      &:after {
        color: #fff;
      }
      &:hover {
        padding-left: 40px;
      }
    }
    &:checked + label:before {
      background: $gray-dark;
      border: 0;
      width: 30px;
      height: 30px;
      top: -9px;
    }
  }
  input[type='checkbox'] {

    &:checked + label:after {
      content: '\f26b';
      font-family: "Material-Design-Iconic-Font";
      position: absolute;
      top: 0;
      font-size: 19px;
      color: $brand-primary;
      text-align: center;
      line-height: 9px;
      width: 30px;
      height: 30px;
    }
    &:checked + label {
      padding-left: 40px;
    }
  }
  .btn {
    display: inline-block;
    background: $brand-primary;
    color: white;
    border-radius: 0;
    padding: 20px 50px;
    letter-spacing: 1px;
    &:focus {
      outline: none;
      box-shadow: none;
    }
    &:hover {
      background: darken($brand-primary, 10%);
    }
  }
  hr {
    border-color: $gray-light;
    width: 75%;
    margin: 40px auto;
  }
}

#search, #brands, #variants, #loctype {
  display: inline-block;
  margin-right: 15px
}

#locations {
  background: rgba(255, 255, 255, 0.85);
  color: #222;
  display: none;
  position: relative;
  z-index: 987;
}

.loader {
  width: 5%;
  float: left;
  display: inline-block;
  vertical-align: top;
}

.hidden {
  visibility: hidden;
  height: 0;
}

.labels {
  font-family: $font-serif !important;
}

.number-map {
  font-family: $font-serif;
  font-size: 18px;
}

#locationsList {
  margin-bottom: 60px;
  border-bottom: 1px solid $gray-light;
  .slick-next, .slick-prev {
    top: auto !important;
    bottom: -40px;
    opacity: 0.6;
    &:hover {
      opacity: 1;
    }
  }
  .slick-prev {
    left: 85% !important;
  }
  .slick-next {
    left: 90% !important;
  }
  .dotcustom {
    margin-left: 40px;
    position: absolute;
    display: block;
    padding: 20px 0;
    list-style: none;
    height: 60px !important;
    text-align: left !important;
    bottom: -70px;
    li {
      vertical-align: top;
      display: inline-block;
      position: relative;
      font-size: 0;
      margin-right: 10px;
      text-align: center;
      button {
        background: lighten($gray-base, 80%);
        border: none;
        height: 9px;
        width: 9px;
        margin-top: 6px;
        border-radius: 100%;
        padding: 5px;
      }
      &.slick-active {
        button {
          background: transparent !important;
          border: 2px solid #e68832 !important;
          margin-top: 4px;
        }
      }
    }
  }
}

.locationItem {
  padding: 40px;
  border-top: 1px solid $gray-light;
  margin: 0;
  position: relative;
  visibility: visible;
  &.active {
    span {
      color: $brand-primary
    }
    &:after {
      content: "";
      height: 4px;
      width: calc(100% - 80px);
      position: absolute;
      bottom: 0;
      background: $brand-primary;
      left: 40px
    }
    .locationPhone a {
      visibility: visible;
      font-family: $font-sans-bold;
    }
  }
  span, .locationInfo {
    display: inline-block;
    vertical-align: top;
  }
  .locationInfo {
    margin-left: 20px;
  }
}

.locationName {
  font-size: 20px;
  font-family: $font-sans-black;
  margin: 0;
  visibility: visible;
}

.locationName-info {
  border-top: none !important;
  padding: 0;
  visibility: visible;
}

.locationDistance,
.locationItem .locationPhone a {
  visibility: visible;
  font-family: ralewaybold, sans-serif;
}