<footer ng-class="{'mt0' : $state.includes('wtb')}">

    <div class="container">

        <div class="row">

            <div class="col-xs-12 col-sm-12 col-sm-12 col-lg-4"
                 ng-repeat="socialx in options_list.social_data">
                <p class="text-up">{{ socialx.social_content_title_section }}</p>
                <br/>
                <div class="social-inline">
                    <li ng-repeat="socialxx in socialx.social_content">
                        <a ng-href="{{ socialxx.social_content_url }}" target="_blank">
                            <i class="fa fa-lg fa-{{ socialxx.social_content_icon }}" aria-hidden="true"></i>
                            <span>{{ socialxx.social_content_url }}</span>
                        </a>
                    </li>
                </div>
            </div>

            <div class="col-md-offset-0 col-md-12 col-lg-offset-2 col-lg-6 links-footer-box">
                <!--<div ng-repeat="column in footer.columns" class="links-footer">-->
                <div class="links-footer">
                    <!--<div class="col-sm-4">-->
                    <!--<p class="text-up">{{ column.title }}</p>-->
                    <!--<ul>-->
                    <!--<li ng-repeat="(key,value) in column.links">-->
                    <!--<a ng-href="{{ value }}">-->
                    <!--{{ key }}-->
                    <!--</a>-->
                    <!--</li>-->
                    <!--</ul>-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--<div class="col-sm-12">-->
                    <!--DIAGEO FOOTER-->
                    <div id="footer"/>
                </div>

                <div class="col-sm-4">
                    <!--<div class="country-select-box">-->
                    <!--<select name="" id="country-select">-->
                    <!--<option value="">Change country</option>-->
                    <!--<option ng-repeat="country in footer.countries" ng-value="country">-->
                    <!--{{ country }}-->
                    <!--</option>-->
                    <!--</select>-->
                    <!--</div>-->
                </div>
                <!--<div class="col-sm-8 copyright-line" ng-repeat="socialx in options_list.options_data">-->
                <!--<span>{{ socialx.copyright }}</span>-->
                <!--</div>-->

            </div>

        </div>

    </div>

</footer>

<script type="text/javascript">
    setTimeout(function () {
        var scrollTop = 0;
        $('html, body').animate({scrollTop: scrollTop});
        //alert($("div").scrollTop() + " px");

        $('.primaryWrapper #page-content-wrapper').css("visibility", "visible");

        var summonerheight = ($(window).height() - 250);
        $('.search-page-scroll .results').css("height", summonerheight + "px");

    }, 500);
</script>
