<div>

    <nav class="navbar navbar-inverse navbar-fixed-top-2" role="navigation">

        <div class="container-fluid">

            <!-- Static navbar -->
            <nav class="navbar navbar-default navbar-default-mobile">

                <div class="container-fluid">

                    <div class="navbar-header">

                        <div class="navbar-header-menu">

                            <a class="navbar-brand" ui-sref-opts="{reload:true}" ui-sref="home"
                               ng-click="hideOverlay()">
                                <img class="show-in-desk" src="dist/images/logo.png" alt="">
                                <img class="show-in-mob" src="dist/images/logo-mob.png" alt="">
                            </a>

                        </div>

                        <div class="mobile-right-view mobile-view">

                            <ul>
                                <li class="dropdown icon-share-stamina" dropdown on-toggle="status()">
                                    <a class="dropdown-toggle" dropdown-toggle>
                                        <span></span>
                                    </a>
                                    <ul class="dropdown-menu" uib-dropdown-menu
                                        ng-repeat="sharex in options_list.social_data">
                                        <li>
                                        <span class="first-link">
                                            {{ sharex.share_content_title_section }}
                                        </span>
                                        </li>
                                        <li ng-repeat="sharexx in sharex.share_content">

                                            <a ng-if="sharexx.share_content_icon == 'facebook'" target="_blank"
                                               class="twitter-share-button"
                                               href="https://www.facebook.com/sharer/sharer.php?u={{ $location.host() }}">
                                                <i class="fa fa-lg fa-{{ sharexx.share_content_icon }}"
                                                   aria-hidden="true"></i>
                                                {{ sharexx.share_content_title }}
                                            </a>


                                            <a ng-if="sharexx.share_content_icon == 'twitter'" target="_blank"
                                               class="twitter-share-button"
                                               href="https://twitter.com/intent/tweet?url={{ $location.host() }}&hashtags=thebar.com&text={{MetaTags.description}}">
                                                <i class="fa fa-lg fa-{{ sharexx.share_content_icon }}"
                                                   aria-hidden="true"></i>
                                                {{ sharexx.share_content_title }}
                                            </a>


                                            <a ng-if="sharexx.share_content_icon == 'pinterest'" target="_blank"
                                               class="twitter-share-button"
                                               href="https://pinterest.com/pin/create/bookmarklet/?media=https://us.thebar.com//dist/images/logo.png&url={{ $location.host() }}&description={{MetaTags.description}}">
                                                <i class="fa fa-lg fa-{{ sharexx.share_content_icon }}"
                                                   aria-hidden="true"></i>
                                                {{ sharexx.share_content_title }}
                                            </a>

                                        </li>
                                        <li>
                                            <a onclick=" window.print();">
                                                <i class="fa fa-lg fa-print"
                                                   aria-hidden="true"></i>
                                                Print
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>

                        </div>
                    </div>

                    <div id="navbar" class="navbar-collapse collapse aside-fix">

                        <ul class="nav navbar-nav navbar-right">

                            <li class="visible-xs search-mobile">
                                <input type="text" placeholder="Search">
                                <button class="pull-right"><img src="dist/images/search.png" alt="" width="18"></button>
                            </li>

                            <li class="dropdown nav-recipe" dropdown on-toggle="status(open)"
                                ng-click="showHideSearch();">

                                <span class="overlay overlar-fixed"></span>

                                <a class="dropdown-toggle" dropdown-toggle ui-sref="recipes"
                                   ui-sref-active="active">
                                    <span class="orange-line-repeat-x">{{ options_list.menu_list[0].name}}</span>
                                </a>

                                <ul class="dropdown-menu multi-column" role="menu">
                                    <ul class="multi-column-dropdown" uib-dropdown-menu>
                                        <li ng-repeat="recipex in options_list.list_drinktype track by $index | limitTo:6">
                                            <a ui-sref-opts="{reload:true}"
                                               ui-sref="recipeslanding({ postRecipesLandingId: recipex.slug })">
                                                <h3>{{ recipex.name }}</h3>
                                            </a>
                                        </li>
                                        <br>
                                        <li>
                                            <a class="text-up gray-med" ui-sref-opts="{reload:true}" ui-sref="recipes"
                                               ng-repeat="menux in options_list.options_data">
                                                {{ menux.menu_button }}
                                            </a>
                                        </li>
                                    </ul>
                                </ul>
                            </li>


                            <li class="dropdown nav-spirits" dropdown on-toggle="status(open)"
                                ng-click="showHideSearch();">

                                <span class="overlay overlar-fixed"></span>

                                <a class="dropdown-toggle" dropdown-toggle ui-sref="spirits"
                                   ui-sref-active="active">
                                    <span class="orange-line-repeat-x">{{ options_list.menu_list[1].name}}</span>
                                </a>

                                <ul class="dropdown-menu multi-column">
                                    <ul class="multi-column-dropdown" uib-dropdown-menu>
                                        <li ng-repeat="spiritsx in options_list.list_spirits track by $index | limitTo:6">
                                            <a ng-if="spiritsx.slug != 'whisky'"
                                               ui-sref-opts="{reload:true}"
                                               ui-sref="spiritdetail({ postSpiritsId: spiritsx.slug })">
                                                <h3>{{ spiritsx.name }}</h3>
                                            </a>
                                            <a ng-if="spiritsx.slug == 'whisky'"
                                               ui-sref-opts="{reload:true}"
                                               ui-sref="spiritdetail1({ postSpiritsId: spiritsx.slug })">
                                                <h3>{{ spiritsx.name }}</h3>
                                            </a>
                                        </li>
                                        <br>
                                        <li><a class="text-up gray-med" ui-sref-opts="{reload:true}" ui-sref="spirits"
                                               ng-repeat="menux in options_list.options_data">
                                            {{ menux.menu_button }}
                                        </a>
                                        </li>
                                    </ul>
                                </ul>
                            </li>

                            <li class="dropdown nav-brands" dropdown on-toggle="status(open)"
                                ng-click="showHideSearch();">
                                <span class="overlay overlar-fixed"></span>

                                <a class="dropdown-toggle" dropdown-toggle ui-sref="brands"
                                   ui-sref-active="active">
                                    <span class="orange-line-repeat-x">{{ options_list.menu_list[2].name}}</span>
                                </a>

                                <ul class="dropdown-menu multi-column">
                                    <ul class="multi-column-dropdown" uib-dropdown-menu>
                                        <li ng-repeat="brandsx in options_list.list_brands track by $index | limitTo:6">
                                            <a ui-sref-opts="{reload:true}"
                                               ui-sref="brandsdetail({ postBrandsId: brandsx.slug })">
                                                <h3>{{ brandsx.name }}</h3>
                                            </a>
                                        </li>
                                        <br>
                                        <li>
                                            <a class="text-up gray-med" ui-sref-opts="{reload:true}" ui-sref="brands"
                                               ng-repeat="menux in options_list.options_data">
                                                {{ menux.menu_button }}
                                            </a>
                                        </li>
                                    </ul>
                                </ul>
                            </li>

                            <li class="dropdown nav-occasions" dropdown on-toggle="status(open)"
                                ng-click="showHideSearch();">
                                <span class="overlay overlar-fixed"></span>

                                <a class="dropdown-toggle" dropdown-toggle ui-sref="occasions"
                                   ui-sref-active="active">
                                    <span class="orange-line-repeat-x">{{ options_list.menu_list[3].name}}</span>
                                </a>

                                <ul class="dropdown-menu multi-column">
                                    <ul class="multi-column-dropdown" uib-dropdown-menu>
                                        <li ng-repeat="occasionsx in options_list.list_occasions track by $index | limitTo:6">
                                            <a ui-sref-opts="{reload:true}"
                                               ui-sref="occasiondetail({ postOccasionId: occasionsx.slug })">
                                                <h3>{{ occasionsx.name }}</h3>
                                            </a>
                                        </li>
                                        <br>
                                        <li>
                                            <a class="text-up gray-med" ui-sref-opts="{reload:true}" ui-sref="occasions"
                                               ng-repeat="menux in options_list.options_data">
                                                {{ menux.menu_button }}
                                            </a>
                                        </li>
                                    </ul>
                                </ul>
                            </li>

                            <li class="nav-bar101" ng-click="showHideSearch();">
                                <a ui-sref="articles" ui-sref-active="active">
                                    <span class="orange-line-repeat-x">{{ options_list.menu_list[4].name}}</span>
                                </a>
                            </li>

                            <li class="nav-where" ng-click="showHideSearch();">
                                <a ui-sref="wtb"
                                   ui-sref-active="active" class="where">
                                    <span class="orange-line-repeat-x">{{ options_list.menu_list[5].name}}</span>
                                </a>
                            </li>

                            <li class="hidden-xs hidden-sm icon-search-stamina search">
                                <span class="overlay overlar-fixed"></span>
                                <a accesskey="f" class="tisi" ng-class="{'active' : searchActive}"
                                   ng-click="showSearch();searchscroll();toggleTeamField();">
                                    <span>{{ options_list.menu_list[6].name}}</span>
                                </a>
                            </li>

                            <li id="dropper" class="dropdown hidden-xs hidden-sm icon-share-stamina"
                                dropdown on-toggle="status(open)" ng-click="showHideSearch();">

                                <span class="overlay overlar-fixed"></span>

                                <a class="dropdown-toggle" dropdown-toggle accesskey="s">
                                    <span></span>
                                </a>

                                <ul class="dropdown-menu" uib-dropdown-menu
                                    ng-repeat="sharex in options_list.social_data">
                                    <li>
                                        <span class="first-link">
                                            {{ sharex.share_content_title_section }}
                                        </span>
                                    </li>
                                    <li ng-repeat="sharexx in sharex.share_content">

                                        <a ng-if="sharexx.share_content_icon == 'facebook'" target="_blank"
                                           class="twitter-share-button"
                                           href="https://www.facebook.com/sharer/sharer.php?u={{ $location.host() }}">
                                            <i class="fa fa-lg fa-{{ sharexx.share_content_icon }}"
                                               aria-hidden="true"></i>
                                            {{ sharexx.share_content_title }}
                                        </a>


                                        <a ng-if="sharexx.share_content_icon == 'twitter'" target="_blank"
                                           class="twitter-share-button"
                                           href="https://twitter.com/intent/tweet?url={{ $location.host() }}&hashtags=thebar.com&text={{MetaTags.description}}">
                                            <i class="fa fa-lg fa-{{ sharexx.share_content_icon }}"
                                               aria-hidden="true"></i>
                                            {{ sharexx.share_content_title }}
                                        </a>


                                        <a ng-if="sharexx.share_content_icon == 'pinterest'" target="_blank"
                                           class="twitter-share-button"
                                           href="https://pinterest.com/pin/create/bookmarklet/?media=https://us.thebar.com//dist/images/logo.png&url={{ $location.host() }}&description={{MetaTags.description}}">
                                            <i class="fa fa-lg fa-{{ sharexx.share_content_icon }}"
                                               aria-hidden="true"></i>
                                            {{ sharexx.share_content_title }}
                                        </a>

                                    </li>

                                    <li>
                                        <a onclick=" window.print();">
                                            <i class="fa fa-lg fa-print"
                                               aria-hidden="true"></i>
                                            Print
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>

                    </div>

                </div>

            </nav>

        </div>
    </nav>

    <ng-include src="'inc/search.html'"></ng-include>

    <div class="overlaysearch" ng-class="{'active': searchActive}" ng-click="hideOverlay()"></div>

</div>
