<div class="full-block-how-to-videos">

    <div class="col-xs-12">
        <br><br>
        <p class="our-text">
            {{ articlestemplate.articles_title_section_video }}
        </p>
        <br><br>
    </div>

    <div class="related-recipes">

        <div ng-repeat="recipe in recipesjson.docs.slice(((currentPageHowTo-1)*itemsPerPageHowTo), ((currentPageHowTo)*itemsPerPageHowTo))">

            <div class="related col-md-3 col-sm-6 col-xs-12">

                <a ng-click="showLightBox = true">
                    <div class="recipe-img how-to-icon"
                         ng-style="{'background-image': 'url(' + recipe.BackgroundImage.large + ')'}">
                    </div>
                </a>

                <div class="block-s">
                    <h2>
                        {{ recipe.recipeTitle }}
                    </h2>
                    <div class="block-bar-orange"></div>
                </div>

            </div>

            <lightbox-directive class="angular-lightbox" ng-class="showLightBox ? 'show-lightbox' : 'hidden'">
                <article>
                    <header>
                        <a class="close-btn" ng-click="$parent.showLightBox = false"><i class="fa fa-times-circle"></i></a>
                    </header>
                    <content ng-click="$parent.showLightBox = false">
                        <iframe ng-if="$parent.showLightBox" width="100%" height="100%"
                                src="{{getIframeSrc('zpHJhsvYFZI')}}"
                                frameborder="0" allowfullscreen>
                        </iframe>
                        <!--el getIframeSrc esta a pata hasta que hagamos el cpt de how to videos-->
                    </content>
                </article>
            </lightbox-directive>

        </div>

        <pagination direction-links="false" total-items="totalItemsHowTo" ng-model="currentPageHowTo"
                    num-pages="smallnumPagesHowTo" items-per-page="itemsPerPageHowTo"></pagination>

    </div>

</div>