<h2 class="h2-list-spirits">
    {{ spirits.spirits_menu_title }}
</h2>
<ul class="ul-list-spirits">
    <li ng-repeat="spiritsMenu in spirits.spirit_menu_list.slice(0,1)">
        <a ui-sref-opts="{reload:true}"
           ui-sref="spiritdetail1({ postSpiritsId: 'whisky' })"
           title="{{ spiritsMenu.link }}">
            {{ spiritsMenu.link }}
        </a>
    </li>
    <li ng-repeat="spiritsMenu in spirits.spirit_menu_list.slice(1,2)">
        <a ui-sref-opts="{reload:true}"
           ui-sref="spiritdetail2({ postSpiritsId: 'whisky' })"
           title="{{ spiritsMenu.link }}">
            {{ spiritsMenu.link }}
        </a>
    </li>
    <li ng-repeat="spiritsMenu in spirits.spirit_menu_list.slice(2,3)">
        <a ui-sref-opts="{reload:true}"
           ui-sref="spiritdetail3({ postSpiritsId: 'whisky' })"
           title="{{ spiritsMenu.link }}">
            {{ spiritsMenu.link }}
        </a>
    </li>
    <li ng-repeat="spiritsMenu in spirits.spirit_menu_list.slice(3,4)">
        <a ui-sref-opts="{reload:true}"
           ui-sref="spiritdetail4({ postSpiritsId: 'whisky' })"
           title="{{ spiritsMenu.link }}">
            {{ spiritsMenu.link }}
        </a>
    </li>
</ul>