<div class="search-page search-page-scroll" ng-class="{'active' : searchActive}">

    <div class="form-group">

        <span class="triangle-search"></span>

        <input type="text" name="" id="searchInput2" placeholder="Search - begin typing"
               ng-model="searchKeyword"
               ng-keydown="keypress($event)"
               my-focus="{{focus}}" ng-show="myVar"
               ng-class="searchKeyword ? 'search-focus' : 'search-field'" value="{{ searchKeyword }}">

        <a id="btn-search-the-click" class="close-search"
           ng-class="{'active' : searchActive}"
           ng-click="showSearch()"
           ng-show="searchKeyword"
           ui-sref-opts="{reload:true}"
           ui-sref="searchresult({ searchText: searchKeyword })">
            <i class="fa fa-search fa-2x gray"></i>
        </a>
    </div>


    <div class="results" ng-show="searchKeyword">

        <a id="search-see-all" class="search-see-all"
           ng-class="{'active' : searchActive}"
           ng-click="showSearch()"
           ng-show="searchKeyword"
           ui-sref-opts="{reload:true}"
           ui-sref="searchresult({ searchText: searchKeyword })">
            All
        </a>

        <div class="result-block">
            <h5>RECIPES</h5>
            <ul class="result"
                ng-repeat="searchresultrecipesx in (searchfindresultfilter =  (allrecipesjson.docs | unique:'recipeTitle' | fuzzyBy: 'recipeTitle' : searchKeyword))">
                <li>
                    <a ng-class="{'active' : searchActive}"
                       ng-click="showSearch()"
                       ui-sref-opts="{reload:true}"
                       ui-sref="recipedetail({ postRecipesId: searchresultrecipesx.recipeSlug })"
                       title="{{ searchresultrecipesx.recipeTitle }}">
                        {{ searchresultrecipesx.recipeTitle }}
                    </a>
                </li>
            </ul>
            <ul class="result" ng-if="!(searchfindresultfilter.length >= 1)">
                <li>
                    <span class="no-result-data">No match criteria</span>
                </li>
            </ul>
        </div>

        <div class="result-block">
            <h5>SPIRITS</h5>
            <ul class="result"
                ng-repeat="searchresultspiritsx in (searchfindresultfilter =  (searchresultspirits.spirit_list | unique:'name' | fuzzyBy: 'name' : searchKeyword))">
                <li>
                    <a ng-class="{'active' : searchActive}"
                       ng-click="showSearch()"
                       ui-sref-opts="{reload:true}"
                       ui-sref="spiritdetail({ postSpiritsId: searchresultspiritsx.slug })"
                       title="{{ searchresultspiritsx.name }}">
                        {{ searchresultspiritsx.name }}
                    </a>
                </li>
            </ul>
            <ul class="result" ng-if="!(searchfindresultfilter.length >= 1)">
                <li>
                    <span class="no-result-data">No match criteria</span>
                </li>
            </ul>
        </div>

        <div class="result-block">
            <h5>BRANDS</h5>
            <ul class="result"
                ng-repeat="searchresultbrandsx in (searchfindresultfilter =  (searchresultbrands.list_brands | unique:'name' | fuzzyBy: 'name' : searchKeyword))">
                <li>
                    <a ng-class="{'active' : searchActive}"
                       ng-click="showSearch()"
                       ui-sref-opts="{reload:true}"
                       ui-sref="brandsdetail({ postBrandsId: searchresultbrandsx.slug })"
                       title="{{ searchresultbrandsx.name }}">
                        {{ searchresultbrandsx.name }}
                    </a>
                </li>
            </ul>
            <ul class="result" ng-if="!(searchfindresultfilter.length >= 1)">
                <li>
                    <span class="no-result-data">No match criteria</span>
                </li>
            </ul>
        </div>

        <div class="result-block">
            <h5>OCCASIONS</h5>
            <ul class="result"
                ng-repeat="searchresultoccasionsx in (searchfindresultfilter =  (searchresultoccasions.list_occasions | unique:'name' | fuzzyBy: 'name' : searchKeyword))">
                <li>
                    <a ng-class="{'active' : searchActive}"
                       ng-click="showSearch()"
                       ui-sref-opts="{reload:true}"
                       ui-sref="occasiondetail({ postOccasionId: searchresultoccasionsx.slug })"
                       title="{{ searchresultoccasionsx.name }}">
                        {{ searchresultoccasionsx.name }}
                    </a>
                </li>
            </ul>
            <ul class="result" ng-if="!(searchfindresultfilter.length >= 1)">
                <li>
                    <span class="no-result-data">No match criteria</span>
                </li>
            </ul>
        </div>

        <div class="result-block">
            <h5>ARTICLES</h5>
            <ul class="result"
                ng-repeat="searchresultarticlesx in (searchfindresultfilter =  (searchresultarticles.list_articles | unique:'name' | fuzzyBy: 'name' : searchKeyword))">
                <li>
                    <a href="{{ searchresultarticlesx.slug }}"
                       target="_blank"
                       title="{{ searchresultarticlesx.name }}">
                        {{ searchresultarticlesx.name }}
                    </a>
                </li>
            </ul>
            <ul class="result" ng-if="!(searchfindresultfilter.length >= 1)">
                <li>
                    <span class="no-result-data">No match criteria</span>
                </li>
            </ul>
        </div>

    </div>

</div>

<script type="text/javascript">
    document.getElementById("searchInput2").addEventListener("keypress", myFunction);

    function myFunction(e) {
        if (!e) e = window.event;
        var keyCode = e.keyCode || e.which;
        if (keyCode == '13') {
            // Enter pressed
            //alert('keyCode 13');
            document.getElementById("btn-search-the-click").click();
            return false;
        }
    }
</script>