<div id="navbar-inverse" aria-hidden="true" class="navbar-inverse">

    <div id="navbar" class="navbar-collapse aside">

        <ul class="nav navbar-nav nav-mobile">

            <div class="search-page" ng-class="{'active' : searchActive}">

                <div class="form-group">

                    <span class="triangle-search"></span>

                    <input type="text" name="" id="searchInput" placeholder="Search" ng-model="searchKeyword"
                           ng-keydown="keypress($event)"
                            ng-class="searchKeyword ? 'search-focus' : 'search-field'" value="{{ searchKeyword }}">

                    <a class="close-search"
                       ng-class="{'active' : searchActive}"
                       ng-click="showSearch()"
                       ng-show="searchKeyword"
                       ui-sref-opts="{reload:true}"
                       ui-sref="searchresult({ searchText: searchKeyword })">
                        <i class="fa fa-search fa-2x gray"></i>
                    </a>
                </div>


                <div class="results" ng-show="searchKeyword">

                    <a id="search-see-all" class="search-see-all"
                       ng-class="{'active' : searchActive}"
                       ng-click="showSearch()"
                       ng-show="searchKeyword"
                       ui-sref-opts="{reload:true}"
                       ui-sref="searchresult({ searchText: searchKeyword })">
                        All
                    </a>

                    <div class="result-block">
                        <h5>RECIPES</h5>
                        <ul class="result"
                            ng-repeat="searchresultrecipesx in (searchfindresultfilter =  (allrecipesjson.docs | unique:'recipeTitle' | fuzzyBy: 'recipeTitle' : searchKeyword))">
                            <li>
                                <a ng-class="{'active' : searchActive}"
                                   ng-click="showSearch()"
                                   ui-sref-opts="{reload:true}"
                                   ui-sref="recipedetail({ postRecipesId: searchresultrecipesx.recipeSlug })"
                                   title="{{ searchresultrecipesx.recipeTitle }}">
                                    {{ searchresultrecipesx.recipeTitle }}
                                </a>
                            </li>
                        </ul>
                        <ul class="result" ng-if="!(searchfindresultfilter.length >= 1)">
                            <li>
                                <span class="no-result-data">No match criteria</span>
                            </li>
                        </ul>
                    </div>

                    <div class="result-block">
                        <h5>SPIRITS</h5>
                        <ul class="result"
                            ng-repeat="searchresultspiritsx in (searchfindresultfilter =  (searchresultspirits.spirit_list | unique:'name' | fuzzyBy: 'name' : searchKeyword))">
                            <li>
                                <a ng-class="{'active' : searchActive}"
                                   ng-click="showSearch()"
                                   ui-sref-opts="{reload:true}"
                                   ui-sref="spiritdetail({ postSpiritsId: searchresultspiritsx.slug })"
                                   title="{{ searchresultspiritsx.name }}">
                                    {{ searchresultspiritsx.name }}
                                </a>
                            </li>
                        </ul>
                        <ul class="result" ng-if="!(searchfindresultfilter.length >= 1)">
                            <li>
                                <span class="no-result-data">No match criteria</span>
                            </li>
                        </ul>
                    </div>

                    <div class="result-block">
                        <h5>BRANDS</h5>
                        <ul class="result"
                            ng-repeat="searchresultbrandsx in (searchfindresultfilter =  (searchresultbrands.list_brands | unique:'name' | fuzzyBy: 'name' : searchKeyword))">
                            <li>
                                <a ng-class="{'active' : searchActive}"
                                   ng-click="showSearch()"
                                   ui-sref-opts="{reload:true}"
                                   ui-sref="brandsdetail({ postBrandsId: searchresultbrandsx.slug })"
                                   title="{{ searchresultbrandsx.name }}">
                                    {{ searchresultbrandsx.name }}
                                </a>
                            </li>
                        </ul>
                        <ul class="result" ng-if="!(searchfindresultfilter.length >= 1)">
                            <li>
                                <span class="no-result-data">No match criteria</span>
                            </li>
                        </ul>
                    </div>

                    <div class="result-block">
                        <h5>OCCASIONS</h5>
                        <ul class="result"
                            ng-repeat="searchresultoccasionsx in (searchfindresultfilter =  (searchresultoccasions.list_occasions | unique:'name' | fuzzyBy: 'name' : searchKeyword))">
                            <li>
                                <a ng-class="{'active' : searchActive}"
                                   ng-click="showSearch()"
                                   ui-sref-opts="{reload:true}"
                                   ui-sref="occasiondetail({ postOccasionId: searchresultoccasionsx.slug })"
                                   title="{{ searchresultoccasionsx.name }}">
                                    {{ searchresultoccasionsx.name }}
                                </a>
                            </li>
                        </ul>
                        <ul class="result" ng-if="!(searchfindresultfilter.length >= 1)">
                            <li>
                                <span class="no-result-data">No match criteria</span>
                            </li>
                        </ul>
                    </div>

                    <div class="result-block">
                        <h5>ARTICLES</h5>
                        <ul class="result"
                            ng-repeat="searchresultarticlesx in (searchfindresultfilter =  (searchresultarticles.list_articles | unique:'name' | fuzzyBy: 'name' : searchKeyword))">
                            <li>
                                <a href="{{ searchresultarticlesx.slug }}"
                                   target="_blank"
                                   title="{{ searchresultarticlesx.name }}">
                                    {{ searchresultarticlesx.name }}
                                </a>
                            </li>
                        </ul>
                        <ul class="result" ng-if="!(searchfindresultfilter.length >= 1)">
                            <li>
                                <span class="no-result-data">No match criteria</span>
                            </li>
                        </ul>
                    </div>

                </div>

            </div>

            <li class="dropdown nav-parent">
                <a class="dropdown-toggle" data-toggle="dropdown">
                    <span class="caret2"></span>
                    {{ options_list.menu_list[0].name}}
                </a>
                <ul class="dropdown-menu multi-column">
                    <ul class="multi-column-dropdown">
                        <li ng-repeat="recipex in options_list.list_drinktype | limitTo:6">
                            <a ui-sref-opts="{reload:true}"
                               ng-click="menuToggle()"
                               ui-sref="recipeslanding({ postRecipesLandingId: recipex.slug })">
                                <h3>{{ recipex.name }}</h3>
                            </a>
                        </li>
                        <li>
                            <a class="text-up gray-med"
                               ui-sref-opts="{reload:true}"
                               ui-sref="recipes"
                               ng-click="menuToggle()"
                               ng-repeat="menux in options_list.options_data">
                                {{ menux.menu_button }}
                            </a>
                        </li>
                    </ul>
                </ul>

            </li>

            <li class="dropdown nav-parent">

                <a class="dropdown-toggle" data-toggle="dropdown">
                    <span class="caret2"></span>
                    {{ options_list.menu_list[1].name}}
                </a>

                <ul class="dropdown-menu multi-column">
                    <ul class="multi-column-dropdown">
                        <li ng-repeat="spiritsx in options_list.list_spirits | limitTo:6">
                            <a ng-if="spiritsx.slug != 'whisky'"
                               ui-sref-opts="{reload:true}"
                               ng-click="menuToggle()"
                               ui-sref="spiritdetail({ postSpiritsId: spiritsx.slug })">
                                <h3>{{ spiritsx.name }}</h3>
                            </a>
                            <a ng-if="spiritsx.slug == 'whisky'"
                               ui-sref-opts="{reload:true}"
                               ng-click="menuToggle()"
                               ui-sref="spiritdetail1({ postSpiritsId: spiritsx.slug })">
                                <h3>{{ spiritsx.name }}</h3>
                            </a>
                        </li>
                        <li><a class="text-up gray-med" ui-sref-opts="{reload:true}" ui-sref="spirits"
                               ng-repeat="menux in options_list.options_data">
                            {{ menux.menu_button }}
                        </a>
                        </li>
                    </ul>
                </ul>

            </li>

            <li class="dropdown nav-parent">
                <a class="dropdown-toggle" data-toggle="dropdown">
                    <span class="caret2"></span>
                    {{ options_list.menu_list[2].name}}
                </a>

                <ul class="dropdown-menu multi-column">
                    <ul class="multi-column-dropdown">
                        <li ng-repeat="brandsx in options_list.list_brands | limitTo:6">
                            <a ui-sref-opts="{reload:true}"
                               ng-click="menuToggle()"
                               ui-sref="brandsdetail({ postBrandsId: brandsx.slug })">
                                <h3>{{ brandsx.name }}</h3>
                            </a>
                        </li>
                        <li>
                            <a class="text-up gray-med"
                               ui-sref-opts="{reload:true}"
                               ng-click="menuToggle()"
                               ui-sref="brands"
                               ng-repeat="menux in options_list.options_data">
                                {{ menux.menu_button }}
                            </a>
                        </li>
                    </ul>
                </ul>

            </li>

            <li class="dropdown nav-parent">
                <a class="dropdown-toggle" data-toggle="dropdown">
                    <span class="caret2"></span>
                    {{ options_list.menu_list[3].name}}
                </a>

                <ul class="dropdown-menu multi-column">
                    <ul class="multi-column-dropdown">
                        <li ng-repeat="occasionsx in options_list.list_occasions | limitTo:6">
                            <a ui-sref-opts="{reload:true}"
                               ng-click="menuToggle()"
                               ui-sref="occasiondetail({ postOccasionId: occasionsx.slug })">
                                <h3>{{ occasionsx.name }}</h3>
                            </a>
                        </li>
                        <br>
                        <li>
                            <a class="text-up gray-med"
                               ui-sref-opts="{reload:true}"
                               ng-click="menuToggle()"
                               ui-sref="occasions"
                               ng-repeat="menux in options_list.options_data">
                                {{ menux.menu_button }}
                            </a>
                        </li>
                    </ul>
                </ul>

            </li>

            <li class="nav-parent">
                <a ui-sref="articles"
                   ng-click="menuToggle()"
                   ui-sref-active="active">
                    {{ options_list.menu_list[4].name}}
                </a>
            </li>

            <li class="nav-parent">
                <a ui-sref="wtb"
                   ng-click="menuToggle()"
                   ui-sref-active="active">
                    {{ options_list.menu_list[5].name}}
                </a>
            </li>

        </ul>

        <div>

            <!--<div class="submenu-sidebar">-->
            <!--<div ng-repeat="column in footer.columns" class="links-footer">-->
            <!--<div class="col-sm-12">-->
            <!--<ul>-->
            <!--<li ng-repeat="(key,value) in column.links">-->
            <!--<a ng-href="{{ value }}">-->
            <!--{{ key }}-->
            <!--</a>-->
            <!--</li>-->
            <!--</ul>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->

            <!--<div class="sidebar-select">-->
            <!--<div class="country-select-box">-->
            <!--<select name="" id="country-select">-->
            <!--<option value="">Change country</option>-->
            <!--<option ng-repeat="country in footer.countries" ng-value="country">-->
            <!--{{ country }}-->
            <!--</option>-->
            <!--</select>-->
            <!--</div>-->
            <!--</div>-->

            <div class="social-sidebar">

                <div class="col-xs-12 col-sm-12 col-sm-12 col-lg-12"
                     ng-repeat="socialx in options_list.social_data">
                    <div class="social-inline">
                        <li ng-repeat="socialxx in socialx.social_content">
                            <a ng-href="{{ socialxx.social_content_title }}" target="_blank">
                                <i class="fa fa-lg fa-{{ socialxx.social_content_icon }}" aria-hidden="true"></i>
                                <span>{{ socialxx.social_content_url }}</span>
                            </a>
                        </li>
                    </div>

                </div>

            </div>

        </div>

    </div>

</div>