body {
  background: #ececec;
  font-size: 14px;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

*:focus {
  outline: none
}

h1, h2, h3, h4, h5, h6, p {
  position: relative;
}

h1 {
  color: #404040;
  margin: 0;
  font-size: 72px;
  font-family: $font-serif;
  @media screen and (max-width: $screen-sm) {
    font-size: 60px;
  }
}

h2 {
  font-family: $font-serif;
  font-size: 32px;
  color: $gray-darker;
  margin: 0;
  margin-bottom: 10px;
}

h3 {
  font-family: $font-serif;
  font-size: 24px;
}

h3 a {
  color: inherit !important;
  text-decoration: none;
}

h4 {
  font-size: 16px;
}

h5 {
  color: $gray-darker;
  font-weight: 400;
  line-height: 1.3;
  font-size: 18px;
}

h6 {
  color: $gray-base;
  font-weight: 600;
  line-height: 1.3;
  font-size: 14px;
}

.inline {
  display: inline-block;
}

a {
  text-decoration: none;
  color: inherit;
  &:hover, &:focus {
    text-decoration: none;
    outline: none
  }
}

li {
  font-family: $font-sans;
  font-weight: 600;
  font-size: 16px;
}

p {
  font-family: $font-sans;
  font-weight: 600;
  font-size: 14px;
  color: $gray-light;
  line-height: 1.8;
}

p.description {
  font-size: 26px;
  line-height: 28px;
  color: $gray-light;
  font-family: $font-sans;
  text-align: left;
}

.full-occasion-detail p.description {
  font-size: 26px;
  line-height: 32px;
  color: #aaa;
  font-family: ralewayregular, sans-serif;
  text-align: center;
}

.our-text {
  font-family: $font-sans-bold;
  font-size: 14px;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.31;
  letter-spacing: 3.2px;
  text-align: center;
  color: $gray-darker;
  text-transform: uppercase;
  position: relative;
  clear: both;
}

::selection {
  background: $brand-primary;
  color: white
}

ul, ol {
  padding-left: 0;
  list-style: none;
}

hr {
  clear: both;
  border-color: #d9d9d9;
  @media screen and (max-width: $screen-sm) {
    margin: 10px 0;
    border-color: $gray-lighter;
    border-width: 2px;
  }
}

.gray {
  color: $gray-light !important;
}

.gray-med {
  color: $gray !important;
}

.black {
  color: $gray-darker !important;
}

.white {
  color: $body-bg !important;
}

.orange {
  color: $brand-primary !important;
}

.text-up {
  text-transform: uppercase;
  font-style: normal;
  font-weight: normal;
  letter-spacing: .2em;
  z-index: 9;
  font-size: 14px;
}

.text-up-small {
  font-size: 12px;
  text-transform: uppercase;
  font-family: 'ralewayblack', sans-serif;
  font-style: normal;
  font-weight: normal;
  letter-spacing: .2em;
}

.tag-format-nobold {
  font-family: 'ralewayregular', sans-serif;
  font-style: normal;
  font-weight: normal;
}

.w50 {
  width: 50% !important;
}

.slick-dots li {
  width: 15px !important;
  vertical-align: top;
  display: inline-block;
}

.dot {
  border-radius: 100%;
  background: #d4d4d4;
  display: block;
  height: 10px;
  width: 10px;
  outline: none;
  color: transparent;
  cursor: pointer;
  margin-top: 2px;
}

.round-icon, .round-icon-lg {
  background: $brand-primary;
  border-radius: 100%;
  width: 30px;
  height: 30px;
  text-align: center;
  color: white;
  line-height: 30px;
  display: inline-block;
  letter-spacing: 0;
  & + p, & + a {
    display: inline-block;
    margin-left: 20px;
    font-size: 14px;
    color: black;
    letter-spacing: 0;
  }
}

.round-icon-lg {
  width: 60px !important;
  height: 60px !important;
  line-height: 67px !important;
  z-index: 99999;
  position: relative;
  cursor: pointer;
}

.slick-active .dot {
  background: transparent !important;
  border: 2px solid $brand-primary !important;
  height: 12px;
  width: 12px;
  margin-top: 1px;
}

#items li {
  color: #989898
}

.hero h1 {
  font-size: 62px;
  color: black
}

.container {
  @media screen and (min-width: $screen-lg) {
    width: 1080px !important;
  }
}

.overlay, .overlaysearch {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  position: fixed;
  background: rgba(83, 83, 83, 0.4);
  z-index: 10;
  display: none;
  &.active {
    display: block;
  }
}

.text-left {
  text-align: left !important;
}

.no-pad {
  padding: 0 !important;
}

.no-margin {
  margin: 0 !important;
}

.pad15 {
  padding: 0 15px !important;
}

.mt50-mob {
  margin-top: 0 !important;
  @media screen and (max-width: $screen-sm) {
    margin-top: 50px;
  }
}

.mt-50 {
  margin-top: -50px !important;
}

.mt0 {
  margin-top: 0px !important;
}

.mt50 {
  margin-top: 50px !important;
}

.mt90 {
  margin-top: 90px !important;
}

.mt200 {
  margin-top: 200px !important;
}

.mt500 {
  margin-top: 500px !important;
  @media screen and (max-width: $screen-sm) {
    margin-top: 300px !important;
  }
}

.no-line {
  &:after {
    content: "";
    display: none;
  }
}

.one-h {
  height: $one-h !important; //180px
}

.two-h {
  height: $one-h *2 !important; //360px
}

.twofive-h {
  height: $one-h * 2.5 !important; //450px
}

.three-h {
  height: $one-h *3 !important; //540px
}

.fourth-h {
  height: $one-h *4 !important; //720px
}

.posAb {
  position: absolute !important;
}

.white-bg {
  background: white !important;
}

.black-bg {
  background: #313131 !important;
  color: white;
}

.no-bg {
  background: transparent !important;
}

.no-border {
  border: none !important;
}

.media-no-bg {
  @media screen and (max-width: $screen-sm) {
    background: transparent !important;
  }
}

.media-white-bg {
  @media screen and (max-width: $screen-sm) {
    background: white !important;
  }
}

.wood-bg {
  background-image: url('../images/bg-brands.png') !important;
  background-repeat: no-repeat;
  background-size: cover;
  color: white
}

.notfound {
  padding: 50px 0;
  h1 {
    font-size: 160px;
    font-family: $font-serif;
  }
  h2 {
    font-family: $font-sans;
    color: $brand-primary;
    margin: 50px 0;
  }
}

.related-recipes .pagination {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0;
  & > li:first-child > a, .pagination > li:first-child > span {
    margin-right: 10px;
    border-bottom-left-radius: 100%;
    border-top-left-radius: 100%
  }
  li a {
    font-size: 0;
    border-radius: 100% !important;
    border: 0;
    padding: 7px;
  }
  li.active a {
    border: 2px solid $brand-primary;
    background: transparent;
    padding: 5px;
  }
  .pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
    border: 2px solid $brand-primary;
    background: transparent;
  }
}

.angular-lightbox section {
  z-index: 9999;
}

.table-striped thead th p {
  font-family: $font-sans-bold;
  color: $gray;
  line-height: normal;
}

.block.block-origins {
  min-height: 449px;
  padding: 74px;
}