// Glyphicons font path
$icon-font-path: "../fonts/";

// Grid settings
$main-sm-columns: 12;
$sidebar-sm-columns: 4;

// Colors
$brand-primary: #e68832;

// Fonts
$font-serif: 'elephantregular', serif;
$font-sans: 'ralewayregular', sans-serif;
$font-sans-bold: 'ralewaybold', sans-serif;
$font-sans-black: 'ralewayblack', sans-serif;
$font-sans-light: 'ralewaylight', sans-serif;

// Height para columnas
$one-h: 180px;

// Variables de elementos en posicion absoluta y lineas

%left-abs {
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
}

%top-abs {
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
}

%center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

%line-under-center {
    &:after {
        content: "";
        height: 6px;
        width: 60px;
        background: $brand-primary;
        position: absolute;
        z-index: inherit;
        bottom: 50px;
        @extend %left-abs
    }
}

%line-under {
    &:after {
        content: "";
        height: 6px;
        width: 60px;
        background: $brand-primary;
        position: absolute;
        z-index: inherit;
        bottom: 40px;
        left: auto
    }
}

