footer {
  background: $gray-dark;
  padding: 60px;
  .text-up, span {
    color: $gray;
    text-align: left;
  }
  i {
    color: white;
    font-size: 24px;
  }
  .links-footer {
    p {
      margin-bottom: 20px;
    }
    ul li a {
      text-decoration: none !important;
      color: white;
      font-size: 14px;
      line-height: 2;
    }
  }
  hr {
    margin-top: 50px;
    border-color: $gray
  }
  select {
    background: transparent;
    border: none;
    color: white;
  }
  .fa-angle-down {
    font-size: 20px;
    margin-top: 3px;
    color: $gray
  }
}

.social-inline li {
  display: inline-block;
  vertical-align: top;
}

.social-inline a {
  text-decoration: none;
  display: block;
  overflow: hidden;
  float: left;
  margin-right: 28px;
  padding: 1px 1px 1px 1px;
}

.social-inline a:hover {
  color: #e68832;
}

.social-inline a i {
  font-size: 24px;
  line-height: 24px;
}

.social-inline a span {
  display: none;
  text-indent: -99999px;
}

.social-inline a:hover {
  text-decoration: none;
}

footer .text-up, footer span {
  color: #555;
  text-align: left;
  margin-bottom: 0;
  font-size: 13px;
  font-weight: bold;
}

footer .links-footer ul li a:hover {
  color: #e88823;
}

footer {
  background: #333;
  padding: 60px;
  margin-top: 100px;
  min-height: 290px;
}

/* scrollToTop */
.scroll-top {
  bottom: 24px;
  height: 32px;
  position: fixed;
  right: 20px;
  width: 32px;
  z-index: 98765;
  outline: none;
}

.scroll-top .cd-top {
  background: url(../../assets/images/nav/scroll-up.png) 0 50% no-repeat;
  border: 0 none;
  display: block;
  height: 32px;
  line-height: 32px;
  margin: 0 auto;
  overflow: hidden;
  padding: 0;
  text-indent: -99999px;
  width: 32px;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;
  outline: none;
}

.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;
  outline: none;
}

.cd-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
  outline: none;
}

.cd-top.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: 1;
}

.no-touch .cd-top:hover {
  background-color: #e86256;
  opacity: 1;
}
