.navbar-inverse {
  background: #333333;
  border-radius: 0;
  margin-bottom: 0;
  border: none;
  height: 70px;
  z-index: 99999;
  .aside {
    ul {
      li {
        &.dropdown a.dropdown-toggle.active, &.search.active a {
          background: $brand-primary !important;
          &:after {
            content: '';
            position: absolute;
            top: 100%;
            left: 50%;
            margin-left: -8px;
            width: 0;
            height: 0;
            border-top: 8px solid $brand-primary;
            border-right: 8px solid transparent;
            border-left: 8px solid transparent;
            z-index: 99999999999999999;
          }
        }
        a {
          text-transform: uppercase;
          padding: 0 30px;
          line-height: 70px;
          &.where {
            color: #5c5c5c;
            text-transform: none;
            font-size: 12px;
          }
          &:hover {
            color: #ffffff;
          }
          @media screen and (max-width: $screen-md) {
            padding: 0 20px;
          }
        }
        &:last-of-type a {
          border-right: none
        }
      }
      @media screen and (max-width: $screen-sm) {
        .navbar-nav {
          background: #333333;
          margin: 0;
          height: 100vh;
        }
      }
    }
  }
  .navbar-brand {
    @media screen and (max-width: $screen-sm) {
      float: none;
      img {
        margin: auto;
      }
    }
  }
  .navbar-toggle {
    padding: 14px 10px;
    float: left;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 2px;
    cursor: pointer;
    .icon-bar {
      margin-top: 6px;
      height: 4px;
      border-radius: 0;
      transition: all .3s ease-in-out;
      &:nth-of-type(2) {
        width: 28px;
        transform-origin: left center;
      }
      &:nth-of-type(3) {
        width: 32px;
        transform-origin: left center;
      }
      &:nth-of-type(4) {
        width: 25px;
        transform-origin: left center;
      }
    }
    &.open {
      .icon-bar {
        background: $brand-primary;
        &:nth-of-type(2) {
          transform: rotate(45deg);
        }
        &:nth-of-type(3) {
          opacity: 0;
        }
        &:nth-of-type(4) {
          width: 28px;
          transform: rotate(-45deg);
        }
      }
    }
  }
}

.dropdown-menu {
  border: none;
  border-radius: 0;
  padding: 0 !important;
  li a {
    border-right: none !important;
  }
  &.columns-3 {
    right: 0;
    left: -15vw;
    min-width: 50vw;
    @media screen and (max-width: $screen-lg) {
      min-width: 80vw;
      left: -25vw;
    }
  }
}

.multi-column {
  left: 0 !important;
  width: 298px;
  border: none
}

.multi-column-dropdown {
  list-style: none;
  margin: 0;
  padding: 30px 0;
  li a {
    display: block;
    clear: both;
    line-height: 1.428571429 !important;
    color: $gray-dark;
    white-space: normal;
    padding: 0 50px !important;
    text-transform: none !important;
    background: inherit !important;
    border-left: transparent !important;
    &:hover {
      text-decoration: none;
      color: $gray;
    }
    p {
      font-size: 12px;
      color: $gray-light;
      text-transform: none;
    }
    h3 {
      margin-bottom: 5px;
      color: $gray-darker
    }
  }
  .text-up {
    opacity: 0.4;
    text-align: left;
    color: black;
    font-size: 12px;
    font-weight: 700;
  }
}

.multi-column-dropdown li a h3 {
  font-size: 22px;
}
.multi-column-dropdown li:hover a h3 {
  color: #e68832 !important;
  font-size: 22px;
}

.spirit-detail {
  img {
    opacity: 0.2;
    float: left;
    clear: left;
  }
  h3 {
    margin-left: 40px;
  }
}

.navbar-fixed-top-2 {
  top: 0;
  border-width: 0 0 1px;
  position: fixed;
  width: 100%;
}

@media only screen and (max-width: $screen-sm) {
  .dropdown-menu.multi-column {
    min-width: 240px !important;
    overflow-x: hidden;
  }
}

@media only screen and (max-width: $screen-sm) {

  body {
    background: $gray-darker;
  }

  body.with--sidebar {
    overflow: hidden;
  }

  .site-pusher {
    height: 100%;
    /*    transform: translateX(0px);
        transition: all 0.4s ease-in-out;*/
    background: #f1f1f1;
  }

  .with--sidebar .site-pusher {
    -webkit-transform: translateX(250px);
    transform: translateX(250px);
    margin-left: 20px;
    margin-top: 20px;
  }

  .multi-column-dropdown, .aside ul li a {
    border-right: none !important;
  }

}

