$maxWidthContent: 900px;

.angular-lightbox {
    &.hidden {
        display: none;
    }

    section {
        position: fixed;
        z-index: 100065;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.80);

        > article {
            color: white;

            > header {
                a.close-btn {
                    position: absolute;
                    top: 20px;
                    right: 30px;
                    font-size: 3em;
                    cursor: pointer;
                    color: #DDD;

                    &:hover, &:focus {
                        color: white;
                    }
                }
            }

            > content {
                margin: 100px auto;
                height: 80vh;
                position: absolute;
                /*
                top: 30%;
                */
                text-align: center;
                width: 100%;

                > iframe {
                    max-width: $maxWidthContent;
                    margin: 0 auto;
                }

                > img {
                    width: initial;
                }

                /*  @media screen and (min-width: $maxWidthContent) {
                   width: $maxWidthContent;
                 } */
            }
        }
    }
}
