#cascade-slider {
    opacity: 0;
}

.cascade-slider_container {
    position: relative;
    width: 100%;
    height: auto;
    margin: 50px auto;
    min-height: 250px;
}

.cascade-slider_item {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%) scale(1.6);
    transition: all 0.5s ease;
    opacity: 0;
    z-index: -1;
}

.cascade-slider_item.next {
    left: 50%;
    transform: translateY(-50%) translateX(-75%) scale(1.5);
    opacity: 1;
    z-index: 1;
}

.cascade-slider_item.prev {
    left: 50%;
    transform: translateY(-50%) translateX(-25%) scale(1.5);
    opacity: 1;
    z-index: 1;
}

.cascade-slider_item.now {
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%) scale(1.7);
    opacity: 1;
    z-index: 5;
}

/*.cascade-slider_arrow {
    display: inline-block;
    position: absolute;
    top: 50%;
    cursor: pointer;
    z-index: 5;
}

.cascade-slider_arrow-left { left: 0; }

.cascade-slider_arrow-right { right: 0; }*/

.cascade-slider_nav {
    position: absolute;
    bottom: -85px;
    width: 100%;
    text-align: center;
    z-index: 5;
    left: 50%;
    transform: translateX(-50%);
}

.cascade-slider_dot {
    display: inline-block;
    height: 10px;
    width: 10px;
    margin: 0 5px;
    padding: 0;
    background: transparent;
    list-style: none;
    cursor: pointer;
    background: $gray-light;
    border-radius: 100%;
}

.cascade-slider_dot:hover { background: $gray-base; }

.cascade-slider_dot.cur { background: $brand-primary;     height: 12px;
    width: 12px;}
