.slide-width {
  width: 50vw;
  @media screen and (max-width: $screen-md) {
    width: 100vw;
  }
}

.slick-dots {
  position: absolute;
  bottom: -20px !important;
  display: block;
  padding: 0;
  list-style: none;
  background: white;
  min-height: 60px !important;
  text-align: left !important;
  padding-left: 0 !important;
  border-top: 1px solid #e3e3e3;
  li {
    margin: 14px 4px !important;
    button:before {
      font-size: 10px !important;
    }
    &.slick-active button:before {
      color: $brand-primary !important;
      font-size: 12px !important;
    }
  }
}

.slick-prev, .slick-next {
  top: 96% !important;
  z-index: 999;
  background-repeat: no-repeat !important;
  background-size: contain !important;
  height: 12px !important;
  width: 14px !important;
  &:before {
    opacity: 0 !important;
  }
}

.slick-prev {
  left: 240px !important;
  background: url('../images/left-arrow.png') !important;
}

.slick-next {
  right: 25px !important;
  background: url('../images/right-arrow.png') !important;
}

.recipeslider {
  margin-bottom: 120px !important;
  & > .slick-dots {
    bottom: -60px !important;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 40px !important;
  }
  & > .slick-prev, .slick-next {
    top: 106% !important;
  }

  .slick-prev {
    left: 215px !important;
  }

  .slick-next {
    left: 235px !important;
    right: 0 !important;
  }
}
